[2019-04-17 15:11] xamanu opened #1496 "Include migration into general TM docker container"
Recommendation from @JorgeMartinezG:

[2019-04-17 15:17] arunasank commented on #1354
## Production Load Test: 3 instances with 2 CPU cores each

[code]

## Analysis: At the Load Balancer

**Request count vs Latency**

<img width="1051" alt="Screen Shot 2019-04-17 at 8 34 13 PM" src="https://user-images.githubusercontent.com/3166852/56298683-35d5e900-6150-11e9-92e2-0476ce8ffbd0.png">

**Request count vs 5XX count**

<img width="1040" alt="Screen Shot 2019-04-17 at 8 31 21 PM" src="

[2019-04-17 15:24] arunasank commented on #1354
Overall, I feel really good about our new stack, and I think we are ready to move ahead based on the load tests. The latency looks sharp, and we are able to serve about 20-25 users per EC2 instance we are using. Which should be a good indicator of how to scale up our stacks during peak traffic.

@willemarcel the latency we saw during your load tests was because we were running fewer instances on t

[2019-04-17 15:54] zlavergne commented on #1493
I'm partial to flake8 if that makes a difference 😉

[2019-04-18 01:33] ethan-nelson commented on #1341
That sounds like a good plan :+1:

[2019-04-18 07:50] uwaiszaki commented on #1341
@xamanu @ethan-nelson Currently we are not using project_dto to update author and author_id of the Project Model. Can i use them to update the author and the author_id of the project?

[2019-04-18 15:31] #1365 closed

[2019-04-18 20:19] uwaiszaki commented on #1238
@ramyaragupathy @smit1678 @ethan-nelson @xamanu List of active members in the project without showing mapped and validated tasks can solve the problem.

[2019-04-19 07:32] ramyaragupathy commented on #1460
Got to dig the project deletion behaviour further. Recording my observations:
1. Any project manager can delete a project irrespective of who the author is
2. If a project has contributions (tasks mapped or validated) then the deletion throws an error message.
3. Projects could be deleted by reseting task status to ready. Like @russdeffner mentioned this tricks the app by creating new entries in t

[2019-04-19 09:17] uwaiszaki opened #1501 "Project Edit page needs loading text"
![tmnewissue5](https://user-images.githubusercontent.com/32809190/56417548-eb6c7d80-62b1-11e9-9064-db3b1b462838.gif)

[2019-04-19 16:47] JorgeMartinezG commented on #1491
**Update:**
- Integration tests are skipped on Circle CI, causing some errors not be seen when a Pull request is created. Thanks @ramyaragupathy
- Pull request https://github.com/hotosm/tasking-manager/pull/1458 which had changes on project.py file, made ```./server/integration/models/postgis/testproject/test_project_can_be_cloned``` fail when tests are run locally, raising to a number of 29 error

[2019-04-20 02:36] theprover97 commented on #1378
@xamanu, I would like to work on this issue. Can you please tell me how to get started on this?

[2019-04-22 03:08] ramyaragupathy commented on #1470
_Cross posting from #1460_

Got to dig the project deletion behaviour further. Recording my observations:
1. Any project manager can delete a project irrespective of who the author is
2. If a project has contributions (tasks mapped or validated) then the deletion throws an error message.
3. Projects could be deleted by reseting task status to ready. Like @russdeffner mentioned this tricks the app

[2019-04-22 03:18] ramyaragupathy opened #1504 "Restrict project edit function to project author"
From https://github.com/hotosm/tasking-manager/issues/1470#issuecomment-485311160, at present we allow a project to be deleted by anyone who has a project manager role. Even if someone has not authored a project, they could edit/delete it, provided they have a project manager status.

I feel this should be restricted to just one project manager who is the project author.

[2019-04-22 03:43] ramyaragupathy opened #1505 "Reset bad imagery count on task reset"
From https://github.com/hotosm/tasking-manager/issues/1470#issuecomment-485311160 - On reseting task status, `tasks_mapped` and `tasks_validated` counts are set to zero. Similarly `tasks_bad_imagery` should be initialised to zero, otherwise it will lead to incorrect escalated numbers on bad imagery count.

[2019-04-22 03:53] ramyaragupathy opened #1506 "Improve project deletion behaviour"
From https://github.com/hotosm/tasking-manager/issues/1470#issuecomment-485311160 - when a project manager tries to delete a project that has some contributions(task history, project discussions) then we show a message informing the user about contributions.

![](https://camo.githubusercontent.com/82b9302195888ad75c545c49dc4eb1a79416c9a8/68747470733a2f2f70617065722d6174746163686d656e74732e64726f70

[2019-04-22 06:35] russdeffner commented on #1504
I would agree, as long as Admins could still edit/delete any project and that more than one project manager can be assigned. We often have a need in disaster response for a team to edit projects while original creator is sleeping/away

[2019-04-22 07:09] ramyaragupathy commented on #1506
hey @wille @ethan-nelson - python question, I am looking at how `db.session` handles deletion of projects.
- Project ID is referred in multiple other tables (Tasks, task history, task invalidation history, project info, project chat).
- When there is no entry in the project chat table - deletion gets through fine. If there are chat records for the project id then the deletion fails with `foreign k

[2019-04-22 07:55] ramyaragupathy commented on #1506
Would this be a right way to approach this? https://github.com/hotosm/tasking-manager/pull/1508

[2019-04-22 13:15] dakotabenjamin commented on #1444
Current PR: https://github.com/hotosm/tasking-manager/pull/1503

[2019-04-22 13:18] dakotabenjamin commented on #1269
This will be handled in https://github.com/hotosm/tasking-manager/pull/1503

[2019-04-22 13:18] #1269 closed

[2019-04-22 13:32] xamanu commented on #1461
As the headline talks about backups, I just wanted to comment here, that I think it would be good to have not only snapshots but indeed backups. As a good practice backups are stored at a different place (provider) and shall allow us to recover in case our main provider's infrastructure goes down (we never know).

[2019-04-22 13:46] xamanu commented on #1377
@russdeffner What would be good content for this email. The current template contains the following

[code]

[2019-04-22 14:05] xamanu commented on #1378
@theprover97 Apologies, this is already assigned to @fitoria and I think he has already started with a good amount of code.

[2019-04-22 18:31] arunasank opened #1510 "Add PostGIS initialization to installation process"
While installing, I see this error when the `manage.py db upgrade` command is run. Should I be doing something differently?
[code]

[2019-04-22 18:45] arunasank commented on #1510
Seems like this is similar to the error from postgres when the postgis extension has not been loaded. I _am_ running this with an empty database.

[2019-04-22 19:20] arunasank commented on #1488
Set this up at https://tasks-assisted.hotosm.org. However, once you try to use OSM auth to grant access, there's an internal server error.

The environment variables are set. However, the `load_dotenv` command doesn't seem to work:

[code]

I tried adding some try and except statements around it to no avail.

Further, there's https://github.com/hotosm/tasking-manager/issues/1510 when I try to crea

[2019-04-22 20:10] JorgeMartinezG commented on #1510
@arunasank the solution is to enable the extension. You need to connect to the database and run
[code]

[2019-04-22 20:43] russdeffner commented on #1377
It would be great if it also faces percentage change for mapping and validation; note that a negative change can be valid if for example more tasks are invalidated than validated over the week.
=Russ

[2019-04-22 20:47] russdeffner commented on #1376
If it isn’t restricted to one word, I think “needs additional mapping” would be good

[2019-04-23 01:02] JorgeMartinezG commented on #1491
*Update:*
- test_gpx_xml_file_generated_correctly and test_osm_xml_file_generated_correctly tests fail because the variable ```tasks``` is considered a list, instead of a python object. The curious thing is that a List object has method count, but requires an input argument. Modifying tasks.count() to len(tasks) fixes these tests.
- test_mapped_by_and_validated_by_are_null_after_invalidating_all f

[2019-04-23 04:43] ethan-nelson opened #1511 "Node v6 end-of-life soon"
Per https://nodejs.org/en/about/releases/ Node v6 goes end-of-life on 4/30. We should look at the effect of upgrading to v8 or 10.

[2019-04-23 07:22] qeef commented on #1429
I don't want to spam but can this issue be solved by pull request? When you talking about "somebody who is taking a lead" it means somebody from HOT devs?

[2019-04-23 07:38] xamanu commented on #1429
It is open for everybody to contribute! Please feel free to open a pull request with your solution.
We are happy to review any pull request coming in. Thank you.

[2019-04-23 07:42] xamanu commented on #1511
In the [Dockerfile](https://github.com/hotosm/tasking-manager/blob/develop/devops/docker/tasking-manager/Dockerfile#L27) we are successfully using Node version 9 already. I remember that there were some minor issues with Node version 10, that is why I stepped back to use version 9.  Upgrading the version however needed an additional `	npm install closure-util --save` to work properly.

@arunasank

[2019-04-23 08:22] chovanecm commented on #1429
@qeef I think your idea to add an nginx configuration file (or to alter one of the existing) to [.ebextensions](https://github.com/hotosm/tasking-manager/tree/11f0aa36b5fbc1911639e512fa3e8fc984fa27cd/.ebextensions) might work.

Could someone tell me more about this file? ```/etc/nginx/sites-available/elasticbeanstalk-nginx-docker-proxy.conf```
It isn't versioned, is it? Because I see some in-place

[2019-04-23 12:02] qeef commented on #1429
@xamanu I would like to contribute but still, I miss some information, and therefore I need guidance.

As @chovanecm wrote, there is no version control of `/etc/nginx/sites-available/elasticbeanstalk-nginx-docker-proxy.conf` file. From `.ebextensions` folder it looks like that the configuration is done by script changing the config file. This approaches looks strange to me, so why is that? How is

[2019-04-23 14:06] xamanu commented on #1429
@qeef, we are currently moving away from Elastic Beanstalk to Cloudformation. @arunasank can give more information.

[2019-04-23 16:25] arunasank commented on #1429
We have made some improvements to the performance using asynchronous workers on `gunicorn`, and moved away from nginx.

The results of the load test are on https://github.com/hotosm/tasking-manager/issues/1354. We are able to handle about 3X the requests on production now. We want to move away from nginx - can we apply these fixes even without enabling nginx?

[2019-04-23 16:46] arunasank commented on #1488
This has been set up at https://tasks-assisted.hotosm.org.

Please test there, and close this issue if all looks good! The code for this is the ML branch + the CFN branch and is at `machine-learning-cfn`

[2019-04-23 18:52] russdeffner opened #1516 "Cannot Comment on Projects"
Hello, this is a somewhat urgent problem. Currently no one can comment on the discussion / Q/C tab of projects. From @willemarcel - seems the frontend is not making the call to the API. Does not seem to affect the per-Task comments and maybe related to the read_only user fix recently deployed.

[2019-04-23 19:18] xamanu commented on #1516
We should probably escalate this related correction to become a hotfix and a minor release, so this can be fixed rapidly. What do you think @dakotabenjamin?

[2019-04-24 01:54] theprover97 commented on #984
@ethan-nelson, I would like to work on this. Please tell me how to get started on this.

[2019-04-24 02:07] theprover97 commented on #1376
And what color scheme should we choose for the same.

[2019-04-24 02:17] russdeffner commented on #1376
I liked the light grey similar to TM2 but even just swapping the current invalidated and bad imagery state colors would be improvement in my opinion.

[2019-04-24 03:02] theprover97 commented on #1376
So these are the changes for the time being? Then can I work them out?

[2019-04-24 03:23] ethan-nelson commented on #1511
Since 9 is working fine with Docker, I'd say we just update the [README](https://github.com/hotosm/tasking-manager/blame/develop/README.md#L69) and call it solved!

[2019-04-24 03:23] #1511 closed

[2019-04-24 05:35] fitoria commented on #818
could not reproduce with clean db or populated db.

[2019-04-24 05:35] #818 closed

[2019-04-24 07:29] qeef commented on #1429
Hi @arunasank, thanks for the information. I will check the [cloudformation](https://github.com/hotosm/tasking-manager/tree/cloudformation) branch more deeply.

If I understand `gunicorn` well it's WSGI HTTP Server. I don't think that you can beat well configured `nginx + gunicorn` by just `gunicorn` in terms of performance. Even at the [deployment page of `gunicorn`](https://gunicorn.org/#deploym

[2019-04-24 10:46] xamanu commented on #1490
We need to first think more about the messages we want to send.

[2019-04-25 02:24] JorgeMartinezG commented on #951
Code coverage was included in https://github.com/hotosm/tasking-manager/pull/799. Users can run tests and verify coverage in the `server` folder. However, during deployment and local tesing, there is no minimum coverage percentage value for Pull request to pass

[2019-04-25 07:53] #1505 closed

[2019-04-25 13:16] dakotabenjamin commented on #1516
Hotfix has been deployed.

[2019-04-25 13:16] #1516 closed

[2019-04-25 13:23] willemarcel opened #1521 "Show user token on the user profile page"
In order to use the API, a user needs to know his/her authorization token, it would be helpful to add it on the user profile page (only for the current logged in user).

[2019-04-25 14:05] uwaiszaki commented on #1521
@willemarcel Can we use local storage for session token?

[2019-04-25 14:34] willemarcel commented on #1521
@uwaiszaki I think it's ok, although I'm currently not the best person to answer this question.

It seems we have a `SessionToken`, which is already saved on the local storage and an `Authorization Token`, that can be seen when inspecting the network requests on the browser.

[2019-04-25 14:49] xamanu opened #1522 "Bring back activity information on a project"
Tasking Manager is showing no activity yet on projects when there has been activity:

![image](https://user-images.githubusercontent.com/97706/56745045-29ade500-6769-11e9-80e0-dfb1284f25c1.png)

The related Javascript error message:
[code]

[2019-04-25 14:55] ramyaragupathy commented on #1522
More details from the error message: `{"error": "User GET - unhandled error: 'result' object has no attribute 'id'"}`. Fix is already live on our `develop` branch through #1344 @xamanu

From staging: https://tasks-stage.hotosm.org/api/v1/stats/project/3597/activity
From production: https://tasks.hotosm.org/api/v1/stats/project/3597/activity

[2019-04-25 15:02] xamanu commented on #1521
Just connecting some things: This might be related to https://github.com/hotosm/tasking-manager/pull/1407 and https://github.com/hotosm/tasking-manager/pull/1037

[2019-04-25 15:10] uwaiszaki commented on #1521
@xamanu #1407 is using auth token to verify, generate and return new token.

[2019-04-25 20:54] JorgeMartinezG commented on #592
@xamanu the geojson export has been included in #939.

[2019-04-26 07:57] xamanu commented on #592
Thanks, @JorgeMartinezG. Closing here

[2019-04-26 07:57] #592 closed

[2019-04-26 15:39] uwaiszaki commented on #1521
@ethan-nelson can u please guide me.

[2019-04-26 16:39] theprover97 commented on #1380
@xamanu Can I work on this?

[2019-04-26 16:42] willemarcel opened #1524 "Increase time interval of has-new-messages requests"
Currently the frontend makes a new request to `/api/v1/messages/has-new-messages` each 10 seconds.

Although it's a request that returns a tiny amount of data as response, I believe we don't need to fetch it so frequently and it would help reduce the load on the server. I suggest to increase the interval to 1 or 2 minutes.

Interval function is at https://github.com/hotosm/tasking-manager/blob/ab0

[2019-04-27 00:15] uwaiszaki commented on #1524
@willemarcel @xamanu I have created a pr. Please review it

[2019-04-27 00:19] uwaiszaki opened #1526 "Notification Tab should reopen after new message is received"
Currently, notification tab for new messages is closed after 10 secs. It should reopen after the new message is received.

[2019-04-27 00:33] uwaiszaki commented on #1526
@xamanu I would like to work on this.

[2019-04-27 09:19] NicolasGrosjean opened #1527 "Incorrect completion stats"
Hello,

I am working on a project which is 102% mapped whereas [a task](https://tasks.hotosm.org/project/5847?task=335#bottom) is not mapped.

![image](https://user-images.githubusercontent.com/13560473/56847674-50415c80-68de-11e9-8cc6-dfecce18cb54.png)

[2019-04-27 09:21] NicolasGrosjean opened #1528 "Empty activity in dashboard"
Hello,

In a project I am currently working [the activity in the dashboard project](https://tasks.hotosm.org/project/5847/dashboard) is empty whereas I'm validating a lot of tasks.

![image](https://user-images.githubusercontent.com/13560473/56847694-aa422200-68de-11e9-91a1-543639d6d184.png)

[2019-04-27 11:10] ramyaragupathy commented on #1528
Related to https://github.com/hotosm/tasking-manager/issues/1522

[2019-04-27 17:25] NicolasGrosjean commented on #1528
Sorry I have not seen it has been already reported.

I closed this duplicate.

[2019-04-27 17:25] #1528 closed

[2019-04-28 00:33] russdeffner opened #1529 "Overpass View Broken"
When I try (as Admin) to view a mapper's work on a project (by viewing their Project history on their Profile page), the overpass turbo view link does not work.
![Overpass](https://user-images.githubusercontent.com/6763645/56856572-e1cebf80-691a-11e9-8463-3f0f563a0fbf.PNG)
This is what it looks like with Firefox dev console open.

[2019-04-29 01:43] govvin commented on #1063
Currently, not anymore.

[2019-04-29 03:08] ramyaragupathy commented on #1527
@NicolasGrosjean - thanks for flagging!

% mapped on project card is [computed ](https://github.com/hotosm/tasking-manager/blob/develop/server/models/postgis/project.py#L377) with a sum of tasks mapped and tasks marked as bad imagery blocks. In this case out of the total 451 tasks 450 is set to mapped status and there seems to be nil bad imagery tasks. So that should make it 99% mapped.

However b

[2019-04-29 05:11] ramyaragupathy commented on #1527
Just looked at data from snapshots before and after reset. Even after bad imagery reset [counter reset](https://github.com/hotosm/tasking-manager/blob/master/server/services/mapping_service.py#L282) has not gone through. This has failed twice - both the bad imagery reset did not update the correct count on DB.

[2019-04-29 06:13] ethan-nelson commented on #1527
I'll take a look as well from my side to try and help debug. As an aside, it would be good if we added the raw counts of each of these to the project API endpoint: tasks mapped, validated, marked bad instead of just percentages. I'll add that to a new ticket.

[2019-04-29 06:18] ethan-nelson opened #1530 "Include tasks counts in project API"
Right now we include the percent mapped and validated in the [get project API endpoint](https://github.com/hotosm/tasking-manager/blob/develop/server/api/project_apis.py#L13-L75) (the function ultimately called is here https://github.com/hotosm/tasking-manager/blob/develop/server/models/postgis/project.py#L457-L504). It would be good to include not only the percentages but also the # of tasks mark

[2019-04-29 06:22] theprover97 commented on #1530
@ethan-nelson can i work on this?

[2019-04-29 06:29] ethan-nelson commented on #1530
Sure! This could be added to both the project and the project summary APIs. The fields that would be useful are https://github.com/hotosm/tasking-manager/blob/develop/server/models/postgis/project.py#L78-L80 specifically: `tasks_mapped`, `tasks_validated`, `tasks_bad_imagery`.

[2019-04-29 06:29] ethan-nelson commented on #1530
And also perhaps `total_tasks`--I didn't check whether that is in the summary or not.

[2019-04-30 15:22] arunasank commented on #1429
👋 @qeef

Ok, I now understand your point with respect to static files. I was under the impression that `nginx` is only useful when one is working with proxying http requests or with caching, both of which we have eliminated with the new architecture. It makes sense to have all static content in the same directory, and serve those directly via gunicorn, and only route the pure backend requests to `

[2019-04-30 15:46] arunasank commented on #1488
@felix can we close this issue?

[2019-04-30 16:20] zlavergne opened #1531 "Teams and Orgs backend"
We are working on implementing a simple model for teams and organizations to satisfy our internal requirements. It's a simple design that we hope can be the base of future teams/orgs infrastructure.

Our current design creates the following tables:

#### organizations
list of organizations

| Column | Type|
|--|--|
| id|int|
|name|varchar|
|visibility|ENUM|

#### org_admins
list of users who can m

[2019-04-30 16:26] arunasank commented on #1462
This was done! We

* Extracted a dump from our production database
* Ran cleanup scripts from our Database

I have documented this process internally, so we can use it while migrating to CloudFormation. The scripts contain some sensitive information, so I am not sharing it here.

[2019-04-30 16:26] #1462 closed

[2019-04-30 17:08] xamanu commented on #1488
Let's use this as a reminder to make sure the deployment is working, too.

[2019-04-30 17:18] JorgeMartinezG commented on #1529
to make an update in this issue, commit https://github.com/hotosm/tasking-manager/commit/3fc4b711fb40d1a2b5a9502ffb1ab7897966d566 removed the project geometry in the returned data when client requests mapped projects from an user. This causes an undefined variable in javascript:

https://github.com/hotosm/tasking-manager/blob/develop/client/app/profile/profile.html#L313

Including the project geom

[2019-04-30 17:23] xamanu commented on #1467
I'm not very much aware of the AWS scaling options and prices.

In general, I think I would like to explore the of building an own AMI. Is it that hard? Can we reuse other efforts? Just looking around quickly, something like [packer](https://www.packer.io/) could be interesting, possibly better to provisioned by some well-used solution (i personally like and used Ansible in the past).

I would lik

[2019-04-30 20:21] zlavergne opened #1533 "Task Invalidation History breaks splitting"
Bug related to #1272 . I'm experiencing a bug caused by the foreign key between `task_invalidation_history` and `task_history`.

To reproduce:
1. invalidate a square
2. reselect square to `map`
3. attempt to split the square

I get the following error:
[code]

This could be fixed by adding something like:
`invalidation_history = db.relationship(TaskInvalidationHistory, lazy='dynamic', cascade='all

[2019-04-30 22:23] nrotstan commented on #1533
Thanks for catching this, @zlavergne , I'll look into it.

[2019-05-02 14:00] dakotabenjamin commented on #1444
There is a working CircleCI configuration in the `cloudformation` branch now, although there are some improvements to be made before I would consider this issue to be complete, which @arunasank and I have divided between us:

- Currently there's a `sleep 2m` command because it takes a bit to create the snapshot, this should be smarter (@dakotabenjamin)
- if the deployment fails for some reason, th

[2019-05-02 15:03] xamanu commented on #1531
Thanks @zlavergne for bringing this up. I would like to ping here some people to contribute with your thoughts: @kamicut, @JorgeMartinezG, @uwaiszaki.

[2019-05-02 18:39] theprover97 commented on #1530
I have updated the tasks-count for total_tasks, tasks_mapped, tasks_validated, and tasks_bad_imagery in both the project and project summary, along with Project DTO and Project Summary. Could you please tell me how to test these changes in the respective API endpoint ?

[2019-05-02 22:23] uwaiszaki commented on #1531
@xamanu @zlavergne
1) Would it be good to assign multiple organisations to a single team so that some special teams can be formed. Eg-> Team of some project managers who can edit any project data in case of emergency.
2) According to this plan a team can contribute to any project of the organisation. Letting them assign a team to the project can give better control over the projects.

[2019-05-03 13:22] xamanu commented on #1531
*How many organizations per team and project*

Following on @uwaiszaki first questions. I think we need to define, whether a team and project shall be associated with exactly one single organization? Or multiple? And is it valid to not have any connection? The current redesign input proposes to have exactly one one. Can we live with this simplicity for now?

*Roles on a team level*

I think for us

[2019-05-03 14:55] xamanu commented on #1531
Thinking about your second comment, @uwaiszaki, I think indeed it makes sense in a team approach for projects rather than the organization, which anyway can be derived from the teams table.
Assuming one project, one team, one organization and together with entity relations it would look like this:

![tm-teams](https://user-images.githubusercontent.com/97706/57145667-3eb2f580-6db3-11e9-8514-8bff189

[2019-05-03 21:24] JorgeMartinezG commented on #1531
@zlavergne I have some questions:

1. The organization _visibility_ term refers to visibility of the organization, or visibility of a project created by users that belong to the org?
2. Is possible to find a user within multiple teams/orgs?
3. Also, a user could be admin on multiple orgs?
4. Are projects be visible at different levels? Pubiic (All users), team level, org level or private(just proj

[2019-05-04 23:19] uwaiszaki commented on #1531
@xamanu Is this structure valid for assigning teams and organisations independently.
![teams1](https://user-images.githubusercontent.com/32809190/57185831-b63a6f00-6ef0-11e9-9678-d35ba5500ac9.png)

[2019-05-05 14:44] tawirth commented on #1522
This is an extremely important feature for validators. Please fix as soon as possible. Thank You.
Troy

[2019-05-05 16:25] ethan-nelson commented on #1529
I guess the issue here is that we removed the geometry since it was fairly expensive computationally...it would take up to a minute to load some people's activity or flat out fail with an HTTP error if it took even longer (see #1144 for more background).

I wonder if there's a way we could load the geometry for overpass just-in-time or perhaps take advantage of something like GPX of the AOI from a

[2019-05-06 06:11] ramyaragupathy commented on #1531
While we start with one-to-one relationship between tables, practical implementation might lead us to think of one-to-many relationship in many of these. Outlining my thoughts for further discussion:

- Though a mapping campaign could be a joint effort of multiple organisations, a project technically belongs to just one organisation.
- Each organisation can have multiple admins/project managers, b

[2019-05-06 08:19] xamanu commented on #1361
This has been achieved in #1423. This issue can be closed.

[2019-05-06 08:19] #1361 closed

[2019-05-06 08:19] xamanu commented on #916
This has been achieved in #1423. This issue can be closed.

[2019-05-06 08:19] #916 closed

[2019-05-06 08:36] xamanu opened #1541 "Move to React for the frontend framework"
The Tasking Manager's frontend runs currently on the framework [AngularJS in version 1.7.8](https://angularjs.org/). Last year active development stopped for this framework and 2021 all support will be dropped. for the integration of maps, OpenLayers is used, which is limiting us in [several occasions](https://github.com/hotosm/tasking-manager/issues/577), and we probably want to switch to another

[2019-05-06 08:42] xamanu commented on #1186
As we moved the wiki to the code base I copy here the session note @smit1678 linked to earlier:

[2019-05-06 08:52] #1533 closed

[2019-05-06 08:56] #1506 closed

[2019-05-06 11:21] willemarcel commented on #1541
I believe the redesign work is the ideal opportunity to change the framework. My preference is using React.

[2019-05-06 16:15] xamanu opened #1543 "Plain installation"
A plain installation of the Tasking Manager is currently not allowing any user to give admin access, but to go into the database. A nicer user flow for installing your own TM would be good to have.

[2019-05-06 16:31] zlavergne commented on #1543
It would be nice if the first user row was automatically an admin.

[2019-05-06 18:00] zlavergne commented on #1531
I'll try my best to address everyone's questions and comments. Please let me know if I miss anything!

@uwaiszaki

Rather than adding multiple organizations to a team, we have the ability of duplicating members of a team to a new team that can then be added to an organization. We did keep portability of a team between orgs and projects in mind when designing and I thought that could be added on in

[2019-05-06 18:29] dakotabenjamin commented on #1444
everything done here!

[2019-05-06 18:29] #1444 closed

[2019-05-06 19:19] dakotabenjamin commented on #1449
Update:

CircleCI handles the `master` branch => `production` stack and `develop` branch => `staging` stack (see https://github.com/hotosm/tasking-manager/pull/1332)

What's left to do is the `teachosm` stack which we can also build into Circle by generalizing the `deploy-staging` job to allow for multiple branches. I propose we put that into a second phase of work so we can get these current upda

[2019-05-06 19:52] zlavergne commented on #1541
I would love to switch away from OpenLayers!

@xamanu when do you think a framework switch would start happening? I'm curious how it might affect future feature porting

[2019-05-07 01:28] ethan-nelson commented on #1543
We did something similar in TM2: https://github.com/hotosm/osm-tasking-manager2/blob/master/osmtm/views/osmauth.py#L96-L101. That code could mostly be reused here.

[2019-05-07 02:50] theprover97 commented on #1374
Hi @xamanu . Can we still work on this idea?

[2019-05-07 03:38] theprover97 opened #1545 "Issues in building Tasking-Manager on Ubuntu>18.04"
The Tasking-Manager is still showing following errors when building it on Ubuntu > 18.04, even on the latest Ubuntu 19.04.

_Step 4/13 : RUN apt-get update   && apt-get upgrade -y   && apt-get install -y libgeos-dev   && apt-get clean && rm -rf /var/lib/apt/lists/* /tmp/* /var/tmp/*
 ---> Running in 6ad6ded9fbd3
Err:1 http://deb.debian.org/debian stretch InRelease
  Temporary failure resolving 'de

[2019-05-07 04:37] arunasank commented on #1467
I built a custom AMI using Packer. This reduces the instance bootstrapping time to ~2m48s. is this good enough? Current bottlenecks to making this faster:
* The AMI installs system level dependencies, but TM dependencies are installed during the instance bootstrap, since the state of the `requirements.txt` to be used for installing python dependencies and the state of the `package.json` to install

[2019-05-07 07:28] xamanu commented on #1541
@zlavergne I think we just want to start a conversation about this and I want to bring this up in our stakeholder meeting the day after tomorrow. We are considering such a move while implementing the redesign, we are currently going through it on detail, so we can estimate better. Of course we want to make sure such a step fits into everybody's need to maintain the TM.

[2019-05-07 11:18] xamanu commented on #1467
For production - live - `master`, I think, it is worth to build an AMI through the CI. This is what we mostly going to use when there is a need for scaling.

For `develop` and other testing instances the ~3 minutes should be fine, I think and no CI building is necessary here, imho.

[2019-05-07 11:32] xamanu commented on #924
Fixed by @JorgeMartinezG and just merged into `develop`. Closing here.

[2019-05-07 11:32] #924 closed

[2019-05-07 11:54] xamanu commented on #1442
I can confirm it works! Thanks. Closing here.

[2019-05-07 11:54] #1442 closed

[2019-05-07 12:01] xamanu commented on #1545
This shall be solved and documented in #1345.

[2019-05-07 12:06] xamanu commented on #1488
@arunasank and @dakotabenjamin can you confirm this to be working?

[2019-05-07 12:34] xamanu commented on #1510
Is this missing in our documentation?

[2019-05-07 13:11] JorgeMartinezG commented on #1529
@ethan-nelson server has an endpoint to get project aoi `/api/v1/project/<int:project_id>/aoi`, but this service is not being included in the client. We can include a service in _project.service.js_ file which executes a request to this endpoint and get the aoi. This will be done each time the overpassturbo of a project is run, using the id rendered. My opinion is that it will solve the issue with

[2019-05-07 14:26] xamanu commented on #1545
@theprover97 Does it help to follow the steps of this [script for Ubuntu 18.04](https://github.com/hotosm/tasking-manager/blob/install-scripts/devops/scripts/install_on_ubuntu_18_04.sh)?

[2019-05-07 14:50] zlavergne opened #1549 "Tasks-assisted project creation and task locking error"
I'm getting a similar `null value in column "id" violated not-null constraint` error when I try to create a project and when I try to lock a task on the `tasks-assisted` instance

Project Creation:
[code]

Task lock:
[code]

[2019-05-07 15:23] arunasank commented on #1510
I think this doesn't happen directly when the database is empty. Since I saw this error when the `manage.py db upgrade` command was run with an empty database. However, I am not fully sure if that was also a consequence of the DB migration issues @xamanu and @ramyaragupathy are working on. : )

[2019-05-07 16:01] arunasank commented on #1488
Hey @dakotabenjamin can you replicate the CI on `develop`/`master` for tasks-assisted? This can be closed once we have that!

[2019-05-07 16:24] JorgeMartinezG commented on #1510
@arunasank If the database does not have postgis extension enabled, postgres does not recognize the `geometry`type when creating tables, dropping that error.

@xamanu this is already documented within https://github.com/hotosm/tasking-manager/blob/develop/docs/setup-development.md

[2019-05-07 16:24] dakotabenjamin commented on #1461
The CFN PR has changes that include 10 days of backups and pre-deployment backups.

@xamanu that is a good idea, we can keep this issue open to continue that convo

[2019-05-07 16:29] arunasank commented on #1510
@JorgeMartinezG - is it possible to setup POSTGIS along with the migration run by `manage.py`, when it's setting up an empty DB from scratch. The AWS RDS does not come with POSTGIS installed.

[2019-05-07 16:46] JorgeMartinezG commented on #1510
I think it is possible, one solution might be to add a command within `manage.py` to execute os-based commands for psql like
- os.system('psql -h host -p port -U tm -d postgres -c "CREATE DATABASE tasking-manager"')
- os.system('psql -h host -p port  -U tm -d tasking-manager -c "CREATE EXTENSION postgis"')

Because they are shell commands, if you have the ability run them without python, would be

[2019-05-07 19:33] Vaomatua opened #1552 "Tiles marked with "Bad Imagery" cannot be invalidated"
Newbie editors often click the Bad Imagery button because it is the most obvious. When I try to invalidate the task I get an error and the tile cannot be unlocked.
![image](https://user-images.githubusercontent.com/12214434/57327807-a5425700-70c4-11e9-93a8-5ae879f000fb.png)

[2019-05-07 20:01] Vaomatua commented on #1347
Thanks @cgiovando and @russdeffner This would be especially helpful with multiple projects ongoing and several tasks being "fixed" by unknown individuals. Perhaps granting editing permissions to specific individuals might be easier to implement?
Thanks
Emmor

[2019-05-08 01:59] ethan-nelson commented on #1529
Sounds like a good strategy :+1:

[2019-05-08 09:22] xamanu commented on #1531
Thanks for all your input. This is a very productive conversation.

I want to recap. To me it seems we have a basic agreement on these **basic assumptions**:

- Organizations have one or more administrators.
- Organizations have none, one, or many teams.
- Users can be administrator of none, one or many organizations.
- Users can be part of none, one, or many teams.
- Teams have exactly one associ

[2019-05-08 12:37] willemarcel opened #1554 "Improve API error messages"
We are exposing too much information about the database on some API error messages. For example, on the project creation endpoint:

`{"error": "Project PUT - unhandled error: (psycopg2.IntegrityError) null value in column \"id\" violates not-null constraint\nDETAIL:  Failing row contains (null, 2, 2019-05-08 10:31:29.690642, 2, en, 2477516, 1, f, f, f, null, null, null, null, null, 2019-05-08 10:3

[2019-05-08 15:49] dakotabenjamin commented on #1395
I updated the comment about and added a note about documentation

[2019-05-08 16:15] kamicut commented on #1531
I'm going to write some thoughts on teams, summing up ideas from the February TM design meetings, and also pooling from Development Seed's ongoing work on our own "OSM Teams" which are a way to have portable teams across the OSM ecosystem (through OAuth). We want these teams to be compatible with TM teams, so I'm sharing what we've come up with.

## orgs
I want to push back on an assumption here,

[2019-05-08 18:28] arunasank commented on #1549
I debugged this with @willemarcel today. Thank you, Wille!

### TL;DR

The issue was with the postgres versions. The `test.sql` being used as a data dump file for the `assisted` stack was created using postgres Engine 11.2, whereas the engine version on the RDS was 9.5.0

### How did we debug

* We looked at the project schemas on the `test.sql`, and saw that they contained:
[code]
* When we extra

[2019-05-08 18:32] arunasank opened #1555 "Create a test dump file with postgres engine 9.5.15"
Ref: https://github.com/hotosm/tasking-manager/issues/1549

* Regenerate https://github.com/hotosm/tasking-manager/blob/machine-learning/tests/database/tasking-manager.sql using postgres 9.5.15
* Update `tasking-manager-assisted` using the regenerated dump.

cc/ @xamanu @willemarcel @fitoria @JorgeMartinezG @dakotabenjamin @ramyaragupathy

[2019-05-08 18:33] arunasank commented on #1549
@zlavergne feel free to close this after you confirm that the project creation is working. I managed to create a test project successfully.

[2019-05-08 21:36] #1327 closed

[2019-05-09 07:59] xamanu commented on #1531
Thanks for your input @kamicut! I think the teams of teams ideas is worth while thinking through it. And I tried to mock-up how a compatible structure to your proposal on the TM side could look like.

![tm-teams-of-teams](https://user-images.githubusercontent.com/97706/57436405-23227180-722f-11e9-9fef-03413cb9cd97.jpg)

[tm-teams-of-teams.zip](https://github.com/hotosm/tasking-manager/files/316093

[2019-05-09 08:44] cgiovando opened #1558 "Automatically block new users who mark tasks as complete, but haven't submitted enough OSM changesets"
It unfortunately happens that, for vandalism or not having understood how TM ans OSM work, some new users mark many tasks as done. This action only requires two clicks after registering on TM, and can greatly disrupt projects. It happened for example that one user marked 548 tasks as done across multiple projects before being noticed and blocked. There's also no easy way to revert their actions.

[2019-05-09 11:08] ramyaragupathy commented on #1558
Two things that I could immediately think of:
- check the time between last locked  and mapped action. If it is less than 5 minutes throw an error or a warning message.
- Add an option  for project admin to batch edit status for specific tasks. Right now we provide an option to touch upon all tasks at a time.

![image](https://user-images.githubusercontent.com/12103383/57448985-62c17b80-7278-11e9-

[2019-05-09 12:03] #602 closed

[2019-05-09 12:08] xamanu commented on #1153
Is this done by merging in #1514? Or are there follow ups that need to be addressed @ethan-nelson?

[2019-05-09 12:30] xamanu commented on #1435
This has been addressed within release 3.2.1 for the backend. But the front end should hide the possibility to add comments. This is work in progress in #1438.

[2019-05-09 12:46] xamanu commented on #1524
Thanks @uwaiszaki and @willemarcel. The PR went in. Closing here.

[2019-05-09 12:46] #1524 closed

[2019-05-09 13:48] JorgeMartinezG commented on #1531
I think there is a problem when implementing teams of teams, and it is related to permissions. If ACL (https://www.ory.sh/docs/keto/engines/acl) is going to be implemented:
1. Permissions necessarily need to be set at a team (_team_id_ field from db) level, not user (_user_id_) level.
2. When checking permissions, this approach will be computationally expensive. For instance, if we have an user th

[2019-05-09 15:02] kamicut commented on #1531
Just to clarify two points:

1. On subteams: subteams are just regular teams that can inherit visiblity and other permissions at creation time. They get their own projects and behave independently; the only validation needed is that the list of members is a strict subset of its parent. This is a UI problem, not a permissions problem. This in my mind simplifies things so that there is no complex AC

[2019-05-09 15:41] ramyaragupathy opened #1562 "Discrepancy in time spent mapping value on user profile page"
Per chat w/ users on slack, `Time Spent Mapping` stats displayed on user profile page seems to be off from the actual value.

![image](https://user-images.githubusercontent.com/12103383/57466668-ba72dd80-729e-11e9-8dca-820c1a31b1fc.png)

**Issues reported:**

Looking into this deeper

[2019-05-09 16:16] xamanu opened #1563 "Upgrade postgres database"
Let's move on to a more recent version of the database. We are currently running production on 9.5.x, and our development environments run well on 10.x or 11.x. Can we move on and upgrade the database?

What implications does this have on our infrastructure? @arunasank and @dakotabenjamin

[2019-05-09 16:20] arunasank commented on #1563
Resources: https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/USER_UpgradeDBInstance.PostgreSQL.html

[2019-05-09 16:32] xamanu commented on #1555
Can our deployment already create an instance with a fresh database? Or is it just easier to give it a dump to eat?

[2019-05-09 16:48] xamanu commented on #1264
Passing this on to @fitoria to get familiar with the past work and check the PR about Task Annotations #1289. I suggest we split them into two PRs, one that is introducing the Task Annotations and another one that includes the work to bring it to the UI. In a next step we would like to include the ML Layer into the project creation process, instead of presenting it to the user.

With the support o

[2019-05-09 17:00] xamanu commented on #1552
Thank you very much @Vaomatua for reporting!

@JorgeMartinezG created a fix and it will be installed on the main instance with the next release. We will report here, once it is live and let you confirm.

[2019-05-09 17:10] xamanu commented on #1522
This will be part of the upcoming release. We will report as soon as this is live.

[2019-05-09 17:12] xamanu commented on #1491
This has been merged and fixed. Thanks a lot @JorgeMartinezG.

[2019-05-09 17:12] #1491 closed

[2019-05-09 17:14] xamanu commented on #1474
I think this has been addressed with #1498

[2019-05-09 17:14] #1474 closed

[2019-05-09 17:16] xamanu commented on #1492
This has been tackled with #1498

[2019-05-09 17:16] #1492 closed

[2019-05-09 17:20] xamanu commented on #1441
Thanks for your input @russdeffner and @RebeccaFirthy. Let's focus here on renaming of the names.
The topic on finding the right tasks and projects will be addressed with the redesign, based on the great input of @hotosm/major.

[2019-05-09 17:26] xamanu commented on #1329
@Vaomatua Do you think this can be resolved with the envisioned and [proposed redesign](https://projects.invisionapp.com/share/VCQTFR6YSJR#/screens/358973362)?

[2019-05-09 17:30] xamanu commented on #1325
@FransS1945 I'm not sure I'm understanding well the requirement. Can you explain a bit better what you think should change and what impact it shall have? Thanks!

[2019-05-09 17:36] xamanu commented on #1188
This has been addressed by @uwaiszaki in PR https://github.com/hotosm/tasking-manager/pull/1410. Thanks! Closing here.

[2019-05-09 17:36] #1188 closed

[2019-05-09 17:40] xamanu commented on #1237
@ethan-nelson, do you think we need this? Or can we consider this is covered by the unit tests and the testing database that was added recently in https://github.com/hotosm/tasking-manager/pull/1453.

[2019-05-09 21:20] Vaomatua commented on #1329
@xamanu Thanks for sharing the redesign. I like it, I think that if the "Satellite imagery is not good" box were checked the user should also have to specify which image service is causing the problems. My observation is that newbie mappers see clouds on Bing, and then say the Satellite image is bad. There needs to be some way to communicate that there are other imagery options available.

I'm not

[2019-05-09 21:22] Vaomatua commented on #1552
@xamanu Thanks for the update, I couldn't find the error when searching or would have added the comment to #1556
Thanks @JorgeMartinezG  for the work.

[2019-05-10 07:19] FransS1945 commented on #1325
Hi Xamanu.
When a mapper or validator want to continue on a specific task in a project there are no tools to do so. After a time out or when you reach the limit of the time slot on that task.
Now you have ( by absence of other options) to change the task number in the address field of your Internet browser by selecting a random task and change that. When there should be a field where you can fill

[2019-05-10 09:16] theprover97 commented on #1545
Yes @xamanu , the steps of the script for Ubuntu 18.04 works fine in building Tasking-Manager on this setup. However, it still shows error on versions >18.04. But we may take into consideration that Ubuntu 18.04 is only the stable version currently, and higher versions are themselves under development.

[2019-05-10 14:50] ramyaragupathy opened #1565 "Original task not deleted during task split"
Capturing an issue raised in slack -

**How does task split work?**
- [Our script](https://github.com/hotosm/tasking-manager/blob/develop/server/services/grid/split_service.py#L161) requires a task to be `LOCKED FOR MAPPING` by the current user
- If a task in a valid state to be split, 4 new small tasks are created with 'id` values continuing from the project's max task id sequence
- 8 entires are

[2019-05-10 15:36] ramyaragupathy commented on #1565
Per chat w/ the users on slack- there is a possibility that this is related to https://github.com/hotosm/tasking-manager/issues/1533 and https://github.com/hotosm/tasking-manager/pull/1534

I'll wait for the release roll out and confirm on this.

[2019-05-11 01:25] ethan-nelson commented on #1153
Should be good--will close out. Re memory, not sure now that we are moving to a new deployment stack.

[2019-05-11 01:25] #1153 closed

[2019-05-11 23:21] clarecorthell commented on #1044
What might be useful in the Project List
- Sort by % mapped
- Sort by % validated
- Flag (checkbox) to filter out 100%+ mapped

+1 to @gubuntu suggestion to then enable filtering in map view, and filter by %. A flag to filter out complete projects at minimum would be quite helpful.

My goal would be to make it easy for anyone to pick something from a list of tasks that are possible to contribute t

[2019-05-13 09:19] xamanu commented on #987
This has been addressed by @ramyaragupathy in #1313

[2019-05-13 09:19] #987 closed

[2019-05-13 10:02] arunasank commented on #1563
👋 I managed to successfully upgrade an experimental RDS database dump to 11.3. In the current elastic beanstalk setup, the RDS is setup outside of the EBS - this is the reason for us having multiple postgres versions. In the CloudFormation template, since the RDS is part of the CFN template, we won't have this issue.

While it is possible to directly upgrade the version on the AWS RDS, I propose t

[2019-05-13 10:16] arunasank commented on #1395
@dakotabenjamin @xamanu  and I wrote up the docs two weeks ago, but forgot to share it here: https://paper.dropbox.com/doc/Tasking-Manager-CloudFormation-Deployment--AdAaQ3qMag2hWzmYFsfxpqXOAg-OANrQbPkejRThZj8f19wL

[2019-05-13 10:19] arunasank commented on #1555
The `python manage.py db upgrade` has never worked for me when the database is empty, because the command does not install the postgis extension by default, which causes a lot of things to fail.

Ref: https://github.com/hotosm/tasking-manager/issues/1510#issuecomment-490159542

[2019-05-13 11:06] xamanu commented on #849
This has been addressed by @JorgeMartinezG with https://github.com/hotosm/tasking-manager/pull/1538. Thanks! Closing here.

[2019-05-13 11:06] #849 closed

[2019-05-13 11:13] xamanu commented on #1389
This has been done by @uwaiszaki and has been merged into `develop`. It will be part of release 3.3.

[2019-05-13 11:13] #1389 closed

[2019-05-13 11:26] xamanu commented on #928
This is probably related to the data audit (#1460).

[2019-05-13 11:41] xamanu commented on #1482
Thanks for the input, @tordans. This is related to #1358.

[2019-05-13 11:44] xamanu commented on #1157
Thanks, @tordans. This is related to #1358.

[2019-05-13 11:47] xamanu commented on #1139
Thanks for contributing your idea! This has been addressed in the [current redesign](https://github.com/hotosm/projects/issues?q=is%3Aissue+label%3A%22ML4TM+Design%22) with @hotosm/major.

[2019-05-13 11:47] #1139 closed

[2019-05-13 11:51] xamanu commented on #1257
Probably related to this: #1523.

[2019-05-13 11:54] xamanu commented on #1122
With the planned integration of iD into the TM (#1358) we can reevaluate the provision of .imagery as information we can pass on from the TM into iD.

[2019-05-13 12:29] xamanu commented on #1244
A short note: We might want to consider to have a sign in and a registration button (as [proposed in the design](https://projects.invisionapp.com/share/VCQTFR6YSJR#/screens/357896041)). And for the registration we ask only for an email address before sending users over to OSM for authentication. This allows us to send the user instructions in case they don't make it through the login process.

[2019-05-13 12:36] xamanu commented on #1286
This functionality is proposed to live in the [users' profiles](https://projects.invisionapp.com/share/VCQTFR6YSJR#/screens/357652190). And we probably have to define who is going to be notified to take the decision.

[2019-05-13 14:42] arunasank commented on #1354
No next actions. Closing here!

[2019-05-13 14:42] #1354 closed

[2019-05-13 15:26] arunasank commented on #1488
We did this!

[2019-05-13 15:26] #1488 closed

[2019-05-13 15:29] arunasank commented on #1549
Closing here, since I tested again today that this works. Feel free to reopen if you notice any issues! 🍎

[2019-05-13 15:29] #1549 closed

[2019-05-13 15:29] arunasank commented on #1456
We fixed this!

[2019-05-13 15:29] #1456 closed

[2019-05-13 15:30] arunasank commented on #1445
We fixed this. More on https://github.com/hotosm/tasking-manager/issues/1354. The issue was with the difference in the number of instances we had on `production` and `staging`.

[2019-05-13 15:30] #1445 closed

[2019-05-13 15:31] ramyaragupathy commented on #796
This is done through #1483

[2019-05-13 15:31] #796 closed

[2019-05-13 15:39] arunasank commented on #1446
Per chat with @xamanu , the `taskingmanager-test` stack can be binned! Going to wait another day to see if anyone else wants it around. cc @ethan-nelson and @dakotabenjamin

[2019-05-13 15:43] xamanu commented on #1563
I suggest to do the upgrade together with rolling out version 3.3 of the TM. Please have a look at the MissingMaps website for scheduled mapathons and ask @russdeffner for a good day/moment to do the migration.

[2019-05-13 16:13] russdeffner commented on #1563
I think we're back to fairly normal ops; so good to just check for mapathons and I think @dakotabenjamin has a good lull-time determined (or can). Would just suggest if we expect this to be a bit more involved that we message well in advance, just in case.

[2019-05-14 10:01] xamanu commented on #1555
@arunasank, Is this still necessary? In #1549 it seems you reported the original issue to be fixed by upgrading to an updated postgres database.

[2019-05-14 10:08] xamanu commented on #1555
Here is a 9.6 based dump: [tm-psql-9-6.zip](https://github.com/hotosm/tasking-manager/files/3177016/tm-psql-9-6.zip)

[2019-05-14 10:13] arunasank opened #1570 "CircleCI is not setting "TM_APP_BASE_URL" environment variable"
We are seeing the following error, when you press the "Login" button on the TM:

[code]

I checked the logs on the server, and saw this:
[code]

and confirmed that this is not getting set on CloudFormation:

<img width="782" alt="Screen Shot 2019-05-14 at 3 40 03 PM" src="https://user-images.githubusercontent.com/3166852/57690139-9c222e80-765e-11e9-8d5d-c71ab4e694c1.png">

We do attempt to set thi

[2019-05-14 10:26] arunasank commented on #1570
Oh we're missing an underscore. Fixed this with new variables.

<img width="292" alt="Screen Shot 2019-05-14 at 3 45 54 PM" src="https://user-images.githubusercontent.com/3166852/57690978-a0e7e200-7660-11e9-9e6b-b364eb7e7ad0.png">

![gif](https://media.giphy.com/media/j2kABRVERmL8JFlmQl/giphy.gif)

[2019-05-14 11:03] arunasank commented on #1555
We can close here - since upgrading the overall database to postgres 11.x will fix this. Thanks for the dumps!

[2019-05-14 11:08] #1555 closed

[2019-05-14 12:19] arunasank commented on #1570
Rebuilt the stack, to eliminate this as the cause of error, but still seeing:
[code]

[2019-05-14 12:20] dakotabenjamin commented on #1570
Maybe we need to generate a new token pair?

[2019-05-14 16:35] zlavergne commented on #1257
I've started using icons instead of additional colors. Here's an example of my implementation of task assignment:
![Screen Shot 2019-05-13 at 1 03 14 PM](https://user-images.githubusercontent.com/9849118/57713987-c3620700-7630-11e9-9e0a-210a5a733e45.png)

For times when colors don't appropriately portray the status, I think icons could be super useful.

[2019-05-14 19:33] zlavergne opened #1572 "A few bugs on develop"
I've found a few bugs in `develop` that may block the upcoming release:

Backwards compatibility: #1313 [(comment explaining bug)](https://github.com/hotosm/tasking-manager/pull/1313#issuecomment-492356639)

TasksAsGPX API broken: #1519 [(comment about bug)](https://github.com/hotosm/tasking-manager/pull/1519#commitcomment-33535346)

[2019-05-14 23:16] zlavergne commented on #1531
Thanks for the detailed feedback @kamicut.

### Organizations

I think hierarchical teams are a great addition but they aren't necessary for our internal implementation. I do think though that orgs will be useful in the Tasking Manager. **Let's assume from here on that teams will be hierarchical.**

Having multiple nested teams with one master team acting as the org vs. having a separate `org` str

[2019-05-15 00:59] zlavergne opened #1575 "Task Assignment"
I have implemented task assignment internally for FB.
Related issue: #1309

Implementation:
* Optional setting to enable task assignment
<img width="1100" alt="Screen Shot 2019-05-14 at 6 41 37 PM" src="https://user-images.githubusercontent.com/9849118/57741018-efed4180-7677-11e9-957d-e14e4651294f.png">

* The map shows icons to show which tasks are assigned to the current user and others (green i

[2019-05-15 01:45] ethan-nelson commented on #1237
I'm still leaning towards having a database created from scratch using a script (similar to a migration), but that may just be an irrational desire :). My thought is that with well established actions and orders of actions, we could ensure that actions dependent on other actions are properly cascaded, executed in order, etc. Perhaps that can just be achieved in unit tests.

[2019-05-15 01:50] ethan-nelson commented on #1257
I am a big fan of icons :+1: we've struggled for a while with all the different colors. I tried to add pin-striping in TM2 to indicate a checked out task, but ran into issues with the map library at that point. An icon might be a way to indicate the status in a manner different than colors without being too overbearing. Furthermore, being able to see at a glance what state of task someone has chec

[2019-05-15 04:26] arunasank opened #1576 "CircleCI not working because of differences in postgres versions"
Ref: https://github.com/hotosm/tasking-manager/issues/1563
Possibly also this: https://github.com/hotosm/tasking-manager/issues/1572

The postgres versions vary across the staging and assisted TM stacks, this is causing the CloudFormation update to fail since there is a mismatch in the RDS version on the template and on the database. I have been trying to solve this issue, and finally made some pr

[2019-05-15 10:11] ramyaragupathy commented on #1572
Thanks for noticing and fixing these bugs @zlavergne 🙇‍♀ I have tried downgrade through `python manage.py db downgrade` when I was working on this and I didn't face any issue. Will you please share steps to reproduce this issue?

[2019-05-15 13:35] xamanu commented on #1531
Thank you all for your feedback and input! It looks like we are moving forward in defining the structure and I see a lot of agreements.

### TM database structure

For the HOT perspective we started writing up some [short user stories](https://docs.google.com/document/d/1EgAWb3LgkyWYJVmYutW9I43J4LXMmssZmNeaY-zvlM0/edit?usp=sharing) around different scenarios we see people using teams and organisat

[2019-05-15 13:48] xamanu commented on #1575
This is very nice! I would like to get this into the Tasking Manager. Perhaps not the usual volunteer workflow, but seems to be a relevant functionality for very organized mapping teams.

[2019-05-15 15:14] xamanu opened #1578 "ML-layer in project creation flow"
Based on the Tasks Annotation backend (#1577, from #1349 and related to #1264) the ML-layer shall be integrated into the project creation workflow. A project manager should be able to use the ML-layer information, in the case data for the given region is available. This information shall be present when defining the size of tasks. When choosing a different size for tasks, or splitting some, the ML

[2019-05-15 15:22] xamanu opened #1579 "ML based suggestions for tasks"
Based on the Tasks Annotation backend (#1577, from #1349 and related to #1264) the ML derived information from *looking glass* shall be integrated in order to facilitate the best tasks to the right mapper and validator.

The new [design introduces lists of tasks for the project page](https://projects.invisionapp.com/share/VCQTFR6YSJR#/screens/358973356), these should be restricted to the ones the

[2019-05-15 15:32] xamanu commented on #1264
We are planning on bringing in the Tasks Annotations backend into the Tasking Manager soon. @fitoria started wrapping up the work @geohacker to separate the backend into one single PR #1577.

In a next step we seek to:

* build a generic piece for integrating such data sources with the [*ml-enabler*](https://github.com/hotosm/ml-enabler)
* (semi-) automatize the feed-in of data from looking glass

[2019-05-15 15:46] kamicut commented on #1531
## team imports

Quick reply re:

The way I'm designing the auth is that a user has *their* teams, and they assign public vs private. So users would have to have access tokens to pull their own teams that are private. This is how for example you can pull a private photo from instagram into facebook, and so facebook stores instagram scoped tokens for each user (integrated apps).

Given that an impo

[2019-05-15 15:51] xamanu opened #1580 "Prepare Task Annotations and complexity assisted ml-layer"
We want to bring up the work done so far for the machine learning integration (#1264). First steps:

* [x] Rebase on latest `develop` and resolve minor conflicts for PR #1349
* [x] Separate backend and front-end code into different branches. Squash the commits.
* [x] Create a PR for the backend only (#1577)
* [x] Create a PR for the frontend example code, which then can be deployed on the `tasks-a

[2019-05-15 16:09] zlavergne commented on #1572
Steps 2 reproduce:
1. upgrade db to `a8a7537985c0`
2. Edit a project
3. Try to save and you'll get an error
* console shows the response is `"{'allowNonBeginners': ConversionError(\"This field is required.\")}"`
* the request body shows that `allowNonBeginners: null`

If you go to Permissions and check then uncheck "Require experience level INTERMEDIATE or ADVANCED" it forces `vm.allowNonBeginners

[2019-05-15 16:30] zlavergne commented on #1257
I have the implementation for OpenLayers if you want to implement icons soon. But as @xamanu mentions in #1541 we may be switching from OL soon. If that's the case, it may be better to make the switch for the map library before adding icons. From what I've seen, not many people are making changes that rely heavily on the map so switching the map library might be safer than changing the whole front

[2019-05-15 17:54] arunasank commented on #1563
Hi friends, I am stuck pretty royally on this issue.

## What is the issue
The dump that I generate using a combination of `pg_upgrade` and `pg_dump`, and then try to restore on the RDS database using either psql or pg_restore, always fails.

## Why
My sense is a mismatch between the postgres and postgis versions on Ubuntu and the RDS, but I am still seeing issues even after fixing this dependency

[2019-05-15 20:45] russdeffner commented on #1575
@xamanu @zlavergne - From my perspective, it would be good to be able to Enforce Random Selection for public projects as well. But only if it is coupled with the random selection reflecting priority areas and/or tasks. I could see wanting to use it for disaster activation in a similar manner where I don't want people spending time on the 'easy' (often the coast or edge of project where there's ver

[2019-05-15 22:37] abalosc1 commented on #1575
The task assignment workflow could also be good for making sure tasks get assigned to a validator.

It would also be cool to be able to select multiple tasks to assign (like how you can draw a polygon over tasks to validate).

And to be able to see what tasks a selected user has been assigned (so you don't end up giving that user too many tasks). Here was our TM2 implementation that had the select

[2019-05-16 06:43] xamanu commented on #1563
Thanks for the detailed description and going that far.

Looking at the errors there seems to be a permission issue before any version mismatch, but this needs some deeper looking into it.

[2019-05-16 13:16] xamanu commented on #1575
@zlavergne, I think the enforce random selection feature is very valuable, especially if combined with priority areas, as @russdeffner suggested. However I would separate the enforce random selection from this issue. @zlavergne, do you think this is possible without too much overhead?

[2019-05-16 14:52] zlavergne opened #1583 "Enforce Random Task Selection"
Internally, we have implemented a feature called **Enforce Random Task Selection**.

Implementation:

* Optional setting to Enforce Random Task Selection
![image](https://user-images.githubusercontent.com/9849118/57863378-35fcef00-77b7-11e9-9b6f-5dce52c5797c.png)

* If Enforce Random Task Selection is enabled, users will not be able to manually select tasks. They will be required to use the "Selec

[2019-05-16 14:52] zlavergne commented on #1575
Per @xamanu's suggestion, I move the random task selection conversation to #1583

[2019-05-16 15:01] zlavergne commented on #1575
@abalosc1 I agree it would be great to be able to select multiple (my API is built to handle multiple tasks). Maybe a `shift+click` would be nice too to allow for some specific assignments. Or do you think a polygon would be better?

green => assigned to you (current user)
grey => assigned to someone else

[2019-05-16 15:46] #1572 closed

[2019-05-16 15:49] xamanu commented on #1572
Many thanks @zlavergne for spotting and fixing the bugs.

[2019-05-16 16:14] abalosc1 commented on #1575
Yes, I think clicking is more intuitive/easier than trying to draw a polygon around the tasks to select them

[2019-05-16 18:25] arunasank commented on #1570
Fixed the login by generating a new token pair. @dakotabenjamin do tokens have expiry dates? Should they be regularly cycled?

[2019-05-16 18:58] #1563 closed

[2019-05-16 20:30] arunasank commented on #1570
This is fixed!

[2019-05-17 04:20] arunasank commented on #1576
This is fixed in #1584. Going to wait for a 👍 from @xamanu before rebasing `machine-learning` with `develop`, and closing this.

[2019-05-17 10:07] arunasank commented on #1576
This is fixed - assisted deploys are smoooth now! Closing here.

[2019-05-17 10:07] #1576 closed

[2019-05-20 07:23] ralleon opened #1586 "Making Task Numbers available on the Todo List, makes individual user validations easy"
When validating tasks per Contributor, the task boundaries (closed ways) are loaded to JOSM all the same time, indistinguishable from each other (as far task number is concerned).

![image](https://user-images.githubusercontent.com/625238/58002113-08de7280-7b10-11e9-890e-9132515f03c6.png)
![image](https://user-images.githubusercontent.com/625238/58002283-83a78d80-7b10-11e9-89d7-da56d8854a89.png)

[2019-05-20 15:36] arunasank commented on #1395
Tracking this separately from the CFN deployment: https://github.com/hotosm/tasking-manager/issues/1467

[2019-05-20 15:43] zlavergne commented on #1575
@russdeffner how do you think your use cases would use task assignment? If "task assignment" is too aggressive it can also be thought of as "task ownership".

[2019-05-20 23:19] russdeffner commented on #1575
@zlavergne Yes, I could see use cases for HOT to use the task assignment. Internal teams I would think anyone utilizing organized mapping teams could benefit from the ability to assign tasks. Only thing I am unsure about, would it allow for assigning for each stage? i.e. I want to assign to mapper X, then validator Y?

[2019-05-21 12:07] JohnoverBoard opened #1587 "Hyperlink to contribute to translation in the README is broken"
It seems the link to translate is landing on a 404 error page not found message. If someone can confirm if

https://github.com/hotosm/tasking-manager/blob/develop/docs/contributing-translation.md

is supposed to be the actual page, I can rectify the same. Thanks.

[2019-05-21 13:41] JohnoverBoard commented on #1587
I have submitted a PR for the same #1588

[2019-05-21 15:12] abalosc1 commented on #1575
We've gotten requests from our users to unassign mappers once they've marked the task as done. Then the task is open to be assigned to someone else like a validator.

[2019-05-21 15:22] willemarcel commented on #577
With the TM redesign, we have a good opportunity to change the map framework, so it's time to make a decision

**Mapbox-GL-JS**
* It will allow us to use vector tiles layers
* We can yet load geojson data as we currently do on the tasks visualization maps
* We will need a new base layer, as the current Humanitarian OSM tile layer is not available as vector tiles

**Leaflet**
* There is a plugin to

[2019-05-21 15:26] mikelmaron commented on #577
@willemarcel raster tile layers are supported by mapbox-gl-js -- so it's not a dependency to switch.

[2019-05-21 18:47] zlavergne commented on #1575
It's designed to do just that.

There's 3 possible ways for a task to be assigned:
1. PM/Admin manually assigns tasks to a user
2. Task is automatically assigned to a user when they lock the task
3. When a task is marked `invalid` it is re-assigned to the user who marked it as `mapped`

And there's 2 ways for it to be unassigned:
1. PM/Admin manually un-assigns tasks
2. User marks task as complete

[2019-05-21 19:16] dakotabenjamin opened #1589 "Enable different matomo sites to be used based on config"
In order for tasks-assisted and teachosm to be tracked via matomo without diverging code, I am trying to make the tracker configurable for multiple site IDs.

The matomo code is found in [client/index.html](https://github.com/hotosm/tasking-manager/blob/1cea6188b26c95f9c233f3e9f415a12f403eafa2/client/index.html#L280-L284):
[code]

What I want to do is have an environment variable in `tasking-manag

[2019-05-22 06:42] xamanu commented on #1589
This might be related to https://github.com/hotosm/tasking-manager/issues/1383, as there is a need to also introduce variables from the `tasking-manager.env` to have effects on the frontend client. @willemarcel, do you have a suggestion?

[2019-05-22 08:52] xamanu commented on #1541
Over the last two weeks we have been planning the redesign work and talked with people involved. We are eager to push for a framework change to React with the work of the redesign. As for the timeline, are estimating to be get this done this summer.

With this change we are also moving on from OpenLayers to a new library, which is discussed in #577.

[2019-05-22 09:17] xamanu commented on #1587
Thanks @JohnoverBoard. I just merged it in.

[2019-05-22 09:17] #1587 closed

[2019-05-22 09:26] xamanu commented on #1526
I'm not so sure about this. Of course it could be nice. But as these are notifications, I would rather leave them to not distract the user too much.

[2019-05-22 09:31] #1213 closed

[2019-05-22 09:41] xamanu commented on #1298
The new redesign addresses this with filters:

![image](https://user-images.githubusercontent.com/97706/58164676-cafb5e80-7c75-11e9-982d-1eb781545321.png)

@russdeffner, do you think this is a good solution for your need?

[2019-05-22 09:46] xamanu commented on #1325
Thank you @FransS1945 for your explanation. it makes indeed a lot of sense. We are thinking about addressing this in the ongoing redesign of the Tasking Manager with a "My tasks" view:

![image](https://user-images.githubusercontent.com/97706/58164940-4d841e00-7c76-11e9-951b-ab40d847005a.png)

Does this address your need?

In this case, is the url working for you?

[2019-05-22 09:57] xamanu commented on #204
The requirements for changes on the backend for the redesign work will touch on this one.

[2019-05-22 10:01] #925 closed

[2019-05-22 10:18] xamanu commented on #948
This validation flow is part of the new redesign with the integration of iD editor. Tagging it accordingly.

[2019-05-22 10:24] xamanu commented on #1023
We have been talking about this in the ongoing redesign process and we considered the map more as a tool for orienting a search for projects, based on the user's geographic interest. The idea is to focus the map on a size of a continent, eventually centered on the user's location, which we want introduce:

![image](https://user-images.githubusercontent.com/97706/58167568-bf129b00-7c7b-11e9-9b9b-c7

[2019-05-22 10:29] xamanu commented on #1009
This has been addressed by with PR https://github.com/hotosm/tasking-manager/pull/1487 that introduces a selection of editors on a project. As one example it got extended by "RapiD" (https://github.com/hotosm/tasking-manager/pull/1550). In case a special iD is needed it can now be achieved from the TM side.

As a cleaner approach we would like to integrate [MapRules](https://wiki.openstreetmap.org

[2019-05-22 10:29] #1009 closed

[2019-05-22 10:40] #1063 closed

[2019-05-22 10:47] xamanu commented on #1085
Thanks for the input! We are in a redesign process and were thinking about how to improve this. For this we came up with the idea of providing a lists of tasks for people that are suitable and possible to map or validate.

![image](https://user-images.githubusercontent.com/97706/58168807-ae175900-7c7e-11e9-98d2-0e8ac8ab3a35.png)

This should already help mappers and validators to find tasks. And t

[2019-05-22 10:57] xamanu commented on #1098
The problem here are not the files, but having the TM translated into these languages by native speakers.

[2019-05-22 11:12] xamanu opened #1590 "Improve campaigns"
Similarly as we are moving organizations from free tags to database objects (#1531) that can be referenced by project, that are grouped under one campaign. Campaigns should belong to none, one of several organizations and their admins will be able edit campaigns and add projects to them.

**Implementation steps:**

* [x] Implement database change for campaigns and changes to the Tasking Manager (f

[2019-05-22 11:15] xamanu commented on #943
We are considering to improve campaigns as a whole (#1590), in parallel and similarily as we are improving organizations within the teams implementation (#1531). The migration of organizations as tags to the new database table, should address this issue here.

[2019-05-22 11:23] xamanu commented on #904
The `ng-href` is only useful if we have some variable on the link like `/{{section}}`, it's not a problem using it without a var though.
On the jsFiddle tests we don't see any difference between replacing `&` by `&amp;`, @willemarcel and I prefer to use the first one.
In general, HTML5 validators are not a good reference when using a modern frontend JS framework. They won't recognize a lot of tags

[2019-05-22 11:23] #904 closed

[2019-05-22 11:30] xamanu commented on #893
This has been resolved. Closing issue.

[2019-05-22 11:30] #893 closed

[2019-05-22 11:33] xamanu commented on #876
Related  to and will be solved with #877

[2019-05-22 11:33] #876 closed

[2019-05-22 11:34] xamanu commented on #877
From (#876) avoid that selection of random task for validation sends to ineligible tiles. Currently, unfortunately it will select tasks you have mapped thus are not able to validate.

[2019-05-22 11:58] xamanu commented on #1257
On the colors, we got some input from our redesign. Instead of adding more colors we were encouraged to reduce the states to what matters to the users:

![image](https://user-images.githubusercontent.com/97706/58168807-ae175900-7c7e-11e9-98d2-0e8ac8ab3a35.png)

What do you think about these states?

I like the idea of using icons for further indication, like user to tasks assignments in #1575. And

[2019-05-22 12:01] xamanu commented on #246
Although this was the first issue on this, there are some ongoing conversations in #1257. I would like to close here as a duplicate and continue the discussion over there.

[2019-05-22 12:01] #246 closed

[2019-05-22 12:07] xamanu commented on #1257
For your information: In #1523 (and #1518) @theprover97 suggested to switch the current task colors for 'Bad Imagery' and 'Invalidated'.

[2019-05-22 12:08] xamanu commented on #1376
The designers suggested "More work needed":

![image](https://user-images.githubusercontent.com/97706/58172792-0fdcc080-7c89-11e9-8281-77f6ee6d2886.png)

Does this work for you, @russdeffner?

[2019-05-22 12:11] #1570 closed

[2019-05-22 12:34] xamanu opened #1591 "Frontend for teams and organizations"
Based on the models and related database changes, which #1531 is introducing, we want to implement one way of using teams and organizations that works for the main Tasking Manager (and HOT), while other organizations may alter this in their fork of TM, to adjust it to their internal work flows.

The following features and behaviours are envisioned to be developed:

* [ ] Allow users to apply for p

[2019-05-22 12:47] xamanu commented on #969
There is some progress on several ends, that I think fit into this requirement here and I want to update and verify our thoughts here.

## Multiple organizations

We are currently redesigning the Tasking Manager and one very strong design assumption is to have exactly one organization per project:

![image](https://user-images.githubusercontent.com/97706/58174970-9fd13900-7c8e-11e9-9327-88c19629b8

[2019-05-22 12:57] xamanu commented on #583
This is related to #1590, where we are rethinking campaigns a bit. As a result pages for campaigns shall be created, too, this this issue being tackled.

[2019-05-22 13:57] giblet22 commented on #1257
@xamanu I believe the comments about "what matters to the users" were from me on the redesign wireframes. Just to add some additonal context. In the screenshot you shared above, I think the most important things should be `Ready to Map` and `Mapped` (or maybe `Needs validation`), and `More work needed`.

I would argue that `Locked for mapping` and `Validated` should either have some sort of transp

[2019-05-22 14:06] mnoblecourt commented on #969
Thanks for the update Felix - new interface looks great!
I think the combo organization=team you suggest would be great. I suggested the "several managers for a project" as a quick fix, but if all the managers within an organization can edit each other's project as you implied and have a common dashboard to visualize it, it's even better and we don't really need multiple project managers then (one

[2019-05-22 14:13] russdeffner commented on #1376
Wording wise, yes - "more work needed" I think is better than "invalidated" - I don't like the colors though. One of the problems we were trying to address is mappers not going for the 'red' invalidated squares, so a softer, more inviting color should be used. Also Bad Imagery is no longer there, is that because we are removing the functionality or just didn't get onto this mock-up?

[2019-05-22 14:28] russdeffner commented on #1298
I was more talking about the small 'cards' when viewing contribute/front page
![Capture](https://user-images.githubusercontent.com/6763645/58182823-8965b600-7c6b-11e9-9441-c259077c19df.PNG)

[2019-05-22 15:28] giblet22 opened #1592 "Integration of MapRules"
We'd like to start the conversation around integrating MapRules into the tasking manager.

Service: https://github.com/radiant-maxar/maprules
UI: https://github.com/radiant-maxar/maprules-ui
Some ongoing work: https://github.com/radiant-maxar/maprules/issues/51#issue-442428290

If there are going to be major changes to the TM over the coming months, it may be better to delay implementation/develop

[2019-05-22 16:13] dakotabenjamin commented on #1589
Yes, I agree- in fact the whole matomo code should be optional for those who do not need it

[2019-05-23 08:26] xamanu commented on #1592
Thanks @giblet22.

The main goal for the Tasking Manager, as far as I see, is to define MapRules on a project level and give this to the integrated iD (#1358). I haven't seen the MapRules-UI so far and my immediate question would be whether the definition of MapRules should happen from within the TM and whether the MapRules-UI can/should be used for this, or whether this needs to be reimplemented

[2019-05-23 08:29] xamanu commented on #1376
Cool. Then we know that we go with "More work needed".

The colour discussion I would like to centralize in #1257 and will do there a small write-up today.

[2019-05-23 08:31] xamanu commented on #969
Yes, I agree MissingMaps is not a good "organization". The designs are mock-ups from the designers and the MM logos are better understood as placeholders. Confusing though, I agree :)

[2019-05-23 09:23] arunasank commented on #1446
Binned this stack today. Closing here!

[2019-05-23 09:23] #1446 closed

[2019-05-23 10:01] xamanu commented on #1257
Let's compare concretely:

| Current  | theprover97  | ready2go (#1385)  | Redesign |
|------------|----------------------|---------------|---------------|
| ![image](https://user-images.githubusercontent.com/97706/58239597-d8c5e800-7d38-11e9-9d60-728f7c3a0982.png) | ![image](https://user-images.githubusercontent.com/97706/58239730-23476480-7d39-11e9-81e7-b788d03fbedd.png) | ![image](https://user-

[2019-05-23 10:28] xamanu commented on #1026
This seems to be a duplicate of #637.

[2019-05-23 10:28] #1026 closed

[2019-05-23 10:32] xamanu commented on #1298
Yes, I think they were on the project cards at some stage in the redesign process and then they were taking off to not overload the cards.

The question is whether we still want the symbols on the card or we think it is fair enough to have them as filters, so people can use them explicitly for exploration.

[2019-05-23 10:47] xamanu commented on #1385
I agree `Review requested` is a very useful new state.

To me `Mapped` and `Partially mapped` are fundamentally different (one requires a validator to take next actions, the other a mapper to take next actions). But i think `Partially mapped` and `Invalidated` (or `More work needed`, see #1376) are very similar, because both require a mapper to touch it again. And I think the colour of this should

[2019-05-23 12:02] xamanu commented on #1347
@JorgeMartinezG is working on it in https://github.com/hotosm/tasking-manager/pull/1574

The teams implementation #1591 will improve this, too.

[2019-05-23 12:11] xamanu commented on #969
Great. Then I suggest to close this issue in favor of the follow-ups #1531,  #1591 that will address the requested feature well. Thanks!

[2019-05-23 12:11] #969 closed

[2019-05-23 12:12] #1347 closed

[2019-05-23 12:13] xamanu commented on #1347
Connecting this with #969 that is related to this topic, too.

[2019-05-23 12:16] xamanu commented on #1504
Yes, in #1591 there is planned to have admins of the same organization that can edit the projects and special teams can be created that can be assigned with the project management role.

In this issue here we will immediately fix that all project managers can edit and restrict it to the author.

[2019-05-23 12:31] xamanu commented on #1591
In a chat with @uwaiszaki we were thinking to target this with the new framework #1541 within the redesign. What do you think @JorgeMartinezG and @willemarcel?

[2019-05-23 12:32] xamanu commented on #1590
This will be targeted for the redesign with the new framework #1541.

[2019-05-23 13:18] xamanu commented on #1589
I'm wondering @dakotabenjamin, whether this is critical priority, because this needs to be fixed before the next release?!

[2019-05-23 13:52] russdeffner commented on #1298
Having the project type next to/in the opposite corner of difficulty on new project cards would suffice for what this issue was about (i.e. a quick visual to know what type(s) of features are being mapped). If it's limited to 3-4 icons (which we also need to ensure 'other' is still there, power infrastructure is a 'new' type I came across recently), I think it would fill that space nicely.

[2019-05-23 14:36] russdeffner commented on #969
Just to toss a wrench - it may be true that MM is not an organization like the others; but take Cyclone Idai as example - the campaign was Cyclone Idai, operated by/as Missing Maps 'org'.

[2019-05-23 14:48] dakotabenjamin commented on #1589
reiterating from chat, but no it's not a priority.

I think I have a solution, which is to have CircleCI overwrite `client/taskingmanager.config.json` to include variables set in the CircleCI project.

1. Add the matomo site id as a variable in circleci
2. in the `devops/cloudformation/tasking-manager.template.js` file, edit the UserData value in the LaunchConfiguration to install `jq` and then ed

[2019-05-23 18:26] zlavergne commented on #1257
@xamanu if icons is going to be part of the redesign, I think the `Locked` state is another good use for them. That would be one fewer colors to deal with. I think using a lock icon either colored green if "locked by me" or red if just "locked" would be a very clear representation 🔒 🎉

[2019-05-23 20:48] xamanu commented on #1363
This is a very strong assumption. I could imagine about advanced users that don't want to use the expert mode (extended display) and beginner users (with experienced people behind it) that may want to use the expert mode.

I would suggest to have a bit less intrusive behaviour. Maybe a message after a user became an advanced mapper that there is an expert mode and allow them to activate it with on

[2019-05-23 21:54] xamanu commented on #1545
Yes, there also seems to be a problem with connecting to the internet. Looks more like a support request. Closing here. In case you need more help, please contact us in the chat. Thank you.

[2019-05-23 21:54] #1545 closed

[2019-05-23 22:29] xamanu commented on #1374
For now let's go with https://github.com/hotosm/tasking-manager/issues/1381 and close here.

[2019-05-23 22:29] #1374 closed

[2019-05-23 22:33] xamanu commented on #1312
There is a PR by @uwaiszaki on this #1401

[2019-05-23 22:41] xamanu commented on #1284
An update here, concrete work has been started on a separate piece, the [ml-enabler](https://github.com/hotosm/ml-enabler), which might be interesting for other applications to use, too.

[2019-05-23 22:50] xamanu commented on #684
This is being tackled in #1257

[2019-05-23 22:50] #684 closed

[2019-05-23 23:01] xamanu commented on #1257
I want to bring into the conversation also this comment from @giblet22 in #1004 regarding another layer - the priority area:

----

And the request to take into consideration colour blindness (#608):

[2019-05-23 23:02] xamanu commented on #1004
Closing this in favour of the follow up issue #1257. I brought the initial request into the follow up conversation.

[2019-05-23 23:02] #1004 closed

[2019-05-23 23:02] xamanu commented on #608
Closing this in favour of the follow up issue #1257. I brought the initial request into the follow up conversation.

[2019-05-23 23:02] #608 closed

[2019-05-23 23:05] xamanu commented on #1047
This went into the upcoming release. Closing here.

[2019-05-23 23:05] #1047 closed

[2019-05-23 23:16] xamanu commented on #1295
I fear a bit that this will lead to people blocking too many tasks and we are loosing data quality because of this. Ideally the project creator should create suitable task sizes.

[2019-05-23 23:16] #1295 closed

[2019-05-23 23:18] xamanu commented on #1290
On user profile, I always see the error message because of missing email address, but when the user loads it disappears.

[2019-05-23 23:40] verdy-p commented on #1257
Beware of the red and green colors used for "review needed" (or invalidated) and "ready".
If their lightness is not contrasting enough, they are confusable (notably on their light semi-transparent shades that are used for coloring the tiles and not obscuring them completely; we still must know where we are on the map).

But for accessibility (by color bling people), the most problematic distinctio

[2019-05-24 12:43] willemarcel opened #1596 "Implement redesign style"
This is a top-level issue for the whole redesign work.

White-labeled: https://projects.invisionapp.com/share/VCQTFR6YSJR#/screens/351144626
Branded: https://projects.invisionapp.com/share/VCQTFR6YSJR#/screens/350140387

[2019-05-24 12:44] xamanu commented on #1257
Yes, I agree that the HSL model will help us much more for finding the best colours. And clearly there are different types of and grades of colour vision deficiency. Over-simplifying the issue: at end it comes down to a reduced sensitivity for the spectrum of colours. And we are having quite some colours for coding the map. I don't see a real way of making all of them visual in a perfect way for a

[2019-05-24 12:50] willemarcel opened #1597 "Create user tasks API view"
Implement API view that lists the tasks of all projects mapped or validated by a user. Allow to apply filters by date, project id, mapping/validating, plus ordering options.

[2019-05-24 12:53] willemarcel opened #1598 "Add archived state to Task model"
Allow to set a task as archived. It requires a:
- [x] model update
- [x] API views

to set it as archived and active.

[2019-05-24 12:56] willemarcel opened #1599 "Create “My tasks” frontend page"
Implement frontend view that show the tasks a user has touched as a mapper or as a validator.

Reference: https://projects.invisionapp.com/share/VCQTFR6YSJR#/screens/359643157

Depends on https://github.com/hotosm/tasking-manager/issues/1597

[2019-05-24 12:58] willemarcel commented on #998
We will implement this on the redesign, so I'm closing this issue in favour of https://github.com/hotosm/tasking-manager/issues/1599

[2019-05-24 12:58] #998 closed

[2019-05-24 13:20] willemarcel opened #1600 "Improve mapping statistics endpoint"
- [x] Extend the backend API to provide information as needed by the new homepage.
- [ ] Extend the backend API to provide information as needed by the new user profile page.

References:
https://projects.invisionapp.com/share/VCQTFR6YSJR#/screens/357652190
https://projects.invisionapp.com/share/VCQTFR6YSJR#/screens/357652191
https://projects.invisionapp.com/share/VCQTFR6YSJR#/screens/357890354

[2019-05-24 13:23] willemarcel opened #1601 "Filterable tables - server api"
There are a lot of new filterable tables for tasks, projects and notifications. Probably it makes sense to think about a generic way on how to produce filterable (and searchable?) tables.

This issue is about the implementation on how tables are generated on the TM server side and the way they are exposed to the frontend client through the internal API.

Coordinate with @nrotstan around their work

[2019-05-24 13:26] willemarcel commented on #1370
On the redesign context, I saw the necessity of the following new fields on User model: first_name, last_name, city and country.

[2019-05-24 13:30] willemarcel opened #1602 "Add Favorites model"
Add database model to make possible to register a user favorite projects

Reference: https://projects.invisionapp.com/share/VCQTFR6YSJR#/screens/357652194

[2019-05-24 13:34] willemarcel opened #1603 "Add Favorites API views"
Add API views to make possible to register a user favorite projects. Actions needed: create (associate automatically the request user with the new favorite entry), list (filtered by the request user), delete (restricted to the favorites owned by the request user).

Depends on #1602.

[2019-05-24 14:22] giblet22 commented on #1592
@xamanu The way we currently have MapRules configured in our TM2 is in the `Edit project` area. It's just a separate tab, that way it's only tied to that specific project.

![image](https://user-images.githubusercontent.com/7945333/58334544-c79adb00-7e0d-11e9-8e48-c6fdcb9080e6.png)

[2019-05-25 09:36] willemarcel commented on #1591
@xamanu I think it's the better decision

[2019-05-25 09:40] willemarcel opened #1604 "Add endpoint to return the number of contributions of a user by day"
Return the number of tasks mapped and validated by day by a user on the last 365 days. It will allow us to do a contributions timeline similar to the one github has.

[2019-05-25 09:49] willemarcel opened #1605 "Add list of organizations endpoint"
We need a server API endpoint to provide a list of organizations that has projects on Tasking Manager. Probably we want being able to apply filters on it.

Related to https://github.com/hotosm/tasking-manager/issues/1531

[2019-05-25 09:53] willemarcel opened #1606 "Add Campaign ManyToMany field to User model"
Add a ManyToMany relation to allow associate a user to campaigns.

[2019-05-25 09:55] willemarcel opened #1607 "Add API views to associate / unassociate Campaigns with Users"
Add API view or modify user update details view (/api/v1/user/update-details) to make it possible to create relationship between users and campaign tags.

Depends on #1606.

[2019-05-25 09:58] willemarcel opened #1608 "Add model to register validator roles request"
Add a model to register both the requests and proposals to become a validator. Then implement a notification and message to the admins and a user flow to approve or deny a request, adding a small message to explain one or another decision.

[2019-05-25 10:01] willemarcel opened #1609 "Add endpoints to create/list/update/destroy validator roles request"
Add a endpoint that will manage new validator roles requests/proposals.

Depends on #1608

[2019-05-25 10:04] willemarcel commented on #1286
**Description:**

Provide a functionality in the user profile to request to become a validator. A good mechanism to select the recipient needs to be defined. This might be admins of an organization the user is affiliated or general community admins.
Then implement a notification and message to the admins and a user flow to approve or deny a request, adding a small message to explain one or another

[2019-05-25 10:09] willemarcel opened #1610 "Allow project managers to propose mappers to become a validator"
Provide a functionality in the user profile for project managers to propose users to become a validator. Then implement a notification and message to the user with the option to accept or deny a request.

Depends on: #1608 and #1609. Related to #1286.

[2019-05-26 14:52] russdeffner commented on #1286
Here is the current form: http://bit.ly/HOTValidators

[2019-05-27 02:45] fitoria commented on #1377
Updated the message template to:

[code]

[2019-05-27 12:03] willemarcel opened #1612 "Create logic for recommended projects"
Develop a logic on how to recommend projects to users based on teams, eventually their location (of interest), past projects and affiliation to organizations.

[2019-05-27 12:07] willemarcel opened #1613 "Create logic for popular projects"
Develop a logic to define which projects are the most popular right now. Think ways to return that data to the frontend, maybe a rating number or a specific filtered endpoint.

[2019-05-27 12:11] willemarcel opened #1614 "Create logic for recommended tasks"
Develop a logic on how to recommend tasks to users based on user’s experience, eventually complexity measures. Probably the best way to expose that information is returning a rating number with the tasks metadata.

[2019-05-27 12:22] willemarcel opened #1615 "Add endpoint to return the number of tasks mapped and validated by day on a project"
Return the number of tasks mapped and validated by day on a project. It'll better if we have the numbers for each action (mapping and validation).

It'll be used to create the contributions timeline.

[2019-05-27 12:32] willemarcel opened #1616 "Add more filter options to project search API view"
Allow to search projects created by or contributed by a user and by country.

[2019-05-27 12:43] willemarcel opened #1617 "Add badges feature"
The users should be rewarded with badges by they contributions. Probably we will need to add a new Badge model and some logic on the User model to calculate the badges a User has conquered.

[2019-05-27 13:52] willemarcel opened #1618 "Add endpoint to register changeset ids in a task"
Add endpoint to store the ids of the changesets that are related with a task. The ideal is to store the id of mapping changesets and those of validation separately, because it can be very useful to have that information.

We also need to modify the database to add the `changesets` and the `validation_changesets` fields to the `Task` model. Maybe we could use the `TaskHistory` model instead.

[2019-05-27 13:52] dakotabenjamin commented on #1449
This is complete with the 3.3 release

[2019-05-27 13:52] #1449 closed

[2019-05-27 13:56] willemarcel opened #1619 "Apply general frontend redesign"
The redesign changes a the look and feel of the website. Apply it to the whole TM interface.

Reference: https://projects.invisionapp.com/share/WTRWOQ6Y6RQ#/screens/362186631

[2019-05-27 13:59] willemarcel opened #1620 "Create modal to list activities and comments of a task"
List in a modal the activities and comments of a task and allow the user to post a new comment

Design reference: https://projects.invisionapp.com/share/VCQTFR6YSJR#/screens/359633819

[2019-05-27 14:01] willemarcel opened #1621 "Create new validation workflow frontend page"
Implement new validation workflow frontend interface.

Design reference: https://projects.invisionapp.com/share/VCQTFR6YSJR#/screens/359643157

[2019-05-27 15:09] dakotabenjamin commented on #1395
OK- I think this one is good to close but please reopen if there's anything else

[2019-05-27 15:09] #1395 closed

[2019-05-27 17:04] nemobis opened #1702 "Add publiccode.yml"
Would you be interested in a patch to add a metadata file like https://github.com/globaleaks/GlobaLeaks/blob/master/publiccode.yml ? It's necessary to be included in https://developers.italia.it/en/software/ , the list of free software which the Italian state will heavily advertise to the public sector in Italy.

[2019-05-27 18:55] arunasank opened #1622 "CircleCI RDS snapshot replacement is buggy"
### Issue

The CircleCI deployment fails at times because of the RDS snapshot replacement job: https://circleci.com/gh/hotosm/tasking-manager/2108?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

### Possible reasons
I think this particular failure was because two PRs were merged immediately in succession, and there was a race condition that failed because the tw

[2019-05-27 18:55] arunasank commented on #1622
@dakotabenjamin let me know what you think!

[2019-05-28 12:05] xamanu opened #1624 "Protocol changes on roles"
Protocol in the database when a user changes the role of another user (maybe blocks the user, or promotes to validator, ...). The information shall be present who changed what on whom to what time.

[2019-05-28 13:51] JorgeMartinezG commented on #1602
As initial model design, the following table should be created

Column | Type
-- | --
id | int
project_id (FK) | int
user_id (FK) | int

With this table model, is possible to apply the API view requirements, defined in https://github.com/hotosm/tasking-manager/issues/1603

I would like to know your feedback @xamanu @willemarcel

[2019-05-28 14:28] willemarcel commented on #1602
@JorgeMartinezG it seems good to me! I'd also set a `unique_for` rule in order to avoid a user to create multiples favorite entries for the same project

[2019-05-28 15:32] xamanu commented on #1589
I would like to add here:

* Configurable matomo endpoint (move the hard coded url into the configuration file)
* if no endpoint is provided hide the tracking script entirely.

Do you think we can handle this here, or should it be a follow up issue, @dakotabenjamin?

[2019-05-28 21:20] willemarcel opened #1627 "Introduce profile completeness"
Compute profile completeness in percent and present this according to the wireframes: https://projects.invisionapp.com/share/VCQTFR6YSJR#/screens/357652189

[2019-05-28 21:26] willemarcel opened #1628 "Implement new project cards"
Improve the project cards on the contribute/explore page and appear as recommendations in other parts of the application.

Design reference: https://projects.invisionapp.com/share/VCQTFR6YSJR#/screens/353854508

[2019-05-28 21:29] willemarcel opened #1629 "Filterable tables - elements"
There are a lot of new filterable tables for tasks, projects and notifications. Probably it makes sense to think about a generic way on how to produce filterable (and searchable?) tables.

This issue is about the implementation of the frontend features such as the rendering of the table, and the filter elements.

Coordinate with @nrotstan around their work and how this fits together.

Design refer

[2019-05-28 21:42] willemarcel opened #1630 "Redesign the project page"
Redesign the project page according to the design reference: https://projects.invisionapp.com/share/VCQTFR6YSJR#/screens/355947347

[2019-05-29 09:27] xamanu commented on #577
There was a question on the chat:

(ping @zlavergne and @willemarcel)

[2019-05-29 10:31] xamanu opened #1632 "Set default changeset comment"
The default changeset comment should be unique on every deployed instance. The first step was to make this configurable with version 3.2.0 of the Tasking Manager, but it must be set for all instances:

* [ ] Urgent: Modify our deployment pipeline to set a unique `TM_DEFAULT_CHANGESET_COMMENT=` on all our deployments:
  - `#hotosm-project` - live
  - `#teachosm-project` - teachosm instance
  - `#ho

[2019-05-29 12:14] xamanu opened #1633 "FIx default changeset comment"
Between release 3.2.0 and 3.3.0 the default changeset comment was promoted on the main HOT-TM and the TeachOSM-TM to be `#tm-project-X`. A fix has been introduced in #1632 to set the environment variable `TM_DEFAULT_CHANGESET_COMMENT` to the respective values (`#hotosm-project-X`, `#teachosm-project-X`).

This issue is to clean up our data and make the need for setting this more prominent.

* [x]

[2019-05-29 12:38] willemarcel opened #1635 "Create contact form"
Create a form to allow users to send general inquiries to the main admin of the Tasking Manager.

Design reference: https://projects.invisionapp.com/share/VCQTFR6YSJR#/screens/357652189

[2019-05-29 13:07] xamanu opened #1636 "Better handling of static content pages"
Currently pages with static content like the front page or the about page are simple markdown formatted text files in the code base. However this bring in some difficulties:

* Translations - these files are not getting translated.
* Customization - different Tasking Managers have to overwrite some of the contents eventually.

[2019-05-29 13:36] willemarcel opened #1637 "Improve static and informative pages"
Improve the FAQ and About pages. No content work, but allowing the proposed structure and behaviour of these pages.

Design reference: https://projects.invisionapp.com/share/VCQTFR6YSJR#/screens/358974980

Related to https://github.com/hotosm/tasking-manager/issues/1636

[2019-05-29 14:15] willemarcel opened #1639 "Create "Explore projects" frontend page"
List projects created, contributed or favorited by a user. Needs: filtering, ordering, pagination and map visualization.

Design references:
https://projects.invisionapp.com/share/VCQTFR6YSJR#/screens/357652193
https://projects.invisionapp.com/share/VCQTFR6YSJR#/screens/357652194

[2019-05-29 14:19] willemarcel opened #1640 "Introduce user interests to profile page"
Allow the user to select out of a configurable list of interests (campaigns) the ones that match them most. This shall happen on the profile edit page.

Design reference: https://projects.invisionapp.com/share/VCQTFR6YSJR#/screens/357652190
Depends on #1607.

[2019-05-29 14:26] willemarcel opened #1641 "Implement redesign of the user profile page"
A user view that will show stats, badges, contributor timeline, contributions map and some charts.

Design reference: https://projects.invisionapp.com/share/VCQTFR6YSJR#/screens/357652191

Depends on #1617, #1640 and #1604.

[2019-05-29 14:37] willemarcel opened #1642 "Create contributions timeline component"
Create a github like user's timeline contributions.

Design reference:
https://projects.invisionapp.com/share/VCQTFR6YSJR#/screens/356487950
https://projects.invisionapp.com/share/VCQTFR6YSJR#/screens/356528406

Depends on https://github.com/hotosm/tasking-manager/issues/1615 and #1604

[2019-05-29 17:36] #1632 closed

[2019-05-29 18:11] willemarcel opened #1644 "Create new notifications page"
Create the new notifications page, according to the redesign specifications:

https://projects.invisionapp.com/share/VCQTFR6YSJR#/screens/357890356
https://projects.invisionapp.com/share/VCQTFR6YSJR#/screens/357890354

[2019-05-29 18:14] willemarcel opened #1645 "Create the Welcome page"
After a user has been logged in, the person shall be redirected to a welcome page, which includes invitation to fill out the parts of the profile that are missing and propose recommended projects to the user, based on the information we have been gathering.

Design references:

https://projects.invisionapp.com/share/VCQTFR6YSJR#/screens/357652189
https://projects.invisionapp.com/share/VCQTFR6YSJR#

[2019-05-29 18:27] willemarcel opened #1646 "Create new frontpage"
The new front page introduces new content, design and components (statistics, featured projects, list of organizations). It should be shown to the non logged users.

Design reference: https://projects.invisionapp.com/share/WTRWOQ6Y6RQ#/screens/362186631

[2019-05-30 09:45] arunasank commented on #1622
@dakotabenjamin saw an issue with this today, during the production deploy as well. Let's put aside some time to investigate your morning.

[2019-05-30 12:29] wireguy opened #1654 "Tooltip in Messages - Inbox show extra text '| translate'"
Hover mouse over an item in the inbox to get the tooltip popup and notice the text has the extra words  | translate.   Also, should the tooltip text be  'quoted'

![image](https://user-images.githubusercontent.com/47227325/58632772-a5dda000-82b4-11e9-88a9-48c0cba6f3bd.png)

[2019-05-30 12:57] wireguy opened #1655 "Messages - Inbox Filter for Task should use editbox instead of spinner control"
Task values are numbers, so a spinner control was selected.

But if a user wants to go to a specific task, say 583, they are not going to press the up arrow on the spinner 500+ times.

Also, the spinner allows for negative values (-34) and also exponential values to be entered (1e42, 1e-42, 1e+42 or even just 'e').  Tasks numbers will never be negative or exponential.  The result filters out all e

[2019-05-30 13:06] wireguy opened #1656 "Messages - Inbox Filter for From field should allow partial matches"
The filter for the 'From' field is matches with the beginning of the text.
This is different from the 'Project' field which allows for partial matches.

example:
I want to filter all the messages from 'guy', but I can't remember if the name was Wiseguy Niceguy Someguy...   allow me to use 'guy'.

[2019-05-30 13:11] #1381 closed

[2019-05-30 13:32] #1362 closed

[2019-05-30 13:41] wireguy commented on #1656
Taking a guess.

https://github.com/hotosm/tasking-manager/blob/ae4ea0fb80ebf5b9deae9eb2d8d05378f8c598c3/server/services/messaging/message_service.py#L218

should it be?
            `query = query.join(Message.from_user).filter(User.username.ilike( '%' + from_username + '%'))`

[2019-05-30 13:57] tania-pires commented on #1257
I' ve done an exercise with color and iconography after all your feedback. What do you think, is it better?
![08_Mapping Flow_03_Iteration](https://user-images.githubusercontent.com/22524740/58637800-3cc54f00-82eb-11e9-8eb7-edd37861bcfd.png)

[2019-05-30 14:17] wireguy commented on #1656
hmm...  **HACK**   if I type `%guy` in the field, then I get the desired result

[2019-05-30 17:36] zlavergne commented on #1257
Priority Area as an icon will cause issues I think. If we show the flag, we can't show the Assigned or Locked icon which are more important because either of those restrictions determine if a user is able to take the task.

I think a good option for Priority Area could be hashing the color @xamanu suggested for priority area. Hashing is a very distinguishable pattern to accomodate color deficiency

[2019-05-30 18:24] zlavergne commented on #1583
@xamanu @russdeffner I mentioned during the last TMWG call that the current "Select A Random Task" feature is a regression from TM2 and since there isn't a need for the more robust feature internally, I'd like to port this over as is. I should have the PR ready next week

[2019-05-31 09:07] tania-pires commented on #1257
@zlavergne
![08_Mapping Flow_03_Iteration_02](https://user-images.githubusercontent.com/22524740/58694840-e2c89600-838b-11e9-8eba-55512edf576e.png)

[2019-05-31 14:07] xamanu commented on #1373
So far i was not able to contact the infrastructure team of OSM in this regards. There are two Python libraries that allow interaction with the wiki: [pywikiapi](https://pypi.org/project/pywikiapi/) (simple) and [pywikibot](https://pypi.org/project/pywikibot/) (more complex).

A good way of doing this, could be using wiki's [data items](https://wiki.openstreetmap.org/wiki/Data_items) to describe t

[2019-05-31 15:07] ramyaragupathy opened #1659 "Project Admin - dashboard load fails"
Per chat w/ @xamanu @russdeffner - a few project admins are noticing a project loading error on the dashboard with `504 - Timeout` error code.

Preliminary investigation shows this might be because of a nested loop situation.

This line here https://github.com/hotosm/tasking-manager/blob/develop/server/models/postgis/project.py#L348, which runs project summary for each project, is slowing down the

[2019-05-31 15:43] JorgeMartinezG commented on #1659
@ramyaragupathy what about performing the sum operations directly from the database? Like

```SELECT SUM(TO_TIMESTAMP(action_text, 'HH24:MI:SS')::TIME) FROM task_history WHERE action='LOCKED_FOR_MAPPING';```

[2019-05-31 17:01] Vaomatua commented on #1659
@ramyaragupathy Thanks for working on this. I only have 17 active projects and it takes +/- 60 seconds for the dashboard to populate.

[2019-06-01 13:02] jarmokivekas commented on #1282
Just for one more data point, I think this same thing is happening in project #6060 (https://tasks.hotosm.org/project/6062)

This gist has [two different geojson files from the same project](https://gist.github.com/jarmokivekas/bd797f9e179baf42ab8573c65eee7628) a few days apart. In the first file there is one, and in the second there are two tasks that have been moved from Yurimaguas, Peru to the

[2019-06-02 09:20] sidneygijzen opened #1662 "Offset when selecting task by clicking on map"
Hello,

Since about 2 weeks there seems to be a random offset in play when selecting a task by clicking on the map. The screenshot below shows that I clicked where the mouse pointer is visible, but it selected the task north of my pointer.

The offset on selecting a task seems random: sometimes it selects a task to the north, sometimes to the east, etc. I tried to deduce a pattern in this behaviou

[2019-06-02 22:50] fitoria commented on #1341
PR here https://github.com/hotosm/tasking-manager/pull/1663

[2019-06-03 13:42] ramyaragupathy commented on #1659
Thanks @JorgeMartinezG - that's the direction I'm working as well

[2019-06-03 15:09] uwaiszaki commented on #1590
@xamanu I have some doubts regarding the structure of campaigns part.
1) How projects and organisations should be connected to campaigns.
2) What should be the process to assign a campaign to a project? Whether it will be first assigned to the organization and then to the projects or should it be independently linked with the projects.

[2019-06-03 21:22] ramyaragupathy opened #1668 "Invalidated tasks API fetch error"
Noticing invalidated-tasks fetch failing with error code: 500
`user/username/invalidated-tasks?asValidator=false&closed=false&page=1&pageSize=10&sortBy=updatedDate&sortDirection=desc`

More details from error response:

`Error: "Invalidated Tasks API - unhandled error: Can't resolve label reference for ORDER BY / GROUP BY. Textual SQL expression 'updated_date desc' should be explicitly declared as

[2019-06-04 10:08] xamanu opened #1671 "Review oauth permissions"
Currently the Tasking Manager encourages to use the permission `modify their user preferences` for connecting with OpenStreetMap.org it needs to be reviewed whether `read their user preferences` should be enough.

[2019-06-04 11:04] qeef commented on #1671
It was definitely enough in the last releases.

[2019-06-04 11:17] xamanu commented on #1671
There hasn't been any changes to this version. Let's check and change the readme file and the setup accordingly.

[2019-06-04 11:24] qeef commented on #1671
Well, when checking my OAuth settings on osm.org, I am sure the change came when name of application changed from *Tasking Manager 3 - Prod* to *Tasking Manager CFN Prod*.

[2019-06-04 11:34] xamanu commented on #1671
Thanks @qeef for noticing. With the last release we changed our server setup and with this we moved the oauth application. While doing this we followed the documentation (readme.md).

Just checked and all works well with less permissions. We will change this as soon as possible (latest tomorrow).

[2019-06-04 13:05] xamanu commented on #1654
The information used in the `title` attribute of the `td` element is used to generate the title, but a tooltip should probably not be appearing. Other tables in the tm usually do headers through the `tr` explicitly. @nrotstan, what do you suggest to address this?

[2019-06-04 15:44] #1341 closed

[2019-06-04 15:46] #1359 closed

[2019-06-04 17:38] zlavergne commented on #1592
I'm curious to what degree MapRules will be "enforced" for TM users.

@giblet22 if a project has MapRules, does the use **have** to have every object abide exactly to the rules or is there some leeway?

With the iD integration, will it block saving if the objects don't adhere to the rules or does it act more like warnings/suggestions?

This may be answered somewhere else so I apologize if you're r

[2019-06-04 18:34] giblet22 commented on #1592
@zlavergne it will ultimately depend on how the MapRules are configured for any given project, meaning there is some flexibility with how the logic is applied (eg. Feaure MUST HAVE this tag or MAY HAVE this other tag). However, what's nice about the iD integration is that it will limit the presets that a user can see, so while they can still add tags manually when editing a feature, it will be mor

[2019-06-05 03:34] abalosc1 commented on #1592
I'm also thinking we either add a new button like "Start Editor with Guidelines" or add an option it would default to like "iD editor with guidelines"
![start editor](https://user-images.githubusercontent.com/34665975/58928483-a0eb7700-8720-11e9-8117-cd5eb7b1234d.png)
So that if they're an advanced user who doesn't want the presets to be restricted in iD, they can still open iD like they regularly

[2019-06-05 06:06] abalosc1 commented on #1616
It would also be nice to be able to filter on Percentage Mapped and Validated

[2019-06-05 06:22] abalosc1 commented on #1598
Out of curiosity, how is "archived" different from "removed"?

[2019-06-05 13:41] xamanu commented on #1377
ok, this looks already good. I'm wondering, @russdeffner, whether it is ok to send one email per week out to the project managers of published projects. This will probably encourage them to archive them faster :smile:

In order to have a full working solution, we will need some more things around the emails:

* Settings page to opt out of all emails and a way opt-out per project.
* Link in the ema

[2019-06-05 13:45] xamanu commented on #1378
Thanks for the PR, @fitoria. I checked it and realized you are introducing weekly summary mails for mappers. I'm not sure this is going for the purpose we had here. This might be a bit too much for mappers to receive.

What about encouraging depending on progress in the project (50%, 75%, 90%):

[code]

For the redesign we wanted to recommend projects, but this requires a logic to be in place for

[2019-06-05 13:55] xamanu opened #1675 "Email design template"
The current emails are pain text but should look nice:

![image](https://user-images.githubusercontent.com/97706/58959316-560b4700-8794-11e9-879b-5bda7f5a5a21.png)

This is a follow up to #1377 and #1378 and fits into the redesign work.

[2019-06-05 15:18] ramyaragupathy opened #1676 "Project Admin - project deletion fails"
Project deletion fails with error message:
[code]

Sending a fix @xamanu

[2019-06-05 16:03] #1676 closed

[2019-06-05 16:03] #1668 closed

[2019-06-05 16:06] ramyaragupathy commented on #1659
@Vaomatua @russdeffner - Can you please verify if the dashboard loads fine? We pushed the fix through #1664

[2019-06-05 16:16] Vaomatua commented on #1659
@ramyaragupathy Yes, the dashboard now loads in about 5 seconds for me.
Thank you for fixing this.

[2019-06-05 16:45] xamanu commented on #1671
@qeef We fixed this on the live [HOT Tasking Manager](https://tasks.hotosm.org) and adjusted the documentation accordingly in this PR #1674.

A quick confirmation from your side would be nice. Thanks!

[2019-06-05 16:57] #1552 closed

[2019-06-05 16:58] xamanu commented on #1522
@tawirth This should be fixed by now. Can you please check and let us know whether it repairs the problem you had? Thanks!

[2019-06-05 16:58] xamanu commented on #1562
Thanks, @ramyaragupathy.

[2019-06-05 16:58] #1562 closed

[2019-06-05 17:00] xamanu commented on #917
Closing because of inactivity.

[2019-06-05 17:00] #917 closed

[2019-06-05 17:01] giblet22 commented on #1044
@xamanu I think this issue captures a good starting point for discussion for the filter I brought up on the call today.

[2019-06-05 17:04] xamanu commented on #1251
Closing here, as this is handled in #1282.

[2019-06-05 17:04] #1251 closed

[2019-06-05 17:26] tawirth commented on #1522
@xamanu Hi Felix - thanks for checking in. I think this is fixed partially, but I could have misunderstood.  I remember one version of the TM there was a link to the completed/validated tile when it was completed as mapped. This would be similar to the current version where the comments are. The link to the specific tile next to the comments is so incredibly helpful to get timely feedback to mappe

[2019-06-05 17:40] xamanu commented on #1522
Thanks, @tawirth. Is #1631 solving what you mean?

[2019-06-05 18:01] tawirth commented on #1522
@xamanu I think so, assuming it would be for mapped tiles as well as validated ones and show the task link. Also, would  it show up in the last activity section? In the screenshot it looks like it might be a separate tool where you choose which project/mapper etc.. That would be great too, but it would be best to have it right there on the project in the last activity section. Thank You.

[2019-06-05 18:23] Vaomatua commented on #1552
Thanks to all who helped on this, I have confirmed this is resolved.

[2019-06-05 18:55] #1671 closed

[2019-06-05 19:05] xamanu commented on #1522
@tawirth, yes! And there are both. One on the project, after clicking the "Activity and stats" button (#1630) and one for the the whole TM spanning over all projects and tasks (#1684).

[2019-06-05 19:55] tawirth commented on #1522
@xamanu Those will be great additions. Looking forward to them.  Thank you for all the hard work you guys are doing!

[2019-06-05 20:48] xamanu commented on #1522
Great! Those will be part of next month's release. Closing here as the initial bug has been fixed and related issues have been referenced.

[2019-06-05 20:48] #1522 closed

[2019-06-05 21:01] wireguy opened #1678 "Check translations"
These strings are in the code (inbox.html), but not in any json file:

Task
Type
Sent
State
Project
No messages
Delete selected messages
Are you sure you want to delete these messages? This cannot be undone
Delete Selected
Delete All Selected Messages

[2019-06-05 21:08] xamanu commented on #1565
@ramyaragupathy the releases came out. May you please check, whether this has been fixed by these?

[2019-06-05 21:14] xamanu commented on #1081
This has become part of the current release. Closing here.

[2019-06-05 21:14] #1081 closed

[2019-06-05 21:23] xamanu commented on #1678
I would like to use this issue to generally document a bit our translation, making sure everything is up-to-date (including #1351) - i changed title to make it more general. hope this is ok.

[2019-06-05 21:28] xamanu commented on #1662
Hi, thanks for reporting! I just checked with my local computer FF 60.6.3esr (64-bit) on Debian Buster and it works fine, too. I'd recommend you to use Chrome for now and hopefully with the next release of the Firefox it will be fixed again.

I'm giving this a low priority for now. In case there are more people having similar problems, we can escalate this up to a higher priority.

[2019-06-05 21:33] xamanu commented on #1526
Closing here because of inactivity. Feel free to reopen.

[2019-06-05 21:33] #1526 closed

[2019-06-05 21:36] xamanu commented on #1284
Most discussions went into the ml-enabler. Closing here in order to avoid parallel conversations.

[2019-06-05 21:36] #1284 closed

[2019-06-05 21:37] xamanu commented on #1218
Related to #1678

[2019-06-05 21:40] xamanu commented on #1164
This shall be covered by https://github.com/hotosm/tasking-manager/issues/1360, which is going to be part of the next release. Closing here.

[2019-06-05 21:40] #1164 closed

[2019-06-05 21:42] xamanu commented on #1098
Related to #1678

[2019-06-05 21:44] xamanu commented on #852
This will be partially covered by https://github.com/hotosm/tasking-manager/issues/1360 and fully by the ongoing redesign,

[2019-06-05 21:44] #852 closed

[2019-06-05 21:46] wireguy commented on #1678
@xamanu
You may want to investigate strings that are message fragments, example: "and help improve it." .
Fragments can cause incorrect translations.

another example:
{{ 'A new project will be created with' | translate }} {{ createProjectCtrl.numberOfTasks }} {{ 'tasks.' | translate }}

maybe make %1% be a replaceable parameter in the string
{{ 'A new project will be created with %1% tasks.' | tr

[2019-06-05 21:47] xamanu commented on #1583
This has been also mentioned in #955.

[2019-06-05 21:47] xamanu commented on #955
Closing here, as this is getting tackled actively in #1583

[2019-06-05 21:47] #955 closed

[2019-06-05 21:50] xamanu commented on #1264
I think that can be closed in favour of all the follow up issues mentioned before. Thanks.

[2019-06-05 21:50] #1264 closed

[2019-06-05 21:52] #576 closed

[2019-06-05 21:52] xamanu commented on #576
Closed in favour of the follow up #1460

[2019-06-05 21:56] xamanu commented on #1521
@willemarcel is this related to #202?

[2019-06-05 21:59] xamanu commented on #847
This is fixed by now.
And the mark all as read is part of #1401

[2019-06-05 21:59] #847 closed

[2019-06-05 22:37] xamanu commented on #1527
This is a follow up of several issues that I unite here (and close on their end, please follow the links in case you want to have more context):

in #945, @ethan-nelson commented:

in #829 it is reported [this project](https://tasks.hotosm.org/project/3643) to have 99% of validation and @ethan-nelson comments:

[2019-06-05 22:37] xamanu commented on #829
Closed in favour of the follow up issue #1527

[2019-06-05 22:37] #829 closed

[2019-06-05 22:38] xamanu commented on #945
Closed in favour of the follow up issue #1527

[2019-06-05 22:38] #945 closed

[2019-06-05 22:48] xamanu commented on #981
A whole conversation around layers, their names and colours is being covered in #1257. Closing here, to concentrate all thoughts there.

[2019-06-05 22:48] #981 closed

[2019-06-05 22:50] xamanu commented on #901
We are running on updated dependencies now. All good. Closing here.

[2019-06-05 22:50] #901 closed

[2019-06-05 23:07] xamanu commented on #1461
The snapshot part has been resolved. So, let's make this issue about the backup (lowered priority and adjusted title).

[2019-06-05 23:13] xamanu commented on #994
Just a little update:

* [ ] Currently there is only `stage` left that needs to be periodically updated from `live`.
* [ ] It would be great to have existing user permissions (AIM rules) applied and ideally the url is persistent for developers to connect, without digging into AWS each time.

There are two ways to approach this probably:

* *Simple*: Documentation on how to trigger this process
* *

[2019-06-05 23:49] Vaomatua commented on #1257
The icons will be a good improvement, and the colors look good.
I don't quite follow "Not for mapping", isn't everything that isn't a part of the task not for mapping?
"More work needed" is a great improvement.
I would still like to see the legend be a static image off of the map (sorry if that is in another thread).

[2019-06-06 06:39] qeef commented on #1671
I can confirm, only *read your user preferences* are needed now.

[2019-06-06 11:28] willemarcel commented on #1521
I couldn't understand what #202 is about...

I saw some related issues like #1197, but I didn't get why it was included on task annotation and which solution was implemented.

[2019-06-06 19:55] russdeffner commented on #1659
Yep, works for me as well (on mobile).

[2019-06-06 20:00] russdeffner commented on #1377
I think the burden should be greater on the project managers and we should give them constant messages that they can’t turn off; weekly sounds good to me.

[2019-06-07 06:01] #1659 closed

[2019-06-07 18:44] don-vip opened #1683 "dead link - license/6"
The following link is dead:
https://tasks.hotosm.org/license/6
It is used in imagery entries used by JOSM.

[2019-06-09 11:54] ramyaragupathy opened #1685 "Project Dashboard - validation stats missing in contributions section"
Flagged by a contributor on slack:

[2019-06-09 11:58] ramyaragupathy opened #1686 "Favorites API: List projects favorited for the signed in user"
From #1602 #1603 - we should include an endpoint to retrieve all projects favorited by a user

[2019-06-10 15:08] JorgeMartinezG commented on #1617
@willemarcel do you know where I can find the list of badges and the number of contributions required for each?

[2019-06-10 15:41] ramyaragupathy opened #1687 "Projects inaccessible"
Following projects which have been active with contributions are no longer accessible:

- 5375, 5762, 6067, 5773, 5740 & 1945

[2019-06-10 15:42] dakotabenjamin commented on #1589
We can handle this here, I'll add it to the PR

[2019-06-10 15:42] ramyaragupathy commented on #1565
Yes, this is fixed

[2019-06-10 15:42] #1565 closed

[2019-06-11 09:38] xamanu commented on #1687
As per communication with @ramyaragupathy I'm reporting here the current status:

The error seems to be caused by deletion of messages, that would cascade in the database and delete the associated project because of a foreign key connection of the messages table to the project with its `id`.

For now a [quick fix has been introduced](https://github.com/hotosm/tasking-manager/pull/1690), which impe

[2019-06-11 09:46] xamanu opened #1693 "Improve logging of instances"
The recent problems on the HOT Tasking Manager's live instance (#1687) required debugging on the main server. Switching on the database logging led to follow up problems of the instance running full in a short time.

Lets tackle this properly and make sure we have a reasonable and documented way of accessing the most important logs on our deployments.

* tasking manager logs
* database transaction

[2019-06-11 09:52] xamanu opened #1694 "HOT's Tasking Manager deployment branches"
Currently we are deploying the main [HOT Tasking Manager](https://tasks.hotosm.org) from the `master` branch. However this complicates the processes when finding urgent solutions for errors occurring on the main instance (like #1687), it is relatively slow to test out some quick fixes and also it doesn't look nice in our commit history of the product Tasking Manager.

Therefore we should change ou

[2019-06-11 09:55] xamanu commented on #1694
I prepared the branches:

* `deployment/hot-tasking-manager`
* `deployment/teachosm-tasking-manager`.
* `deployment/assisted-tasking-manager`.

[2019-06-11 09:57] xamanu opened #1695 "Deployment of parallel instances"
When a developer merges into `develop` and some other is deploying on `master` or `machine-learning` one build fails because of another one already running. It would be good to have builds working independently from the others.

[2019-06-11 09:57] xamanu commented on #1695
@dakotabenjamin is there anything we can do?

[2019-06-11 18:55] xamanu commented on #1687
Today we were able to provide a fix for the deletion of messages and it is currently deploying to live. Next step is to bring back the projects.

And then there are some follow up issues in order to improve the infrastructure to react better to such emergencies: #1693, #1694, #1695

[2019-06-12 10:54] xamanu commented on #1527
Today I was digging into this a little bit while reviewing #1689. And i have some comments and thoughts.

It seems like sometimes we think around the data on `mapped`, `validated`, `invalidated` and `bad_imagery` as counters and sometimes as actual state of these tasks. And I think @JorgeMartinezG is right when calculating the percentages based on states. However I would like to consolidate the tw

[2019-06-12 12:53] dakotabenjamin commented on #1695
What is the cause of the failure on CircleCI?

[2019-06-12 13:07] dakotabenjamin commented on #1694
When ready to implement, we need to change the branch filter values in the circleci config:
https://github.com/hotosm/tasking-manager/blob/develop/.circleci/config.yml#L221
https://github.com/hotosm/tasking-manager/blob/develop/.circleci/config.yml#L248
https://github.com/hotosm/tasking-manager/blob/develop/.circleci/config.yml#L275
https://github.com/hotosm/tasking-manager/blob/develop/.circleci/

[2019-06-12 13:19] willemarcel commented on #1617
@JorgeMartinezG I think it needs to be defined yet.
cc @xamanu @smit1678

[2019-06-12 14:22] rhinton17 commented on #1687
Validation of project #2742 is underway but is also inaccessible at this time.

[2019-06-12 14:49] Vaomatua commented on #1527
Perhaps it is a method of work for project management, but I consider tasks_bad_imagery to be tiles that need to be 1) validated that no further work can be done, or 2) tiles that still need to be mapped due to mappers not checking other image sources.
I do like:  _percent_bad_imagery = (tasks_bad_imagery / total_tasks) * 100_
Also think it is valuable to be able to display the actual numbers of t

[2019-06-12 15:21] lusdavo commented on #1687
Project #[5907](https://tasks.hotosm.org/project/5907), 100% mapped and about 94% validated is as well inaccessible.

[2019-06-12 19:34] xamanu commented on #1694
Ready to take off.

[2019-06-12 19:51] #1694 closed

[2019-06-12 20:38] dakotabenjamin commented on #1693
DB Logs:
- reenable cloudwatch logging for the RDS resource (i.e. #1688)

TM3/server Logs:
- in the AMI work (https://github.com/hotosm/tasking-manager/pull/1546) we can install and  configure the CloudWatch Agent to pull logs into CloudWatch Logs

[2019-06-12 20:47] xamanu commented on #1694
This has been deployed on `deployment/hot-tasking-manager. Reoping this for the other branches. Just to now forget.

[2019-06-12 20:56] dakotabenjamin commented on #1693
Aside about RDS Disk space with transaction logs. It appears that the massive disk storage is a temporary offloading of transaction logs before being uploaded to s3. Having sufficient space to handle that action will prevent disk full errors, but we don't really have a way of knowing beforehand.

[2019-06-12 23:28] JorgeMartinezG commented on #1605
@willemarcel @xamanu there is already and endpoint which lists the organizations from tags table. It was included here: https://github.com/hotosm/tasking-manager/commit/a6ba2153ffd48d540732235b9fbc454dcc4ffc49

`https://tasks.hotosm.org/api/v1/tags/campaigns`

[2019-06-13 02:31] ethan-nelson commented on #1282
The before/after here is really useful for debugging, thanks!

[2019-06-13 02:39] ethan-nelson commented on #1282
The above gist has the before and after states of a task that was split weirdly, namely task 416. The original attributes are:

x  |  y  |  z
---|-----|---
60880 | 102015 | 18

Stepping through the split function, the northwestmost task is assigned the following attributes:

x | y | z |
---|---|---
121760 | 204031 | 19

Running the coordinate numbers:

xmin (espg 3857) | ymin (espg 3857) | xmin (e

[2019-06-13 03:22] ethan-nelson commented on #1282
Now, let's investigate what the x/y/z of the original tile is working backwards. The northwestmost corner of the task is:

xmin (espg 4326) | ymin (espg 4326) | xmin (espg 3857) | ymin (espg 3857)
---|---|---|---
-76.1059885597261° | -5.89542588825815° | -8472079.89 | -657436.91

Now we have a set of linear equations that we can solve for the tile x and y (https://github.com/hotosm/tasking-manager

[2019-06-13 11:10] willemarcel commented on #1606
@JorgeMartinezG There is a related issue: https://github.com/hotosm/tasking-manager/issues/1590

[2019-06-13 12:11] willemarcel commented on #1605
Nice, @JorgeMartinezG ! The organisations endpoint is that https://tasks.hotosm.org/api/v1/tags/organisations

On #1531, there is already a proposal to migrate organisations to a new model, so I think we need to update that endpoint after the database change.

Filters could be by name (and maybe by `projects.campaigns`). It would be nice to have the number of projects of that organization as well,

[2019-06-13 14:22] #1580 closed

[2019-06-13 15:54] uwaiszaki commented on #1590
![gsocstructure1](https://user-images.githubusercontent.com/32809190/59446604-720b8a00-8e1f-11e9-862e-f932a2e84b21.png)
After discussion with @xamanu, we are going to use this structure for teams, organisations, and campaigns.
1) Structure for teams is based on the discussion in #1531.
2) user-interest-campaigns table will be used to show the recommended campaigns and projects to the users based o

[2019-06-13 18:26] xamanu commented on #1590
This is our proposal. @hotosm/tech and @zlavergne please let us know what you think. Thanks.

[2019-06-13 21:32] verdy-p commented on #1590
in your schema, "campaign_projects" references:
- (by foreign key organisation_id) "organisations".id, and
- (by foreign key project_id) and "projects".id
The projects table then references (by by foreign key organisation_id)
"organisations".id again

So it is not normalized, there's two possible organisations from the
same"campaign_project", unless you drop organisation_id from
"campaign_projects

[2019-06-13 22:12] verdy-p commented on #1590
[image: Annotation 2019-06-13 235430.png]
May be this image (created very rapidly in Ms Access) is clearer to
interpret your schema (all foreign key references are read from left to
right).

There's evidently something wrong (along the path marked in yellow). But
may be the "projects" table is superfluous and can be merged into
"campaign_projects" just above left (that will be renamed just "projec

[2019-06-13 22:19] verdy-p commented on #1590
Then here is how it looks after merging the two tables (I also added a
"name" field in the project table)
[image: Annotation 2019-06-14 001835.png]

Le ven. 14 juin 2019 à 00:12, Philippe Verdy <verdy_p@wanadoo.fr> a écrit :

[2019-06-13 22:37] verdy-p commented on #1590
Also I think you can merge the two similar relation tables for admins (of
an organization) and for team members (because they are also linked to a
unique organization); the admins are just a particular type of team, their
membership having some specific enumerated "function". As well the proposed
date field becomes two dates (min and max, for period of activities in that
function: if the max date

[2019-06-14 04:28] uwaiszaki commented on #1590
@verdy-p The image you are referencing is not visible. Can you please send it again? Thanks

[2019-06-14 07:46] verdy-p commented on #1590
I had attached three images (one per mail). May be your mail agent has
dropped the HTML part
They are now in attachment (their name indicates a timestamp, in the same
order as the 3 emails)

Le ven. 14 juin 2019 à 06:28, uwais zaki <notifications@github.com> a
écrit :

[2019-06-14 07:55] xamanu commented on #1590
Thanks @verdy-p for this input. Indeed it would be helpful to see the images you are referring to. Some of my first thoughts on the points you are raising:

I think we have to give a bit of input on this. Please also have a look on #1531 where we have defined the tables that are related to teams and organizations.

The basic idea behind the `Project.organisations_id`, is a required/obligatory conn

[2019-06-14 08:07] verdy-p commented on #1590
Le ven. 14 juin 2019 à 09:55, Felix D. <notifications@github.com> a écrit :

That's not what your schema indicates: you defined foreign keys that makes
a reference from the team to an organization (may be that key may be null,
i.e. optional, but this does not change the model, and what I popose is
still compatible with that view). Here you're just speaking about the fact
that teams have their own

[2019-06-14 08:13] verdy-p commented on #1531
for you info I discussed that by email (on the hot mailing list) and made the schema clearer to interpret graphically (all foreign keys are referencing table from left to right).

This starts from 11 tables (currently presented) with a normalization problem (yellow highlighting)

![Annotation 2019-06-13 235430](https://user-images.githubusercontent.com/1387035/59494223-03651580-8e8d-11e9-8210-24e5

[2019-06-14 08:29] verdy-p commented on #1531
Annotated version of the last image (schema unchanged). Made a bit clearer by "moving" the "users" table to avoid the "spaghettis".

![Annotation 2019-06-14 102548](https://user-images.githubusercontent.com/1387035/59495136-fa754380-8e8e-11e9-81b5-de924c715c7f.png)

The yellow highlights show the comments for what I received in emails about the fact that teams are not necessarily attached to an or

[2019-06-14 09:04] smit1678 commented on #1617
@willemarcel @xamanu @JorgeMartinezG Yes, I think some of this ties back to the conversations had at the stakeholders meeting around Stats and Metrics and then also to the desire to link to the existing badge model and tracking that happens through the Missing Maps Leaderboards and API: http://www.missingmaps.org/leaderboards/#/missingmaps

[2019-06-14 09:26] verdy-p commented on #1531
Note: I used MS access locally only because it allows fast simulation with real schemas (that can be tested with random data). I don't intend to propose you to use Access of course for this development. I don't care much about the symbology of the graphic schema, as it does not matter for this discussion (there are different conventions used, MS Access using an oversimplified presentation which un

[2019-06-14 14:45] verdy-p commented on #1590
<https://github.com/hotosm/tasking-manager/issues/1531> because someone
else on this list refered to it.

[2019-06-15 08:50] sidneygijzen commented on #1662
Thanks for your reply. I understand.

Fingers crossed that the problem disappears with Firefox 68 :-)

[2019-06-17 12:31] xamanu commented on #1685
More examples of projects with this issue:

* https://tasks.hotosm.org/project/5972
* https://tasks.hotosm.org/project/6128

[2019-06-17 15:56] dakotabenjamin opened #1701 "Production site is not autoscaling"
A mapathon coordinator flagged an issue that TM was running slowly, because autoscaling is not occurring.

The [current scaling policy](https://github.com/hotosm/tasking-manager/blob/develop/devops/cloudformation/tasking-manager.template.js#L129) will autoscale when the Autoscaling group Average CPU breaches an 85% usage threshold.

- [x] Check CloudWatch metrics during last week's mapathons to se

[2019-06-17 16:13] xamanu commented on #1687
We were able to fix this issue and we have a solution to bring back the inaccessible projects. For this we will schedule a downtime this week.

[2019-06-18 02:40] ethan-nelson commented on #1702
Presto!

[2019-06-18 21:01] xamanu commented on #1683
Do you remember which project you had this problem? Thanks.

[2019-06-18 21:15] don-vip commented on #1683
Sure, it's https://josm.openstreetmap.de/wiki/Maps/Palestine
https://wiki.openstreetmap.org/wiki/2014_Gaza_Strip

[2019-06-19 13:05] xamanu commented on #1633
Done in #1707. No standard comment is provided, to avoid bios of data and statistics.

[2019-06-19 13:58] xamanu commented on #1351
The update of the italian language has been part of the 3.3.2 release. Thanks!

[2019-06-19 13:58] #1351 closed

[2019-06-19 20:21] dakotabenjamin commented on #1701
Based on the issues with mapathon's yesterday and today, I think CPU utilization is a poor metric from which we should base the autoscaling policy. The most likely useful metric is [Application Load Balancer Request Count per Target](https://docs.aws.amazon.com/elasticloadbalancing/latest/application/load-balancer-cloudwatch-metrics.html) or `RequestCountPerTarget`

From this graph it looks like a

[2019-06-20 13:49] Vaomatua opened #1712 "Validation locking issues"
![image](https://user-images.githubusercontent.com/12214434/59854252-693b1c80-9327-11e9-810d-90182ffb5817.png)

I have validated several tiles this morning, but am not able to lock a tile for validation now.

[2019-06-21 17:37] willemarcel commented on #1521
Besides exposing the token to the user, in the new React frontend implementation I didn't succeed to use the current Authentication view. One of the problems I noticed is that the authentication API uses flask sessions, that way the frontend needs to be served by the backend.

In my opinion, the backend and the frontend should be totally independent. The redirection of the user to the OSM website

[2019-06-23 11:15] michael63-osm commented on #1529
@ethan-nelson , @xamanu
Looks like I have no permission to reopen this bug but since a few days the overpass view is broken again. The links only point to the start page of TM

[2019-06-23 16:56] ethan-nelson commented on #1529
@michael63-osm could you provide a little information of what you tried and on what page? Did you click on the button on the user project overview? Do you have any strict popup or ad blockers?

We use a javascript function now for the button to generate the link just in time. When the "view in overpass" link is clicked, the javascript then pings the database for the project information, generates

[2019-06-23 18:15] michael63-osm commented on #1529
Sorry for the confusion - javascript was for some reason blocked when I tried this. I can confirm that without this it works. I guess it would be clearer if the link did not read like the TM start page but rather javascript() or something similar as I saw on other websites.

[2019-06-24 08:43] xamanu commented on #1529
Thanks @michael63-osm and @ethan-nelson. Closing here again.

[2019-06-24 08:43] #1529 closed

[2019-06-24 08:58] xamanu commented on #1218
I will close here, in favour of a translation call together with the next round for testing.

[2019-06-24 08:58] #1218 closed

[2019-06-24 08:59] xamanu commented on #1098
This is not occurring with the current version. Considering this as fixed. Please reopen in case there is still a problem.

[2019-06-24 08:59] #1098 closed

[2019-06-24 09:54] xamanu commented on #1712
Hi @Vaomatua, we were facing some resources scarcity on the database connection on Friday and increased them the same day. Just checked and was able to lock for validation. May you please test, whether it work now for you, too? Thanks.

[2019-06-24 10:02] xamanu opened #1714 "Translation strings revision"
* [ ] Make sure all strings are translatable
* [ ] Avoid message fragments (e.g.: "and help improve it."). Fragments can cause incorrect translations.

[2019-06-24 10:04] xamanu commented on #1678
Checked translations and pipeline and improved the workflow and the documentation within #1706, which will close this issue here.

As a follow up we should check on @wireguy's suggestions during the redesign work. For this i created another issue: #1714.

[2019-06-24 10:05] #1633 closed

[2019-06-24 10:32] xamanu commented on #1687
The project restoration happened last Friday and seems to work well. Thanks for all this good work. Closing here.

[2019-06-24 10:32] #1687 closed

[2019-06-24 10:35] xamanu opened #1715 "Project ownership"
In some rare cases it can be observed that the owner of a project is not the one that created this.

For example:

* https://tasks.hotosm.org/project/6167
* https://tasks.hotosm.org/project/6176
* https://tasks.hotosm.org/project/6202
* https://tasks.hotosm.org/project/6290
* https://tasks.hotosm.org/project/6381
* https://tasks.hotosm.org/project/6480
* https://tasks.hotosm.org/project/6497
* htt

[2019-06-24 10:37] xamanu commented on #1715
We investigated in the database logs that the wrongly used owner is the subject of the query before creating the project:

* Some task activity: `2019-06-19 04:09:48 UTC:172.31.71.2(56460):taskingmanager@tm:[3615]:LOG: statement: INSERT INTO task_history (project_id, task_id, action, action_text, action_date, user_id) VALUES (6128, 6, 'STATE_CHANGE', 'VALIDATED', '2019-06-19T04:09:48.649496'::time

[2019-06-24 14:10] Vaomatua commented on #1712
@xamanu Thank you for the reply, I did check later on Friday and was able to work as expected. Thank you for all the backend work, I know it is a thankless task, and I appreciate all the work this team does.  Thanks

[2019-06-24 14:10] #1712 closed

[2019-06-25 10:08] xamanu commented on #1504
This has been part of release 3.3.2. Closing here. Thanks.

[2019-06-25 10:08] #1504 closed

[2019-06-25 17:15] DillonPinto opened #1720 "Type error: "unsupported operand type(s) for +=: 'int' and 'NoneType'""
Found an issue that needs fixing in server/services/stats_service.py while running docker-compose. Line 267 of the file requires a conditional statement to guard against adding an int with a NoneType.

[2019-06-26 06:48] GIC-AIT opened #1722 "Task could not be locked for mapping error"
Cant start mapping. An error appears

![Capture1](https://user-images.githubusercontent.com/52233018/60157488-0eb72a00-9819-11e9-82e7-a0deff9afb76.PNG)

[2019-06-26 07:05] Edfake commented on #1722
Same result here

[2019-06-26 07:53] ramyaragupathy commented on #1722
@Edfake @GIC-AIT - Thanks for flagging the issue. Can you please confirm if it is working now for you?

[2019-06-26 09:16] GIC-AIT commented on #1722
Yes its working now

Thanks a lot

On Wed, Jun 26, 2019 at 2:53 PM Ramya <notifications@github.com> wrote:

--
*Rajitha Athukorala*
*|Research Associate|B.Sc. Eng. (Hons)|*
*Geoinformatics Center - Asian Institute of Technology*

*P.O. Box 4, Klong Luang, Pathumthani, 12120 Thailand*
*T: 083 827 6379*
*W: rajithaathukorala.weebly.com <http://rajithaathukorala.weebly.com>*

[2019-06-26 10:17] ramyaragupathy opened #1723 "Project search by number is not consistent"
While searching for projects by a specific number, there are certaincases where the results are not returned. This behavior seems random though

![project_search](https://user-images.githubusercontent.com/12103383/60172095-973dc680-9829-11e9-9940-996c253ddc78.gif)

[2019-06-26 20:28] DillonPinto opened #1724 "Can't update user email address on self-hosted tasking manager"
I get a Flask SMTP error "please run connect() first" (error code 500) when trying to update an email address on the tasking manager. Facebook, twitter and linkedin fields update if the email field is empty.

[2019-06-26 22:55] russdeffner opened #1725 "Transfer to non Project Manager user"
Currently you can Transfer a project to a user who does not have the Project Manager role. However, it only gives them the Edit Project button, but when clicked, kicks out to homepage. Ideally it would warn or not allow the project manager attempting to send a project to a non-pm user. There is also no indication to the user receiving the project, so they would have to know or see the Edit Project

[2019-06-27 14:57] dodobas commented on #1720
I can confirm that this only shows up for completely empty database

[2019-06-27 22:43] JorgeMartinezG commented on #1723
**Update:** Looking at the problem, `project_info` table has a text_searchable column which is a tsvector, that indexes short_description and description columns. Some projects have empty values for this column. I will continue in this issue

[2019-06-28 09:32] xamanu opened #1728 "Automatically check for updates"
Let the TM check for available updates and let the admins know about it.

[2019-06-28 12:24] RAytoun commented on #1685
Hi Ramya, How is this progressing? I know you are all very busy at the moment. If it is any help I do notice that if the validator has completed some mapping tasks then there are validator sttatistics shown as well. If the validator has got 0 completed mapping tasks then they do not appear in the stats even if they have validated a load of tasks.

[2019-06-28 14:40] dodobas opened #1731 "Prevent SQL Injection when executing custom SQL"
When using simple Python string formatting methods input values are not escaped which opens up the possibility of SQL injection attacks. For example: https://github.com/hotosm/tasking-manager/blob/master/server/models/postgis/task.py#L653

SQLAlchemy provides a way to safely pass values to a custom SQL - https://docs.sqlalchemy.org/en/13/core/tutorial.html#using-textual-sql

[2019-06-28 15:29] #1720 closed

[2019-06-28 18:08] russdeffner opened #1734 "Notify Users of Role Change"
Related to #1286 and #1608 - once a user has been granted Validator, PM, or Admin there should be a notification. Either an auto-generated message and/or utilizing the encouragement banner (i.e. on profile where it says 'You're on your way to becoming an intermediate mapper!' for beginners); it could say 'You have been granted Validator/PM/Admin role...'?

[2019-06-28 18:12] russdeffner commented on #1734
Oh, I see now we have a star with Validator under the username but the others are less noticeable and could be accompanied by a more obvious message.

[2019-07-01 10:11] #1583 closed

[2019-07-01 10:27] #1527 closed

[2019-07-01 11:10] xamanu commented on #1725
@fitoria provided a PR for this issue: https://github.com/hotosm/tasking-manager/pull/1733

[2019-07-01 11:16] xamanu commented on #1724
The quick fix would be to specify the following variables in `tasking-manager.env` configuration:
[code]

But we should present an error, but still allow the update of the email address.

[2019-07-01 11:17] #1722 closed

[2019-07-01 11:22] xamanu commented on #1702
This is a nice way of promoting Free Software. Thanks @nemobis for bringing this up! I had a look at it, and unfortunately it seems not to be any standard, but a very particular national regulation of Italy. So far I'm missing a bit the perspective on how this could help the Tasking Manager, as I'm not aware of any collaboration with public institutions in Italy that would require or ease up the u

[2019-07-02 08:42] qeef commented on #1429
Hi again. As `cloudformation` was merged to `develop`, I checked the `develop` branch. I have to note that I can't help with AWS settings as I have never used it.

In https://github.com/hotosm/tasking-manager/blob/64cf03b3ad2ccb589305724732f4fc179698e7d0/devops/cloudformation/tasking-manager.template.js#L234 it looks like `gunicorn` is still serving everything, including static files.

I think the

[2019-07-02 09:55] willemarcel commented on #1383
@xamanu @ramyaragupathy @JorgeMartinezG I have defined our color palette on this file https://github.com/hotosm/tasking-manager/blob/feature/redesign/frontend/src/assets/styles/_variables.scss

Do you think for someone that wants to deploy a customized version of TM, changing the color values would be a good solution?

For example, if I want to replace the red by green, I would put a green tone co

[2019-07-02 09:59] willemarcel commented on #1383
To replace the logo, someone would just replace the `main-logo.svg` file in the assets folder: https://github.com/hotosm/tasking-manager/tree/feature/redesign/frontend/src/assets/img

[2019-07-02 10:04] xamanu commented on #1383
It would be nice to allow to modify the style and logo through environment variables in the `tasking-manager.env`. It think overriding the `red` seems a bit breaking the logic, despite that I'm aware that most CSS frameworks take the colour name approach.

[2019-07-02 10:44] willemarcel commented on #1383
@xamanu thanks for the opinion.

It's very complex to read an ENV var on a `.scss` file and also to import an image file in React from a ENV var.

As to be compiled, all the files need to be in the assets folder, I think the best solution would be to have a script that read the `taskingmanager.env` and replace the images in the assets folder by the custom ones and also replace the colors in the `_

[2019-07-03 07:19] #1731 closed

[2019-07-03 08:36] #1723 closed

[2019-07-03 11:11] willemarcel commented on #1541
@xamanu I think the base of the React implementation is done, so we can close this issue

[2019-07-03 12:04] Nick-Tallguy opened #1740 "Access from Hong-Kong is blocked by Amazon"
email message on HOT mailing list with screenshot - planning to do a mapathon in less than 2 hours and getting a screen message

![image001](https://user-images.githubusercontent.com/6763965/60590092-0029bf00-9d93-11e9-846e-19d1819c54fc.png)

[2019-07-03 12:11] Nick-Tallguy commented on #1740
Problem seems to be because location is Hong Kong

[2019-07-03 12:56] eternaltyro commented on #1740
@Nick-Tallguy Can you verify if problem persists?

[2019-07-03 13:02] dakotabenjamin commented on #1740
Thanks for posting this- The email was sent 21 June during which we were undergoing maintenance. This has since been resolved, and the user has been notified on slack. If issues still persist, please feel free to reopen.

[2019-07-03 13:02] #1740 closed

[2019-07-03 13:35] Nick-Tallguy commented on #1740
Thanks for that. Strange that the email appeared today!

Nick
my phone is responsible for any spelling mistakes!

On Wed, 3 Jul 2019, 14:02 Dakota Benjamin, <notifications@github.com> wrote:

[2019-07-03 23:39] RAytoun commented on #1685
Hi Ramya, The problem is still there.  A random selection of past projects and present projects does not show any change to the incomplete validation counts. #5824 is 100% validated but shows 1573 task squares mapped and only 820 validated https://tasks.hotosm.org/project/5824/dashboard : #5923 is 100% validated but shows 292 mapped and only 1 validated https://tasks.hotosm.org/project/5923/dashbo

[2019-07-03 23:44] RAytoun commented on #1685
The problem still seems to be with the validation count where the validator has not mapped any task squares on that project so there is no entry for them. You will see at the bottom of the list under contributions.... the list of contributions stops at contributors who have mapped only 1 task and does not go to contributors that have mapped 0 tasks but have validated tasks.

[2019-07-04 22:15] willemarcel commented on #1619
Header, Footer and first section of the new frontpage are ready.

[2019-07-05 18:52] willemarcel commented on #1600
To the homepage we need the number of buildings and the length of roads (in km) mapped.

That data is available at https://osm-stats-production-api.azurewebsites.net/stats/hotosm and it's used by Missing Maps website, but I don't know who maintains that service.

cc @smit1678 @xamanu

[2019-07-06 13:56] FrisoDB opened #1743 "issue selecting multiple validation tiles, after clicking select random"
When validating tiles, I usually start by clicking 'validate a random task'. Quite often it would be useful to select some surrounding small pieces around the selected task, but I cannot. The only options then are 'start validating' or 'select other random task'. It would be nice to add the polygon function here too.

[2019-07-08 12:33] xamanu commented on #1724
This seems to be a duplicate of #1115.

[2019-07-08 12:33] #1724 closed

[2019-07-08 12:39] #1725 closed

[2019-07-08 12:50] xamanu commented on #1435
#1438 and https://github.com/hotosm/tasking-manager/pull/1431 went into `develop` for the 3.4 release.

[2019-07-08 12:58] #1678 closed

[2019-07-08 15:41] russdeffner commented on #1613
@willemarcel - a good measure could be total time (time tasks locked for mapping & validating) over unique contributors. T/C - gives average time mappers/validators are putting into a project.

[2019-07-08 15:42] ramyaragupathy commented on #1600
We started with addressing performance issues on stats endpoint

[2019-07-08 15:43] fitoria commented on #1521
WIP: https://github.com/hotosm/tasking-manager/commits/feature/redesign-login

[2019-07-09 12:01] xamanu opened #1746 "Order of language selection"
Feedback provided in direct messages:

This issue is to review the list and propose a consistent order and system for naming.

[2019-07-09 12:03] xamanu commented on #1746
[This list on Wikipedia](https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes) might be useful. Compare the column "ISO Language name" and "Endonym".

[2019-07-09 13:10] wireguy commented on #1746
Take a look at Thunderbird's language selector at the bottom right of the website: https://www.thunderbird.net/en-US/

It seems to be the most complete example of a web page with language selector.

Also note that not all languages start with a uppercase letter (magyar for example)

[2019-07-09 14:33] xamanu opened #1747 "Hide hero banner from other user's profile"
Example, an advanced mapper is looking at elb-tsr's profile, and they are a beginner mapper. This can be confusing. Better to hide when not looking at user's own profile.

![image](https://user-images.githubusercontent.com/97706/60896763-6b253b00-a256-11e9-91d3-b74cfd059ca6.png)

[2019-07-09 14:39] xamanu opened #1748 "Backend restriction to edit and delete projects"
In https://github.com/hotosm/tasking-manager/issues/1504 it was introduced that only owners and admins can edit and delete projects. However this has been a quickfix that only restricted the frontend. In this issue the corresponding backend restriction shall be implemented.

[2019-07-09 20:18] verdy-p commented on #1746
Wikimedia commons already orders its many languages consistantly in its top
navboxes, they are ordered by their native name, first by script then by
the default alphabetic order of each script, grouping all rtl scripts after
ltr scripts

Le mar. 9 juil. 2019 à 14:01, Felix D. <notifications@github.com> a écrit :

[2019-07-09 21:51] wireguy commented on #1746
So Wikimedia and Thunderbird use the same ordering, the 4th column in  [639-1 codes](https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes).

Using that ordering, TM isn't bad, only 2 are out of order.  Galician (gl) should be before Magyar (hu).

Language names:
For the most part Wikimedia and Thunderbird use the Endonym from the table on [639-1 codes](https://en.wikipedia.org/wiki/List_of_ISO_63

[2019-07-09 22:06] verdy-p commented on #1746
Sorting language *names* (especially when they are presented as their
native names) by language code is completely inconsistant (and notably when
only the language name is presented to the user and there's no visible
indication of the language code that the user can lookup visually).
If you present a list of language names (either in English or in another
single language, or in its own native name

[2019-07-10 07:35] thadk commented on #1635
I haven't noticed a specific design item for this one.

[2019-07-10 14:32] xamanu opened #1749 "Disable email sending in testing environments"
Make sure emails from testing instances are not send to users, but to an error log.

[2019-07-10 14:57] xamanu commented on #1749
A good starting point is [this function]( https://github.com/hotosm/tasking-manager/blob/develop/server/services/messaging/smtp_service.py#L54).

Thinking a bit about this, we have two fundamentally different email messages. Ones that are email notifications of the notifications/messages in the TM and others are more system functionality, like to validate an email address. The second should still

[2019-07-10 16:00] ramyaragupathy commented on #1685
hey @RAytoun - sorry missed your comment notifications. This is fixed and is available for testing on staging instance. Soon this will go live.

[2019-07-10 20:42] RAytoun commented on #1685
Thanks @ramyaragupathy I saw that in the staging version and have noted  it. It will be great to have those stats back again. Thank you for spending your time and expertise on this. Greatly appreciated.

[2019-07-11 16:19] russdeffner commented on #754
This is now 'rectified' with the ability to limit validation to only Intermediate and Advanced users.

[2019-07-11 16:27] russdeffner opened #1753 "Projects should default to Intermediate Difficulty"
I thought this was already documented somewhere, but didn't find it in existing issues; please close if I'm just blind.

When a project is created, it should, by default, be set at `Intermediate` difficulty. Only by deliberate action, should a project become `Beginner` or `Advanced`. This will hopefully make project managers think about if their project is really beginner friendly or not. Yes, it

[2019-07-15 13:17] #1435 closed

[2019-07-15 15:45] dakotabenjamin commented on #1693
Once the packer/AMI work is done we can tackle this

[2019-07-17 05:12] thadk commented on #1628
@xamanu @hexiaok  I noticed the final design does not show the Feature/Popular label above and to the left of the card in any of its examples. Is this still called for?

[2019-07-17 16:37] willemarcel commented on #1383
Editing https://github.com/hotosm/tasking-manager/blob/develop/frontend/src/config/index.js you can set the backend api, organization name, social networks links. We want to concentrate some other options on the config files, that way organizations can customize TM without editing many files.

[2019-07-18 12:28] willemarcel opened #1765 "Add carousel behaviour to testimonials component"
We added a testimonials component to the new TM frontpage, but it's not sliding images in a carousel as planned.

![carousel](https://user-images.githubusercontent.com/666291/61457302-67707300-a93e-11e9-9b53-3f2f5fe31562.jpg)

[2019-07-18 13:45] ramyaragupathy opened #1766 "Verify area calculation in stats endpoint"
Per chat w/ @xamanu - area computation for tasks mapped and validated in home page seems way lower than the actual numbers.

Current stats return 684 sq.km while the actual number was greater than 14 Million sqk.km when I ran a stats check earlier this January 2019.

**Next actions**
- [] Verify the units returned from the query

[2019-07-18 13:57] willemarcel commented on #1646
The static part of the homepage is done.
What is missing
- [ ] Add carousel on testimonials https://github.com/hotosm/tasking-manager/issues/1765
- [ ] Add Featured projects (in progress)
- [ ] Add events section

[2019-07-19 01:38] willemarcel opened #1767 "Add due date field to Project model"
Add a date field to register the date when the organization or project manager needs the project mapping to be finished.

Required by #1628

[2019-07-19 06:12] ramyaragupathy commented on #1767
@willemarcel - Due date is [already available](https://github.com/hotosm/tasking-manager/blob/develop/server/models/postgis/project.py#L68) in our existing model. Think this should suffice for `countdown` in project card

[2019-07-19 11:43] willemarcel commented on #1767
@ramyaragupathy thanks for the information. Closing it!

[2019-07-19 11:43] #1767 closed

[2019-07-20 08:04] ramyaragupathy opened #1772 "Project save fails with new release"
<img width="600" alt="Capture" src="https://user-images.githubusercontent.com/12103383/61576049-389afe00-aaf2-11e9-8872-d5292cc9a6eb.PNG">

Project save function fails with `{'enforceRandomTaskSelection': ConversionError(\"This field is required.\")}` error message.

**How to reproduce?**
- Choose any of the existing project created prior to this release
- Click edit project
- Now just try saving,

[2019-07-20 13:09] xamanu commented on #1772
Thanks for the fast fix, @ramyaragupathy! Created a hotfix release for it [v3.4.1.](https://github.com/hotosm/tasking-manager/releases/tag/v3.4.1).

[2019-07-20 13:09] #1772 closed

[2019-07-20 17:24] saliousoft opened #1775 "Problems about V3 of HOT's Tasking manager-Invalid project"
Hi dev team,
I have some issues about the V3 of HOT Tasking manager.
In fact, It's Impossible to load some projects like project 813. Since yesterday and today, i have tried unsuccessfully. Please take a look. Thanks you very much.
Kindest regards.
Saliou

[2019-07-21 10:12] augustindo opened #1776 "Map zoom too high when accessing a specific project task by URL"
For few weeks, the way to display a task on the map (when accessing directly from URL) changed.

When you try to access a task by URL, it seems that the task is correctly selected and the map correctly centered but the zoom level seems setted to max value. One can expect that the map extent would correspond to the selected task extent.

**Example**
If you access this URL (project 813, task 716): h

[2019-07-22 13:01] #1685 closed

[2019-07-22 13:01] #1753 closed

[2019-07-22 13:54] ramyaragupathy commented on #1614
A few approaches based on the research last week:

🍿 **1. Recommend popular projects:** We've a [PR](https://github.com/hotosm/tasking-manager/pull/1741) that returns popular projects within a current TM instance based on the time spent by mappers. This is the least personal approach, which would recommend the same set of projects for all mappers within an instance at a given point of time.

🍡 **2

[2019-07-22 14:55] xamanu opened #1779 "Update backend dependencies"
The backend dependencies are getting old. Lets try to update as much as we can. I started a [branch](https://github.com/hotosm/tasking-manager/tree/feature/update-backend-dependencies) with an updated `requirements.txt` but with some errors. And lets make sure we don't include any packages we actually don't use anymore.

[2019-07-22 14:57] xamanu opened #1780 "Review backend API"
Lets go over the existing API and consolidate and clean up things for version 4 of the TM.

[2019-07-22 15:31] #1541 closed

[2019-07-22 15:33] dakotabenjamin commented on #1701
Re-opening this because there is a small bug in the cloudformation logic.

[code]

IsTaskingManagerProduction should be keyed into the `staging`/`production` environment parameter, not the stack name (which can change)

[2019-07-22 15:42] ramyaragupathy commented on #1600
We're supporting the application now 😀

[2019-07-22 15:43] willemarcel commented on #1614
@ramyaragupathy fantastic work!! Do you think there are great time differences to implementation between the three methods? If yes, I think we could do the simplest now and improve it after the 4.0 release.

[2019-07-22 15:50] ramyaragupathy commented on #1600
@JorgeMartinezG  - Please refer to [osm-stats documentation](https://github.com/AmericanRedCross/osm-stats/blob/master/documentation/API.md) for user related stats.

[2019-07-22 15:51] willemarcel commented on #1600
@ramyaragupathy we are using https://osm-stats-production-api.azurewebsites.net/stats/hotosm right now to get the number of buildings and roads length. Let me know if you include that information in some endpoint, so I can change the frontend.

[2019-07-22 15:53] xamanu commented on #1614
Great input, @ramyaragupathy! I like the three step approach. And I guess 1 and 2 seems to be the immediate actions we can implement for the redesign, and I agree with @willemarcel then further on is a plus that we can improve afterwards.

* In the **1** i would include the new introduced interests #1640 besides the most popular ones.
* For **2** we should also take the projects a user has done ac

[2019-07-22 16:16] ramyaragupathy commented on #1600
This returns details for just one hashtag #hotosm. We should be looking at https://osm-stats-production-api.azurewebsites.net/reports/hot*

If the above link times out then, let's look at modifying existing endpoints

[2019-07-22 16:16] JorgeMartinezG commented on #1616
To update this issue, search projects by username is here https://github.com/hotosm/tasking-manager/tree/feature/1616-project-search-filters. Missing countries implementation to complete this issue

[2019-07-22 16:23] ramyaragupathy commented on #1612
A few approaches based on the research last week:

🍿 **1. Recommend popular projects:** We've a [PR](https://github.com/hotosm/tasking-manager/pull/1741) that returns popular projects within a current TM instance based on the time spent by mappers. This is the least personal approach, which would recommend the same set of projects for all mappers within an instance at a given point of time.

🍡 **2

[2019-07-22 16:23] ramyaragupathy commented on #1612
Inputs from @willemarcel -

@ramyaragupathy fantastic work!! Do you think there are great time differences to implementation between the three methods? If yes, I think we could do the simplest now and improve it after the 4.0 release.

Inputs from @xamanu -

Great input, @ramyaragupathy! I like the three step approach. And I guess 1 and 2 seems to be the immediate actions we can implement for the

[2019-07-22 16:26] xamanu commented on #1612
And just wanted to highlight the initial ideas for this:

[2019-07-22 16:45] xamanu commented on #1776
Thanks for reporting @augustindo. We are going to work on a fix for that.

[2019-07-22 16:50] xamanu commented on #1775
This seems to have incredibly complex project boundaries. Maybe this is why it isn't loading. I can see it on my side, but I have to wait longer until it appears. @saliousoft can you let us know about other projects (and their id number) which you aren't able to open?

Many thanks

[2019-07-22 17:22] willemarcel commented on #1521
I created PR with @fitoria work + improvements: https://github.com/hotosm/tasking-manager/pull/1769

[2019-07-22 18:51] willemarcel commented on #1628
@ramyaragupathy @JorgeMartinezG In the new frontend, the projects cards needs to show the `lastUpdated` date, but it's not on the `/project/search` endpoint yet. Could you add it?

[2019-07-22 23:05] JorgeMartinezG opened #1781 "Add Interests Feature (backend)"
Create model and API views to make users select causes of interests.

**Actions needed**
- Create database model.
- Create services to create, delete and update interests.
- Enable users to select multiple types of interests.
- associate projects with the Interests model.
- Compute user contributions rate grouped by project interests

[2019-07-23 05:50] thadk commented on #1628
Thanks @JorgeMartinezG! Here are the fields I hope to connect to for this issue and https://github.com/hotosm/tasking-manager/issues/1639 . Any further help or pointers very welcome :

- [ ] Can you confirm that "lastUpdated" is the same as "last contribution by users"?
- [ ] When the number of contributions is large, the design recommends using "number of contributions" instead of "last contribut

[2019-07-23 09:31] ramyaragupathy commented on #1780
Per chat listing a few items for me to work on:

- [ ] Improve performance:  Profiling space & time complexity
- [ ] Verify Data units (metrics -area, count): Make sure the data from different endpoints return numbers in the right units. Example, [area measurement](https://github.com/hotosm/tasking-manager/issues/1766 ) is expected in sq.kms, but the endpoint returns data in a different unit
- [ ]

[2019-07-23 11:45] willemarcel commented on #1628
@thadk yes for the first topic, I confirmed it.
- About the country information, there is a PR https://github.com/hotosm/tasking-manager/pull/1751
- About the campaign/mapping type, I think there is already a PR https://github.com/hotosm/tasking-manager/pull/1762
- Yes, the dueDate should be in the `search` endpoint.

[2019-07-23 12:12] JorgeMartinezG commented on #1628
@thadk To include more information:

  **When the number of contributions is large, the design recommends using "number of contributions" instead of "last contribution by users" date/time. Is this available somewhere already? I only see "active mappers" in the API – do we think this is okay?**

There is also a PR which checks the number of contributions per day of a project https://github.com/hoto

[2019-07-23 14:23] dakotabenjamin opened #1783 "Remove HotJar"
In order to remove HotJar now without needing to redeploy:

- [x] Remove the HotJar code from the `tracking-v2.js` script on the HOTOSM CDN
- [ ] update the TM code to the `v3` script as a feature PR targeting the 4.0 release.

[2019-07-23 19:59] thadk commented on #1628
On the home page of the new design there are about 5-10 featured projects. Maybe @xamanu can help us understand how this will be managed.

[2019-07-24 03:06] eternaltyro commented on #1779
Flask-Oauthlib is no longer maintained. https://github.com/lepture/flask-oauthlib/issues/391

[2019-07-24 08:36] xamanu commented on #1628
Indeed featured project is a new functionality and we need an issue for this. I think this is just the possibility for admins (not PMs) to highlight certain projects as "featured". This could be either done inside the project editing page, but only visible for admins (not PMs) or on a separate settings page to add and remove projects as featured. @russdeffner most likely can give some more thought

[2019-07-24 12:57] JorgeMartinezG commented on #1628
@xamanu Do you think we can make use the **Favorites** db model? I mean, featured projects could be projects favorited by an admin.

[2019-07-24 19:36] xamanu commented on #1628
I see them quite different. Favorited is a personal thing. And featured projects direct the list for all. Admins can also be mappers that fav their beloved projects. And we would run into new issues on how to maintain the list if certain admins fav different projects and other want to unfav them.

A simple checkbox on a project, only visible to admins seems to me the easiest and still comprehensib

[2019-07-25 12:57] ramyaragupathy opened #1789 "Duplicate entries for priority_areas"
From chat, it was flagged today that the project save threw a weird error for specific projects.
![image](https://user-images.githubusercontent.com/12103383/61873336-5b1e8400-af03-11e9-8ef3-2d7e1f20044c.png)

From further investigation,
- There are duplicate entries in project priority areas. A total of [808 priority areas across 469 projects](https://docs.google.com/spreadsheets/d/1aYVNWLEZJDMAce

[2019-07-25 13:38] xamanu commented on #1789
@ramyaragupathy, are the duplicated entries only caused by old projects (coming from before the migration from TM2 to TM3)? Or also on most recent ones?

[2019-07-25 16:07] zlavergne opened #1791 "Revisit email enforcement UX"
I've gotten feedback about the new enforcement being confusing and difficult. What seems to be the most common case is:
* users click log in
* authorize with OSM
* come back to the TM and go to  a project
* try to start mapping only to be told they can't without a clear direction for how to fix it

Since it sounds like the email requirement needs to stay, we need to improve the UX of how to enforc

[2019-07-25 21:09] james2432 opened #1792 "Modify headers to allow cross-origin requests"
With https://www.mapwith.ai/ (mapping interface) from https://tasks-assisted.hotosm.org/

Cross-Origin requests are blocked in firefox as the same-origin requires everything to be hosted on mapwith.ai domain, but is making requests(and being denied) like so:

    Cross-Origin Request Blocked: The Same Origin Policy disallows reading the remote resource at https://www.facebook.com/maps/ml_roads?con

[2019-07-25 21:17] #1792 closed

[2019-07-26 01:54] eternaltyro commented on #912
Five javascript resources that are hosted on `cdn.jsdelivr.net` are now available in our CDN.

https://cdn.hotosm.org/js/osmtogeojson.js
https://cdn.hotosm.org/js/mentio.min.js
https://cdn.hotosm.org/js/geo-viewport.js
https://cdn.hotosm.org/js/ol3-layerswitcher.js
https://cdn.hotosm.org/js/ol3-geocoder.js

I'll use these to test the client and add more static resources when I find them.

[2019-07-26 06:39] ramyaragupathy commented on #1789
I see this issue for about 100+ projects from TM3 as well. So it applicable across versions of TM @xamanu

[2019-07-26 17:10] JorgeMartinezG commented on #1779
I have updated the branch. However when updating some modules got the following warnings:

**SQLAlchemy==1.3.6**
 SAWarning: The GenericFunction 'st_geomfromgeojson' is already registered and is going to

The `SQLALCHEMY_POOL_SIZE` config option is deprecated and will be removed in v3.0.  Use `SQLALCHEMY_ENGINE_OPTIONS['pool_size']` instead.

The `SQLALCHEMY_MAX_OVERFLOW` config option is deprecat

[2019-07-29 09:11] xamanu opened #1797 "Allow trailing backslashes in routes"
Taking this comment from @eternaltyro in https://github.com/hotosm/tasking-manager/pull/1742#issuecomment-515911059

[2019-07-29 09:31] #1749 closed

[2019-07-29 10:04] #1622 closed

[2019-07-29 10:32] xamanu commented on #1776
This has been addressed by @zlavergne - many thanks - and will be part of the next hotfix release.

[2019-07-29 13:06] xamanu commented on #912
The downside of just using HOT's CDN is that all instances will use these resources. Ideally a TM should be able to live on it's own and without connections to anywhere (thinking about a use case inside of POSM, ...).

Probably we want to make this configurable for big instances to use any CDN they want to chose. And fallback to a local serving of the libraries if not configured otherwise.

In any

[2019-07-29 13:14] #1776 closed

[2019-07-29 14:23] willemarcel commented on #1645
Finished with https://github.com/hotosm/tasking-manager/pull/1764

[2019-07-29 15:36] #1510 closed

[2019-07-29 15:38] dakotabenjamin commented on #1701
Fixed in https://github.com/hotosm/tasking-manager/pull/1785

[2019-07-30 04:20] eternaltyro commented on #912
@xamanu the original issue of #886 remains, no?

[2019-07-30 09:22] willemarcel opened #1801 "Create API endpoint to register new users by email"
In the new frontend we need to provide the possibility to the user to register an account on Tasking Manager before creating an account on OSM.

The information we want to register about the user is the email and name, so let's add an endpoint to receive that information.

I don't know how to deal with the user_id as we use the OSM uid on the User model. If it's complicated to deal with it, we cou

[2019-07-30 14:43] xamanu commented on #1493
Added a PR #1802 checking with `flake8`.

[2019-07-30 15:04] xamanu opened #1805 "Switch to new frontend"
In order to focus on the development of the redesign and transition to the new frontend #1757 the code base should build to new frontend, the ci run it and the documentation mention it.

[2019-07-30 17:59] dkocich opened #1806 "Zone with a weird shape shows in the map"
I used "random validation" button to select a zone to validate (https://tasks.hotosm.org/project/6300?task=493#bottom  appeared). It shows to me as a line (not square) in map copying borders of other area. Is it a datagrid issue or frontend problem?

![image](https://user-images.githubusercontent.com/6165660/62153134-39a70900-b304-11e9-82cf-5a212372be41.png)

[2019-07-31 11:06] ramyaragupathy commented on #1806
Maybe this is related to area trim function while creating a project

[2019-07-31 12:12] #1604 closed

[2019-07-31 13:14] #1493 closed

[2019-07-31 14:07] russdeffner opened #1809 "Sorting Contributors by Level Error"
Hi all, it's very handy to be able to sort the contributors by level on the validation tab. At some point recently, this broke a little bit. It used to sort Beginner, Intermediate, Advanced then click again and it would sort Advanced, Intermediate, Beginner. Now it seems to 'group' rather than sort as I click sort by level and get Advanced, Beginner, Intermediate; click again and get Intermediate,

[2019-07-31 15:11] willemarcel opened #1810 "Add totalContributors field to project search endpoint"
On the new frontend we need the number of users that mapped and validated tasks on a project.

I suggest to drop the `activeMappers` field, as we don't use that information in any place of the frontend.

[2019-07-31 22:43] willemarcel commented on #1810
Solved. Thanks, @JorgeMartinezG !

[2019-07-31 22:43] #1810 closed

[2019-07-31 22:45] willemarcel commented on #1779
https://pyup.io/ is a good tool to keep dependencies updated

[2019-08-01 00:04] russdeffner commented on #1809
@ramyaragupathy - I think this screen capture will help clarify where this is I am talking about
![LevelSort](https://user-images.githubusercontent.com/6763645/62256069-299f3000-b3bd-11e9-9f19-bba4f61f0874.PNG)

If you click the word `Level` it will sort, but as you can see in the example it is sorting Intermediate to the top. I am guessing that at some point it changed from sorting by experience

[2019-08-01 06:57] thadk commented on #1628
@JorgeMartinezG Building on @xamanu's last comment, do you think that a new field would be possible and reasonable to add to the backend? It would be shown as a checkbox on the project admin and only shown to site administrators.

We would just need it to be query-able in the search API endpoint.

[2019-08-01 07:03] NeolithEra opened #1813 "Installation fails due to conflicting urllib3 version"
Hi, users are unable to run **_tasking-manager_** due to dependency conflict with _**urllib3**_ package. As shown in the following full dependency graph of **_tasking-manager_**, **_tasking-manager_** requires _**urllib3==1.24.2**_，while **_transifex-client==0.13.6_** requires _**urllib3<1.24**_.

According to pip’s “first found wins” installation strategy, _**urllib3==1.24.2**_ is the actually in

[2019-08-01 07:04] NeolithEra commented on #1813
### Solution

1.	Fix your direct dependency to be urllib3==1.23.
I have checked this revision will not affect your downstream projects now.
2.	Ask your upstream project **_transifex-client_** to loose the version range of urllib3 to be urllib3>=1.21.1,<1.26.
Which solution do you prefer, 1 or 2?

@hunt3ri  Please let me know your choice. I can submit a PR to solve this issue.

[2019-08-01 08:57] xamanu commented on #1813
Thanks @NeolithEra! I'd say let's go with (1) for now. A PR is highly appreciated.
There is already some communication ([issue](https://github.com/camptocamp/c2cgeoportal/pull/4982)) in the transifex-client project to update their dependency, once this is done, we can update both the transifex-client and the urllib3.

[2019-08-01 11:29] thadk commented on #1628
@JorgeMartinezG I presume that old projects will not get any Interest entries, so just leave it off if it is empty?

Also I noticed the new `campaign`(s) field is no longer `campaign_tags`– can that contain multiple campaigns sometimes?

[2019-08-01 14:25] JorgeMartinezG commented on #1612
Based on the brainstorm meeting with @xamanu and @ramyaragupathy , we established the following selection variables
- Distance
- Organizations
- Campaigns
- Interests
- Popular projects.
- Favorites.
- Featured projects

And created the following logic:
1. For a new user (who hasn’t contributed to any project with a campaign in this TM):

Suggest most popular projects for the mappers experience le

[2019-08-02 17:23] willemarcel opened #1816 "Make login link redirect to current location"
After the login, the user is being redirected always to the homepage. It should redirect the user to the location they were when clicked on the login button.

[2019-08-02 19:15] willemarcel commented on #1370
@fitoria are you currently working on this? When possible, please add the fields `name`, `city` and `country`. I prefer just a `name` field, instead first and last names. Some opinions, @xamanu ?

[2019-08-02 20:53] JorgeMartinezG commented on #1813
To update this issue, @NeolithEra is right. the **urllib3** version currently within the requirements.txt file creates a conflict with current transifex module which needs an urllib3 version lower than 1.24. Right now I have the updated dependencies in this branch: https://github.com/hotosm/tasking-manager/tree/feature/1779-update-deps However some modules are not updated in order of not breaking

[2019-08-05 21:01] fitoria commented on #1370
Fields updated on PR

[2019-08-06 12:12] #1370 closed

[2019-08-06 14:22] xamanu commented on #1780
We have a [working document of the envisioned API v2](https://docs.google.com/spreadsheets/d/1aiR07_Irdf_cLaSEf3iO84iVkAdYaSxDR9J2FeWvGBA/edit#gid=0), please check and give feedback here or directly commenting in the doc. Thanks.

[2019-08-07 08:57] #1805 closed

[2019-08-08 09:36] xamanu commented on #1600
Using a separate service makes it difficult for others to install their Tasking Manager, as they would not get good homepage statistics? How should we deal with that? Creating a new follow up issue?

[2019-08-08 12:27] JorgeMartinezG commented on #1801
@willemarcel I'm agree with using a separate model. Also, we would need to check if the username is already registered in OSM. A possible solution is to include a checker within the new endpoint that validates from osm api

[2019-08-08 13:09] JorgeMartinezG commented on #1801
To update my previous comment, looks like OSM cannot expose users email addresses through the API due to privacy policies https://wiki.osmfoundation.org/wiki/Privacy_Policy#Email_Addresses. I still consider important to use a separate model.

[2019-08-08 16:52] JorgeMartinezG commented on #1801
@willemarcel do you think that we would need the whole CRUD? Or just insert rows in the table?

[2019-08-09 02:33] willemarcel commented on #1801
@JorgeMartinezG I think the API needs only a POST method to insert the row in the table. Once the user creates his/her OSM account and the user model is effectively created, the backend should update the entry on that other database with the information that an account is already associated with this email. Do you think it's ok?

[2019-08-09 15:05] JorgeMartinezG commented on #1801
Yes, I agree. I think the following steps should be:
1. Users registers in TM without OSM account. (Table insertion in the not_osm_users table)
2. User registers in OSM.
3. User goes to TM and signs in. There will be an insertion in _users_ table. Then, we would check if that e-mail is in _not_osm_users_ table. If yes, then, we delete the row..

[2019-08-12 04:19] thadk commented on #1639
@willemarcel @xamanu Just noticed that `/api/v1/project/search` API does not yet support "Order By" field.

I also wondered if it was intentional to leave the Organisations field off of the "more Filters" page design for filtering projects? Was it intended to be a dropdown from the Organisations button at the top– a bit ambiguous? https://projects.invisionapp.com/share/WTRWOQ6Y6RQ#/screens/3626868

[2019-08-12 15:46] ramyaragupathy commented on #1766
Implemented through #1808

[2019-08-12 15:46] #1766 closed

[2019-08-12 15:49] dakotabenjamin commented on #1589
This needs to be reimplemented in the redesign

[2019-08-12 15:50] #1783 closed

[2019-08-12 15:52] #1701 closed

[2019-08-12 22:44] inge4neuromedia opened #1824 "Administrator Account"
I have an instance of tasking manager on a server. But when i logged in the application i only have standard user role but i don't administrator capabilities.

How i get the admin account for create project or make other things?

[2019-08-12 22:53] JorgeMartinezG commented on #1824
Hi @inge4neuromedia. One possible option is to execute a database query to update your user role as admin. Like:

[code]

Where 1 corresponds to admin role.

[2019-08-13 09:40] xamanu commented on #1791
Gathering some more feedback:

Trying to answer:
1) what kind of notifications
• Feedback from tasks and projects a user has been working on (comments people actually expect to reach the other person)
• Eventually suggestions for recommended projects (users will be able to opt-out)
2) what else may it be used for?
• Nothing. We are also producing a statement around that (GDPR compliant)
3) what if

[2019-08-13 10:00] willemarcel opened #1826 "Change redirect_to param on backend api"
Allow the `redirect_to` parameter to receive not only the end of the url but the complete url (for example: http://localhost:3000/login/), that way we would avoid problems when people are accessing from localhost or even allow us to authenticate in a remote server (staging, for example).

[2019-08-13 11:07] xamanu commented on #1791
Some proposal on how to improve this:

**1. Onboarding issue**
as described by @zlavergne in the issue post: For the redesign we are actually changing the behaviour to collect the email address already before the redirect to OSM. This will allow us to send the user an instruction mail, so they also find their way back to the Tasking Manager, which can be hard to remember, especially for first time

[2019-08-13 12:58] xamanu commented on #1791
Created a hotfix release containing changes for a more explanatory message and reference to the privacy policy of HOT: https://github.com/hotosm/tasking-manager/pull/1827
Further unverified email addresses are now enough. This allows people to get started without the hassle to wait for a confirmation mail, check their in-box, etc.

[2019-08-13 16:33] jarmokivekas commented on #583
I know this is starting to be an old issue, but similar to what @bgirardot pointed out, it would be nice to be able to see all TM projects that belong to a specific campaign in a single map. I've been using uMap for this, but keeping the uMap up-to-date with the projects is a little tedious (and prone to error)

 http://u.osmfr.org/m/354400/
![image](https://user-images.githubusercontent.com/30744

[2019-08-13 23:57] willemarcel commented on #1627
Solved with https://github.com/hotosm/tasking-manager/pull/1829

[2019-08-13 23:57] #1627 closed

[2019-08-14 00:24] willemarcel commented on #1645
Defining what should happen when the user do the login on TM, in evaluation order:

1. If the user profile completion is under 50%, redirect it to a Welcome Page where they can fill it.
2. If the user has not mapped a task yet, show the page with a "Map your first task" banner and recommended projects section
3. If the user has already mapped a task, I see two possibilities: show the my projects p

[2019-08-14 08:50] ramyaragupathy commented on #1645
What parameters do you consider for completeness ? - email, fb id, twitter id, interest areas, anything else?

Sounds good

My projects page with recommendations for further mapping

[2019-08-14 08:52] willemarcel commented on #1645
@ramyaragupathy

[2019-08-14 10:20] xamanu commented on #1645
Sounds like a good plan. In addition it would be nice to check here if email has not been set and encourage users to do so.

If a user has already a mapped task, i think showing my projects and project recommendations would be good.

[2019-08-14 15:00] inge4neuromedia commented on #1824
@JorgeMartinezG  thank so much!.

[2019-08-14 15:00] #1824 closed

[2019-08-14 17:08] inge4neuromedia opened #1831 "API Token"
Have an instance of TM3 in another server . I tried to create a project through api rest but the backend returns 401 http status. this means that i dont have authorization for make that.

How do i get properly the token in order to use  API' protected resources?

[2019-08-14 18:25] thadk commented on #1639
I noticed some organisation do not have any projects. Maybe we could distinguish these in the tags/organisations and hide these.
e.g. https://tasks-stage.hotosm.org/api/v1/project/search?mapperLevel=ALL&organisationTag=Abt+Associates
`{"Error": "No projects found"}`

[2019-08-14 18:27] thadk commented on #1628
We merged the first version of this with https://github.com/hotosm/tasking-manager/pull/1819

Still waiting for an API for the featured projects.

[2019-08-14 18:58] russdeffner commented on #1645
I agree, my projects - this will quicken the time from log-in to map that many experienced mappers want.

[2019-08-15 01:36] thadk commented on #1639
After today's PR, these features are known to be still needed:
- [ ] Autocomplete and throttle on search box
- [ ] Remove "generic project" button, replace with "organization"
- [ ] Trial organisation and campaign main screen button as autocomplete <select>
- [ ] Fix `...` button on the paginator to do something useful.
- [ ] Mobile responsive – all buttons should move to more filters screen, "mor

[2019-08-15 01:43] thadk commented on #577
Hi @mikelmaron – if you have any maintained humanitarian map style suggestions for us to use or start from, welcome! I don't know if we even have a team Mapbox account yet. Excited to be working on this.

[2019-08-15 01:51] thadk commented on #1639
The basic page uses 400kb compressed and it seems like the server really has to work for it.

If I was to make another API suggestion besides `order-by`, I'd say we could add a parameter to `/api/v1/project/search` to ask for `mapData=[no-map-data, GeoJSON, TopoJSON]` and use https://postgis.net/docs/AsTopoJSON.html

[2019-08-15 01:58] thadk commented on #577
I think we got it sorted actually.

[2019-08-16 17:37] willemarcel commented on #1831
@inge4neuromedia are you able to access the frontend of that instance? After the login, inspect some of the network requests and search for the `Authorization` header.

[2019-08-16 17:50] willemarcel opened #1834 "Add new fields to the User model"
* `default_editor`: string, default 'id'
* `mentions_notifications`: boolean, default True
* `comments_notifications`: boolean, default False
* `projects_notifications`: boolean, default True
* `expert_mode`: boolean, default False

All those fields should be editable with the `UserUpdateAPI` endpoint.

[2019-08-16 23:05] inge4neuromedia commented on #1831
I tried it. it worked. thank so much.

[2019-08-16 23:05] #1831 closed

[2019-08-20 13:47] JorgeMartinezG opened #1836 "Featured projects"
Enable a project to be featured by Project Managers. The following tasks are:
- Update database model to set a project as featured.
- Create API endpoints to list, set and unset projects as featured. Returning response must have the same structure as project search Endpoint
- Create services.
- Create tests for these services.

[2019-08-20 15:46] ramyaragupathy commented on #1554
From `/user/update-details`
[code]

[2019-08-20 17:19] thadk commented on #1836
Thanks @JorgeMartinezG – ideally the list of projects set will have the same results as a `/search` query so the project cards https://github.com/hotosm/tasking-manager/issues/1628 have all the details.

[2019-08-20 18:46] xivk commented on #1791
I'm not sure how to go about reporting this so I'm posting it here.

This email requirement thing is not going very well in the London missing maps group. The main issues are with the signup process, and the requirements to give your email twice for a new user signing up.

Is this an absolute requirement to give up you email? Wouldn't it be possible to just encourage users to give their email or h

[2019-08-21 14:52] rachblevine commented on #1791
Hey Team,
A couple other suggestions after having this really derail people for the last bunch of events we've organized. 1) Could you possible make it open in a new tab / do a pop up window? People are being taken away from their exact task and it's adding to the confusion. 2) I don't think confirmation is necessary. Either you trust them or you don't, but making them wait for another confirmatio

[2019-08-22 09:51] adisadit opened #1838 "Creator name change randomly when creating new project"
Hi all,

Currently I have issue with my two newly created task. Yesterday I created this task:

https://tasks.hotosm.org/project/6497

When I want to edit the task, the creator changed from me to other user.

Today I created the task again:

https://tasks.hotosm.org/project/6498

But again the creator of this task is not me again.

Could you help me to solve this problem?

Thank you

[2019-08-22 09:52] adisadit commented on #1838
I can edit the project, for the first time. but after I closed the tab, I cannot edit again the project because I'm not the owner of the project:
![image](https://user-images.githubusercontent.com/2520159/63505155-3404a380-c4fd-11e9-9d93-bf5bf1bb578d.png)

[2019-08-22 10:08] ramyaragupathy commented on #1838
Transferred to your username @adisadit. Related issue tracker here https://github.com/hotosm/tasking-manager/issues/1715

[2019-08-23 23:10] willemarcel commented on #1615
solved with https://github.com/hotosm/tasking-manager/pull/1768

[2019-08-23 23:10] #1615 closed

[2019-08-23 23:13] #1834 closed

[2019-08-23 23:17] willemarcel commented on #1645
I added the routing logic after login. It's missing only to add the interests selection component to finish this issue.

[2019-08-23 23:30] willemarcel commented on #1816
Solved with https://github.com/hotosm/tasking-manager/pull/1832

[2019-08-23 23:30] #1816 closed

[2019-08-28 09:05] willemarcel opened #1843 "Create mapping workflow frontend page"
Create new frontend view that will allow users to select a task to map.

[2019-08-28 09:26] xamanu commented on #1791
Thanks @rachblevine for the feedback!

1) Could you possible make it open in a new tab / do a pop up window? People are being taken away from their exact task and it's adding to the confusion.

Sure, we could introduce this as a short fix. Just wondering whether this might be confusing to others, as after the tab with the email has been closed, people would have to reload the first page.

2) I don

[2019-08-28 09:30] xamanu commented on #1791
Hi @xivk,

In the tech team and together with the user experience analysts we consider it essential for the TM to have a way to talk to mappers, give them feedback on their mapping and allowing the validator or project manager to ask questions about work done. We see this as an important ingredient for new mappers to learn and also improve on their work and data they produce - a core functionality

[2019-08-28 12:37] #1779 closed

[2019-08-28 14:31] willemarcel opened #1844 "Allow PATCH request to update user details"
endpoint: `/api/v1/user/update-details`

[2019-08-28 18:41] xamanu commented on #1791
1. Yes, this is why I think the current compromise seems to be a good solution.
2. Just checked again. It is possible to map without having verified the email address. Is this just me? Can please check anybody else?
3. We are working on it to have a testing version ready for end of September. And then it may take some weeks to finish it up, write documentation, translate them and test it thoroughl

[2019-08-28 19:48] wireguy opened #1846 "Add time details to Activity and Stats page"
On the Activity and Stats page, the When column shows time in a relative way.
example: 5 minutes ago, an hour ago,  12 days ago, etc.

This is good, but after a few minutes there isn't a way to tell how long a user spent doing the task.

Provide a way to see how long was spent doing an activity.

Possible ideas:
- show timestamp (probably in UTC) for each activity (lock, unlock, split, marked read

[2019-08-29 09:39] ramyaragupathy commented on #1844
Changes through https://github.com/hotosm/tasking-manager/pull/1822

[2019-08-29 14:40] xamanu commented on #1598
I think this is not needed anymore. Correct, @willemarcel? In this case please close.

[2019-08-29 14:44] willemarcel commented on #1797
Issue solved, thanks, @ramyaragupathy !

[2019-08-29 14:44] #1797 closed

[2019-08-29 15:09] #1598 closed

[2019-08-30 20:17] thadk opened #1849 "Project Search API is slow for large resultsets"
When using the new front-end, the `project/search` API is fairly slow on the staging server, taking up to 15 seconds to return the default results (~2500 projects) for no specific filters.  If multiple people are using the API it seems to get even slower and can time out and show bad gateway. If you filter to a smaller set, such as the Intermediate (~200)  or Advanced (~30 projects), the API retur

[2019-09-02 04:44] thadk opened #1850 "Project Search Full-Text Partial Word Auto-complete"
The new TM 4.0 design calls for an auto-complete project search field on the "Explore Projects" page. After research, this is commonly implemented using an Elastic Search instance which is not part of TM. A few people have tried to implement it using only PostgreSQL but there are manual steps to increase its usefulness.

<img width="830" alt="image" src="https://user-images.githubusercontent.com/2