[2018-07-03 14:50] ethan-nelson commented on #1045
Is there anyway to check those calls compared to SES email sends? It could be hanging on https://github.com/hotosm/tasking-manager/blob/56d1d13056bbea342132cf6e78b12f01c73d5dd3/server/services/validator_service.py#L103 if the email process is not an instant response.

[2018-07-04 11:42] bgirardot opened #1131 "French language option and fr language project causes project to be listed twice"
I am not sure what is happening here, but I added a set of French title, descriptions and instructions to a project and then switched my language to French to see how things looked.

Somehow that seems to have caused that project to be listed twice in the search results for the campaign, please see below.

![2018-07-04_13h34_48](https://user-images.githubusercontent.com/265831/42275242-f4f8454c-7f

[2018-07-06 15:51] rhinton17 opened #1132 "Authorization failed TeachOSM TM"
When trying to login from the TeachOSM TM site I get an 'Authorization failed'.  At least one other user has reported the same issue.

[2018-07-06 15:53] geomantic commented on #1132
Confirmed. Cannot login through TeachOSM TM3. @smit1678 any clues?

[2018-07-06 15:59] geomantic commented on #1132
Quick update: I'm successfully logged into OSM, but it seems the TM doesn't recognize that I'm logged in.

[2018-07-06 16:02] bgirardot commented on #1132
Normally these sorts of issues are often related to the export of the TM_ env variables, but having just tried it myself, I do not see the normal stack trace I am used to seeing.

It is possible that stack trace dump disabled on a production server so it could still be the TM_ env variables related.

![2018-07-06_18h00_25](https://user-images.githubusercontent.com/265831/42388709-ac96527c-8146-11e

[2018-07-06 16:03] dakotabenjamin commented on #1132
I've made a PR to fix this

[2018-07-06 16:10] dakotabenjamin commented on #1132
@geomantic @rhinton17 if you're on teachosm TM3 and doing tasks you will be kicked out when we merge the changes. Do you want me to wait to merge?

[2018-07-06 16:19] rhinton17 commented on #1132
I'm out.  Green light from me (rhinton17)

On Fri, Jul 6, 2018 at 12:10 PM, Dakota Benjamin <notifications@github.com>
wrote:

--
Richard Hinton
Spatial Analysis Laboratory Manager | Adjunct Professor
The George Washington University | Department of Geography
801 22nd St, NW, Washington, DC 20052
rhinton@gwu.edu | 202.994.5118

[2018-07-06 16:40] dakotabenjamin commented on #1132
@rhinton17 @geomantic can you test now?

[2018-07-06 17:33] rhinton17 commented on #1132
Works perfectly for me, rhinton17.

Thank you.

On Fri, Jul 6, 2018 at 12:40 PM, Dakota Benjamin <notifications@github.com>
wrote:

--
Richard Hinton
Spatial Analysis Laboratory Manager | Adjunct Professor
The George Washington University | Department of Geography
801 22nd St, NW, Washington, DC 20052
rhinton@gwu.edu | 202.994.5118

[2018-07-06 17:38] #1132 closed

[2018-07-08 10:35] KMR-zoar commented on #1131
In my environment(Japanese) too, same issue is available.

![jp](https://user-images.githubusercontent.com/6219187/42418939-019175ae-82e6-11e8-9613-1f73b6c2cea2.PNG)

It is displayed correctly in English.

![en](https://user-images.githubusercontent.com/6219187/42418940-08a86352-82e6-11e8-9f19-8ed5f310f86c.PNG)

I am running TM3 on my own VPS.
I have migrated TM3's database from TM2.

[2018-07-09 23:29] bgirardot commented on #635
@JesseWeinstein This has been completed and is in the production code now deployed on the HOT Tasking Manager. thank you for your offer! There is more that needs doing in this repo if you are still interested. please email me blake.girardot@hotosm.org or join our slack http://slack.hotosm.org/

[2018-07-09 23:29] #635 closed

[2018-07-10 13:22] Andygol commented on #1126
😍 waiting for it ASAP

[2018-07-10 13:32] bgirardot commented on #1126
Ethan actually did the first step of this that I will review now. Yes, it needs doing. @Andygol thank you for the reminder.

[2018-07-14 03:45] ethan-nelson commented on #1127
This has been added in #1130...will be pushed to master soon (TM).

[2018-07-14 03:45] #1127 closed

[2018-07-14 15:35] ramyaragupathy commented on #1127
@ethan-nelson @sunidhiraheja How long would this take to reflect in the API testing interface at swagger? I'm checking this https://tasks.hotosm.org/api-docs/swagger-ui/index.html?url=https://tasks.hotosm.org/api/docs#!/search/get_api_v1_project_search

[2018-07-14 15:41] bgirardot commented on #1127
hi @ramyaragupathy Try:

https://tasks-stage.hotosm.org/api-docs/swagger-ui/index.html?url=https://tasks-stage.hotosm.org/api/docs#!/search/get_api_v1_project_search

that has the changes now. It will be next week sometime before it makes it to the production server.

[2018-07-14 16:17] ramyaragupathy commented on #1127
Thanks @bgirardot 🙏 , I'm able to retrieve the archived projects through staging 🎉

[2018-07-15 03:58] #1041 closed

[2018-07-15 04:04] ethan-nelson commented on #1041
@giblet22 we've added this feature now thanks to @sunidhiraheja ... feel free to try it out on the staging instance at https://tasks-stage.hotosm.org (see example at https://tasks-stage.hotosm.org/project/3403/dashboard). This addition will be rolled out to the main instance in our next update.

[2018-07-15 04:16] ethan-nelson commented on #868
#1123 should have rounded out most of these issues. Please reopen if you continue to see this problem.

[2018-07-15 04:16] #868 closed

[2018-07-15 04:21] ethan-nelson commented on #829
This should be fixed now based on #913 and #1123. Please reopen if you continue to see issues.

[2018-07-15 04:22] ethan-nelson commented on #829
Nevermind, I see validation is stuck at 99%. This could be a corner case of a bad imagery task that was validated, then invalidated. It will require some more DB digging.

[2018-07-15 14:05] #859 closed

[2018-07-15 14:13] #1131 closed

[2018-07-15 22:46] tawirth opened #1139 "Move the "Detailed Instructions" section to the top of the instructions page"
I often find that new mappers do not read down far enough to the "project specific mapping notes" which contain critical information such as aligning imagery to existing mapping.  I believe by making the specific instructions more prominent and simple we could improve initial data quality and reduce the workload on validators.

Would it be possible to move the "Detailed Instructions" section to th

[2018-07-18 18:26] russdeffner opened #1143 "Messaging by Role"
A new feature/modified feature request to enable the ability to message all users with a specific role. This could be useful at a project, campaign or even TM instance scale.

Example/Use Cases
- Administrators messaging Project Managers about new features, tips to keep from exceeding TM capacity/capabilities, etc.
- Project Managers messaging all Validators on their project(s) with tips/thanks/et

[2018-07-20 17:44] nbolten opened #1145 "Feature request / idea: inter-project task dependencies"
## Intro

Hello, first off I want to thank the HOTOSM team for making such a great tool, and the rest of your valuable work.

My group (OpenSidewalks) has used a self-hosted version of the tasking manager (version 2) to stage sidewalk and other pedestrian mapping efforts, either via a manual import or de novo mapping strategy.

## The challenge

In our experience, many of our tasks are fairly comp

[2018-07-21 14:58] althio commented on #1145
Great idea.
I am not sure it was ever discussed so precisely, but it is certainly also applicable to other workflows. There is added complexity for sure, but I think projects managers of "regular basemap" were sometimes trying such approaches, with manually defining separate projects for road network, residential areas, then buildings and more and more detailed mapping.

[2018-07-23 03:15] ethan-nelson commented on #1145
Hi @nbolten thanks for your suggestion!

Just trying to better understand this and wrap my head around it...is the main idea here a feature where grids can remain the same across multiple projects such that 1) the task grids cover the same area, 2) their geometries are synced (so a split in one project yields a split in the others), and 3) that when a task is locked on one project, it is locked on

[2018-07-23 22:32] bgirardot opened #1146 "Modal dialog to collect email address on first login"
When users first log in to the tasking manager they have a message that suggests they provide their email address.

It would be more effective if on first login, we put up a modal dialog that very nicely, explained why it is so important they put in their email address, which is optional, but very important to our mapping process we can communicate with them, and provide them a field to fill it in

[2018-07-24 12:32] sunidhiraheja opened #1147 "Adding more stats"
This issue is meant to track the development of the `/stats` endpoint.
Here's a list of all features (existing and planned):

Homepage
- [x] Mappers online
- [x] Tasks mapped
- [x] Tasks validated
- [x] Total mappers
- [x] Total number of users who validate
- [ ] Total area mapped and validated
- [ ] Average task completion time
- [x] Number of projects by organization
- [ ] Enable querying by dat

[2018-07-24 13:40] dalekunce commented on #1147
Love the list. For users I'd add total _tasks_ mapped and validated. I would also enable date queries for almost all of these that you have listed.

[2018-07-24 13:53] russdeffner commented on #1147
This is great @sunidhiraheja - thank you!
Regarding User stats:
* What "OSM details" are you thinking? Total changesets, age of account, etc?
* For 'contribution to projects' I would also include total number of projects contributed to (i.e. mapped and/or validated on X projects).
* And last, would include projects created; maybe only displayed if given PM or Admin role.

[2018-07-24 14:37] giblet22 commented on #1147
In addition to @dalekunce user stats, the number of times a user has been invalidated would be useful for mapper engagement.

Another would be amount of comments a user has made. This would be lower priority I think because I'm not sure if the payoff is worth it. But shows if users are engaging with others.

[2018-07-24 15:05] bgirardot commented on #1147
one additional thing that is only slightly related, but I will mention it in case it fits into the development somehow:

list of the individual tasks someone has marked done, and more importantly, marked validated :)

We will often find a new person doing validation, not very well, then we have no way to find all the others ones they might have validated. There is an issue for this already, but se

[2018-07-27 15:36] bgirardot commented on #998
This is increasing in priority because more and more new mappers are being encouraged to do validation and we are finding very low quality validation as a result. But then we have no way to locate other tasks the user has validated to review them or un-validate them.

[2018-07-28 17:48] #995 closed

[2018-07-28 17:54] #1002 closed

[2018-07-30 07:17] ethan-nelson opened #1149 "Add branding to API site"
Right now the API has default Swagger branding (https://tasks.hotosm.org/api-docs/swagger-ui/index.html?url=https://tasks.hotosm.org/api/docs). We can rebrand this to match the TM.

[2018-07-30 18:43] twpol commented on #1000
FYI I've just run into the exact same problem trying to start JOSM from Edge (16.16299).

[2018-08-03 13:03] bgirardot commented on #1126
Ethan did this, we have it, thank you @ethan-nelson

[2018-08-03 13:03] #1126 closed

[2018-08-03 13:06] bgirardot commented on #988
This is a duplicate of #803 so I am closing this one. Thank you for the issue @johnwhelan we need more sorting options for sure.

[2018-08-03 13:06] #988 closed

[2018-08-03 13:10] bgirardot opened #1151 "Add ability to sort Contribute list of projects by number of active mappers"
In some cases it would be very useful to see what projects mappers are working on.

Use cases are several:

As a validator I want to see where the most activity is so I can validate while people are online and mapping.

As a system administrator I would like to know what projects have the most active mappers while troubleshooting any system issues.

As a project manager I would like to know what p

[2018-08-03 17:33] ethan-nelson opened #1152 "Show exact time in "time ago" alt text"
The prior version of this software displayed the exact date and time whenever hovering over the "X ago" under a given history element. We should try to implement the same here.

I previously attempted this in https://github.com/hotosm/tasking-manager/pull/1155/files, but the area where this is added has changed a bit. So this issue involves taking the changes in #1155 and adding them to the correc

[2018-08-06 19:48] ethan-nelson opened #1153 "Refactor project page refresh"
The basic idea here is to create a new endpoint for project refreshes that contains the project metadata and _only a portion_ of the task information after initial loading.

### Background

As a user sits on a project's page--mapping, validating, or watching--their browser is polling the `/project/#` endpoint [every 10 seconds](https://github.com/hotosm/tasking-manager/blob/1fdba13050a3f8dc3b7a165

[2018-08-07 03:44] ethan-nelson commented on #1084
Hi @MaestroGlanz we have just merged an update into our bleeding-edge release that adds the auto-unlock timer to the task window while one is checked out. This change will be deployed in the near future to the live Tasking Manager, but for reference in the mean time, the timeout is two hours. I am going to go ahead and close this issue since it should be fixed by the change, but please reopen it i

[2018-08-07 03:44] #1084 closed

[2018-08-07 03:51] ethan-nelson commented on #1031
After encountering this a few times, I think I have figured it out. Scenario:

1) Someone has previously logged in but their token is expired
2) They are presented with the log in or return screen (https://tasks.hotosm.org/login)
3) Though there is a login button in the body of the page, they click login at the top right
4) The login process is started and they log in as normal. However, the login

[2018-08-07 03:56] ethan-nelson commented on #1027
Hi @shiller27 I want to say this may be finally fixed based on some stats changes we've made, including https://github.com/hotosm/tasking-manager/pull/1123. I checked this project specifically and it is no longer at 100% for mapped (eyeballing it, the current 92% figure seems close). If you continue to encounter strange calculations, please reopen the issue. Thanks for the report!

[2018-08-07 03:56] #1027 closed

[2018-08-07 04:09] ethan-nelson commented on #967
This has been added for everyone now in #1130, so I think the issue has now been resolved. Please reopen if that is not the case--thanks!

[2018-08-07 04:09] #967 closed

[2018-08-07 04:11] ethan-nelson commented on #952
I believe the original issue (as well as the secondary regarding opt out) has been fixed now in #1051. Please reopen if that is not the case--thanks!

[2018-08-07 04:11] #952 closed

[2018-08-07 04:14] ethan-nelson commented on #936
I believe it's by design that mapping sets the task as bad imagery, which can then be confirmed or invalidated during validation.

[2018-08-07 18:51] ethan-nelson commented on #881
Pinging #1148 when merged

[2018-08-08 04:42] ethan-nelson commented on #629
Closing based on conversation in #1138

[2018-08-08 04:42] #629 closed

[2018-08-08 04:46] ethan-nelson commented on #700
I just came across this with some local testing. My thought is a validator may want to add more tiles to their validation check (e.g. more than one user's worth), but perhaps that is something we don't want to encourage.

[2018-08-08 04:49] ethan-nelson commented on #553
This should be fixed with #1051. Please reopen if that is not the case.

[2018-08-08 04:49] #553 closed

[2018-08-10 03:52] #1000 closed

[2018-08-10 14:50] ethan-nelson commented on #927
We've pushed an update to the staging server that may fix this--could you try it out at https://tasks-stage.hotosm.org and let me know if that is the case?

[2018-08-10 15:30] akimmig commented on #927
Unfortunately I still get the message

"JOSM remote control did not respond. Do you have JOSM running and configured to be controlled remotely?"

when starting josm in Safari from  https://tasks-stage.hotosm.org <https://tasks-stage.hotosm.org/>

It works with Chrome.

Safari-Version: Version 11.1.2 (12605.3.8.1)
Josm version: 14066

Thanks for your efforts

Best
Arne

[2018-08-11 02:26] ethan-nelson commented on #998
Do either of you all have an idea of what this might take the form of? Would it be similar to the user mapped part of validation tab (where you can select one person and it selects all their tiles) but a 'revalidation' section instead?

[2018-08-11 04:51] ethan-nelson commented on #1045
I've spent a lot of time digging into the data model internals. It seems like these errors crop up frequency specifically when:

* A task history element has been inserted
* The `task_status` row of the task has not been updated properly

The task data model does not inherit the status of the most recent history associated with that id, but is rather set during a given action. So in a function eit

[2018-08-11 07:49] tordans opened #1157 "Always activate the new iD Editor Notes Layer"
Recently iD added support for notes in the editor (https://github.com/openstreetmap/iD/pull/5107).

I believe it to be a good idea to activate this notes layer as a default for all HOTOSM mapping.

The advantage would be: Mappers can comment on the map directly without switching to the comment section in the tasks manager.

Example: [In this map](https://www.openstreetmap.org/edit?editor=id&#map=1

[2018-08-11 22:21] bgirardot opened #1158 "Add support for OLC grid layer during project creation task grid generation"
Open Location Codes are a Google Zurich created open source universal addressing system that translates lat / lon to more manageable and easier to communicate strings of letters and numbers.

https://github.com/google/open-location-code

https://en.wikipedia.org/wiki/Open_Location_Code

They are also called Plus Codes https://plus.codes/terms

The HOT Tasking Manager is used extensively by humanit

[2018-08-12 00:12] ethan-nelson commented on #1066
Hi rhcu, are you still having this problem or did you get it sorted out? Cheers

[2018-08-12 00:42] ethan-nelson commented on #873
Hi Boggedy, the issue of not being able to dismiss the Mapswipe banner should be resolved--it was related to a broken UI element. Please reopen this though if you continue to have issues.

In regards to redirecting users, I don't think we want to push registered users past the home page immediately as there are mapping campaign highlights and calls to action on there.

[2018-08-12 00:42] #873 closed

[2018-08-12 00:56] ethan-nelson commented on #636
This was fixed in #1106 --thanks for the report!

[2018-08-12 00:56] #636 closed

[2018-08-12 07:41] tordans commented on #893
@bgirardot your last changes to the tags of this issue (mainly removing "question") suggest that you agree with this idea. I strongly disagree. I think it would be a big mistake to remove iD as a tool for validating.

If there is a real problem with the iD Editor, than please create an issue in the Repository at https://github.com/openstreetmap/iD/issues.

At the very least, collect some data like

[2018-08-12 10:00] johnwhelan commented on #893
The advantage of JOSM for validation is it has a number of built in checks
such as unclosed way.  It also has tools to detect duplicate buildings etc.
Knowing that JOSM has been used for validation gives an assurance that a
certain level of automated validation has been done.

There is more background in the wiki on the validation page.

Cheerio John

On Sun, 12 Aug 2018, 3:41 am Tobias, <notifica

[2018-08-13 00:10] Boggedy commented on #893
I am even more convinced that iD is a good beginners editor but that it is not suitable  for validation and is no better than Potlatch for error detection.

If you add error detection to iD you scare off beginners who need to start somewhere before they eventually advance onto JOSM

I want iD removed from the list of editors that are valid for Validation tasks in HOTOSM, God only knows the amount

[2018-08-13 00:14] bgirardot commented on #893
I hear this feedback and fully agree.

How about an option on the project to no allow iD validation and we could default to that.

That does not fix your issue totally as there will still be mapping that is iD validated, but it should help a lot. You would also be able to choose to only work on projects that were JOSM validated since it would be a public flag on the project.

Yes, I think I just r

[2018-08-13 00:27] Boggedy commented on #893
iD checks for input errors but allows doozies like area=yes

It does not check elements that already exist on the map.

Josm validation is to say the least 'unfriendly' but most validators use JOSM and all the validators worth having do. I rarely find a perfect tasks when validating but my job is to ignore small errors and get it over the line by fixing them myself.

Impossible to do in iD and it

[2018-08-13 00:54] Boggedy commented on #893
There is a related issue here,  validators should have a minimum 100 edits to their name. I think the solution for both is related to edit count and also to the software used to validate.

https://github.com/hotosm/tasking-manager/issues/987

[2018-08-13 01:09] johnwhelan commented on #893
It's not a bad suggestion most of the time I'm not sure I agree all the
time.  I have used a team of validators before now.  Inexperienced but it
was a rush job and they were looking to check very specific things under my
direction.  I ran an eye over the tiles they were validating at the time
and handled any queries.  I couldn't have handled the amount of validation
required by myself in the time

[2018-08-13 10:37] gorn commented on #1000
Great, thanks!

[2018-08-13 11:30] Boggedy commented on #893
I still think it should be 100 and thats for validators doing isolated buildings out the country or something. For urban tasks 100 edits is not enough.

I'm just after validating a shanty town tile which took up a good 4-5 hours of experienced editor time.
https://tasks.hotosm.org/project/4969?task=36#bottom

Letting a muppet with 5 edits to their name declaring it Valid would be an insult , frank

[2018-08-13 12:00] Boggedy commented on #893
Thinking about Johns point some more I might have a suggested workaround.

1. no iD validators
2. 100 edit threshold for validators.
3.A  Global EXCEPTION to 1 and 2 above for 'invited validators' where a project creator can 'invite validators' whether they are over or under a threshold or use iD or JOSM.

So an invitation screen in the project settings could be created where @ bgirardot  or @ Bog

[2018-08-14 10:32] ramyaragupathy opened #1162 "Include project created date in `fetch by project id` endpoint"
I'm currently working on improving the mapviz for [country pages in HOTOSM website](https://www.hotosm.org/where-we-work/india/). As part of the [proposal](https://github.com/hotosm/hotosm-website/pull/351), we have a year filter for projects, wherein the end user gets to filter out tasking manager projects by the year in which the project was created.  TM API returns the created date with the pro

[2018-08-14 16:20] ethan-nelson commented on #1162
Easy fix--I will do it tonight!

[2018-08-15 02:41] govvin opened #1164 "querying for invalidatated tasks"
Is there a way to query or find for invalidated tasks in your project? I just realized this isn't easy with arbitrary geometries that cover large areas, unlike square grids.

![image](https://user-images.githubusercontent.com/5821688/44128836-b0c030b6-a077-11e8-9952-1986f6f30385.png)

[2018-08-15 03:11] ethan-nelson commented on #1164
Do you mean from a standpoint of a user on the TM or data consumption in general? For the former, it may already be covered by the select random tile functionality but I can double check. For the latter, it's probably easiest to poll the project API (https://tasks.hotosm.org/api-docs/swagger-ui/index.html?url=https://tasks.hotosm.org/api/docs#!/mapping/get_api_v1_project_project_id) and iterate th

[2018-08-15 03:52] govvin commented on #1164
Hello  @ethan-nelson. I meant from the standpoint of a user, specifically a validator or a a project manager,  who may be monitoring the project on the TM.

[2018-08-15 05:18] #1082 closed

[2018-08-17 09:47] sunidhiraheja commented on #1151
Should I sort them by decreasing number of active mappers by default, or provide an option?

If it's the second, then what are the other possible parameters to allow sorting by?

[2018-08-17 17:42] #1065 closed

[2018-08-19 15:50] bgirardot commented on #608
We received a notice from a user that the color coding on the map grid is hard for red/green folks to see. He suggested a roll over task status would help with the issue if we can't also find another way to address it.

[2018-08-21 02:25] ethan-nelson opened #1167 "Switching branding to default"
This is perhaps a bit more long-term goal...

We've had some complaints in the past regarding TM instances that were not run by HOT but were thought to be because the default style is HOT, the default changeset comment is HOT, the default contact information is HOT, or so on out of the box. I know this came up during one of the planning sessions as well.

So, we should consider whether we want to

[2018-08-21 02:30] #1149 closed

[2018-08-21 04:42] ethan-nelson commented on #1151
I think the idea would be to have a `sort by` menu (like on TM2...example instance still live at http://tasks.openstreetmap.in/) with one of the items being active mappers.

But we default to sort by priority already, so a problem/decision to be made is whether to include priority in that menu as an option (defaulted on) or always keep the results sorted by priority. I guess a third option could b

[2018-08-21 05:07] smit1678 commented on #1167
@ethan-nelson Good point and I think this would be helpful for others to setup and run there own version. Relatedly, here's a question for priority: do we want to whitelabel deployment as well? I almost feel like the deployment code is a higher priority as it can help streamline contributions back. As we look to incorporate back some work from other groups running TM3, I know there have been some

[2018-08-21 16:57] ramyaragupathy commented on #1162
Thanks @ethan-nelson! I could see the changes in the staging  https://tasks-stage.hotosm.org/api/v1/project/3597?as_file=false

[2018-08-21 16:57] #1162 closed

[2018-08-21 19:41] twpol commented on #927
@akimmig Does the "Edit with Remote Control (JOSM or Merkaartor)" option on https://www.openstreetmap.org/ work in Safari?

The fix (which resolves the same problem in Edge, at least) attempts to implement the exact same mechanism as the main OSM website, although it ends up more complex due to needing to send multiple remote commands instead of just one.

[2018-08-21 19:56] akimmig commented on #927
Hi James,

Sorry to tell you that it doesn’t´t work with Safari from openstreetmap neither. Josm is configured for remote control as you can see in the attached screenshot.

Thanks for trying to fix this issue.

Best,
Arne

[2018-08-22 12:43] bgirardot commented on #875
pierre fixed this a while back, thank you @pgiraud

[2018-08-22 12:43] #875 closed

[2018-08-22 12:48] bgirardot opened #1168 "Clicking the "Contribute" tab should reload the page with no filters applied"
It is often a UI navigation comfort that you can always click on a navigation element and have it take you to that page, even if you are already on that page. It will generally reload the page so you can start over on something.

The TM should do that with the Contribute link. It should clear all the current searches and filters and display the page as if you had just clicked to land on it for the

[2018-08-27 13:20] bgirardot opened #1171 "Add to Project Admin - Action tab - Reset all bad imagery option"
We occasionally get projects where folks do not know how to change imagery or they misunderstand the "Bad Imagery" option.

As a result we end up with projects with dozens of task squares marked bad imagery when in reality they are not bad imagery.

It would be nice to be able to just reset all the bad imagery task squares to 'ready to map'

[2018-08-30 19:08] Ltrlg opened #1173 "Escaped HTML entity in message deletion popup"
Steps to reproduce:

  - Logged in, visit https://tasks.hotosm.org/inbox
  - You will need a non-empty messages list here for reproduction
  - Switch language to French
  - Click on any “Supprimer” (“Delete”) button

Expected result: Opens a full-screen popup with text “Êtes-vous sûr de vouloir supprimer ce message ?”
Actual result: Opens a full-screen popup with text “Êtes-vous sûr de vouloir sup

[2018-08-30 19:09] ethan-nelson commented on #1173
Also see #715 ; haven't narrowed down the cause yet.

[2018-08-31 08:07] dakotabenjamin opened #1177 "Add "role" to project manager"
Someone from TeachOSM suggested that there should be a profile item that specified the project manager's role to help identify who they are, like "Professor" or "Mapping Coordinator". This could help users and TeachOSM staff to know more about the project manager.

[2018-09-02 08:08] govvin commented on #1147
It would be helpful to have separate information about regions marked as priority areas, about how many tasks are outstanding, or the percentage of what's been mapped, or validated.

[2018-09-05 11:58] FransS1945 commented on #932
I support this issue

[2018-09-05 12:19] FransS1945 opened #1181 "Re-arrange buttons on TM3 map page"
Re arrange buttons on Main page of TM3

https://tasks.hotosm.org/project/5025?task=89

First button shows "marked as completely mapped."
Exchange this with the "stop mapping" button
Why?  I see often tasks which has been marked as "completely mapped" despite there are still a lot of objects to be mapped.
Fact is that many mappers can contribute on a task and stop mapping, leaving the task open for

[2018-09-12 15:49] MelEckle commented on #1147
Hi all! And thank you for the great work @sunidhiraheja! We (GIScience Research Group Heidelberg/HeiGIT) are currently working on stats for Missing Maps in which we also make use of the Tasking Manager API. I was already in touch with Nate as well as we would therefore need a direct API request that allows to filter changeset comments in projects. As of now we have to 1) request all projects, 2) s

[2018-09-12 16:02] smit1678 commented on #1147
@MelEckle To add to this based on our Slack chat, it sounds like in addition to querying by date that querying by `changesetComment` might be useful to be able to aggregate projects based on a common term instead of via an organization or campaign.

A slight challenge here is that we would need to parse the comment field into its individual comments to then be able to search by them. But in genera

[2018-09-13 08:04] MelEckle commented on #1147
Thank you Nate,

Exactly, basically looking for all projects with specific #, however then also in following step checking for the different campaigns and organizations

[2018-09-14 15:23] #970 closed, assigned to nobody

[2018-09-14 19:40] wildintellect opened #1183 "Bugs in TM2 to TM3 migration script."
- [ ] Admin users are not mapped from previous value of 3 to new value of 1.
- [ ] ln 72 & ln 77 should be hotold.project not hotold.projects
- [ ] The instructions on using the script should be updated also, as it can be very tricky to get both osmtm2 and osmtm3 schemas into the same db with postgis working. Based on https://github.com/kleper/Cartografia/blob/master/MigratingTM2toTM3ENG.md

1. My

[2018-09-15 04:45] ramyaragupathy opened #1184 "Improving search fields in the Tasking Manager API"
I've been currently working on data collation for the [website's project page](https://www.hotosm.org/projects/urban_innovations_crowdsourcing_non-camp_refugee_data). This involves matching relevant tasking manager projects to the [larger HOT project files ](https://github.com/hotosm/hotosm-website/tree/gh-pages/_projects)in Github. A few approaches I tried include:
- Simple text search
- Search b

[2018-09-16 15:05] russdeffner opened #1185 "Automatically Unlocking Tasks"
There are some tasks that are 'automatically unlocking', such as https://tasks.hotosm.org/project/5236?task=1554 and https://tasks.hotosm.org/project/5025?task=1365
![auto-unlock](https://user-images.githubusercontent.com/6763645/45597860-76d60700-b98f-11e8-887a-2cc0241aec51.PNG)

This is causing many contributors to try locking these tasks many times, and projects to not be 'complete'.

[2018-09-17 15:51] wildintellect commented on #1183
Worked with the changes mentioned in the ticket.

- I should be clear https://github.com/hotosm/tasking-manager/blob/develop/devops/tm2-pg-migration/migrationscripts.sql is the script.
- To create a db based on an existing do something like ```CREATE DATABASE osmtm3 WITH TEMPLATE osmtm2 OWNER "www-data"; ```

[2018-09-19 04:39] ethan-nelson commented on #893
Hi all, thank you for your feedback.

One of the important features identified in this discussion is adding the option to restrict validation based on the user level. I've changed #987 title a bit to reflect that intent. Furthermore, this issue is now tagged on there for folks to be able to see this discussion about that. Really, that option won't be too difficult to implement as much of the funct

[2018-09-19 04:41] ethan-nelson commented on #1183
Great, thank you for the info and for your diligence in completing this task @wildintellect ! If you'd like to file a PR, that would be welcomed. Otherwise, I will eventually transfer some of this information over.

[2018-09-19 11:43] johnwhelan commented on #987
JOSM has a number of features and tools that help things that can detect duplicate buildings and the todo list.

Project Managers do not always know much about mapping, I've come across one who invalidated a tile because something had been mapped that wasn't on the project list.  Fine except it had been mapped a year before the project.

We don't have enough experienced validators so even an Id va

[2018-09-20 19:49] smit1678 opened #1186 "Adjust onboarding experience to better capture data and provide information to the user"
Creating an overarching ticket regarding potential onboarding improvements to include for consideration on the development roadmap. From feedback and discussions, there are several ways that onboarding could improved in the near term. To define onboarding -- the process of registering/signing in, filling out your profile (including email), receiving any training instructions, and getting to your f

[2018-09-21 12:04] Boggedy commented on #893
Nicely done Ethan.

On Wed, Sep 19, 2018 at 5:39 AM Ethan Nelson <notifications@github.com>
wrote:

[2018-09-21 15:09] mikelmaron commented on #583
@dalekunce can you point us at the PR?

[2018-09-21 15:40] dakotabenjamin commented on #1186
I'd like to add an idea to this:
- implement gamification to increase user experience and promote returning user
- add information about creating an OSM account

[2018-09-22 21:07] ethan-nelson commented on #781
@arun-aji-balaji I have added Tamil as a language on transifex and is now ready for translating https://www.transifex.com/hotosm/tasking-manager-3/language/ta/.

For the others, many languages were updated two months ago (https://github.com/hotosm/tasking-manager/tree/develop/client/locale). I will look into the ones that weren't.

[2018-09-22 21:10] ethan-nelson commented on #796
Hey Andrew, I may have someone working on this as an intro to TM dev. Otherwise, since it has been sitting on my to-do list for a while, I will knock it out.

[2018-09-22 21:12] ethan-nelson commented on #737
@dakotabenjamin do you have any input on possible implementation of this? Is there a service that does this? I imagine we probably need to define some workflow that the workers are following as part of the "test" if so.

[2018-09-23 17:17] ethan-nelson commented on #857
It looks like this is fixed with #1174. Please reopen if you experience further issues after deployment to the live instance (for now you can test it at https://tasks-stage.hotosm.org).

[2018-09-23 17:17] #857 closed

[2018-09-27 11:42] ramyaragupathy commented on #796
@ethan-nelson @bgirardot - I'm going to give this a try this week as a starter task

[2018-09-27 13:31] ethan-nelson commented on #1100
This relates to pausing javascript polling on the `/project/#` API endpoint when the tab loses focus.

[2018-09-27 13:47] ethan-nelson commented on #724
It looks like this has been fixed. Thanks!

[2018-09-27 13:47] #724 closed

[2018-09-27 13:55] ethan-nelson opened #1188 "Show loading text when project is loading"
Right now, when a user navigates to a project, the project template is shown immediately without information from the API. For users on lower bandwidth connections, there is no communication about what is happening. So, it would be good to display some sort of loading text while the project API is loaded. I added a simple loading feature in #1154 for the search window--perhaps that could be a star

[2018-09-27 13:56] ethan-nelson commented on #1188
Here's an example:

<img width="1375" alt="screen shot 2018-09-27 at 6 55 34 am" src="https://user-images.githubusercontent.com/8998918/46150842-642ac000-c222-11e8-9cb4-533f13195390.png">

[2018-09-28 01:31] ethan-nelson commented on #757
I've tested this on a few computers and browsers and it looks to be solved. Please reopen if that is not the case.

[2018-09-28 01:31] #757 closed

[2018-09-29 00:45] #1171 closed

[2018-09-30 20:05] ethan-nelson commented on #1188
Hi @htalat great! I will mark the issue as in progress since you are working on it. Please let me know if you have any questions.

[2018-10-01 02:48] smit1678 opened #1189 "Show loading text when Contribute page is loading"
Related to #1188, on slow connections Contribute page displays `No projects found` on the page before the data is loaded. This can be confusing as it's unclear whether there is a real error or that the data is being loaded. Sometimes it takes 10 seconds for the data to load when on a slower connection.

Potential improvement to the experience would be to add a loading indicator instead of default

[2018-10-01 03:10] ethan-nelson commented on #1189
This should be fixed in #1154 but may perhaps be implemented another way.

[2018-10-01 04:46] smit1678 commented on #1189
@ethan-nelson Ah I totally read that ticket but missed that you had implemented a solution here. I will close this and we can reopen if this should be implemented in another way in that PR.

[2018-10-01 05:10] matizzy commented on #1168
Hi guys, can I take on this issue?

[2018-10-01 05:17] smit1678 commented on #953
Tagging this for hacktoberfest as an issue that can be picked up. @Soundharyaam I didn't see a PR for the work so I'm assuming that this wasn't completed and this is still open for someone to pick up but let us know if this was finished but a PR was never created.

Below is a gif that shows the menu not closing in action:

![tasks-dropdown](https://user-images.githubusercontent.com/796838/46270823

[2018-10-01 06:03] ethan-nelson commented on #1168
Hi @matizzy sure, I will mark it as in progress. Please let me know if you have any questions or troubles.

[2018-10-01 06:07] smit1678 commented on #1181
@FransS1945 thanks for opening this ticket. This has been seen before and I think we can improve the layout with some simple changes.

Adding some initial guidance that I think would be an improvement to the experience here. This is from a brief conversation between @ramyaragupathy and myself about how we could reorganize.

<img width="474" alt="wireframe cc - minimal wireframing tool 2018-10-01 1

[2018-10-01 06:11] ethan-nelson commented on #1189
No sweat :)

[2018-10-01 08:55] smit1678 commented on #1186
Last week we held a brainstorming session between project managers and mappers on potential ways to improve the onboard process. I added some notes here in a wiki page: https://github.com/hotosm/tasking-manager/wiki/Onboarding-Idea-Generation-Session-Notes.

One of the next actions from all the ideas was to propose an initial path forward for some incremental improvements. First I'd like to take a

[2018-10-01 09:05] smit1678 commented on #602
Coming back to this ticket to further this conversation. @bgirardot @ethan-nelson @dakotabenjamin @willemarcel @ramyaragupathy and anyone else watching any reason we should not make all of the fields mandatory?

I think for the image field, related to #1122, we should provide a dropdown of the primary image later to be used to preconfigure the iD link.

Is there a case for not making them all mand

[2018-10-01 09:12] smit1678 commented on #1122
100% agreed that at minimum this should be handled. From the quick analysis in the [blog post about imagery layers used](https://www.hotosm.org/updates/open-imagery-for-humanitarian-mapping/), it's clear not many people fill in the imagery field and this could certainly be mitigated by making it mandatory.

If we make the imagery metadata field mandatory, and include a dropdown using the iD layer

[2018-10-01 12:52] smit1678 commented on #699
Just to follow up this is still an issue, I've just tested in Chrome and Firefox. Below is the difference between the two browsers:

## Chrome
![tasks-overviewmap](https://user-images.githubusercontent.com/796838/46289531-866e6600-c5b3-11e8-89ad-f1bd5b7b3596.gif)

## Firefox
![tasks-overviewmap-firefox](https://user-images.githubusercontent.com/796838/46289520-7eaec180-c5b3-11e8-98a0-0692b3726789.

[2018-10-01 15:07] ethan-nelson opened #1191 "Show loading animation/text on homepage stats"
There are a few stats about total work done and total mappers on the home page that is not loaded immediately. For users on a low bandwidth connection, this will appear as 0 0 0 until the API load is complete. Adding some kind of character or small gif (like those on the HOT website at https://hotosm.org) during loading would be a good solution to indicate to users that the actual information is c

[2018-10-01 23:04] Thrazadin commented on #721
Do you guys mind if I try to fix this one?

[2018-10-02 02:09] Thrazadin commented on #721
I've submitted a pull request for this.

[2018-10-02 03:08] #751 closed

[2018-10-02 04:06] russdeffner commented on #1186
In Jakarta we had a chance to chat about this. I like the idea of the TM creating 'buckets' for users that determine where they land when logging into the TM.

Thought of 3 categories/buckets of users:

-  New to OSM: these mappers need to go create an OSM profile and think the way it works currently when people try to log-in is fine for this; however, when they return to the TM with a brand new O

[2018-10-02 21:08] htalat commented on #1188
okay! will get started on it in a couple of days ... hope it's okay!

[2018-10-03 00:38] ethan-nelson opened #1197 "Add ability to generate auth token in user profile"
Right now, there is no way for a user to generate an authentication token for API except to carve it out of the HTTP headers after logging in. This is a request to add an authentication token generation ability in the user profile. It would ideally be a button you click that either opens a modal with the key or populates a disabled text box near it with the key.

This will require creating an API

[2018-10-03 00:41] ethan-nelson commented on #1197
I split the up into two components because the API endpoint could feasibly be added first separately, then the front end added later by another person or PR.

[2018-10-03 06:29] goldfndr commented on #1181
For the Split Task icon, how about  :heavy_division_sign: (heavy division sign)?

* Universal division symbol
* Similar look to how the grid square gets divided

[2018-10-03 07:27] FransS1945 commented on #1181
Yes, for my intuition it looks better.
Thaks,

[2018-10-03 09:10] kishan3 commented on #1177
Hi, Which file and folder is this project manager?

[2018-10-03 17:48] lsurasani commented on #1191
hey! could I work on this?

[2018-10-04 02:11] RenFraser commented on #1191
Hi, am I able to contribute to this as well?

[2018-10-04 08:37] ramyaragupathy opened #1199 "Options to map a task after marking it for Bad Imagery"
### Current behaviour
Once a task is marked as `bad imagery`,  there's no option to choose `Start mapping` task again. Only choice is to validate the task.

![image](https://user-images.githubusercontent.com/12103383/46462125-c79c8b00-c7ea-11e8-9bb6-c7d1e5a245c6.png)

### Expected behvaiour
Since the task is not mapped, I still expect a choice to lock the task for mapping. Validation options shoul

[2018-10-04 11:49] ethan-nelson commented on #1199
Hi @ramyaragupathy, from discussions in the past, I believe that there is value in marking tasks as bad imagery and "validating" that so that project managers know of areas that will not have data. I think there is some discussion relevant to that on https://github.com/hotosm/tasking-manager/issues/551 , but that ticket brings up a relevant point that even if you do "validate" bad imagery, there i

[2018-10-04 14:36] lusdavo commented on #1185
This task as well automatically unlocking: https://tasks.hotosm.org/project/5129?task=58

[2018-10-04 16:06] htalat commented on #1188
is there any way seed sample data into the db?

[2018-10-05 04:33] jillhkm commented on #1181
Hello,

I would like to contribute to this project. Are you looking for someone to update the UI with the new icons?

Thanks!

[2018-10-05 05:00] smit1678 commented on #1181
@jillhkm Yes, we’re looking for someone to update the layout of the section (along the lines of the wireframe above) with the text updates and icon additions. Is that something you want to take on? If so, we can mark this in progress.

Post if you need some more clarification on the wireframe or have other ideas for ways that we could improve the layout.

[2018-10-05 12:09] Redarcher9 commented on #1168
Hii, is someone still working on this issue?

[2018-10-06 02:54] jillhkm commented on #1181
@smit1678
Hi, so I submitted a pull request that adds the desired icons to the buttons. However, I am having trouble running the project locally, so I wasn't able to rearrange the buttons.

I was trying to run it on cloud9.  I'll keep trying though!

Thanks

[2018-10-06 09:44] flohoff opened #1207 "Documentation: Dockerfile etc"
Hi
i tried setting up a local task manager quickly in Docker so i built the Docker image

docker build -t tasking-manager3 .

Then i created a postgres user, database and password and a docker.env file and started the container with:

docker run --rm -p 8000:8000 --env-file docker.env -it tasking-manager3

Which starts a container with the newrelic -> gunicorn WSGI - And now? All urls at localhost

[2018-10-06 19:35] ethan-nelson commented on #1207
Hi Flo, thanks for opening this ticket. Could you talk about what environmental variables you are setting in the docker.env file? And what error appears?

My first guess would be that the `TM_ENV` variable is set to something other than `Dev`, [which affects the URL at which the server is available from](https://github.com/hotosm/tasking-manager/blob/develop/server/config.py). However, that data w

[2018-10-06 23:34] matizzy commented on #1168
@Redarcher9 Hi yes sorry, I am. I had a busy week at work but I'm gonna finish it up today or by tomorrow morning.

[2018-10-07 00:45] matizzy commented on #1168
https://github.com/hotosm/tasking-manager/pull/1208

I opened a PR for this issue

[2018-10-08 02:08] #693 closed

[2018-10-08 06:13] answerquest opened #1213 "helper text on "Per Task Instructions""
This is the present helper text under Per Task Instructions** field in tasks.teachosm.org :
[code]
that markup is coming as-is.

[2018-10-08 06:51] ernoma opened #1214 "Finnish language translation"
Finnish translation is missing. I am about to contribute Finnish translation for the Tasking Manager and I have quite a lot [experience on using the Tasking Manager](https://tasks.hotosm.org/user/erno).

@ethan-nelson You mentioned the translations in the HOTOSM Slack 4th of October, so I just want let you know that I am working on the Finnish translation. I have read the [Localisation page](https

[2018-10-08 19:38] ethan-nelson commented on #1214
@ernoma I have now added Finnish as a language on Transifex. Additionally, I imported the file from your PR into Transifex so the translations are mostly finnished! The remaining ones are likely strings we no longer have in the TM (but Transifex retains in case they are added back I guess). I will review and merge the PR when I am home this evening!

[2018-10-08 20:09] ernoma commented on #1214
@ethan-nelson Thank you! I am happy to hear that the translation is welcome!

[2018-10-08 22:47] Hulios commented on #1045
Hi @ethan-nelson
I've found possible occurrence of this race condition, where status is updated before task history.

https://github.com/hotosm/tasking-manager/blob/6c3bc76a5cf30fb8bf4c031da6db53eec8909f19/server/models/postgis/task.py#L321-L332

I've changed it in #1217 and with additional changes to automatic unlocking, it should solve problem of "multiple rows were found for one()"
I'm not sure

[2018-10-09 03:41] smit1678 opened #1218 "Review unreviewed translations on Transifex"
Currently on Transifex we have 25 languages: https://www.transifex.com/hotosm/tasking-manager-3/dashboard/. Support for reviewing existing translations is need. Below is a list of what's been completed and what's left for review.

#### Languages that are fully translated but need review of some or all strings:

* [ ] Chinese (Taiwan) (zh_TW)
* [ ] Czech (cs)
* [ ] Dutch (Netherlands) (nl_NL)
* [ ]

[2018-10-09 04:11] ethan-nelson opened #1219 "Include activity time length text in updated task history UI"
As of the prior stable TM release, task history entries show the length of time for some events, e.g.

![](https://user-images.githubusercontent.com/12103383/46592042-47776d80-cae9-11e8-8ac8-3e7f21545c2d.png)

The latest overhaul in #1204 has changed the history view to group successive events by a user so that it is easier to digest the history:

![](https://user-images.githubusercontent.com/1210

[2018-10-09 04:34] jtj9817 commented on #1197
I would like to try to work on this issue!

[2018-10-09 05:13] ethan-nelson commented on #1197
Great, I will mark it in progress!

[2018-10-09 05:38] ethan-nelson commented on #831
I would suggest for any Hacktoberfest participants the following:

If the map tab is selected and the task state is in one that only allows validating, add a button to switch to validation mode as something like:

![buttonmockup](https://user-images.githubusercontent.com/8998918/46648631-c6e95900-cb4a-11e8-9dcc-be370534abd5.png)

And similarly for if a task state is in one that only allows mapping

[2018-10-09 05:42] ethan-nelson commented on #1214
Closing due to #1215 merge

[2018-10-09 05:42] #1214 closed

[2018-10-09 15:12] PierrePIRONIN commented on #1219
I'll take a look if you want ;)

[2018-10-10 15:56] #1219 closed

[2018-10-10 16:02] ethan-nelson commented on #976
This has been fixed in #1201

[2018-10-10 16:02] #976 closed

[2018-10-10 16:03] ethan-nelson commented on #894
PR #1180 added a "users participating" group at the top of the suggest window.

[2018-10-10 16:03] #894 closed

[2018-10-10 16:04] ethan-nelson commented on #864
PR #1180 added a "users participating" group at the top of the suggest window.

[2018-10-10 16:04] #864 closed

[2018-10-10 16:04] ethan-nelson commented on #623
PR #1180 added a "users participating" group at the top of the suggest window.

[2018-10-10 16:04] #623 closed

[2018-10-10 22:08] hunt3ri commented on #1153
@ethan-nelson love the idea.  One immediate thought to reduce load on the database would be to cache the response for the project, using a LRU cache.  Do you know how much available memory the servers in production have, what size of instances are you running on?

To give you an indication we could cache the project response for 1 second, which if you say can be up to 2 mb.  We could cache the pro

[2018-10-12 05:27] ethan-nelson commented on #774
Here is some starter code if anyone is interested: https://github.com/hotosm/osm-tasking-manager2/blob/master/osmtm/static/js/project.new.js#L151-L166

[2018-10-12 05:31] ethan-nelson opened #1224 "Enable upload of `.osm` files for new projects"
Right now we direct users to convert `.osm` files to geoJSON for importing/uploading project geometries. We should explore the possibility of adding `.osm` support natively.

[2018-10-12 05:35] ethan-nelson opened #1225 "Switching from validate to map causes jump"
If you have the validating tab open and select a project that is in a mapping state, the task will direct you that it can't be validated. Here, a user will possibly click the map tab to try and map the task. When you click on the map tab, though, the browser jumps to the very top of the page instead of the top of the contributing window. This is in Firefox 59 on Ubuntu.

[2018-10-12 05:37] #1045 closed

[2018-10-12 15:42] stufinn commented on #1152
I'd like to give this a shot!

[2018-10-12 18:03] ethan-nelson commented on #1152
Fixed with #1226

[2018-10-12 18:03] #1152 closed

[2018-10-12 18:04] ethan-nelson commented on #1218
Please ping on this PR with your username if you need access to Transfix and we will make sure permissions are added!

[2018-10-12 20:29] #1185 closed

[2018-10-12 21:39] AndreasHae commented on #1191
I'm going to implement this.

[2018-10-13 20:07] Hulios commented on #1225
Hi @ethan-nelson
It happens because there is empty anchor set in tab headers:
https://github.com/hotosm/tasking-manager/blob/200b155f19245b7ff2b24a56a522eb8eccb70da7/client/app/project/project.html#L128
What is the expected behavior when you click on the tab?
- jump to the top of contributing window
- don't jump at all

And what should happen when you go to comments tab? Should it jump to the late

[2018-10-14 05:47] agnesoshiro commented on #1218
Hi! Happy to help review Japanese strings. My Transifex account username is agnesoshiro. Thank you!

[2018-10-14 15:17] ethan-nelson commented on #1218
@agnesoshiro added you--thanks!

[2018-10-14 15:32] ethan-nelson opened #1234 "Track down UI strings without `{{ | translate }}`"
Translations on the front end are handled using the `{{ a string or sentence here | translate }}` syntax. There are some strings that do not have this syntax. [Here's](https://github.com/hotosm/tasking-manager/blob/develop/client/app/about/faq.html) a prime example.

**Please note**: This does not apply specifically to returned errors from the API. Perhaps in the future we can look at a mechanism

[2018-10-15 02:53] ethan-nelson commented on #1225
I can't actually reproduce this now -_- I'm not sure exactly what the flow was that got me to that case...it may have had an extra step of marking a task as done or validated prior to clicking a new task and then clicking another tab header. In any case, my preference would be to not jump at all.

[2018-10-15 06:04] Hulios commented on #1225
This are steps that I took to reproduce it:
- Open project containing comments
- After one second, URL should be changed, and contain '#bottom' in the end
- Scroll down and click on the tab header

[2018-10-17 15:04] #1031 closed

[2018-10-17 15:36] ethan-nelson opened #1237 "Create dummy database via script"
Right now when someone installs TM3 locally, there is no database for someone to use in testing and development. Let's make a script that generates:

1) A project with TM generated grid and a project with an uploaded geometry of irregular shape
2) Four users, two who are validators
3) A variety of history including mapping and unlocking with/without comment, mapping and marking mapped with/without

[2018-10-17 15:58] ramyaragupathy opened #1238 "Capturing all contributing mappers in project dashboard"
### Current behaviour:

At present the [user contribution endpoint](https://tasks.hotosm.org/api/v1/stats/project/3567/contributions) includes mappers with atleast one task mapped/validated.

![image](https://user-images.githubusercontent.com/12103383/47064689-ae440780-d20a-11e8-923c-0eb406afc80a.png)

### Expected behaviour:
I feel this should include all mappers who have added or edited OSM data

[2018-10-19 10:07] smit1678 opened #1243 "Encourage users to add email address"
During our current onboarding process we only create a welcome message to new users which directs users to add information, like email, to their profile. Once they read the visual indicator goes away and users may forget that this information is helpful to fill out. Only 4% of users have added their email to their profile on tasks.hotosm.org.

<img width="701" alt="hot tasking manager 2018-10-19 1

[2018-10-19 10:56] smit1678 opened #1244 "Create onboarding modal for new users"
This is a proposal for a first step on improving the onboarding experience for new users. Related to #1186 and #1146 (extends the email address collection).

### Current process for registering and logging in new users:

1. New user lands on tasks.hotosm.org. They click login to start the process.
2. Users are taken away from tasks.hotosm.org to an oauth authorization page on openstreetmap.org and

[2018-10-19 11:02] smit1678 commented on #1186
Did a quick look and it's only 4%. This is quite low but a starting point for where we can improve.

To help get started, I created two new tickets around these issues at the moment:

1. Create an onboarding modal for new users https://github.com/hotosm/tasking-manager/issues/1244. This only focuses on new users at the moment but would be a starting point for how we can extend.
2. Flag for existin

[2018-10-23 14:53] AndreaGriffiths11 commented on #1218
Hi! Happy to help with Spanish. My Transifex account username is AndreaGriffiths11

[2018-10-24 13:12] DorukUlucay commented on #1234
Hello. I'm interested. Can you assign it to me ?

[2018-10-24 14:53] ethan-nelson commented on #1234
Hi @DorukUlucay yes we have PR addressing many, if not all, of these. There may be a few that are missed by the PR, so feel free to check back after that is merged in a few days. Thanks for your interest.

[2018-10-24 14:53] ethan-nelson commented on #860
Sure @DorukUlucay , I will mark this as in progress!

[2018-10-24 17:24] kleper opened #1251 "Can't unlock Task"
In the OpensStreetMap Colombia task server, a problem has been presented in a task: https://tareas.openstreetmap.co/project/111#bottom.
Specifically in task 22, after someone tried to do it I could not unblock it either to do the job or to validate it, do you know how I can unlock it manually?

[2018-10-24 19:51] DorukUlucay commented on #860
I've sent a pr. Please do review.

[2018-10-25 15:10] Woestijnprinses commented on #1218
Can I review Dutch  please. My Transifex account username is Woestijnprinses

[2018-10-26 02:10] ethan-nelson commented on #1218
For those interested in translating, we've updated Transifex with strings that were previously missed, so there is plenty to translate in every language!

[2018-10-26 02:28] ethan-nelson commented on #1213
I think the idea here is we want to show people the syntax they can use as opposed to rendering what the example message would look like.

[2018-10-26 02:31] ethan-nelson commented on #1066
Gonna go ahead and close this due to no response; please reopen if it is still an issue. Thanks!

[2018-10-26 02:31] #1066 closed

[2018-10-26 02:48] ethan-nelson commented on #822
This should be fixed with #1209 on stage and soon to be deployed to live. Please reopen if it doesn't fix it.

[2018-10-26 02:48] #822 closed

[2018-10-26 03:04] ethan-nelson commented on #202
Also see #1197

[2018-10-26 09:06] smit1678 opened #1256 "Mapping action icon colors and hover state"
The Stop Mapping icon only shows in hover state. It looks like the icon color is the same as the button and so it doesn't show up until you hover. These are from the latest layout changes deployed on tasks-stage.hotosm.org.

Thinking that the best way forward here is to match the text color. White when not hovering over, and then change to brown or orange when in hover state. But open to other ide

[2018-10-26 14:03] hi15 commented on #1218
Hi! Can I review portuguese (br). My Transifex account username is hi15

[2018-10-26 14:35] russdeffner opened #1257 "Revisit Task Colors"
This issue is to combine #1256 and #246 with a general recoloring of the task status. In the Activation Working Group we have noted that the 'red' for invalidated is maybe causing mappers to stay away from those tasks. We may also want to take into consideration color impaired vision to ensure all our mappers can easily understand what tasks are available to them.

[2018-10-26 14:39] russdeffner opened #1258 "I have read the instructions"
This is more of an idea we have floated around the Activation Working Group but is related to onboarding new mappers. We might want mappers to have to click a button that they have read the instructions before being able to map/validate.

[2018-10-26 14:43] smit1678 commented on #1257
Thanks @russdeffner for bringing that up. One quick question: does an invalidated task even need to be colored?

I can see the case for a project manager or validator to maybe know, but for a mapper it doesn't make a difference right?

[2018-10-26 14:52] dakotabenjamin commented on #1256
This should be a simple fix:
https://github.com/hotosm/tasking-manager/blob/develop/client/assets/icons/stop-map.svg?short_path=49a0b68#L9
Change the color to `#000000`

[2018-10-26 16:05] smit1678 commented on #1256
@dakotabenjamin My thinking was that instead of black, it would match the text color and how the text color changes based on state. Black clashes and sticks out quite a bit.

[2018-10-26 18:29] Leodau commented on #1218
Hey, i saw you guys still have tons of spanish strings to translate, I would love to get those done!

My Transifex username is **leodau**
:)

[2018-10-27 00:37] russdeffner commented on #1257
I think there is value in having some noticeable difference in a project that is invalidated - i.e. a bit of warning that it might be fixing stuff rather than just drawing new features.

[2018-10-27 00:40] russdeffner commented on #870
Another related issue to this is maybe the project manager should always get notified and not rely on the mapper to hit the contact pm button.

[2018-10-27 21:00] dakotabenjamin commented on #1256
Merged with #1260 and #1262

[2018-10-27 21:00] #1256 closed

[2018-10-29 15:43] ramyaragupathy commented on #987
I'm going to give this a try 🔎

[2018-10-30 09:31] wronk opened #1264 "Machine learning additions to TM"
## Vision for updates
Development Seed is working with CosmiQ Works and @smit1678 to bring some new machine learning tools to the TM interface. We want to deploy ML within TM inform mappers about the project they're working on and boost their efficiency. We're starting with estimating total building footprint per task square, and you can see version 0 in our [blog post](https://medium.com/devseed/

[2018-11-02 10:45] smit1678 commented on #1264
I would agree with this. While the toggle-able layer is helpful to see the potential in the demo, the integration should be default (when ML is used) and somehow helps a mapper not have to think too hard about the task square they choose.

Another consideration is the recent legend/map colors discussion: https://github.com/hotosm/tasking-manager/issues/1257. My opinion is that there are too many c

[2018-11-03 13:42] dakotabenjamin opened #1266 "Error displaying and downloading task boundary GPX"
Multiple users are reporting an error when mapping. The task boundary is not displaying. Attempting to download the boundary as a gpx shows this error:
[code]

This is a critical bug and should be fixed ASAP. In the meantime, we should redeploy an older version of TM3 to tasks.hotosm.org.

[2018-11-05 18:17] dakotabenjamin opened #1269 "Run db backup before deployment during CI"
This will ensure that is rollbacks are needed on deployment there will be an up-to-date snapshot to fall back on. Currently the db backs up nightly, so this will curb as much data loss as possible.

We need to update `devops/ci/circleci_deploy.sh` to have the following aws command:
[code]

The `db-snapshot-identifier` can be something arbitrary, such as "tm3-version-n-update-backup" or some other

[2018-11-09 12:38] wronk commented on #1264
*This is an updated plan for the front-end ML design after talking with @smit1678 and @geohacker. There will be more discussions on this topic, but anyone is welcome to weigh in here if you have a suggestion.*

## Front-end design goal
Tweak the TM visualization to (1) simplify things for new users and (2) start incorporating machine learning analytics.

## Problem
The current visualization displa

[2018-11-15 20:43] Vaomatua opened #1275 "Import GeoJSON polygons for Priority Areas"
I would like to be able to use a GeoJSON polygon file to show the Priority Areas in addition to drawing a polygon/rectangle/circle.
![image](https://user-images.githubusercontent.com/12214434/48580406-fb7fcb80-e8d3-11e8-8ceb-47d92ebddc57.png)

[2018-11-20 08:47] geohacker commented on #1264
Thank you for laying this out so well @wronk.

@smit1678 - as we're closing in on the backend, we're thinking of using the visualisation approach in our fork of TM as a starting point. It looks like this:

![tm-ml](https://user-images.githubusercontent.com/371666/48761575-f608f380-ecce-11e8-97fd-83de34a80695.gif)

Did you get any specific feedback on any of the points we discussed last week?

[2018-11-21 15:29] smit1678 commented on #1264
Unfortunately I didn't get the chance to do some testing during a mapathon.

Thinking just as a starting point and then evolve the ideas @wronk laid out?

[2018-11-21 15:41] smit1678 opened #1279 "Task oriented project creation"
Proposal based on work presented in TM Working Group:

Some projects can have targeted purposes based on GIS processing, ML Extractions, or other sources of data. Utilizing that as an input to project creation can insure mapper time is maximized. This also allows project creators to bring external data into the project and individual tasks (similar to the import process features we've used in the

[2018-11-21 15:48] smit1678 opened #1280 "Prioritization Framework"
Proposal based on work presented in TM Working Group:

Allow project creators to have fine grained control over the prioritization of their projects. This looks to go beyond adding a visual priority area and create the ability to rank and order task grid squares. This also adds a `Select next highest task` button in addition to the `Select random task button`.

* For any project, a project manager

[2018-11-22 12:07] geohacker commented on #1264
@smit1678 yeah of course - I think this is only a starting point and without touching too many parts we can get something out. And then go from there. We also have limited time for the current sprint.

[2018-11-23 05:16] ethan-nelson opened #1282 "Split moving tasks to another location in the world"
The project https://tasks.hotosm.org/project/5537 is acting strangely: when you split a task, it disappears from the main grid in Timor-Leste and instead moves to the middle of the Indian Ocean. The tasks were originally around https://tasks.hotosm.org/project/5537?task=40 but when split move to around https://tasks.hotosm.org/project/5537?task=70

Looking at commit history for the most recent ver

[2018-11-23 05:17] ethan-nelson commented on #992
This should be fixed and is now available on the live instance. Please let me know if you are still running into problems. Cheers!

[2018-11-23 05:17] #992 closed

[2018-11-23 13:54] shiller27 commented on #992
Brilliant, all working great :) Thanks!

On Fri, 23 Nov 2018 at 05:17, Ethan Nelson <notifications@github.com> wrote:

[2018-11-24 15:33] russdeffner commented on #987
Thank you for working on this @ramyaragupathy, I was just coming to make this suggestion and happy to find that Blake did a while ago and you're working on it!

[2018-11-25 19:07] ethan-nelson opened #1283 ""Undo"ing invalidation of a validated square breaks the task"
The task at https://tasks.hotosm.org/project/5503?task=67 was previously in a validated state. Another user later invalidated the square, then checked out the task again and did an "undo" to revert the task to validated. That user now cannot invalidate the task again with the error `There was a problem unlocking the task. Validator Lock API - unhandled error: object of type 'NoneType' has no len0`

[2018-11-26 12:05] geohacker opened #1284 "ML prediction storage in TM"
Related to #1264.

@smit1678 @ethan-nelson - @wronk @batpad and I are thinking a bit more about integrating the ML results to the front-end. Currently, we aren't storing the predictions to the ML db and we think we should store this per task. So this would involve:

1. Changes to the Tasks model or a new model
Tasks already have an `extra_properties (varchar)` column which @batpad and I suspect is

[2018-11-26 12:14] smit1678 opened #1285 "Add message or action to bring users back to Contribute page with correct filter"
When clicking on an advanced project, we give users a message: `You cannot select tasks for mapping on this project because you do not have the required mapper experience level.`

This raises the question of what do I do next? This might be off-putting and we don't give a user an option to understand what projects they can participate in.

<img width="1059" alt="hot tasking manager 2018-11-26 12-0

[2018-11-26 15:37] russdeffner opened #1286 "Allow users to apply for a validator role"
There should be a way to request validator role from a project. Maybe when the mapper tries to hit Validate on a restricted validation project they get a way to 'message the project manager' for validator role. This doesn't cover how we ensure PM's verify their level of experience or any onboarding that should happen.

[2018-11-27 04:40] #719 closed

[2018-11-27 04:41] #699 closed

[2018-11-27 05:01] #843 closed

[2018-11-27 05:06] #1225 closed

[2018-11-27 05:30] ethan-nelson commented on #1181
As I understand it, this was mostly solved in #1206 and #1220. Please let me know if that is not the case.

Thank you to @jillhkm and @ramyaragupathy for your contributions! This looks much neater.

[2018-11-27 05:30] #1181 closed

[2018-11-27 05:46] ethan-nelson commented on #781
I'm closing this for now as we have a few tickets open regarding translation and the general idea is it's always in progress. The process of updating strings is now a bit more integrated into our deployment workflow, so be sure to check out Transifex for translating and reviewing if you see most strings out of date.

[2018-11-27 05:46] #781 closed

[2018-11-27 05:47] ethan-nelson commented on #721
Fixed with #1194 thank you again @Thrazadin

[2018-11-27 05:47] #721 closed

[2018-11-27 05:47] ethan-nelson commented on #682
Closing this for now--please reopen if it continues to be an issue. Thanks!

[2018-11-27 05:47] #682 closed

[2018-11-27 11:49] jgrocha commented on #1066
Sorry for the noise.
I had to go to https://www.openstreetmap.org/user/your-username/oauth_clients/new to create a new authorization.
Problem solved.

[2018-11-29 09:59] wronk commented on #1284
## Updated plan
After getting some community feedback, our updated plan is to create a separate "Task Properties" table within the TM database. We'll also build API endpoints to interface with that new table.

The advantage of this strategy (pointed out by a number of people) is that this approach is useful for any generic task annotation (where ML-derived information is only one example). We coul

[2018-12-05 05:42] #688 closed

[2018-12-05 06:08] ethan-nelson commented on #1234
This may not be 100% but the number remaining has been greatly reduced in #1235

[2018-12-05 06:08] #1234 closed

[2018-12-05 06:08] ethan-nelson commented on #860
This has been fixed in #1252

[2018-12-05 06:08] #860 closed

[2018-12-05 06:12] ethan-nelson commented on #959
Malagasy was added a while back so I will go ahead and close this ticket out. Updated translations are pushed with other languages as available.

[2018-12-05 06:12] #959 closed

[2018-12-05 06:13] ethan-nelson commented on #865
This should be fixed in #1178

[2018-12-05 06:13] #865 closed

[2018-12-07 21:21] #792 closed

[2018-12-07 21:30] ethan-nelson opened #1290 "Loading message on user profile"
We have improved the queries that retrieve mapped and validated projects on the user profile page so that it is not timing out any more, but there is still a lot of number crunching going on and thus it still takes ~30 seconds for some of the more advanced users. It would be great to have a 'loading' message on the user profile page while waiting for that information.

In a similar light as #1188,

[2018-12-07 21:33] ethan-nelson commented on #917
#1192 should hopefully reconcile this once it goes live

[2018-12-07 21:48] ethan-nelson opened #1291 "Display auto unlock time remaining neater"
Right now, the task auto unlock timer is displayed in minutes left. Let's look at changing this such that it is dynamic and based on the time remaining. I know in TM2 we used a time-ago sort of parser to handle that. The server already supplies the auto unlock time in seconds to the front end.

[2018-12-07 21:49] ethan-nelson commented on #1291
From https://github.com/hotosm/tasking-manager/pull/1274#issuecomment-445161128 @ramyaragupathy

In all the cases time left is displayed in minutes like  ![image](https://user-images.githubusercontent.com/12103383/49636699-59ae5300-fa29-11e8-8182-fc0d27603c75.png)

Just thinking if we could get to display units in hours & days if the auto unlock duration exceeds an hour. Like:

- 2hrs and 10 minut

[2018-12-08 05:25] govvin opened #1293 "when selecting area validation option I get tasks that has been validated already"
If I select the area validation option (where I draw a polygon in an area of interest) I expect to validate tasks that hasn't been validated. However, it seems like this selection option also includes tasks that has passed already passed validation.

This was experienced while validating [this](https://tasks.hotosm.org/project/5414) project.

[2018-12-08 05:54] govvin opened #1294 "minor bug: (long) list of tasks for validation are not readable"
![image](https://user-images.githubusercontent.com/5821688/49682531-ae68d100-faf0-11e8-8e6f-1ada4d10f52f.png)

When you are given (a long list) of multiple tasks to validate (e.g. validating by user, or by area) you get this long string where some of the numbers are unreadable

[2018-12-09 04:30] ethan-nelson commented on #668
Since merging #1223, we have not heard reports of this any more. Please reopen if you continue to experience this issue.

[2018-12-09 04:30] #668 closed

[2018-12-09 04:31] ethan-nelson commented on #613
Closing in favor of #1168

[2018-12-09 04:31] #613 closed

[2018-12-09 04:32] ethan-nelson commented on #590
There have been some ideas about this mentioned in the Tech WG meetings lately that may relate to this. We could add features for only specific mapper levels, so mappers on the beginner level may be appropriate to show this to as opposed to advanced mappers. That way, new users do not accidentally mark it while at the same time we do not disrupt the flow of advanced mappers.

[2018-12-09 04:35] ethan-nelson commented on #236
This idea is being actively pursued and the issue now is how it will be handled in the TM internally. Because of the awareness of this process, I am going to go ahead and close this broad ticket--but see #1284 for further information about implementation. Thank you for your input @d3netxer !

[2018-12-09 04:35] #236 closed

[2018-12-11 09:28] govvin opened #1295 "Ability to working on multiple tasks that are next to each other"
![image](https://user-images.githubusercontent.com/5821688/49790632-aff0fe00-fd69-11e8-9917-0a7720adbab8.png)

We work on tasks with linear features (roads) - checking geometry and alignment. Often, it's best to work on multiple tasks at the same time - either mapping them, or validating them together but we can only select on one task at a time.

Would that be possible?

Someone might wonder,  wh

[2018-12-12 16:13] ethan-nelson opened #1296 "Revise split task/bad imagery text"
We recently revised the layout of buttons on the task mapping window to cut down on inadvertently marking a task done or bad imagery or etc. However, there are still tasks that cannot be split because they have a complex geometry, so the text should change on the task window depending on whether the task can be split or not--otherwise someone may think the button is malfunctioning.

![screenshot-a

[2018-12-12 16:16] ethan-nelson opened #1297 "Return to a consolidated comment box"
Neil previously consolidated the multiple comment boxes in the front end in #1201, but some of those were regressed in #1220. It would be good to re-implement this.

[2018-12-12 17:18] russdeffner opened #1298 "Add Type(s) of Mapping to Contribute page project display"
In the project summaries shown on the Contribute page - it would be nice to also show what type(s) of mapping are checked in the project metadata. i.e. If mappers are shown Roads vs. Buildings, etc. from the 'front' page it might do several things:

- Seeing the type of mapping may help mappers decide if the project is right for them
- It might also encourage mappers to read the instructions if it

[2018-12-16 03:51] ethan-nelson commented on #1282
https://tasks-stage.hotosm.org/project/5535 is an example of this occurring on staging

I've been looking at the raw tasks geojson from https://tasks-stage.hotosm.org/api/v1/project/5535/tasks?as_file=false and picked one of the tasks of the original zoom level and one at the next zoom level that was split.

[code]

Taking formulas from https://github.com/hotosm/tasking-manager/blame/master/server

[2018-12-16 05:10] ethan-nelson commented on #1282
Playing around with things a bit, it seems I can get a slightly strange gridding if I go from step 2 to 3 in project creation, alter the size of the grid, zoom out, pan the map, then go back to step 2 and pan the map and zoom a bit, then go forward to step 3. So there is perhaps a variable about lat, lon, and/or zoom that is not being reset or updated?

[2018-12-18 03:02] lesserj commented on #1284
Take a look at #1302.  It allows projects to be created by geojson data.  Geojson data is split by task boundaries and stored per task.  Tasks without data are discarded.  There is no visualization component in Tasking Manager, but it does include a plugin for JOSM that allows the data to be passed to JOSM when clicking the start mapping button.

[2018-12-18 03:06] lesserj commented on #1282
@ethan-nelson I had this problem a lot. It only happened to me on high-resolution screens.  I even have a computer with two screens, one, which is high resolution.  I would get the error when creating a task on the high-resolution screen, but if I moved to the standard resolution screen, it would work fine.  It was only impacted when drawing the project boundaries.  When I imported the project are

[2018-12-19 06:33] ethan-nelson commented on #754
Note that https://github.com/hotosm/tasking-manager/wiki/Restricting-features-to-certain-users now contains some information about implementing mapping level permissions on features within the TM--may be useful for this request.

[2018-12-19 06:35] ethan-nelson commented on #630
An example is available here: https://tasks.hotosm.org/project/5543/dashboard

[2018-12-20 02:39] ethan-nelson commented on #1183
Hi again @wildintellect thank you again for all of your feedback. I have updated the wiki page at https://github.com/hotosm/tasking-manager/wiki/Migrating-from-TM2-to-TM3 and am now working on a PR to address these issues (#1307)!

[2018-12-20 02:39] #1183 closed

[2018-12-20 02:39] ethan-nelson commented on #1088
Hi @kleper thank you for this guide. I have updated the wiki page at https://github.com/hotosm/tasking-manager/wiki/Migrating-from-TM2-to-TM3 and am now working on a PR (#1307) to make this process a bit easier based on that guide.

[2018-12-20 02:39] #1088 closed

[2018-12-20 02:45] ethan-nelson opened #1309 "Re-add ability to assign tasks to someone"
TM2 allowed you to assign a task to someone for them to complete. That's not in TM3.

[2018-12-20 02:49] ethan-nelson commented on #1309
Per Slack, it seems there was not much interest in this feature, but always open to expanded functionality :)

[2018-12-20 03:15] ethan-nelson commented on #715
This seems to be fixed now that we updated the translation files...I think the last time they were uploaded, the encoding was not set properly. Please reopen if that is not the case.

[2018-12-20 03:15] #715 closed

[2018-12-20 05:32] ethan-nelson commented on #571
Based on the code at https://github.com/hotosm/tasking-manager/blob/develop/server/models/postgis/project.py#L152-L154 and a test I just ran on staging, this is fixed.

[2018-12-20 05:32] #571 closed

[2018-12-28 17:32] FrisoDB opened #1312 "add 'mark as read' to inbox"
Every time I login I find myself having received about ten new standard messages, usually about a task being verified. I have to open and close every message, which gets a bit annoying.

[2019-01-10 03:46] ethan-nelson commented on #1251
Hi @kleper it looks like this is related to #1282. That task has actually moved to https://tareas.openstreetmap.co/project/111?task=132#bottom. I unfortunately don't have an answer for fixing it at this moment, but it's coming up soon on my to-do list. Just for a data point, do you know what version or commit this instance is currently running? Cheers, Ethan

[2019-01-10 16:37] dakotabenjamin opened #1323 "Add link to status.hotosm.org"
Adding this so it gets tracked- This doesn't need to happen until we've fully fleshed out functionality (coming later this month)

[2019-01-11 05:00] ethan-nelson opened #1324 "Extend time mapped calculation to TM v2"
Right now, TM3 only counts time mapped for TM3 events. The prior version of the TM had a different set of history actions when checking out and returning a task. We should investigate the possibility of extending the calculation to TM2 history events as well.

[2019-01-13 17:54] ethan-nelson opened #1325 "Select a task by the number to map or validate"
From @FransS1945

Make it possible to fill in the number of a task you want to map or validate.

This option is useful when you want to continue mapping or validating on the same task for instance when you had to stop or the timeslot ends.

[2019-01-13 17:54] ethan-nelson opened #1326 "Create Identify Task in project validated by (new) mapper in iDeditor"
From @FransS1945:

Find a task on a project which has been validated by a (new)mapper in iDeditor

Show tasks by the number and mapper which has been validated in iDeditor to be able to do a 2nd validation check.

This can be used as well to inform a mapper who validate in iDeditor about the incapebility and shortcomings of iDeditor to do a proper validation job.

Now it is not possible to find a

[2019-01-14 08:31] arunasank opened #1327 "Draft a CloudFormation template for this stack"
Currently the tasking manager is configured and set up to run on AWS using Elastic Beanstalk. We want to move the TM configuration to a CloudFormation template, to simplify the creation, updation and deletion of tasking manager stacks using configuration tools like https://github.com/mapbox/cfn-config. This will solve a couple of issues:

* It will make the process of creating or deploying the tas

[2019-01-15 16:51] dakotabenjamin commented on #912
FYI We have our own CDN now, hosted on aws s3.

[2019-01-18 16:42] ethan-nelson opened #1329 "Revisit prominence of bad imagery button"
Per TWG meeting and https://github.com/hotosm/tasking-manager/pull/1319#issuecomment-453905106

The button rearrangement has caused an increase in tasks marked bad imagery. This could be due to the prominence of the bad imagery button, but may also stem from low bandwidth or inattention to custom imagery.

We should consider moving/shrinking the button so that the unlock button is more visible.

W

[2019-01-22 02:09] Vaomatua commented on #1329
Thanks Ethan, restricting the bad imagery to a mapper level is a good idea.
Personally I mark a tile as validated when I verify that all 5 valid imagery sources are not useable. That way other validators don't continue to revisit the tile and we can get to 100% validation to archive the task.

[2019-01-24 00:35] russdeffner commented on #1329
I would respectfully disagree; the main reason we added a bad imagery button was because we had many mappers marking tasks as done because they didn't have good imagery, or impatient with it loading, etc. I think we want new mappers telling us that there isn't sufficient imagery (when there really isn't); I think the problem is still more about them being confused on how/when to unlock vs. marking

[2019-01-25 18:51] Vaomatua commented on #1329
@ramyaragupathy  Great analysis, thanks.
I noticed the problem quite a bit on task 5588, I suspect the percentage of tasks tagged as bad imagery is higher than  0.045%. I believe all of the ones I looked at were created using the iD editor. On the Crowd2map Slack channel I have had to explain dozens of times how to switch the background images. For new editors that don't read or ask questions havi

[2019-01-25 18:53] russdeffner commented on #1329
@Vaomatua - just the hiding it from Beginners (i.e. restricting the button to intermediate and advanced). Agree that it's prominence is maybe too high with current interface.

[2019-01-25 19:12] Vaomatua commented on #1329
@russdeffner Thanks. I think another consideration is the impact of a "false positive", (a tile with good imagery marked as bad imagery) which is then marked as "invalid". That notice can be a real discouragement to any mapper, especially new ones.

[2019-01-27 06:28] cgiovando opened #1333 "Allow splitting project by x number of tasks"
This is a suggested new feature that would allow project managers creating an arbitrary number of tasks rather than using the current `Set Task Sizes` or _split_ functions.

This feature is needed in the case of projects that have a structured workflow with a selected number of mappers. The current workaround consists in uploading a GeoJSON with the exact number of tasks needed.

cc @AleZena

[2019-01-31 00:50] harry-wood commented on #1108
This error seems to have gone away. I just fetched all 136 pages without errors

[2019-01-31 00:50] #1108 closed

[2019-01-31 01:02] ethan-nelson commented on #1108
Hi @harry-wood can't say I know what has "fixed" this, but good to know it is for the time being. I suspect it may be dependent on the number of projects. Alternatively, it may stem from the caching issues we had for a while. In any case, thanks for the follow-up!

[2019-01-31 01:08] harry-wood commented on #927
hmm so there was an iframe fix for this bug https://github.com/hotosm/tasking-manager/issues/1000  which fixed it for firefox but not for safari.

For safari, my suggestion here: https://github.com/hotosm/tasking-manager/issues/1000#issuecomment-388635545  ...will work I think.

[2019-02-02 00:50] kamicut opened #1338 "Add lastUpdated and created in /search API"
I have an application that reads the TM API and would like to sort by lastUpdated to see what are the "freshest" tasks. Unfortunately right now I would have to hit every project API endpoint to get the lastUpdated metadata. Would it be useful to float the lastUpdated and created fields to the search API models? I can work on this.

[2019-02-06 16:08] dakotabenjamin commented on #775
@verdy-p that has been solved as of version 3.1.0 (for projects created after the release)

But I can confirm the splitting bug in the OP is still present. (cc @russdeffner)

[2019-02-06 16:29] wookey opened #1339 "Split tile becomes unselectable"
I suspect a bug in the tasking manager: Colin_Jones split 3 tiles into 4 (due to cloud obscuring only part of the tile, so that part could be 'marked as bad imagery'. However now those subtiles are no longer selectable for editing.

The example is on https://tasks.hotosm.org/project/5381 three tiles in a row NW 'corner' of task area, which before splitting were:
https://tasks.hotosm.org/project/53

[2019-02-06 17:01] arunasank commented on #1327
Hi folks! Quick state of things update:

I have managed to set up the tasking manager, and am currently able to access it using the EC2 public DNS and port, but I am unable to access it via the ELB DNS
* The ELB has access to the EC2 and health checks for the EC2 are passing on the ELB.
* The ELB has a listener forwarding traffic from the HTTP port 80 to port 8000 which is what we expose via gunic

[2019-02-06 20:45] abalosc1 opened #1340 "Update postgis in Client Install Script for Ubuntu 16.04"
404 on `http://postgis.net/stuff/postgis-2.2.4dev.tar.gz` listed in the Client Install Script for Ubuntu 16.04
https://github.com/hotosm/tasking-manager/wiki/Client-Install-Script-for-Ubuntu-16.04

[2019-02-06 20:56] ramyaragupathy commented on #1340
@arunasank - did this get through for you in the cfn?

[2019-02-07 05:49] ethan-nelson commented on #1340
I don't want to jump a version number without looking at the changelog, so I updated the script to point to just the postgis-2.2.4 release instead of dev. Let me know if that doesn't work for you.

[2019-02-07 05:53] arunasank commented on #1340
Hi folks, I am using `postgis-2.5.2dev`!

[2019-02-07 12:34] dakotabenjamin commented on #1340
Thanks @ethan-nelson! I'll close this, please reopen if issues aren't resolved.

[2019-02-07 12:34] #1340 closed

[2019-02-07 20:49] ethan-nelson opened #1341 "Transfer project to new owner"
Provide the ability to transfer ownership of a project from one user to another.

[2019-02-07 21:56] edircksen opened #1342 "tiles/project aoi increase in size"
HOT TM project 5475 appeared to become corrupt while still in draft. The task squares expand and the apparent AOI covers most of the hemisphere. Upon zooming in, the task squares are selectable and things look normal. I created the project by importing a GeoJSON file and using the square grid option to define task squares. This has happened a few times before. I've checked validity of the polygon

[2019-02-08 19:03] ethan-nelson commented on #1342
Hi @edircksen thank you for filing the ticket--you're in the right place. Would you mind sending the geojson to ethan.nelson@hotosm.org? I'd like to take a look at the behavior in my local environment to try and figure this out. Thanks!

[2019-02-08 19:08] ethan-nelson commented on #1339
Hi @wookey thanks for filing this. I was able to select the square that is missing by messing with the url (https://tasks.hotosm.org/project/5381?task=505), but you're definitely right that the large circle shouldn't be selectable--especially when you select that one particular task. I'll touch base with the project manager to see if we can figure out how this occurred. Thanks!

[2019-02-09 05:47] edircksen commented on #1342
Hi, Ethan,

Attached are 2 geojson files. BornoNganzai.geojson is the file I used to create the HOT TM project (5475, archived). BornoHganzaiGrid.geojson is the project AOI polygon downloaded from TM. There is a slight difference, I don't know if it's meaningful. Thanks for your help. I look forward to learning from this.Thanks

Eric Dircksen, Volunteer

________________________________
From: Etha

[2019-02-12 08:45] xamanu opened #1343 "Update tasking manager roadmap"
On February 7th and 8th a collaborator and stakeholder workshop has been held. The information from this workshop needs to be compiled, shared with the involved people and the issue queue updated accordingly.

[2019-02-13 17:34] mrsaicharan1 commented on #1338
Would like to work on this issue. Could you assign this to me?

[2019-02-13 18:36] russdeffner opened #1346 "User Search Clarification"
When you are searching for users, you have the option to search users by role or by mapping level. What is confusing is you can actually filter on both, but there is no visual indicator that that is what is happening. i.e. if I filter for validators, then click beginner mappers, the button for validators turns off making me think I'm seeing all beginners, yet the list is still filtered for validat

[2019-02-13 18:48] russdeffner commented on #1346
A couple of suggestions to resolve this:
* Make both filter have a 'permanent state', i.e. each menu should always show something (All by default)
* Expand the "Total number of users:" to be more descriptive; i.e. 'Total number of users in the X role/Y level'

Somewhat like shopping Amazon or Kayak, etc. lots of independent filters with a description like 'you're looking at maps in the mapping dep

[2019-02-14 04:26] ethan-nelson commented on #1338
Hi @mrsaicharan1 I can't assign it to you for some reason, but I will mark it as in progress. Let me know if you run into problems! Thanks for your interest!

[2019-02-14 09:46] cgiovando opened #1347 "Better permission policies for project management"
At the moment, any project manager can edit any project. We should restrict these permissions to admins only or set new policies for adding project managers to each project for collaborative editing (see also #969).

Projects also don't show metadata about who last edited (regression from TM2?).

[2019-02-18 14:04] AleZena opened #1351 "Italian language translation"
Hello,
it seems Italian language is ready to be used.

Alessandro a.k.a. Ale_Zena_IT

[2019-02-18 19:50] ethan-nelson commented on #1351
Thanks for the notice @AleZena . We weren't able to grab the updated translations prior to the last release, but I will make sure to pull them down this week.
Cheers,
Ethan

[2019-02-21 16:25] arunasank opened #1352 "Conditional RDS creation in the CloudFormation template"
Ref: https://github.com/hotosm/tasking-manager/issues/1327

A CloudFormation template has several parts: `Parameters`, `Resources` and `Conditions` are important for the tasking-manager template.

A `Condition` enables you to create resources conditionally.

[code]

* The `<Key>` is user defined.
* The `{Intrinsic function}` is a CloudFormation way to write JSON functions: https://docs.aws.amazon.

[2019-02-25 10:21] arunasank opened #1353 "Tasking Manager infrastructure streamlining"
These are the tasks to finish before considering this work done:

Task  | Description | Expected timeline | Owner | Status
----------|----------|----------|----------|----------|
**Using spot instances** | The new infrastructure is currently using on-demand instances. This is a consequence of the `MixedInstancesPolicy` [being hard to customise via CloudFormation on AWS](https://github.com/awsdocs/

[2019-02-25 10:27] arunasank commented on #1353
@dakotabenjamin took the liberty of assigning you to the application load balancer task, since it's another nice and easy CloudFormation task, and there is an example in OpenMapKitServer which does the same thing, so you can also get a sense for template reusability. 🙂

[2019-02-25 12:41] arunasank opened #1354 "Tasking Manager Load Testing"
I load tested the Tasking Manager last week with locustio, and the findings have been pretty interesting.

## Locust?
Locust works by simulating requests to specific end points, and weighting requests by end points. The end points are defined in a file: [`locustfile.py`](https://github.com/hotosm/tasking-manager-locustio-test/blob/master/locustfile.py), and requests are sent to each of these end p

[2019-02-25 15:44] xamanu commented on #1243
This is probably a big bottleneck for all kind of communication that can happen on the Tasking Manager, like getting feedback from validators, success of projects the mapper participated, etc.

Said this, I would go even further and suggest to just require every user that maps to have a verified email address in their profile.

[2019-02-26 04:11] ethan-nelson opened #1355 "Keep history of project attributes edits"
Right now, actions such as publishing, archiving, unpublishing projects; changing priority or difficulty; and editing other metadata are done with no record of history. It would be useful to log the time and action when attributes of the project are modified.

[2019-02-26 05:15] ethan-nelson opened #1356 "Ubuntu 18.04 psycopg2 error"
After install postgresql, postgis, and python3.6, I pip installed the requirements from the TM file. Everything installed okay. Once it came time to running the database migrations with alembic, I encountered an issue:

[code]

Upgrading alembic using pip to version 2.7.3.2 seems to have fixed it, i.e. `venv/bin/pip install psycopg2==2.7.3.2`

[2019-02-27 04:14] m-agboola commented on #926
Hi, I'm new here and would like to work on this issue

[2019-02-27 09:25] m-agboola commented on #876
Hi, I'd like to work on this issue if it's still open

[2019-02-27 09:28] m-agboola commented on #876
I'd need some more information about this issue to be able to fix it. Please put me through

[2019-02-27 10:11] xamanu commented on #926
Hi @m-agboola, welcome! Of course feel free to file a Pull Request and we can review together. We also have a [Slack chat](https://hotosm.slack.com/messages/C319P09PB/) where you can join and chat with the collaborators.

[2019-02-27 10:14] xamanu commented on #876
Thanks @m-agboola for jumping into this! What are your concrete doubts?

[2019-02-27 17:31] dakotabenjamin commented on #1352
@arunasank with the commits I pushed to #1327 can we close?

[2019-02-27 17:49] kleper opened #1357 "How to update?"
Hello,

I'm trying to update the OSMColombia Tasks server to the last release of version 3 of the task server, but at the end of the process I'm having the following error:
Feb 27 12:43:11 TM3 gunicorn [1959018]: [2019-02-27 12: 43: 11,829] CRITICAL in mapping_apis: Task GET API - unhandled error: 'TASK_AUTOUNLOCK_AFTER'

Can you help me solve this problem? Is there documentation on how to update?

[2019-02-27 17:52] arunasank commented on #1352
@dakotabenjamin yep for sure. I haven't deployed it myself, but I think you did and things looked good? Please feel free to close.

[2019-02-27 19:00] dakotabenjamin commented on #1352
If we run into issues later we can address them in the PR

[2019-02-27 19:00] #1352 closed

[2019-02-27 22:59] xamanu commented on #1264
A quick update on some conversations that have been going on around this:

* Different providers for ML: There are many ML efforts and endpoints, an extendable architecture is needed in order to allow flexible integration of different ML providers and models. One idea is to abstract a ML-Service that handles the different providers and models, but provides one general API to the TM and other appli

[2019-02-27 23:10] xamanu commented on #1357
Hi @kleper. Which version are you upgrading from?
There is a wiki page on TM2-TM3 migration: https://github.com/hotosm/tasking-manager/wiki/Migrating-from-TM2-to-TM3

[2019-02-28 03:06] kleper commented on #1357
Hi, i have TM3.
i was testing the update on my "sandbox" installation https://talleres.openstreetmap.co/ but it failing.
Thanks

[2019-02-28 06:30] ethan-nelson commented on #1338
Hi @mrsaicharan1 I wanted to check in on your progress. I'm not trying to rush you--just wanted to see if you were running into any problems I could help with along the way. Cheers!

[2019-02-28 06:34] ethan-nelson commented on #1357
@kleper have you made many customizations to the TM after installing? It sounds like there could be a missing variable in the python server configuration script (https://github.com/hotosm/tasking-manager/blob/master/server/config.py) or it's not getting defined when Flask boots up.

[2019-02-28 15:51] xamanu opened #1358 "Integration of iD editor"
It shall be considered to integrate the iD editor into the Tasking Manager, this will support inexperienced mappers and improve mappers' workflows.

Related issue on the iD side: https://github.com/openstreetmap/iD/issues/5856

This can be explored to achieve possible features like:

* Shared actions in iD and TM (e.g. marking a task done from the editor)
* Simplify and target the editor for certa

[2019-02-28 15:57] xamanu commented on #1358
Talking with @quincylvania and @bhousel it was proposed to include this iD integration into the this year's [Google Summer of Code proposals from OSM](https://wiki.openstreetmap.org/wiki/Google_Summer_of_Code/2019/Project_ideas#iD_Editor).

[2019-03-01 02:09] m-agboola commented on #876
@xamanu Sorry for the late reply, Where can I find this bug?

[2019-03-01 10:05] ramyaragupathy commented on #1291
Addressed through https://github.com/hotosm/tasking-manager/pull/1311

[2019-03-01 10:05] #1291 closed

[2019-03-01 15:18] nrotstan opened #1359 "ready2go: copyable ISO8601 timestamps in expert mode"
* Users in expert mode can hover over a timestamp to view it in IS08601 format
* Clicking the ISO8601 timestamp copies it to the user's clipboard
* Users who are not in expert mode continue to experience existing behavior

![copyable_timestamp](https://user-images.githubusercontent.com/445970/53646961-52927d80-3bf1-11e9-85d0-9493c91805aa.gif)

[2019-03-01 16:10] nrotstan opened #1360 "ready2go: project activity sorting and filtering, with task links"
* Allow sorting of project activity by date
* Allow filtering of project activity by action and username
* Allow filtering by latest action per task
* Include link to task

<img width="1267" alt="activity_all" src="https://user-images.githubusercontent.com/445970/53649236-91770200-3bf6-11e9-8f8a-1be89dc25820.png">

<img width="1215" alt="activity_invalidated_latest" src="https://user-images.github

[2019-03-01 19:19] nrotstan opened #1361 "ready2go: inbox sorting, filtering, message types, and delete multiple/all"
* Classify inbox messages by type, such as "system", "validated", "invalidated", "mention", etc.
* Show project and task associated with messages, when appropriate
* Allow filtering of messages by type, sent-from user, project, and task
* Allow sorting of messages by date/time sent
* Support selection of multiple (or all) messages and offer Delete All Selected action (fixes #916)

<img width="1263

[2019-03-01 19:28] nrotstan opened #1362 "ready2go: OSMCha option in task Advanced area"
* Add an OSMCha option to the task Advanced area
* Clicking it opens OSMCha and applies a bounding box filter and a starting date set to the timestamp of the earliest history entry for the task

<img width="571" alt="advanced_osmcha" src="https://user-images.githubusercontent.com/445970/53661320-eaee2980-3c14-11e9-8fec-784fe0ab973f.png">

[2019-03-01 19:34] nrotstan opened #1363 "ready2go: Aways show task Advanced options to expert users"
* Always show task Advanced options to expert users -- no need to click to expand
* Do not offer task Advanced options at all to non-expert users

[2019-03-01 19:39] nrotstan opened #1364 "ready2go: split tasks with arbitrary geometry"
* Support splitting of tasks that did not have a square grid applied to them

![spit_arbitrary](https://user-images.githubusercontent.com/445970/53661903-669ca600-3c16-11e9-9786-3972e7fbf310.gif)

[2019-03-01 19:56] nrotstan opened #1365 "ready2go: Encourage users to add email address"
* Show a navbar badge (red exclamation point) next to username if user has not set an email address
* Show same badge next to "Your profile" menu option on nav dropdown
* Show message on profile page encouraging users to add an email address if needed

<img width="274" alt="email_badge" src="https://user-images.githubusercontent.com/445970/53662697-6b625980-3c18-11e9-963a-6113d04a7c85.png">

<img

[2019-03-01 20:12] bhousel commented on #1358
I just added the Task Manager integration project to the [OpenStreetMap GSoC proposal page](https://wiki.openstreetmap.org/wiki/Google_Summer_of_Code/2019/Project_ideas#iD_Editor)..

[2019-03-02 05:18] kleper commented on #1357
Thanks Ethan, change my config.py for the new one and solve the problem.

[2019-03-02 05:18] #1357 closed

[2019-03-04 15:43] dakotabenjamin commented on #1353
I edited your OP to show that the ALB task is complete. Anything else to be done? Want me to start working on CircleCI integration?

[2019-03-04 16:58] xamanu commented on #1365
This seems to be a duplicate and aligned to #1243.
For us this is very important! Thanks @nrotstan for bringing this in.

Here is my comment on this topic (taken from the other issue):

@nrotstan @smit1678 @russdeffner

[2019-03-04 16:59] xamanu commented on #1243
@smit1678 Is it ok for you to close this issue in favor of this already implemented follow-up? (#1365) Please check, whether any aspect is missing there from your requirements. Thanks!

[2019-03-04 17:00] smit1678 commented on #1243
Thanks. @xamanu I'm in favor of closing this for #1365 👍

[2019-03-04 17:02] xamanu commented on #1359
I like this small but comfortable improvement. What do you think @russdeffner?

[2019-03-04 17:06] #1243 closed

[2019-03-04 17:07] russdeffner commented on #1359
Yes, this is a great subtle feature that will also help us flush out what expert mode will be useful for.

[2019-03-04 17:08] xamanu commented on #1361
This is a great enhancement. I'm looking forward to the PR.

[2019-03-04 17:09] xamanu commented on #1360
This will help the project managers a lot! What do you think, @russdeffner?

[2019-03-04 17:13] xamanu commented on #1364
This is awesome!

[2019-03-04 17:18] xamanu commented on #1363
@nrotstan Is this related to "mapper level" or "expert mode"?

[2019-03-04 17:19] russdeffner commented on #1360
Oh yes, this is a big win for PMs, Mapping Team Leads, Validators, Donors and anyone that wants to dig into the mapping/QA dynamics happening in a particular project. Especially love the quick check-box for 'only last action' so you're not swamped by a flood of lock/unlock.

[2019-03-04 17:21] russdeffner commented on #1361
Going hand in hand with the subtle nudging for email - important improvements to how messaging works, and is displayed in the inbox!

[2019-03-04 17:21] nrotstan commented on #1363
It's based on expert mode

[2019-03-04 17:33] xamanu commented on #1312
This is a bit related to #1361, which introduces actions on several messages.

[2019-03-04 17:43] xamanu commented on #1355
@ethan-nelson How would you envision this? Similar to a table like `task_history`? (fyi @ramyaragupathy)

[2019-03-04 21:22] kamicut commented on #1338
@xamanu I'm waiting to see if @mrsaicharan1 wants to work on this since they expressed interest.

[2019-03-05 04:15] arunasank commented on #1353
@dakotabenjamin pick any task you want. Some of the higher priority tasks are getting the latency of the Tasking Manager down, when setting it up. Do you want to take a look at that? Happy to walk you through running a simple load test with locust tonight.

[2019-03-05 08:20] xamanu commented on #1365
Yes, indeed this is less intrusive. However, I think, at least `validators` and `project managers` must have an email address! And, it seems to be one of our biggest bottleneck on mappers retention, that we don't have a way to communicate with most of people who sign-up (not even to give feedback on their mapping, e.g. validated/invalidated a task).

Wouldn't it be more complex to introduce a logi

[2019-03-05 22:39] russdeffner commented on #1365
I think this is a decision to be made on this point @xamanu - if we just require email, then this particular change would no longer be necessary. I do think implementing a program-wide requirement would be easier, just not sure if that requirement would result in people deciding not to map (via the TM). Probably very little, but maybe not necessary to find out?

[2019-03-07 14:29] TylerRadford opened #1372 "Add gender to user profile"
Let's make sure we add a gender field as part of user profile redesign @xamanu @smit1678

Gender is a key metric we're working to track (and improve!) across all programs and until now has been very difficult to do so for our remote mapping contributor community.

My preference would be to make it required with a 'prefer not to say' option so that users don't have to share the info if they choose

[2019-03-07 14:39] TylerRadford commented on #1372
@rebeccafirthy in case you have additional comments

[2019-03-07 15:14] dakotabenjamin commented on #1372
Here's a good primer of UX design around gender questions: https://uxdesign.cc/designing-forms-for-gender-diversity-and-inclusion-d8194cf1f51?gi=cf34cc03be8b

[2019-03-07 18:49] RebeccaFirthy commented on #1372
Hi, agree Tyler. From a data protection standpoint, the advice we've been given previously is to have 3 options: Female, Male, Prefer not to say

[2019-03-07 19:52] TylerRadford commented on #1372
Thanks @dakotabenjamin  for that
If we used the above three options mentioned by @RebeccaFirthy , there could be cases where a community member is willing to tell us their gender (they DO prefer to say) but it doesn't conform to male or female. If there is a somewhat acceptable catch-all such as 'non-binary' it may be a useful fourth option. I agree that we are unlikely to use anything more detail

[2019-03-08 15:46] dakotabenjamin commented on #1372
I agree @RebeccaFirthy we do not need to ask for pronouns. If the intention is metrics analysis, then I do not see an issue, technically, with having an open-ended "Other". Non-binary/Gender Non Conforming means a very specific set of things and is not a catch-all term. Here's an example, using a datalist:
[code]
You can hide/show the gender_other element:
[code]

[2019-03-09 12:59] nidhinmahesh commented on #888
@ramyaragupathy can I work on this issue?

[2019-03-11 06:38] uwaiszaki commented on #953
@smit1678 I would like to work on this issue if no one is currently working.

[2019-03-11 09:44] xamanu opened #1373 "Support the Organised Editing Guidelines"
Recently, the OpenStreetMap Foundation, approved the [Organised Editing Guidelines](https://wiki.osmfoundation.org/wiki/Organised_Editing_Guidelines). These require reporting back to the OpenStreetMap (OSM) project, whenever editing efforts are coordinated.

The Tasking Manager (TM) is OpenStreetMap's favorite tool to managed organised editings, either in place (like mapathons) or virtually (e.g.

[2019-03-11 09:46] xamanu commented on #1373
This issue has become a [Google Summer of Code 2019](https://github.com/hotosm/tech/blob/master/project-ideas/google-soc/soc2019.md) proposal.

[2019-03-11 10:12] xamanu commented on #1373
The Organised Editing Guidelines state:

I would estimate very roughly that there are ten-thousands of such organised editing activities happening per year with OSM. And I know explicitly about two TM instances that have around 1000 new projects every year. See here the stats for the HOT Tasking Manager:

![image](https://user-images.githubusercontent.com/97706/54115081-b54efa80-43e3-11e9-9a10-37b

[2019-03-11 12:36] xamanu commented on #1372
Thanks for the suggestion and input! We should definitively include this.

[2019-03-11 12:46] xamanu commented on #1186
This is connected with #1370 - "New fields for user profiles to encourage interaction".

[2019-03-11 12:48] xamanu opened #1374 "Gamification"
The Tasking Manager should reward people for doing good mapping and data validation. For example, give people points or badges for mapping, validating squares, fixing invalidated squares, and also some for making good quality data.

[2019-03-11 12:50] xamanu opened #1375 "Improve UX of project creation wizard"
The wizard to create projects in the TM, is a step-by-step guide to select the region of interest and splits up the area into smaller tasks that mappers can reserve for them, mark them as mapped, when they are done, and then let validators check the data. The project creation wizard shows some inconsistencies and there are good ideas for improvement.

This issue consists in conducting initial inte

[2019-03-11 14:00] russdeffner commented on #1373
@xamanu - there is this procedure doc I am working on, should be helpful to define what can/should come from TM: https://drive.google.com/open?id=1PUzp53wiu497eqoBiva48XvjB-Bb7Waj0jXCQgKqbqU

[2019-03-11 15:18] xamanu opened #1376 "Better wording for "invalidated" tasks"
In a nutshell: Change “invalidated” to “help needed”, and squares aren't red but another color

People often don't fix invalidated squares. One idea is to change the name or color of invalidated squares to something that sounds more positive, or to encourage people to want to come back and help. Maybe “help needed” and gray or yellow? Some other pattern perhaps?

[2019-03-11 15:22] xamanu commented on #1376
cc: @hotosm/major, @nrotstan

[2019-03-11 15:23] xamanu opened #1377 "Give project managers regular updates on their projects via email"
Keep the project managers updated. For example, send them stats of each project with current % mapped and validated, the change over the past week or month etc, # of invalidated tasks and so on.

[2019-03-11 15:24] xamanu commented on #1377
cc: @hotosm/major, @nrotstan

[2019-03-11 15:25] xamanu opened #1378 "Give mappers feedback to their contribution and remind them to come back via email"
Often mappers don't return to map after the first time. After a mapathon or event, send an automated thank you for mapping and a reminder to keep going.

[2019-03-11 15:25] xamanu commented on #1378
cc: @hotosm/major, @nrotstan

[2019-03-11 15:29] xamanu opened #1379 "Project level changeset streaming with OSMCha"
Often project managers don't have a good sense of what's happening in their data. Create a link to OSMCha with all the boundaries of the project, the time range since the project started, and all contributors who mapped in this project. This way admins or PMs could easily look at the changesets and see what is wrong, and who is doing poorly.

[2019-03-11 15:30] xamanu commented on #1379
cc: @russdeffner, @nrotstan

[2019-03-11 15:44] russdeffner commented on #1379
Yes, this seems like a good thing. Maybe even open it up to validators as well?

[2019-03-11 15:45] xamanu opened #1380 "Require a validation plan, people responsible for validation"
Often projects don't get validated, one way to help with that is to make sure the project manager has a plan for validation, such as making one or more users responsible for validation. Then if something doesn't get validated, others (or HOT) know who to reach out to.

[2019-03-11 15:45] xamanu commented on #1380
cc: @russdeffner, @nrotstan

[2019-03-11 15:49] nrotstan opened #1381 "ready2go: Mapper-level icons and encouragement messages"
* Add a trophy icon to both the top-nav and the user profile page that represents the user's mapper level (bronze, silver, and gold)

* Add messages to both the user profile page and home page (above the Start Mapping button) encouraging advanced users to validate, and other users to keep up the good work

<img width="338" alt="mapper_level_badge" src="https://user-images.githubusercontent.com/445

[2019-03-11 15:59] xamanu opened #1382 "Project level quantitative and qualitative metrics/project dashboard"
Often project managers don't have a good sense of what's happening in their projects. Include dashboard stats, such as stats like time it takes to map a square, time it takes to validate a square, and include data quality issues that are built into the Tasking Manager.

[2019-03-11 16:35] xamanu commented on #608
This is probably important input for the ongoing design work with @hotosm/major.

[2019-03-11 16:39] xamanu commented on #754
I would attach this to the "Expert mode" and to the roles Validator, Project Manager and Admin. @russdeffner how does this fit best in regular use cases?

[2019-03-11 16:42] xamanu commented on #881
This has been merged: https://github.com/hotosm/tasking-manager/pull/1148 Closing here, too.

[2019-03-11 16:42] #881 closed

[2019-03-11 16:45] russdeffner commented on #1380
Related to #969 - If there are instead just multiple project managers, one could be a 'validation lead'. I am weary to see large, difficult projects with a single person designated for validation. Could give this person a reputation for 'not getting projects done' and/or other validators 'moving on' if a particular validator is 'lead'. And, if required, may not be easily filled, or a PM may 'pick'

[2019-03-11 16:46] xamanu commented on #917
Is this fixed by now?

[2019-03-11 16:55] russdeffner commented on #754
I would think it should be restricted to the Validator role; i.e. usually we aren't giving validator role to beginners, or even intermediate, without reason. I guess additionally, toggling on/off with Expert mode could be a way to 'hide' it from inexperienced validators on unrestricted validator role projects?

[2019-03-11 17:19] xamanu opened #1383 "Custom branding of the Tasking Manager"
Currently the Tasking Manager comes in one main design, with some options in the configuration file. However Tasking Manager instances are commonly adjusted to fit a custom design (at least logo and colors). See the [OSM Earth](https://osm.earth) as an example.

This issue is to abstract some design components, in order to allow organisations to adjust the general look without forking the project.

[2019-03-11 17:20] xamanu commented on #1383
cc: @kriscarle

[2019-03-11 17:26] uwaiszaki commented on #1374
@xamanu Giving people badges for contributing is also a good option. For example, the first contributor of the month, max contributions.

[2019-03-11 17:32] xamanu commented on #1365
Giving an email address is most common on all platforms, people with concerns on privacy can just use any email address they signed-up anywhere, and we have clear numbers that we have a low retention rate and conclusions from research that this is most likely connected to a missing communication flow.

I clearly incline towards just enforcing everybody to set their email address. This is a require

[2019-03-11 17:37] nrotstan opened #1384 "ready2go: cross-project All Activity page"
* Add new All Activity page showing activity across projects (like #1360 offers for a single project)
* Allow filtering of activity by project name
* Restricted to validators, project managers, and admins
* New page is accessible via top-nav dropdown menu

<img width="1238" alt="all_activity" src="https://user-images.githubusercontent.com/445970/54144677-6efc9a00-43e9-11e9-9433-e0428f51ddf2.png">

[2019-03-11 17:59] nrotstan opened #1385 "ready2go: new Partially Mapped and Review Requested task statuses"
* Offer new Partially Mapped task status that allows a user to indicate they have mapped some of the task, but not yet completed it
* If a validator attempts to mark a task in Partially Mapped status as validated/invalidated, show a warning noting the task is not yet complete and ask for confirmation
* Offer new Review Requested task status for when a mapper is unsure of their work, allowing valid

[2019-03-11 18:28] nrotstan opened #1386 "ready2go: Allow users to "follow" each other's mapping and validation activity"
* Add new option on User Profile page whereby users can opt-in to allowing other users to follow their mapping and validation activity
* Offer new Follow button when visiting the User Profile page of another user who has opted-in to allowing themselves to be followed (or Unfollow button if already following them)
* Add new "Following" and "Followers" sections at the bottom of the User Profile page

[2019-03-12 12:43] xamanu commented on #1380
One concern is that if no one is responsible (or multiple people) then some projects just don’t get validated. Maybe that’s something the PM must also ensure!?

[2019-03-12 17:54] nrotstan opened #1387 "ready2go: Websockets with live task updates"
* Add initial support for websockets to both the front-end and back-end using [socket.io-client](https://github.com/socketio/socket.io-client) and [flask-socketio](https://flask-socketio.readthedocs.io/en/latest/) (with eventlet), respectively
* Replace regular front-end polling of task data with use of websockets that immediately communicate task data updates (task statuses, user locks, etc.) to

[2019-03-12 18:22] xamanu commented on #1387
Thanks for the issue, @nrotstan. I would like to ping @ethan-nelson here, as he has started to make his head around websockets, too.

[2019-03-13 14:32] zlavergne commented on #1382
Just to clarify @xamanu, this is talking about metrics on the Tasking Manager project and *not* on the quality of the edits?

[2019-03-13 14:46] uwaiszaki opened #1388 "Authorize access to account on Openstreetmap is giving error while login in taskmanager."
![flaskloginerror1](https://user-images.githubusercontent.com/32809190/54288106-e2aacc80-45cc-11e9-8583-5773916465d0.png)

[2019-03-14 01:26] 75pollet commented on #1370
Hi,  @xamanu @TylerRadford, i would like to work on this issue

[2019-03-14 08:08] ramyaragupathy commented on #1388
@uwaiszaki - what does your oauth settings look like? Here's mine:

![image](https://user-images.githubusercontent.com/12103383/54340840-429d8380-465e-11e9-84d5-d1c5dcff0b4c.png)

Also are you able to access your application via http://127.0.0.1:5000/ after this error?

[2019-03-14 08:27] uwaiszaki commented on #902
@ramyaragupathy I think the issue is solved.

[2019-03-14 08:56] uwaiszaki commented on #1388
@ramyaragupathy My OAuth settings look exactly like this.
I have set the environment variable in the virtual environment activate function instead of bash_profile,
is this the reason for the error? Because backend is working fine.

[2019-03-14 09:30] uwaiszaki commented on #953
@ramyaragupathy I am trying to fix this issue.

[2019-03-14 11:13] uwaiszaki commented on #1388
@ramyaragupathy Here is what happens when I try to log in.
![hotosmtaskmanagerissue1](https://user-images.githubusercontent.com/32809190/54352593-0414c280-4678-11e9-905b-d403c2cef846.gif)

[2019-03-14 11:45] ramyaragupathy commented on #1388
Are all these variables available in your bash profile?

[code]
Better to have it in bash profile so that it is accessible across all processes.

[2019-03-14 16:00] arunasank commented on #1354
The results of the new load tests after implementing some asynchronous behaviour in gunicorn look so good! 😊 We are using the same instance type as what is currently on production, for the cloudformation load test as well.

# Production metrics

### Request distribution
[code]

### Percentage of the requests completed within given times
[code]

# Cloudformation metrics

### Request distribution

[

[2019-03-14 17:59] arunasank commented on #1147
Would love to see additional task related stats at the project level, like
* Total number of tasks
* Number of tasks locked
* Number of tasks validated
* Number of tasks mapped
* Number of tasks completed etc

[2019-03-15 10:35] uwaiszaki commented on #953
@smit1678 @xamanu @ramyaragupathy can anyone explain me the purpose of the function
vm.toggleMenu in account-nav.directive.js if we are not calling it anywhere?
![hotosmtaskmanagerissue953](https://user-images.githubusercontent.com/32809190/54425753-22dc8d00-473c-11e9-8ab2-b3f9c1be1001.png)

[2019-03-15 15:12] uwaiszaki commented on #1047
@xamanu I would like to work on this issue.

[2019-03-15 19:07] ethan-nelson commented on #902
Yes--indeed completed!

[2019-03-15 19:07] #902 closed

[2019-03-16 10:47] uwaiszaki opened #1389 "Message page: Able to access message page with non existing message id."
We can access the message page with a fake message id.
There should be a 404 error status to show that the message does not exist.
![hotosmtaskmanagernewissue2](https://user-images.githubusercontent.com/32809190/54474081-55eb5300-4806-11e9-9e7a-3eb47209ad96.png)
@smit1678 @xamanu @ramyaragupathy I would like to work on this issue.

[2019-03-16 12:08] uwaiszaki commented on #1047
@smit1678 @xamanu @ramyaragupathy I have created a pr #1390, Please give ur reviews.

[2019-03-16 22:37] mitchellspryn opened #1391 "Token not found, maybe you disabled cookie"
When running the server locally, I get the following error when attempting to log in. I've already set up the TM_x environment variables (e.g. TM_DB, TM_CONSUMER_KEY, TM_CONSUMER_SECRET, TM_SECRET, etc) as specified in the instructions. This happens both in a standalone install and in the docker file:

[code]

[2019-03-17 02:49] tastrax opened #1392 "Suggestion - no random tile selection on road projects"
Hi Folks,
It was mentioned on an OSM slack channel I follow that some road projects seem to end up with disconnected roads in the middle of nowhere. I suspect this may come from random tile selection and/or incomplete projects. Maybe the ability to select random tiles could be an option to turn off for project managers, thus encouraging selection of adjacent tiles to ensure continuous road network

[2019-03-17 02:54] tastrax commented on #1392
Another alternative is to allow random tile selection but it must be adjacent to a completed tile (however I acknowledge this could be an issue early on in a project).

[2019-03-17 05:25] uwaiszaki commented on #1391
I had the same error while trying to log in.

[2019-03-17 17:49] arunasank opened #1395 "Cloudformation TM Way Ahead"
👋 @hotosm/tech

Last week, we saw a [pretty significant performance improvement in the tasking manager](https://github.com/hotosm/tasking-manager/issues/1354#issuecomment-472934872). By changing `gunicorn` to use threads instead of synchronous workers, the tasking manager is able to:

* Take on more requests, and complete them asynchronously in a shorter period of time.
* Use smaller and cheaper A

[2019-03-18 11:44] xamanu commented on #1395
Thanks for the update, @arunasank! It is know about these performance improvements!

* Upgrade to an ALB: Great that we are ready for the future.
* Take a call on our deployment strategy: This is a bit more difficult, not having the automatic deployment of staging. But it makes sense to have one workflow for all kind of stacks in HOT. Currently all others don't have auto deployment. So, probably w

[2019-03-18 13:20] dakotabenjamin commented on #1395
See https://github.com/hotosm/tasking-manager/pull/1396 for nearly finished ALB work

[2019-03-18 17:40] dakotabenjamin commented on #1395
- **Add alarms for status page to template** Currently TM3 has 2 alarms that should be tracked, then we can update the triggers in Lambda to follow those instead of the EB alarms (below).

![image](https://user-images.githubusercontent.com/1847818/54534101-1174ca00-4962-11e9-8f60-7737d18d2f10.png)

[2019-03-18 17:54] xamanu commented on #1151
Bringing this up to the attention of @hotosm/major, because there are good plans to introduce a sorting functionality: Check out https://github.com/hotosm/projects/issues/19

[2019-03-18 22:35] uwaiszaki commented on #953
@xamanu @smit1678 @ramyaragupathy. Please review my pr [https://github.com/hotosm/tasking-manager/pull/1397](pr)

[2019-03-19 11:55] xamanu opened #1398 "Frontend: Update libraries"
The current TM frontend stack is using older packages and dependencies. Let's upgrade to newest packages., including AngularJS 1.7.8.

[2019-03-19 11:58] xamanu opened #1399 "Frontend: Development flow"
Improve and document the frontend development flow. Including change detection and ideally live reloading. Ideally for console development setup and docker-compose.yml` deployment, too.

[2019-03-19 12:25] xamanu commented on #1391
Hey, thanks for reporting this error. May I ask you to test the following:

* Install a recent version of [Docker](https://docs.docker.com/get-started/) and [Docker Compose](https://docs.docker.com/compose/).
* Check out the code: `git clone https://github.com/hotosm/tasking-manager.git && cd tasking-manager`
* Copy the configuration file `cp env-example .env`
* Add the consumer key and secret in

[2019-03-19 12:29] xamanu commented on #1389
Thanks for noticing, @uwaiszaki and feel free to take this task.

[2019-03-19 12:30] xamanu commented on #1388
@uwaiszaki, is this the same error as reported in #1388?

[2019-03-19 12:31] xamanu commented on #1391
This issue here seems to be a duplicate of #1388

[2019-03-19 12:35] xamanu commented on #1392
Thanks @tastrax for this input. Indeed we are thinking about suggesting tasks to user. Especially to beginners. Pinging here @hotosm/major as it is connected to their work.

[2019-03-19 12:37] xamanu commented on #1353
@arunasank Can this issue be closed in favour of #1395?

[2019-03-19 13:10] uwaiszaki commented on #1388
@xamanu yes, I am getting the same error.

[2019-03-19 16:12] theprover97 commented on #1372
Hi I am a GSoC 2019 aspirant. I would like to work on this issue. Please tell me about the preference of this data on the profile.

[2019-03-19 16:59] xamanu commented on #1372
As a first step I would go for the simplest approach and use: Female, Male and Other.

[2019-03-19 17:01] RebeccaFirthy commented on #1372
Hi,

We've been advised Female / Male / Prefer not to say is best practice from
a gender and data protection perspective - would it be possible to have
that instead?

On Tue, Mar 19, 2019 at 11:59 AM Felix D. <notifications@github.com> wrote:

--
*Rebecca Firth*
Director, Community & Partnerships
rebecca.firth@hotosm.org <tyler.radford@hotosm.org>
@RebeccaFirthy

*Humanitarian OpenStreetMap Team*

[2019-03-19 17:03] xamanu commented on #1372
Ah, good that we have already some guidelines. Let's go with that.

[2019-03-19 17:45] theprover97 commented on #1372
Sure. I will get to work.

[2019-03-19 21:05] uwaiszaki commented on #1389
@xamanu I have created a pr #1400. Kindly give ur reviews

[2019-03-19 21:59] uwaiszaki commented on #1312
@xamanu I would like to work on this issue.

[2019-03-19 22:24] xamanu commented on #1388
@uwaiszaki I guess there is something wrong with your key. Please check you took the right one from openstreetmap.org. If you want you can share privately with me and I try to use it for connecting.

[2019-03-19 22:34] uwaiszaki commented on #1388
@xamanu I have sent u my auth keys on slack.

[2019-03-20 11:21] arunasank commented on #1395
Copying over some tasks from https://github.com/hotosm/tasking-manager/issues/1353, so we can close there:
* **Set up all our TM stacks using CloudFormation**: Make a detailed plan for deleting existing EBS environments, and setting up TM stacks on CloudFormation, to ensure that the process is seamless and secure, and we don't accidentally lose data.

[2019-03-20 11:21] #1353 closed

[2019-03-20 16:24] zlavergne commented on #1385
I've got some input on the design of these features.

I feel like the color for `Mapped` and `Partially Mapped` are too similar. I think a hashed pattern with the color for `Mapped` and white would portray the idea of an incomplete task more clearly.

Since `Review Requested` only applies to the validation step we could only render `Review Requested` when the validator tab is selected and show it

[2019-03-20 16:29] zlavergne commented on #1365
I agree with @xamanu almost any other system out there requires a form of contact if it's not supplied by OAuth. I don't think it would be discouraging or intrusive if we implemented another step after the current login/OAuth step that requires adding an email address.

[2019-03-20 16:31] zlavergne commented on #1362
@nrotstan would this feature be easily implemented at a project level?

[2019-03-20 16:36] zlavergne commented on #1384
@nrotstan there is also a box under `User`. Can you also filter based on user?

[2019-03-20 18:11] nrotstan commented on #1384
@zlavergne Yes, username filtering and everything else from PR #1360 (single project activity) is supported.

[2019-03-21 05:06] theprover97 commented on #1372
I wish to ask for some opinion as where would it be best to add the new field ,i.e., just below the user below profile, infront of the mapper category, or somewhere else.

[2019-03-21 05:51] ethan-nelson commented on #1372
I'm assuming we only want this for metrics and thus not public-facing? I think a good fit would be where we could repurpose the "add/edit contact details" area (maybe change it to "add/edit your information") and include a drop down-menu for this.

[2019-03-21 06:30] uwaiszaki commented on #1197
@ethan-nelson I would like to work on this.

[2019-03-21 06:42] theprover97 commented on #1372
Got it. Thanks.

[2019-03-21 15:26] theprover97 commented on #1372
I have opened a pull request for it.#1402

[2019-03-21 18:49] uwaiszaki commented on #1365
@xamanu @ethan-nelson I would like to work on this.

[2019-03-21 19:32] uwaiszaki commented on #1391
@xamanu I am unable to find the .env file. Can u please tell me where to find it?

[2019-03-21 22:15] zlavergne opened #1403 "Bug: Mapping and Validation tasks locked at the same time"
Steps to reproduce:
1. Select a task for mapping and lock it
2. Switch to the validation pane
3. Select a task and lock it for validation

Expected behavior:
You shouldn't be able to lock a task for validation if you already have a mapping task locked (and vice-versa).

[2019-03-22 16:33] uwaiszaki commented on #1365
@xamanu @ethan-nelson  I would like to work on this issue.
<img width="457" alt="tmissue1365" src="https://user-images.githubusercontent.com/32809190/54838195-05846180-4cee-11e9-9c5e-103c3e86dd5e.png">
Do i need to add this message box on home screen like the cookie message?

[2019-03-22 16:48] uwaiszaki opened #1404 "Drop down menu in mobile view is not closing when clicking outside the menu."

[2019-03-22 17:34] uwaiszaki opened #1405 "Clicking Contribute is taking it to /contribute?difficulty=ALL"
Clicking contribute on homepage takes us to /contribute?difficulty=ALL but when we click back, instead of going to the home page it redirects us to /contribute.
![tmnewissue4](https://user-images.githubusercontent.com/32809190/54841968-a1b26680-4cf6-11e9-8013-e6113ee1745d.gif)
@xamanu I would like to work on this.

[2019-03-23 22:11] uwaiszaki commented on #1391
is this because of the port exposed?

[2019-03-23 22:18] uwaiszaki commented on #1391
@xamanu It solved the issue.

[2019-03-24 07:44] theprover97 commented on #1374
Hi, I'm a GSoC 2019 applicant and i look forward to work on the project idea of Tasking Manager: Gamification. I have worked on an issue of tasking-manager(#1372) and am currently working on some other issues. I request you to  guide me through this project's ideas and tell me about its relative place in the whole tasking-manager project.

[2019-03-25 10:58] ramyaragupathy commented on #1238
I was looking at this today - we should have a way to figure out if a user has actually uploaded an edit to OSM for a HOT project after locking a task. Counting every user who has locked & unlocked a task without contributing an edit would lead to over projection of impact. what if we could pull this from the Missing Maps leaderboard? or have our API modified to filter out all the edits with a giv

[2019-03-25 12:07] xamanu commented on #1365
I still think we should make it obligatory to fill in the email address.

[2019-03-25 12:10] smit1678 commented on #1238
I agree, because there are some times that I have locked a task, opened iD, but then closed and didn't do any mapping. One thought here as we think ahead -- this could be something that is captured as we look to integrate/wrap iD editor. If the user uploaded any data to OSM, we could then capture that the event happened and then they would be considered that they mapped. I think the hesitation on

[2019-03-25 17:37] richa031 opened #1408 "Projects being loaded takes much time"
It takes very long time to load the projects on the website. As a user people think there are no projects and move to other links.

![Screenshot from 2019-03-26 00-22-24](https://user-images.githubusercontent.com/32764563/54941335-9b202b00-4f52-11e9-9e19-14d02359cc98.png)

We can check if something can be done here.

[2019-03-26 02:54] ethan-nelson commented on #1197
Hi, we've actually transformed this a bit in #1349. Within that is the ability for an application based auth token to be generated. The issue with exposing the ability to generate regular user auths to web users is that a compromised account could be compromised in perpetuity by a malicious actor generating a new auth token before the previous one expired. Instead, the application based auth token

[2019-03-26 02:55] ethan-nelson commented on #1197
In fact, I'm going to go ahead and close this issue since I consider the original ability no longer preferable. Thanks for the interest in this one, though!

[2019-03-26 02:55] #1197 closed

[2019-03-26 02:57] ethan-nelson commented on #1408
Hi @richa031 thanks for your interest in this! It's definitely a problem. This issue is a duplicate of #1188, so I'm going to go ahead and close this so we can consolidate all the information there. If you are interested in tackling this problem, I have some advice on that ticket actually towards solving this problem. Cheers!

[2019-03-26 02:57] #1408 closed

[2019-03-26 02:59] ethan-nelson commented on #953
Closing thanks to fix in #1397

[2019-03-26 02:59] #953 closed

[2019-03-26 03:02] ethan-nelson commented on #1404
Just to add some clarifying info, it's specifically the hamburger menu that does not close automatically on mobile. Thanks to #1397, the menu for the user menu does indeed close after being clicked.

![tmmenu](https://user-images.githubusercontent.com/8998918/54968714-df063680-4f38-11e9-8cf1-bbe82ae741bb.png)

[2019-03-26 03:08] ethan-nelson commented on #849
I've been playing with this workflow a bit and I think the idea is it's supposed to improve the iteration speed of validating. After you validate a tile, the tile is unselected and the user is brought back to the table of users with number of tiles mapped, prompting to select another user's work for validation. Perhaps we can refine this flow such that 1) if a user leaves a comment, after validati

[2019-03-26 03:10] ethan-nelson commented on #840
I'm going to go ahead and close this. I can't seem to replicate the issue nor could Pierre. Additionally we've made some changes to the way the map is handled during resizing, in case that was part of the issue. Please reopen if you can still get the bug to occur. Thanks for the report!

[2019-03-26 03:10] #840 closed

[2019-03-26 03:15] ethan-nelson opened #1409 "Broken navigation menu when resizing window"
Steps to reproduce:

1. Resize browser to be very skinny, such that the hamburger menu activates.
2. Click on the hamburger menu to open/activate it.
3. Resize the browser to be bigger, such that the hamburger menu icon disappears. You will be left with the activated hamburger menu window and no way to close it. Additionally, because of the behavior mentioned in #1404, you cannot close the menu ju

[2019-03-26 03:17] ethan-nelson commented on #1374
One other consideration is the Missing Maps badges that currently exist (e.g. http://www.missingmaps.org/users/#/FTA). For now, we've just linked to the user profile page on Missing Maps from the TM profile page.

[2019-03-26 03:24] ethan-nelson commented on #1238
I think it would be helpful to list the users in the project display with 0 mapped, 0 validated if they had any interaction with the project on the TM for reasons like a validator wondering why someone added data in a given AOI or to give a quick metric of number of users marking things done versus not (perhaps many many people with 0/0 may be an indication for the PM there could be a problem). Al

[2019-03-26 03:28] ethan-nelson commented on #1387
Complementary to this issue, we have #1368 filed that implements a differential update for intermediate refreshes of the project. So, in the interim (and for cases where hosts do not want to use the websockets in the future), there should hopefully be some relief for projects with a heavy server load caused by complex geometries and high traffic.

[2019-03-26 05:12] uwaiszaki commented on #1188
@ethan-nelson I would like to work on this.

[2019-03-26 08:25] uwaiszaki commented on #1365
@xamanu Should I include a message box like cookie message or redirect the user to profile page with a message to add email after login?

[2019-03-26 08:42] xamanu commented on #1365
Recapping a bit the options on the table:

1. Design as proposed by @nrotstan (using his code, he can put into a PR) and implement rather a block for people who haven't added their email to do any actions, like *Start mapping*, *Start validating* or *Add message* together with a small notice that they need to add an email address in their profile.
2. Prominent message, similar to the cookie messag

[2019-03-26 11:56] xamanu commented on #1391
I just tried an installation, without Docker Compose and got the same error. This makes the PR #1394 more urgent.

[2019-03-26 19:48] dkocich opened #1412 "gateway timeouts very often"
Many errors appear in the tasking manager and UI acts weird (I was unassigned from validation task with "The task expired and was automatically unlocked." / "Invalid project. Please select another project.", UI won't load or respond correctly, etc.).
Similar issues appear also for other marathon participants and last for almost an hour...

![image](https://user-images.githubusercontent.com/6165660

[2019-03-27 12:49] xamanu commented on #1412
Thanks for reporting @dkocich! We faced some problems in our building pipeline, yesterday. This result in an performance issue with our server infrastructure. This should have been fixed by now.

Can you please confirm that all is back to normal? Thanks.

[2019-03-27 13:23] #1391 closed

[2019-03-27 13:24] xamanu commented on #1388
We guided @uwaiszaki to his installation. It worked. Closing here.

[2019-03-27 17:02] thomas-hervey commented on #1358
@xamanu I am going to apply for this year's GSoC and propose a project to work on this integration.

[2019-03-27 17:32] uwaiszaki commented on #1409
@ethan-nelson I would like to work on this.

[2019-03-27 18:50] uwaiszaki commented on #1365
@xamanu @ethan-nelson I have blocked the start validating button and also added a warning box similar to the cookie message to add email as a start, Please give ur reviews.
![tmissue1365(1) gif](https://user-images.githubusercontent.com/32809190/55103783-259d9180-50ef-11e9-961c-083068047656.gif)

[2019-03-27 21:25] wronk commented on #1264
I realized I never dropped the ML-relevant notes from the February working group meeting. They are on google drive [here](https://docs.google.com/document/d/1qf8GLCIzvvTzdTIeVAt-yvGNzC5Ic43AVLzngMDMdEU/edit#heading=h.bejc5d11p3rf).

The contours of these discussions were primarily driven by HOT, Facebook, Microsoft, and DevSeed, but others from the meeting were involved as well.

[2019-03-28 14:50] dakotabenjamin opened #1425 "CircleCI builds failing for develop branch on deployment step"
It fails in the deployment while running `circleci_deploy.sh`.
[code]

Perhaps this can be fixed simultaneously in #1424 ? cc @xamanu

[2019-03-28 17:06] pierzen commented on #1373
With the advent of the MissingMaps project in 2014, the organizations that sponsor that project did not only organize mapathons but regularly advocated for groups around the world to organize mapathons. Since Nepal 2015, all the major OSM disaster Responses have suffered from massive participation of newbies with bad quality edits.  The same with the various actions to help for humanitarian NGO's

[2019-03-28 18:34] xamanu commented on #1425
This PR runs through: #1427 (but I had a different error)

[2019-03-28 21:18] hunt3ri commented on #1425
@dakotabenjamin the issue may well be related to adding the python-dev to the docker container as discussed here

https://github.com/aws/aws-cli/issues/2290
https://github.com/aws/aws-cli/issues/2290#issuecomment-402815593

I suspect you're getting Python 3.7 which may not be compatible with PyYAML as outlined in the linked comment.  It may be better to specify python3.6 as the base image??  Good

[2019-03-28 21:22] xamanu commented on #1425
The pipeline apparently shows some inconsistencies, too. Sometimes the tests just [fail](https://circleci.com/gh/hotosm/tasking-manager/1535), while almost identical code bases seem to [work](https://circleci.com/gh/hotosm/tasking-manager/1536).

[2019-03-29 17:48] dkocich commented on #1412
everything looks ok now - closing if you say that it is fixed...

[2019-03-29 17:48] #1412 closed

[2019-03-30 20:49] chovanecm opened #1429 "Improve performance by serving static assets directly"
Hi,

as mentioned in [my comment on one of the earlier commits](https://github.com/hotosm/tasking-manager/commit/2f11df096c4a7555fef6f95c7f4f7c4909158dc0#r32936950), it looks like Tasking manager performance could be (potentially significantly) improved if it didn't use Python to serve static assets like JavaScript files, SVG icons etc. instead of delegating the work to the web server.

Serving st

[2019-03-31 08:35] uwaiszaki opened #1430 "Starting docker container is giving error"
docker-compose up is giving this error
![tmnewissue5](https://user-images.githubusercontent.com/32809190/55286765-b4473280-53bd-11e9-87d4-6c95033b0ee5.png)
@xamanu I tried installing python-dotenv by "pip3 install python-dotenv", but it didn't solve my problem.

[2019-03-31 09:44] ulshell commented on #1373
Hello I know python (flask ) and I did various projects in it. I am looking forward to hear back from you for gsoc 19

[2019-03-31 18:12] beataj-telenav opened #1432 "Conflict when uploading while working on assigned tile"
I have encountered today several situations when I got a conflict error while mapping with JOSM.
It is possible that the tile lock does not work properly?

[2019-04-01 00:16] ethan-nelson commented on #1432
Can you provide some information on the project and task?

[2019-04-01 00:18] ethan-nelson commented on #1432
Also note that locking/checking out a task for mapping is strictly in the tasking manager environment. It does not prevent anyone else from mapping in OSM for that area--they just can't access it through the TM interface easily.

[2019-04-01 00:19] ethan-nelson commented on #1373
@ulshell you may want to join the GSOC channel on our Slack for a better place for inquiries regarding that program: http://slack.hotosm.org/

[2019-04-01 07:27] beataj-telenav commented on #1432
I was mapping: https://tasks.hotosm.org/project/5852?task=495#bottom while I got the conflict.

[2019-04-01 16:49] xamanu commented on #1425
@JorgeMartinezG spotted the weak point in the `.ebignore` file where `client` was explicitly excluded. This PR addresses the problem: #1433.

[2019-04-01 16:51] xamanu commented on #1430
@uwaiszaki Please try `docker-compose build && docker-compose up`

[2019-04-01 16:54] xamanu commented on #1404
Thanks for the fix!

[2019-04-01 16:54] #1404 closed

[2019-04-01 17:07] xamanu commented on #1432
There are definitively several people mapping on the same time. The status of the task is well set however. Probably there was a very ambitious mapper, extending the area of his/her task.

[2019-04-01 17:16] xamanu commented on #1356
Thanks @ethan-nelson. Filed a simple PR on this.

[2019-04-01 18:49] uwaiszaki commented on #1430
@xamanu This Solved the issue

[2019-04-01 22:18] russdeffner opened #1435 "Blocked User Can Comment"
Currently a user that is blocked (i.e. Read_Only) can still comment on projects. This should be changed to ensure that a blocked user can not perform any activity on a project.

[2019-04-02 06:05] qeef commented on #1429
The issue is tagged as *Needs help*. Can you write **what** you need help with?

[2019-04-02 06:54] beataj-telenav commented on #1432
Ok, for the next time when I'm mapping using the tasking manager, I will download again the data from OSM to double check it.
Thank you.

[2019-04-02 07:39] xamanu commented on #1429
It needs somebody who is taking a lead on implementing this.

[2019-04-02 07:41] #1432 closed

[2019-04-02 07:46] #1430 closed

[2019-04-04 05:52] uwaiszaki commented on #1435
@russdeffner I would like to work on this.

[2019-04-04 08:23] gubuntu commented on #1044
and also add controls to filter by %

and on the map view, symbolise by % as well

[2019-04-04 19:28] uwaiszaki opened #1439 "Share button in project page is not closing on clicking outside the menu."
![tmnewissue11](https://user-images.githubusercontent.com/32809190/55582748-e0581000-573d-11e9-88ff-6cc4d362e1ba.png)

[2019-04-04 19:28] uwaiszaki commented on #1439
@xamanu I would like to work on this issue.

[2019-04-05 05:17] russdeffner commented on #1347
This has become urgent for me, every time I turn around something has been changed with activation projects and I have no way to track who or how it happened. I cannot fully manage a response with the way this is 'free-for-all' and un-tracked. I'm not sure we should restrict, because there are times I want someone else to edit my projects (and of course Admins should be able to no matter what) but

[2019-04-05 09:12] russdeffner opened #1440 "Remove Entities to Map field"
Currently you must set both "Type(s) of mapping:" and "Entities to map" and these really need to be the same thing and as recently learned, it's not always easy to remember to change both if you need to. I propose that Entities to map be either removed or just automatically populated from Type(s) of mapping:

[2019-04-05 10:31] russdeffner opened #1441 "Change difficulty category names"
I suggest we change the categories of difficulty from: "Beginner, Intermediate, Advanced" to "Easy, Moderate, and Hard (or Difficult)"

The reason is - often we have projects (i.e. all road projects that ask for classification) that are really not very beginner friendly/easy but more moderate in difficulty yet we allow beginner mappers to participate. Having difficulty categories match the level o

[2019-04-07 02:59] russdeffner opened #1442 "Forbid Project Managers to assign same role to other users"
Urgent, Urgent Regression from TM2!!!

Project Managers should not be able to give others the PM role. We desperately need to control who gets PM role and ensure they are properly trained. Just found out that PMs currently have the ability to give others the role and this dramatically limits our ability to control this, and is a regression from how only Admins could give the role in TM2. Only Admi

[2019-04-08 05:46] arunasank opened #1444 "Set up Circle CI for automated deployments with CloudFormation"
Ref: https://github.com/hotosm/tasking-manager/issues/1395

To complete the new setup, we must:
* [x] Migrate to Circle v2
* [x] Set up automated deployments for the Tasking Manager with circle ci + cloudformation. From https://github.com/mapbox/cfn-config

[code]

So, we can use preset templates on S3 + the `-f` option on circle ci to do automated deployments much like we were doing with Elastic

[2019-04-08 07:27] ramyaragupathy commented on #1395
:+1: [Awesome](url) @arunasank

|tool|time taken|
----|-----|
**_help_**

- 1
- 2

[2019-04-08 08:24] arunasank opened #1445 "Test the CloudFormation based tasking manager"
👋 @hotosm/tech The staged version of the tasking manager is set up at http://tasks-cfn-stage.hotosm.org/. Currently, it's only been tested by me (😅), so I would love it if more people can test it, and see if something feels weird/better.

esp. cc/ @russdeffner @xamanu @ramyaragupathy @mataharimhairi @dakotabenjamin @smit1678 @cgiovando @willemarcel

[2019-04-08 08:24] arunasank commented on #1445
Ref: https://github.com/hotosm/tasking-manager/issues/1395

[2019-04-08 08:33] arunasank commented on #912
Can we close here?

[2019-04-08 08:58] arunasank commented on #1395
## Tasks

@dakotabenjamin feel free to edit this comment once you finish a task.

Task | Owner | Status
-------|----------|----------
Migrate to the ALB | @arunasank | ✅
Update our deployment strategy. Use cfn-config based commands in our circle ci: https://github.com/hotosm/tasking-manager/issues/1444 | @dakotabenjamin  |
Reduce bootstrap time | @arunasank |
RDS Audit | @arunasank |
Cleanup EBS d

[2019-04-08 09:31] willemarcel commented on #1445
Tested creating and editing project, mapping, validating, deleting message, posting comments, set bad imagery, updating user details. Everything worked great :+1:

[2019-04-08 09:39] xamanu commented on #1442
Thanks for the PR, @ethan-nelson. It fixes the urgent part of the issue, because project managers can't give the role to other users (lowering the priority here).

![image](https://user-images.githubusercontent.com/97706/55714467-406ee080-59e2-11e9-915c-eab85b44afa6.png)

In order to consider this issue to be fixed, ideally the button to promote to a "Project Manager" should be hidden, similarly t

[2019-04-08 10:12] xamanu commented on #1442
Hiding the button should be [strait forward](https://github.com/hotosm/tasking-manager/wiki/Restricting-features-to-certain-users).

[2019-04-08 10:39] arunasank commented on #1444
cc/ @dakotabenjamin @hotosm/tech

[2019-04-08 10:52] arunasank opened #1446 "Audit TM stacks"
Ref: https://github.com/hotosm/tasking-manager/issues/1395

As a way of spring cleaning the tasking manager resources and environments before we move to CloudFormation, let's look closely at our stacks and our RDS instances and snapshots and figure out which ones need to be retained/thrown away.

# Stacks
We currently have the following tasking Manager stacks hosted by HOT:
* `production`: The mai

[2019-04-08 11:06] arunasank opened #1447 "Audit TM RDS instances"
Ref: #1395, https://github.com/hotosm/tasking-manager/issues/1446

As a way of spring cleaning the tasking manager resources and environments before we move to CloudFormation, let's look closely at our stacks and our RDS instances and snapshots and figure out which ones need to be retained/thrown away.

## RDS

Currently, we have 14 RDS instances and 448 RDS snapshots. Per chat with @xamanu and @r

[2019-04-08 11:10] arunasank commented on #1447
## db-tm3-demo-temp

**Created at:** 2019-03-29T16:17:37.531Z
**Link:** https://console.aws.amazon.com/rds/home?region=us-east-1#database:id=db-tm3-demo-temp;is-cluster=false
**Tasking Manager Stack:** ❓

Snapshot Identifier| Snapshot creation time| Snapshot Type
--------|--------------|------------------
rds:db-tm3-demo-temp-2019-03-29-16-17| 2019-03-29T16:17:51.540Z| automated
rds:db-tm3-demo-te

[2019-04-08 11:12] arunasank commented on #1447
## ramya-jan25

**Created at:** 2019-01-25T08:27:43.618Z
**Link:** https://console.aws.amazon.com/rds/home?region=us-east-1#database:id=ramya-jan25;is-cluster=false
**Tasking Manager Stack:** `taskingmanager-prod`

Snapshot Identifier| Snapshot creation time| Snapshot Type
-----------|------------------|-------------------
rds:ramya-jan25-2019-03-08-04-05|2019-03-08T04:05:51.191Z|automated
rds:ram

[2019-04-08 11:13] arunasank commented on #1447
## stage

### Created at: 2018-11-22T04:04:41.556Z
### Link: https://console.aws.amazon.com/rds/home?region=us-east-1#database:id=stage;is-cluster=false
### Tasking Manager Stack: ❓

Snapshot Identifier| Snapshot creation time| Snapshot Type
-----------|------------------|-------------------
rds:stage-2019-03-09-04-11 | 2019-03-09T04:11:05.429Z | automated
rds:stage-2019-03-10-04-11 | 2019-03-10T0

[2019-04-08 11:15] arunasank commented on #1447
## stage-2019-02-06

**Created at:** 2019-02-06T17:32:41.157Z
**Link:** https://console.aws.amazon.com/rds/home?region=us-east-1#database:id=stage-2019-02-06;is-cluster=false
**Tasking Manager Stack:** ❓

rds:stage-2019-02-06-2019-03-08-04-05 | 2019-03-08T04:05:51.072Z | automated
rds:stage-2019-02-06-2019-03-09-04-05 | 2019-03-09T04:05:51.830Z | automated
rds:stage-2019-02-06-2019-03-10-04-08 | 2

[2019-04-08 11:19] arunasank commented on #1447
## tasking-manager-prod-clone-20180917

**Created at:** 2018-09-17T14:14:12.065Z
**Link:** https://console.aws.amazon.com/rds/home?region=us-east-1#database:id=tasking-manager-prod-clone-20180917;is-cluster=false
**Tasking Manager Stack:** :question:

Snapshot Identifier| Snapshot creation time| Snapshot Type
-----------|------------------|-------------------
rds:tasking-manager-prod-clone-2018091

[2019-04-08 11:35] arunasank commented on #1447
## taskingmanager-prod-fallback-2018-11-02

**Created at:** 2018-11-03T14:16:42.627Z
**Link:** https://console.aws.amazon.com/rds/home?region=us-east-1#database:id=taskingmanager-prod-fallback-2018-11-02;is-cluster=false
**Tasking Manager Stack:** :question:

Snapshot Identifier| Snapshot creation time| Snapshot Type
-----------|------------------|-------------------
aruna-tm-prod-snapshot | 2019-

[2019-04-08 11:35] arunasank commented on #1447
## taskingmanager-staging

**Created at:** 2018-10-17T15:35:45.640Z
**Link:** https://console.aws.amazon.com/rds/home?region=us-east-1#database:id=taskingmanager-staging;is-cluster=false
**Tasking Manager Stack:** :question:

Snapshot Identifier| Snapshot creation time| Snapshot Type
-----------|------------------|-------------------
db-tm3-staging-2903 | 2019-03-29T15:59:09.780Z | manual
rds:task

[2019-04-08 11:35] arunasank commented on #1447
## taskingmanager-teachosm

**Created at:** 2018-05-15T14:59:49.684Z
**Link:** https://console.aws.amazon.com/rds/home?region=us-east-1#database:id=taskingmanager-teachosm;is-cluster=false
**Tasking Manager Stack:** :question:

Snapshot Identifier| Snapshot creation time| Snapshot Type
-----------|------------------|-------------------
rds:taskingmanager-teachosm-2019-03-31-06-14 | 2019-03-31T06:1

[2019-04-08 11:35] arunasank commented on #1447
## tm-demo-updated

**Created at:** 2018-06-25T12:37:56.412Z
**Link:** https://console.aws.amazon.com/rds/home?region=us-east-1#database:id=tm-demo-updated;is-cluster=false
**Tasking Manager Stack:** :question:

Snapshot Identifier| Snapshot creation time| Snapshot Type
-----------|------------------|-------------------
db-tm3-demo-2903 | 2019-03-29T15:59:30.875Z | manual
rds:tm-demo-updated-2019-

[2019-04-08 11:36] arunasank commented on #1447
## tm-latency-check

**Created at:** 2018-04-18T14:12:44.923Z
**Link:** https://console.aws.amazon.com/rds/home?region=us-east-1#database:id=tm-latency-check;is-cluster=false
**Tasking Manager Stack:** :question:

Snapshot Identifier| Snapshot creation time| Snapshot Type
-----------|------------------|-------------------
rds:tm-latency-check-2019-03-08-04-08 | 2019-03-08T04:08:13.505Z | automated

[2019-04-08 11:36] arunasank commented on #1447
## tm-prod-public

**Created at:** 2018-06-04T08:23:06.292Z
**Link:** https://console.aws.amazon.com/rds/home?region=us-east-1#database:id=tm-prod-public;is-cluster=false
**Tasking Manager Stack:** :question:

Snapshot Identifier| Snapshot creation time| Snapshot Type
-----------|------------------|-------------------
rds:tm-prod-public-2019-03-09-04-11 | 2019-03-09T04:11:47.994Z | automated
rds:t

[2019-04-08 11:36] arunasank commented on #1447
## tm-staging-updated

**Created at:** 2018-06-04T08:17:58.767Z
**Link:** https://console.aws.amazon.com/rds/home?region=us-east-1#database:id=tm-staging-updated;is-cluster=false
**Tasking Manager Stack:** :question:

Snapshot Identifier| Snapshot creation time| Snapshot Type
-----------|------------------|-------------------
rds:tm-staging-updated-2019-03-08-04-10 | 2019-03-08T04:10:08.018Z | aut

[2019-04-08 11:36] arunasank commented on #1447
## tm3-prod-public-oct1

**Created at:** 2018-10-01T10:08:50.328Z
**Link:** https://console.aws.amazon.com/rds/home?region=us-east-1#database:id=tm3-prod-public-oct1;is-cluster=false
**Tasking Manager Stack:** :question:

Snapshot Identifier| Snapshot creation time| Snapshot Type
-----------|------------------|-------------------
rds:tm3-prod-public-oct1-2019-03-08-04-12 | 2019-03-08T04:12:31.199Z

[2019-04-08 11:36] arunasank commented on #1447
## tt1hwuk013lck1a

**Created at:** 2019-04-08T05:34:25.765Z
**Link:** https://console.aws.amazon.com/rds/home?region=us-east-1#database:id=tt1hwuk013lck1a;is-cluster=false
**Tasking Manager Stack:** :question:

Snapshot Identifier| Snapshot creation time| Snapshot Type
-----------|------------------|-------------------
rds:tt1hwuk013lck1a-2019-04-08-05-34 | 2019-04-08T05:34:28.462Z | automated

[2019-04-08 11:40] arunasank commented on #1445
Also noting that @willemarcel noticed some lag on specific projects, where the production instance was performing better than the cloudformation instance. He has updated our load test files to hit these end points and I'll be using this new load test file to test our stacks and posting results soon. Want to note that we do run the CloudFormation TM on an instance with half the CPU and memory power

[2019-04-08 11:42] willemarcel commented on #1398
I tried to update also turf and openlayers, but it didn't work

[2019-04-08 11:55] uwaiszaki commented on #1442
@xamanu can I work on this?

[2019-04-08 12:23] arunasank commented on #1447
We currently have 7 tasking manager stacks, and 14 tasking manager RDS instances which are described along with their snapshots, above. Here's the mapping:

### Elastic Beanstalk stacks

* **taskingmanager-prod**: `taskingmanager-prod-fallback-2018-11-02`
* **taskingmanager-demo**: `tm-demo-updated`
* **tasking-manager-stage**: `stage-2019-02-06`
* **tasking-manager-teachosm**: `taskingmanager-tea

[2019-04-08 12:28] arunasank opened #1449 "Audit TM deployment strategy"
# Deployment strategies

As a means of maintaining and paying for only the necessary stacks, let's think about revising our deployment strategies, as we move to CloudFormation.

### Existing
Currently our deployment strategy involves:
* Merge with `develop` => Circle CI pushes to `stage` so that changes can be tested at https://tasks-stage.hotosm.org.
* If things look good on `develop`, merge with

[2019-04-08 13:18] qeef commented on #1429
So I did a little bit of research and if I understand it correctly, it's more about server config then about development. It should be enough to update [.ebextensions](https://github.com/hotosm/tasking-manager/tree/11f0aa36b5fbc1911639e512fa3e8fc984fa27cd/.ebextensions) with [nginx config](https://www.nginx.com/resources/wiki/start/topics/examples/xsendfile/).

I guess that regular developers don'

[2019-04-08 13:21] Boggedy commented on #912
yes

On Mon, Apr 8, 2019 at 9:33 AM S Aruna <notifications@github.com> wrote:

[2019-04-08 16:40] xamanu commented on #1442
Of course. Your valuable contribution is always welcome!

[2019-04-08 18:00] dakotabenjamin commented on #1446
@xamanu if it's ok with you i think we can destroy the `stretch` environment and it's associated database. This was setup specifically to fix some deployment problems with CircleCI and that has been completed. There shouldnt be any important or sensitive information on there.

[2019-04-08 18:02] xamanu commented on #1446
Agreed!

[2019-04-08 18:06] dakotabenjamin commented on #1446
`demo` is an old stack that we couldn't fully delete because of an odd resource dependency. I'm haven't taken a look at it in a while but iirc it was a security group. I think we could force delete the stack without removing the dependency (leaving it floating out there in the wild) by deleting it via cloudformation.

`test` replaced `demo` in function and has been used in the past to test specifi

[2019-04-08 18:41] tordans opened #1450 "iD Editor keyboard shortcut "s" will change to "q""
Hi, this is a heads up that in the next release of iD, the keyboard shortcut to square a buildings will change from <kbd>s</kbd> to <kbd>q</kbd>.

<img width="1003" alt="Bildschirmfoto 2019-04-08 um 20 34 12" src="https://user-images.githubusercontent.com/111561/55748043-ed2a7b80-5a3d-11e9-90ab-5704998923dc.png">

([Source](http://preview.ideditor.com/master/#background=DigitalGlobe-Premium&disabl

[2019-04-09 00:23] ethan-nelson commented on #1442
Do you recall what your rank was when you tested this? The project manager button [should](https://github.com/hotosm/tasking-manager/pull/1443/files#diff-be8300f768292433fee89008fc65dc70R218) only show up for TM admins.

[2019-04-09 02:11] ethan-nelson commented on #912
We haven't moved any of the resources to our CDN yet

[2019-04-09 02:21] ethan-nelson commented on #1450
Hi @tordans I think @aawiseman is one of the folks involved in the training materials, specifically https://www.youtube.com/watch?v=VPJz-AucqF4&list=PLb9506_-6FMHZ3nwn9heri3xjQKrSq1hN&index=7. Andrew, any chance you may have the original video files handy that we can swap out at 2:06 the right shortcut?

[2019-04-09 02:32] arunasank commented on #1446
👍 Thanks @dakotabenjamin and @xamanu !

Does this mean that this stack is not being actively developed or tested? Can we
1.  Delete this stack
2. Recommend the _manual_ creation and deletion of stacks for use cases independent of the `stage` and `prod` stacks. That way, we know _why_ someone is creating a stack, and it's very clear if the stack can be deleted or not once it's finished being used.

[2019-04-09 02:35] arunasank commented on #912
Oops sorry @ethan-nelson, thought that we had moved the resources to our CDN. Reopened!

[2019-04-09 03:15] dakotabenjamin commented on #1444
From our slack convo: I had some confusion about the software deployment strategy that was cleared up (thanks @arunasank ) which I will describe here to illustrate some problems that need to be addressed.

Using cfn-config as the deployment strategy, there is a GitSha parameter which will be different each time deployment happens. This hash corresponds to the commit being deployed and ensures a ch

[2019-04-09 03:20] dakotabenjamin commented on #1446
@smit1678 do we know the status of testing for the `tm4ml` branch? At least we should coordinate with DevSeed or other ML developers before we delete, and then determine how to run this type of coordinated deployment under the new system.

[2019-04-09 03:34] dakotabenjamin commented on #1449
something nice with the `tm4ml` branch is that the developer can push changes without our input. Would the be possible with a manual deployment without having to give them aws credentials (i.e. through github/circleci flow?) Perhaps we can have an environment variable on CircleCI that is normally blank but when filled could run an update, but would require a manually deployed stack already in exis

[2019-04-09 03:47] dakotabenjamin commented on #1447
These DBs are not associated with any stacks. They are either previously associated (from which a snapshot was made and then remapped to a restored DB instance), or created as a public endpoint for statistical analysis. The two `public` DB instances were both created for Tyler or someone else to connect to and run some stats. I think they can be safely deleted, because they are either outdated or

[2019-04-09 03:49] dakotabenjamin commented on #1447
I think nightly snapshots and having them externally hosted is a good idea but I do not have any suggestions for how this goes.

[2019-04-09 03:54] arunasank commented on #1447
![gif](https://media.giphy.com/media/oA6DW7rbHZ6hy/giphy.gif)

Thank you @dakotabenjamin! You just made my day. ✌️ 🎉 Today is the day of deletions.

[2019-04-09 03:56] arunasank commented on #1447
Seems like AWS makes it pretty easy to have nightly builds. What are your thoughts on how far back we should go?

[2019-04-09 04:37] ethan-nelson commented on #975
I've checked that all of the API endpoints in /user now return the OSM user id.

[2019-04-09 04:37] #975 closed

[2019-04-09 04:48] arunasank opened #1454 "Name EC2s associated with the tasking-manager"
Currently, the EC2 instances set up using CloudFormation are not named, so it's hard to identify which instances are associated with the tasking manager vs other services. The way to go about this, is to assign tags to the `AutoScalingGroup` resource in the Cloudformation template, and then setting the `PropagateAtLaunch` property to true.

https://docs.aws.amazon.com/AWSCloudFormation/latest/User

[2019-04-09 04:48] arunasank commented on #1454
Ref: https://github.com/hotosm/tasking-manager/issues/1395

[2019-04-09 05:03] arunasank opened #1455 "Get VPC subnets using magic-cfn-resources"
Currently, we pass the subnets associated with the VPC (and therefore the subnets in which we can set up EC2 servers) as a configurable parameter in the CloudFormation. This is not ideal, because a developer (with AWS access) who's deploying should not need to know these values. Instead, let's use https://github.com/mapbox/magic-cfn-resources to retrieve these using the DefaultVPC ID.

cc/ @dakota

[2019-04-09 05:04] arunasank commented on #1455
Ref: https://github.com/hotosm/tasking-manager/issues/1395

[2019-04-09 05:07] arunasank opened #1456 "Change ASG UpdatePolicy, to cycle EC2 instances"
Ref: https://github.com/hotosm/tasking-manager/issues/1395

We don't have an update policy configured on our TM cloudformation template at the moment, but let's configure one to:
* Cycle EC2 instances when the LaunchConfig is updated
* To maintain 100% health on the ASG - this means that the EC2 instances will be cycled without causing any downtime to the TM service.

More info on https://github.c

[2019-04-09 05:15] arunasank opened #1457 "Disable http access to the tasking manager"
Ref: https://github.com/hotosm/tasking-manager/issues/1395

Currently we allow both https and http access to the tasking manager. Lets modify the ELB listeners to disable HTTP access to the tasking maanger, or use nginx to do this.

cc/ @dakotabenjamin

[2019-04-09 05:23] tordans commented on #1450
Hi @ethan-nelson, I suggest we collect a list of places that need updating.

- [ ] The training video (https://github.com/hotosm/tasking-manager/issues/1450#issuecomment-481076013)

- [ ] The default-wording (I assume there is something like a copy-paste-text somewhere?) that is provided to campaign owners, like

  ([Source](https://tasks.hotosm.org/project/5885#bottom))

- [ ] The current wording

[2019-04-09 05:38] arunasank commented on #1446
Reffing the PR, so we know we can 🗑 this stack, once the PR is merged with `develop`: https://github.com/hotosm/tasking-manager/pull/1349

[2019-04-09 08:18] ramyaragupathy opened #1460 "Need for a data audit"
Documenting known issues from our database:

- While discussing the area mismatch issue for summary stats endpoint, problem of older projects with invalid coordinate system in DB surfaced. This makes it hard to compute aggregate geometry of all projects.

- There is also empty values for `action_text` field in `task_history` table which stores the time spent on a task. If we want to integrate mode

[2019-04-09 09:14] arunasank commented on #1447
![gif](https://media.giphy.com/media/5BUDrMmouxt5FvdRMm/giphy.gif)

* **taskingmanager-demo**: `tm-demo-updated`
* **tasking-manager-stage**: `stage-2019-02-06`
* **tasking-manager-teachosm**: `taskingmanager-teachosm`
* **tasking-manager-test**: `tm-demo-updated`
* **tm3-deb-stretch**: `db-tm3-demo-temp`
* **tasking-manager-stage**: `tt1hwuk013lck1a`
* **Ramya's local dev environment**: `ramya-ja

[2019-04-09 09:15] #1447 closed

[2019-04-09 09:26] arunasank opened #1461 "Database (RDS) backups"
We want to exercise more control over how we snapshot our RDS instances and store them. Per chat with several folks on @hotosm/tech we have decided the following regarding the snapshotting and backing up of our RDS databases:
• For every DB instance, we will configure AWS to store 10 nightly historical builds
• As part of the Circle CI CloudFormation deploy, a database snapshot will be made of the

[2019-04-09 09:27] arunasank commented on #1461
Assigning this to you @dakotabenjamin !

[2019-04-09 09:46] arunasank opened #1462 "Shrink RDS size"
Our current RDS is 100 GB in size. Of this we use ~5 GB, even though we pay for 100 GB.

<img width="839" alt="Screen Shot 2019-04-09 at 3 10 00 PM" src="https://user-images.githubusercontent.com/3166852/55790703-8c04b580-5ada-11e9-8546-cdcf8d5aabbd.png">

_Free Storage Space in the production RDS_

---------------------------

As part of the CloudFormation migration, let's use an RDS that's 20 GB

[2019-04-09 11:40] arunasank commented on #1457
This works, because the application load balancer allows for a way to redirect http requests to https. 🎉. Merged https://github.com/hotosm/tasking-manager/pull/1463.

[2019-04-09 11:40] #1457 closed

[2019-04-09 11:48] xamanu commented on #1398
Thanks @willemarcel, closing here for now.

[2019-04-09 11:48] #1398 closed

[2019-04-09 16:03] theprover97 commented on #1377
Can we use Flask-Mail to send e-mails directly from the backend.

[2019-04-09 19:06] dakotabenjamin commented on #1444
Looking for some advice on how to properly store the environment variables below:
[code]

These keys could be stored in circleci itself using the UI. Or they could be pulled from a remote env file maybe in the hot-cfn-config. Ideally they would exist in a private repo under source control and could be updated independently if needed.

[2019-04-09 19:20] RebeccaFirthy commented on #1441
Hiya, just chiming in on this - I agree more can be done surrounding easy>difficult scale. Another real challenge is that mappers can't tell which projects are restricted according to mapping level and which aren't, and they don't get particularly good error message if they don't have the right permissions (e.g. 'You have 12 changesets until you're intermediate'. We recently had this issue a lot w

[2019-04-10 03:22] ethan-nelson commented on #1425
This should be fixed now

[2019-04-10 03:22] #1425 closed

[2019-04-10 03:29] arunasank commented on #1456
Starting work on this today.

[2019-04-10 03:36] arunasank commented on #1444
Yep, we discussed moving this into a private repository and version controlling them. Let's do that. 👍

[2019-04-10 03:36] arunasank commented on #1444
@dakotabenjamin are there immediate issues with reading the env variables as well?

[2019-04-10 03:39] arunasank opened #1467 "Reduce instance bootstrapping time"
Currently, we are using an `m3.medium`, and instance takes ~20 minutes to bootstrap. Let's bring this down to < 5m. This will look like testing on instances with better network, since the biggest time sink is retrieving and installing packages from the OS package manager.

cc/ @dakotabenjamin

[2019-04-10 03:49] dakotabenjamin commented on #1467
Can we build a custom AMI with the packages already installed?

[2019-04-10 04:23] arunasank commented on #1467
Yes, but it's a bit more complex to build, but also maintain. Let's maybe look at it at the end, after we exhaust all the simple options? 😅

[2019-04-10 04:33] smit1678 opened #1470 "Data audit: Removing erroneous project geometries"
As flagged in #1460, we have some (at least one) project that has project AOI geometries that are in meters. This is an issue from previous versions of TM where it did not prevent uploading incorrect geometries. Since we store and process all geometries in geographic coordinates, these projects that have geometries in meters raise errors, especially for stats work looking at calculating area.

###

[2019-04-10 04:50] smit1678 opened #1471 "Generate vector tiles for showing historical project areas"
One challenge during the project creation flow is that limit what can be shown on the map for visualizing past projects (we limit by zoom level). This is due to the fact that we send geojson to the browser and show each project area for comparison of what has been mapped in the past.

Idea: move to periodically generated vector tiles so that we can have a more options for what is shown, how we sho

[2019-04-10 04:57] smit1678 commented on #1460
Thanks @ramyaragupathy for getting this convo started. As we go through and audit, let's separate out into individual tasks that can be run out. I separated out https://github.com/hotosm/tasking-manager/issues/1470 to tackle that first and it seems that we can run that out as we look at #1462.

Here's a couple other potential areas where we need to audit based on an initial ticket search and conve

[2019-04-10 07:35] arunasank opened #1472 "Fix deprecated nodejs packages"
We use a lot of deprecated nodejs packages. Let's update the nodejs packages to the latest version.

cc/ @hotosm/tech

[2019-04-10 08:36] theprover97 opened #1474 "Add extra code to enable proper build of Tasking-Manager"
We are unable to properly setup the Tasking-Manager app after running the "docker-compose up -d" command as mentioned in the Readme file. The docker-compose works fine but opening the server at mentioned port in the browser shows Error 404. This prevents beginners from getting involved in contributions right away. We can add new suitable code to solve this.

[2019-04-10 09:30] arunasank commented on #1467
Ref: https://github.com/hotosm/tasking-manager/issues/1395

[2019-04-10 10:20] ramyaragupathy commented on #1474
Can you please add more information about the environment you're working in @theprover97 ?

[2019-04-10 10:27] xamanu commented on #1474
I think this is about the building of the front-end after spinning up the `docker-compose`.

Probably this can be fixed by tackling two issues:

* Document the command `docker exec -it tasking-manager_app_1 /bin/bash -c 'cd client && npm install && gulp build'`
* Automatize the frontend building when spinning up `docker-compose up` for the first time.

[2019-04-10 11:15] arunasank commented on #1467
Moved to a `c5d.large`, and the time is down to 6.667 minutes. I don't think we can go below this, unless we want to spend $$$. However, this machine is bigger than the `m3.medium`. I want to load test it to see how many users it can support, and see if this delay is in fact acceptable.

[2019-04-10 17:06] xamanu opened #1476 "Non-dev testing environment"
It would be good non-developers can test Pull Requests of the Tasking Manager. This requires to setup a test setup much easier.

First step has been done with the Docker Compose setup (#797 and related improvements on configuration #1419). Recent testing on Windows and Mac showed problems with the legacy Docker versions. But also the workflow has been extremely rough. That we ended up deploying on

[2019-04-10 17:07] xamanu commented on #1472
Just as a side note: This is a follow up to #1448.

[2019-04-10 17:10] xamanu commented on #577
The inclusion of vector tiles in the TM is becoming more and more interesting as it is a prerequisite to include preprocessed information, such as layers coming from [OSM Analytics](https://osm-analytics.org/), which could be very useful at the moment of project creation.

[2019-04-10 17:16] xamanu commented on #606
The ongoing [design work](https://github.com/hotosm/projects/issues/17) gives a vision for the about page focused on the users. Closing here.

[2019-04-10 17:16] #606 closed

[2019-04-10 17:38] xamanu commented on #1167
This is ongoing work with the current design imrprovements with @hotosm/major https://github.com/hotosm/projects/issues/17

[2019-04-10 17:39] xamanu commented on #1207
This is resolved with the latest inclusion of #1419

[2019-04-10 17:39] #1207 closed

[2019-04-10 17:40] xamanu commented on #1189
This isssue shall be fixes once #1410 comes in.

[2019-04-10 17:44] xamanu commented on #1143
As we talked today with @hotosm/major I wanted to highlight this as another request for messaging, besides the ones we have been talking about.

[2019-04-10 17:46] xamanu commented on #1244
Pinging here @hotosm/major as they are redesigning currently the registration process.

[2019-04-10 17:48] xamanu commented on #1146
Closing here in favour of #1365

[2019-04-10 17:48] #1146 closed

[2019-04-10 17:51] xamanu commented on #1370
This is heavily related to the design improvements @hotosm/major is currently doing.

[2019-04-10 17:52] xamanu commented on #1186
This is related to the ongoing design work of @hotosm/major

[2019-04-10 17:55] #1038 closed

[2019-04-10 17:58] xamanu commented on #931
This is included in the ongoing design work with @hotosm/major

[2019-04-10 17:59] xamanu commented on #1472
This is a duplicate of #901

[2019-04-10 17:59] #1472 closed

[2019-04-10 18:00] xamanu commented on #901
Some of these have been fixed by @willemarcel in #1448

[2019-04-10 18:08] xamanu commented on #819
Related to #1460

[2019-04-10 18:11] xamanu commented on #888
Pinging @willemarcel  here.

[2019-04-10 18:15] xamanu commented on #737
Not sure whether we can bring up the resources for load testing in each and every CI run. Probably it makes sense to automatize such a testing for a release candidate, however.

@arunasank, do you have some idea on how we could tackle this with the new infrastructure improvements?

[2019-04-10 18:16] #689 closed

[2019-04-10 18:17] xamanu commented on #735
This seems to be fixed on the current version. @dalekunce can you confirm?

[2019-04-10 18:18] xamanu commented on #738
Pinging @hotosm/major here, as we are going to redesign this part in the next couple of weeks.

[2019-04-10 18:20] xamanu commented on #742
Is this still an issue, @dalekunce?

[2019-04-10 18:22] xamanu commented on #777
Let's mark this here as a duplicate of #1035

[2019-04-10 18:22] #777 closed

[2019-04-10 18:22] xamanu commented on #776
Let's mark this as a duplicate of #1035

[2019-04-10 18:23] #776 closed

[2019-04-10 18:25] xamanu commented on #739
This is currently being improved in the ongoing redesign with @hotosm/major: https://github.com/hotosm/projects/issues/24

[2019-04-10 18:28] xamanu commented on #810
This is currently being improved with the redesign together with @hotosm/major in https://github.com/hotosm/projects/issues/24

[2019-04-10 18:31] xamanu commented on #678
This is currently tackled with the redesign by @hotosm/major in https://github.com/hotosm/projects/issues/17

[2019-04-10 18:31] xamanu commented on #677
This is currently tackled with the redesign by @hotosm/major in https://github.com/hotosm/projects/issues/17Thi

[2019-04-10 18:35] xamanu commented on #633
There is quite some stats work going on (see #1147), this is not related to the osmstats tool. Closing here.

[2019-04-10 18:35] #633 closed

[2019-04-10 18:38] xamanu commented on #681
This is currently being tackled in general by ongoing redesign work with @hotosm/major in https://github.com/hotosm/projects/issues/20

[2019-04-10 18:39] xamanu commented on #679
This is included in the ongoing redesign work with @hotosm/major in https://github.com/hotosm/projects/issues/19

[2019-04-10 18:41] xamanu commented on #680
This request should be taken into consideration during the ongoing redesign with @hotosm/major in https://github.com/hotosm/projects/issues/20

[2019-04-10 18:43] xamanu commented on #672
I would like to give this feature request a round of thinking. @russdeffner and @hotosm/major, do you think this is something we want to have and should include in the current redesign?

[2019-04-10 18:45] xamanu commented on #671
I would like to give this feature request a round of thinking. @russdeffner and @hotosm/major, do you think this is something we want to have and should include in the current redesign?

[2019-04-10 18:52] #1343 closed

[2019-04-10 18:54] xamanu commented on #1324
This is related to #1460

[2019-04-10 18:55] xamanu commented on #1323
@dakotabenjamin is this ready to be taken on?

[2019-04-10 18:58] xamanu commented on #1309
I suggest marking this as a `won't fix`. We might want to reopen it. In case it becomes important to anybody.

[2019-04-10 18:58] #1309 closed

[2019-04-10 19:03] xamanu commented on #618
This is part of the ongoing design work with @hotosm/major.

[2019-04-10 19:04] xamanu commented on #614
This is included in the ongoing redesign with @hotosm/major: https://github.com/hotosm/projects/issues/19

[2019-04-10 19:05] xamanu commented on #611
This shall be included in the rethinking of the UI with @hotosm/major.

[2019-04-10 19:06] xamanu commented on #610
This is to be considered in the ongoing redesign with @hotosm/major https://github.com/hotosm/projects/issues/24

[2019-04-10 19:07] xamanu commented on #609
This is to be considered in the ongoing redesign with @hotosm/major hotosm/projects#24

[2019-04-10 19:07] xamanu commented on #620
This is to be considered in the ongoing redesign with @hotosm/major hotosm/projects#24

[2019-04-10 19:09] xamanu commented on #605
This is to be considered in the ongoing redesign with @hotosm/major.

[2019-04-10 19:11] xamanu commented on #1376
This is part of the ongoing work with @hotosm/major  and the related redesign.

[2019-04-10 19:17] xamanu commented on #844
Closing in favour of #1257

[2019-04-10 19:17] #844 closed

[2019-04-10 19:18] xamanu commented on #824
This is related to the ongoing redesign with @hotosm/major.

[2019-04-10 19:21] xamanu commented on #829
Related to #1460

[2019-04-10 19:22] xamanu commented on #815
This should be considered in the ongoing redesign with @hotosm/major.

[2019-04-10 19:28] #1409 closed

[2019-04-10 19:28] #1356 closed

[2019-04-10 19:29] xamanu commented on #1258
This is to be considered in the ongoing redesign with @hotosm/major hotosm/projects#24

[2019-04-10 19:47] xamanu commented on #1167
Closing here in favour of #1383.

[2019-04-10 19:47] #1167 closed

[2019-04-10 19:48] xamanu commented on #1383
This is ongoing work with the current design improvements with @hotosm/major hotosm/projects#17

[2019-04-10 19:51] xamanu commented on #631
This is ongoing work with the current design imrprovements with @hotosm/major hotosm/projects#21

[2019-04-10 19:51] xamanu commented on #630
This is to be considered in the ongoing redesign with @hotosm/major hotosm/projects#21

[2019-04-10 19:53] xamanu commented on #932
This is to be considered in the ongoing redesign with @hotosm/major.

[2019-04-10 20:11] xamanu commented on #1399
Related to these issues #638 #889

[2019-04-11 11:15] Boggedy commented on #912
The HOTOSM JS is notably faster in the last 8-12 months, perhaps it was
optimised making the CDN dispersal less pressing.

<http://www.avg.com/email-signature?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Virus-free.
www.avg.com
<http://www.avg.com/email-signature?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
<#DAB4FAD8-2DD7-40BB-A1B8-4

[2019-04-11 13:17] theprover97 commented on #1376
But mapped areas are already marked yellow, and bad imagery is opaque black. We can use light blue for Invalidated (i.e. "Help Needed") Tasks.

[2019-04-11 14:05] xamanu commented on #1376
@russdeffner, @hotosm/major, what do you suggest as a good wording, instead of "Invalidated"?

[2019-04-11 14:12] xamanu commented on #912
Is it correct that we host the javascript resources ourselves by now? We just don't use a fully configured CDN. As far as I see we haven't identified this as a crucial bottleneck of our performance, which we are constantly increasing anyway through the new setup.

In case this is true, I suggest closing this issue for now. Eventually we bring it up, once it might become relevant for performance. W

[2019-04-11 16:07] uwaiszaki opened #1479 "Failed to generate request token"
tasking manager is giving this error while trying to login.
![tmlocalsetup1](https://user-images.githubusercontent.com/32809190/55972811-d7b58b80-5ca1-11e9-957b-b53a9827ae72.png)

[2019-04-11 16:13] uwaiszaki commented on #1479
This error is coming before redirecting it to the osm authorization page with url http://localhost:5000/api/v1/auth/login?redirect_to=/

[2019-04-12 05:25] arunasank commented on #737
We have an internal load testing repository at HOT that has a template to set up a small instance to be able to run load tests.

I like the idea of integrating the load tests with the Circle CI. Here's what we can do:
* When we merge a PR into develop, we trigger a locust stack, and use the results of the locust stack to inform our merge with master. The load test can be customised to hit the righ

[2019-04-12 06:11] tordans opened #1482 "iD integration: Use "hashtags" to prefill hashtags and "comment" for a more meaningfull commit message"
The current behavior of tasking manager is to prefill the comments section / commit message with hashtags. Those are used by iD to create and prefill the hashtags attributes on the changeset.

This should be change:
- the recommended hashtags should only prefill the hashtags-section in iD
- the comment field should be empty by default and as such suggest a proper message

Alternative solution:
Sin

[2019-04-13 05:13] #1364 closed

[2019-04-13 12:22] #1046 closed

[2019-04-13 12:22] #1061 closed

[2019-04-13 13:41] xamanu commented on #1479
It looks like your OAuth settings are not correct. Please check the [installation instructions](https://github.com/hotosm/tasking-manager#installation) and make sure followed these instructions:

[2019-04-14 06:20] uwaiszaki commented on #1479
@xamanu I tried the instruction for local setup but it's not solving the issue. Using docker it's showing null after osm authorization page.

[2019-04-15 06:06] ramyaragupathy commented on #1460
A project can be deleted only if it is [0% mapped and 0% validated](https://github.com/hotosm/tasking-manager/blob/develop/server/models/postgis/project.py#L270). So for project with contributions delete process throws with an error message.

![](https://paper-attachments.dropbox.com/s_ADEAF5925A0B83DFC114F9D014DAA9B1B17E16FF1DB0511DDA3D71B400839F3D_1555307784226_image.png)

@arunasank & I are loo

[2019-04-15 06:37] russdeffner commented on #1460
@ramyaragupathy this is true; however you can ‘trick’ the TM into thinking no mapping was done by using the unmark/reset tasks to ready state buttons in edit mode and then delete the project

[2019-04-15 07:47] xamanu commented on #951
Hijacking this issue here. During the last week's tech team workshop we identified tests and test coverage to be one of our priorities to assure code and service quality around the Tasking Manager. With @ramyaragupathy I started a conversation about bringing up relevant test scenarios that urge most to us and get them implemented. Let's use this issue to progress on this side.

[2019-04-15 07:48] xamanu commented on #951
First two cents from my side:

* Check whether a user who hasn't been logged in at all can do.
* Check whether the blocks of a blocked user are working (like selecting a task for mapping and validation or comment on any task or project).
* Test deployments before actual deployments

[2019-04-15 08:21] xamanu commented on #1479
@uwaiszaki I think your local setup is now working after supporting you in the chat. is this correct? Can you report what made the change? and eventually close the issue. Thanks.

[2019-04-15 08:36] uwaiszaki commented on #1479
@xamanu setting POSTGRES_ENDPOINT= localhost in config.py solved the issue.
I also assigned privileges to the TM user for all the tables in tasking-managar db.

[2019-04-15 08:37] #1479 closed

[2019-04-15 08:57] xamanu opened #1488 "Set up machine learning playground instance"
We want to have a playground instance for the user testing of machine learning implementations.

* [x] Define the name for the url `?.hotosm.org` (@smit1678 volunteered already :smiley:)
* [ ] Start off with an empty database.
* [ ] Disable the `tm4ml` branch automatic deployment and use the branch `machine-learning` instead.

[2019-04-16 09:51] xamanu opened #1490 "Auto generated messages/notifications"
Within the ongoing work with @hotosm/major and @fitoria, we want to define some autogenerated messages that are send out to mappers. This is related to the regular updates that shall be send to project managers (https://github.com/hotosm/tasking-manager/issues/1377).

First ideas:

* When projects are completed we could alert the users and thank them for their contributions
• maybe completeness le

[2019-04-16 09:54] xamanu commented on #1490
In addition I would like to propose similar projects. Either by region or topic.

This can be easy turn into a lot of messages, and I we might scare our users away (from reading messages).

I like the idea a lot. And this is related to the first message, when we potentially want to recommend similar projects. How do we define similarity (now and after the redesign),

[2019-04-16 10:55] JorgeMartinezG commented on #1476
**Update:** Testing environment is set using docker via https://github.com/hotosm/tasking-manager/pull/1480. However, the project database migrations fail at the beginnning. It is necessary to re-create the container related to migrations.

**TODO:** - One important thing to do is to improve testing execution via docker. A Makefile could be useful.
- Update documentation. What is docker, how to se

[2019-04-16 11:17] xamanu commented on #1476
Thanks @JorgeMartinezG.

Yes, a wrapper script, so Makefile, is a good way forward. Can you outline the proposed logics you want to include into it?

Please open another issue with the four failing tests. Most likely we have some experience in the team with some of the errors :-)

[2019-04-16 11:23] ramyaragupathy commented on #1063
@govvin - Do you still face this issue?

[2019-04-16 11:38] JorgeMartinezG commented on #1476
- make up: To start docker containers
- make down: to destroy all containers.
- make build: to recompile TM dockerfile. It is useful when a new module has been included.
- make test-client: to execute karma tests within TM docker container.
- make test-server: To execute python tests within TM docker instance.
- make tests: To run both client and server tests

[2019-04-16 12:51] uwaiszaki commented on #1490
@xamanu Can i work on this?

[2019-04-16 13:04] xamanu commented on #1476
They seem to be strait forward :) what about doing some magic and include a `make` to test a specific PR?

Would it make sense to have a separation between building the frontend and the backend dependencies?

[2019-04-16 13:32] JorgeMartinezG commented on #1476
to test specific PR it will involve recompiling dockerfile using an specific branch read from cli. But yes, it is possible to include it.

Related to the separation between frontend and backend, IMO it would be necessary to split server and client in two Dockerfiles, which would correspond to two separate services which will communicaty each other using a docker-compose.

[2019-04-16 13:38] xamanu commented on #1476
I see most of the proposed Makefiles commands can be easily documented for developers and don't necessary need to live in a script. However if we want to make it easy for non-devs they make a lot of sense, but then I think the rebuild on a certain PR is bringing the real benefit.

What will be the direct benefit for separating frondend and backend into two Dockerfiles? (besides following the micro

[2019-04-16 13:47] JorgeMartinezG commented on #1476
The benefit will be avoiding re-installation of modules and libraries. For instance, if I include a library in the requirements.txt file, I do not need to rebuild the client.

[2019-04-16 13:48] xamanu commented on #1476
For your information, some [documentation for non-devs has been started here](https://docs.google.com/document/d/12Yjj9cpGAyYIQuJedULogVipcRWjelI_ynrqvqZtnaA/edit).

[2019-04-16 14:24] xamanu commented on #1476
The splitting of the two services we probably should address in another place, to not extend here too much :)

What about these commands?

* `make up`: To start docker containers
* `make down`: to destroy all containers.
* `make build`: to recompile TM Dockerfile. It is useful when a new module has been included.
* `make build frontend`: to install node dependencies and build the frontend again
*

[2019-04-16 14:32] JorgeMartinezG opened #1491 "Getting errors when executing python tests in local instance"
Running the command ```python -m unittest discover tests/server``` on a fresh installation of the project, I receive this 4 errors. I also include the Traceback for each error for better debugging:

[code]

[2019-04-16 15:29] xamanu commented on #1488
Some brainstroming: tasks-assisted.hotosm.org

[2019-04-16 21:08] gaoxm commented on #1488
tasks-assisted.hotosm.org sounds good!

[2019-04-16 23:50] JorgeMartinezG opened #1492 "Write script wrapper for multiple commands execution"
To improve setup, shutdown,  Pull request review and test executions, docker comands should be wrapped into a Makefile.

[2019-04-17 00:25] JorgeMartinezG commented on #1492
Initial implementation of Makefile included in branch docker/1492-makefile using commit https://github.com/hotosm/tasking-manager/commit/5e7bb59264e1564080353a483bf65b89d0b313d2

[2019-04-17 04:30] smit1678 commented on #1488
Dig it. 👍

[2019-04-17 06:00] xamanu commented on #1488
@dakotabenjamin can you help us with the next steps, please?

[2019-04-17 07:39] ramyaragupathy commented on #1460
Here’ the list of existing [projects with invalid geometry](https://docs.google.com/spreadsheets/d/1zlQCRC_hFiGLBEDf9g5QQfJxkNUFDjMAIxGTqJXaFMo/edit#gid=0). Some have coordinates beyond the projection specific bounds.

    "geometry": {
            "type": "MultiPolygon",
            "coordinates": [
              [
                [
                  [
                    -234.607543945312,

[2019-04-17 07:53] xamanu opened #1493 "Add code style checks to CI"
Lets make our code more beautiful and lets add code style guidelines checks to Circle CI:

* Python: pep8 or flake8
* JavaScript: JSLint

[2019-04-17 08:14] xamanu commented on #1341
I would put a button under `Actions` when editing a project. And then provide a small form with autocomplete to select the user. What do you think?

[2019-04-17 10:53] xamanu opened #1495 "Provide country information for projects"
Currently, the information about a projects isn't stored in the database. For the website the [`stats-collector` is extracting this from the title](https://github.com/hotosm/hotosm-website/blob/gh-pages/js/countries-map.js#L15). However with the new redesign we want to encourage project creators to not necessarily use the country name in the title anymore. For this reason and for more comfortable

[2019-04-17 13:43] xamanu commented on #1460
Yes, I agree.

Sounds reasonable. :+1:

I think we should make this impossible for project managers. Only admins should be able to delete projects that have had any activity (even if reset). On the other side, I'd be curious what happens through resetting, when mappers have spent time on it, etc. Will this be deleted or still hang around in the database?

What do we do with the others? The ones wi

[2019-04-17 13:44] arunasank commented on #1354
Based on https://github.com/hotosm/tasking-manager/issues/1445, I ran out some fresh load tests on the CloudFormation tasking manager and the Production tasking manager. Here are the results for a load test were 50 users are using the tasking manager ans 20 new users are accessing the tasking manager per second.

In my first load test, I ran out the tests in this way:

## CloudFormation stack: 1 i

[2019-04-17 13:52] arunasank commented on #1354
## CloudFormation Stack: 3 instances with 2 CPU cores each

[code]

## Analysis: At the Load Balancer

**Request count vs Latency**

<img width="1042" alt="Screen Shot 2019-04-17 at 6 54 33 PM" src="https://user-images.githubusercontent.com/3166852/56292704-4765c380-6145-11e9-8797-ee8fe688a785.png">

**Request count vs 5XX count**

All the 5XXs were 502s (The orange is not visible because it is ov