[2017-10-18 23:06] verdy-p opened #823 "TM3: "Per Task instructions" are not currently displayed"
"Per Task instructions" are not currently displayed in TM when we select a tile to map or validate.

But I've always wondered if these were really useful where they should be in general instructions for the project.

This is a minor regression (probably forgot to implement it).

[2017-10-18 23:12] russdeffner opened #824 "Inbox Messaging"
Would be much easier to have a way to directly reply from your inbox versus having to navigate back to the task/project where then you may have to select it for mapping/validating before finally able to reply to the comment.

[2017-10-18 23:12] verdy-p commented on #822
Apparently this occurs when Markdown is used within sections of text between ``backquotes``. In TM2 this was displayed using a monospaced font and in a distinctive box with colored background (to emphasize the text in that box).

In TM3, backquotes are just discarded (double backquotes are rendered literally as single backquotes), and text is displayed using standard font and markup is disabled wi

[2017-10-19 08:10] pedrito1414 opened #827 "No OSM data opens in JOSM when trying to validate multiple tiles simultaneously."
Trying out validation of multiple tiles simultaneously (chosen by drawing polygon) but no OSM data is opening in JOSM, just imagery and the task boundaries.

![image](https://user-images.githubusercontent.com/8447248/31760643-448c6c7c-b4ad-11e7-82dd-a640e806c8d6.png)

![image](https://user-images.githubusercontent.com/8447248/31760659-51fa09e6-b4ad-11e7-8d69-bde954fe91d4.png)

[2017-10-19 08:48] harry-wood commented on #820
The big red strip sending people to MapSwipe does feel like a web design cop out, but I can see why we've done it. Here it is at its widest:

![screen shot 2017-10-19 at 09 20 55](https://user-images.githubusercontent.com/227525/31761942-9b6639a2-b4b1-11e7-9cb6-55fdd6059333.png)

The website seems useable down to a bit narrower than that though. Maybe it should kick in at 750px, which I reckon is

[2017-10-19 09:07] arun-aji-balaji commented on #781
There is no resource for Tamil strings

[2017-10-19 09:22] cgiovando commented on #827
@bgirardot explained this behavior here https://youtu.be/yLTubyUePG8?t=645

Feel free to close this issue, or propose a different approach.

Thanks!

[2017-10-19 09:31] pgiraud commented on #820
Possible solution: let the user dismiss the message (and ideally save the choice in LocalStorage).

[2017-10-19 10:18] #827 closed

[2017-10-19 10:18] pedrito1414 commented on #827
Thanks...

[2017-10-19 10:59] Boggedy opened #828 "Incomplete (not done) Timeout issue"
In the old UI a noob would often take a tile and do nothing with it. After 2 hours the taken tile would time out releasing the task back to another mapper.

I see tasks taken for 6 hours ..and not marked done and not released back.... in the new UI.

EG > http://tasks.hotosm.org/project/3665?task=48#bottom

[2017-10-19 11:14] Boggedy opened #829 "Completion stats appear to be borked"
Prior to cutover this task was at 80% vaild and has been worked on continually since.

http://tasks.hotosm.org/project/3643/dashboard

Since cutover to TM3 the validation counter appears frozen @ 77%

Since cutover to TM3  some tasks have been invalidated from time to time and the task completion metric should therefore vary from time to time between 99% and 100% depending. It is nailed on 100% de

[2017-10-19 11:50] pgiraud opened #831 "automatic switch between `map` and `validate` tabs"
I think this is small usability issue since it took me some seconds to understand
Imagine the following use case:
 - open a project page,
 - `instructions` is selected,
 - click on map to select a task which is ready for validation (marked as mapped),
 - `validate` tab is automatically selected,
 - click on the map to select a `ready` task,
 - message tells you that the task is `not in a state tha

[2017-10-19 12:31] Boggedy commented on #831
another " the task is not in a state that allows validation." condition is where you marked a tile done. You cannot revisit that tile in any way.

I believe this is to prevent users from validating their own work but what if they clicked something done and then remembered to add something they forgot afterwards. ?

[2017-10-19 12:54] pgiraud opened #832 "impossible to login after OSM username change"
In OSM, it's possible to change its username (osm_id doesn't change).
It looks like TM3 doesn't handle username changes and it's impossible to login the tasking manager after a username change.
I fixed the problem in TM2: see https://github.com/hotosm/osm-tasking-manager2/pull/302

Ask me for further information.

[2017-10-19 13:47] harry-wood opened #833 "Validating: Multi select state but with only 1 task selected"
On the validation tab where the contributors are listed in a table, there's a "LOCK" column with "Start" links. These are designed to select multiple tasks all by the same user (Multi select mode of validation).

BUT this seems wrong if you find somebody who only mapped 1 task and click "Start".  We see this:

![screen shot 2017-10-19 at 14 29 54](https://user-images.githubusercontent.com/227525/3

[2017-10-19 13:54] mikelmaron opened #834 "Edit Project -> left menu should have a static position, not scroll"

[2017-10-19 13:55] mikelmaron opened #835 "Project creation -> top right button to add TMS has no label, is confusing"

[2017-10-19 14:06] harry-wood commented on #831
It's definitely an area where it behaves differently from the old tasking manager. I guess it's more designed to keep you in one mode, so you're clearly either mapping or validating.

I think the message could be clearer, more friendly, and more nuanced though. Currently we say
*"The selected task is not in a state that allows mapping."* or *"The selected task is not in a state that allows validat

[2017-10-19 14:55] pgiraud commented on #834
In my opinion, it could also be the case for the map, when in the `validate` tab in a project.

[2017-10-19 15:39] verdy-p commented on #820
I think it should not occur at 640px (half the screen of the 1280 wide desktop display)
at 640px, most modern smartphones should still be able to use TM.
But in order to detect small smarthpones, there's a better way to detect it. CSS offers `@media` filters for it or there are "user agent" detector libraries that can already instruct smartphones to also redirect to a dedicated app (loaded from Go

[2017-10-19 18:06] james2432 commented on #747
I'd like to know aswell, I have a bunch of tasks I dont feel like creating from scratch

[2017-10-19 22:59] ethan-nelson opened #838 "Change link on front page disaster mapping?"
From https://github.com/hotosm/tasking-manager/pull/825#issuecomment-337855625

For the home page:

`[...] I would link to http://tasks.hotosm.org/contribute?difficulty=ALL&campaign=Disaster%20Response instead of http://tasks.hotosm.org/contribute?difficulty=ALL&text=disaster`

[2017-10-19 23:43] ethan-nelson opened #839 "View user tasks when hovering over validation table"
Currently, on the validation tab, there is a table that lists all mappers and information about them.

To see the squares they've complete, you must hover over the `Start` button. I think it would be useful to highlight their tasks when hovering anywhere in a given row (and that would also potentially reduce misclicks for checking out squares to validate).

[2017-10-20 00:17] Boggedy opened #840 "Individual Task. Map Controls disappear as one zooms in"
The zoom in/out icons are not permanently visible in a task map unless one zooms into the top  left corner.

They should populate the top left corner of the task tile map at every zoom level. This affects both mapping  and validation.

[2017-10-20 09:45] pgiraud opened #842 "[admin] user name search works with "starts with""
In the users list, the search engine looks for usernames starting with the given pattern.
It would probably be better to be able to use a "contains" search.

[2017-10-20 11:04] pgiraud commented on #840
@Boggedy Can you please tell us how you usually zoom in the map? Double click? Using scroll wheel? What device or browser are you using?
I can't figure out how to reproduce the issue.

[2017-10-20 11:52] verdy-p commented on #744
if there are other transforms, there should be a way to specify the username actually used on a the third party site (just like if we pair any site to our social network accounts). The usernames could be actually completely different.

The same occurs in OSM between the wiki user names and OSM user names, because they require separate registration and they don't support exactly the same constraint

[2017-10-20 12:49] #758 closed

[2017-10-20 12:55] #793 closed

[2017-10-20 13:05] ethan-nelson commented on #744
Here are the transform rules I could find on https://github.com/MissingMaps/users/blob/bd18d95e2946f1e42b3d7c604e7a417af78c3bf2/src/containers/Users.js

`  onSubmit: function (input) {
    var user = R.find(R.propEq('name', input.toLowerCase()))(this.state.users);
    if (user) {
      this.props.history.push('/' + user.name.replace(/\s+/g, '-').toLowerCase());
    } else {
      this.props.histor

[2017-10-20 13:09] ethan-nelson opened #843 "Shrinking then unshrinking window leaves map malformed"
While viewing a project, drag a side of the screen to make the window narrower, then drag it back to the original size. The result is an elongated map.

Before:

![original-fullpage](https://user-images.githubusercontent.com/8998918/31822304-ec3b8672-b56d-11e7-8222-edf58e1a30d4.png)

After:

![result-fullpage](https://user-images.githubusercontent.com/8998918/31822255-c3362c1e-b56d-11e7-9d28-33f6f

[2017-10-20 13:47] dalekunce commented on #744
@verdy-p and @ethan-nelson I just want to clear one important thing up. If you are a "missing maps" user you are for sure an OSM one. We are not requiring people to register separately or have a different affiliation. In fact any that has edited since 2014 would most likely show up in our database which is just a copy of the users from OSM as they make the edits, taken from planet_history and chan

[2017-10-20 14:35] Boggedy commented on #840
I have the latest chrome.

If I double click in towards a particular tile not in the NW corner the +- will disappear

Start here

http://tasks.hotosm.org/project/3643

double click on very small tile at bottom

if I double click on a large tile (top or bottom) I cannot replicate it. +-  option remains visible

[2017-10-20 18:57] verdy-p commented on #744
if you change/force the lettercase of usernames in MM, you are breaking the uniqueness or equivalence with usernames used in OSM, where they are fully case significant:
"verdyp" or "Verdyp" on OSM are not the same user account and can be registered by distinct users, the yare quivalent on OSM wiki but this causes similar problems so the lsit of users are not the same and require separate registrat

[2017-10-20 22:37] johnwhelan opened #844 "Make the orange colour changable to something not so glaring"
When validating its wearing on the eyes.

[2017-10-20 22:39] johnwhelan opened #845 "Uploading multiple tiles"
In M2 when validating the new tiles were added to the old layer in JOSM.

This meant I could upload all the corrections in one shot.

More to the point I didn't have to upload each tile separately and then delete it.  The extra clicks add time and effort to the workflow.

[2017-10-21 01:57] maddixm commented on #832
I am having the same problem and can no longer work on any tasks.
Steps to reproduce:
1) Change Display Name in openstreetmaps My Settings
2) Go to http://tasks.hotosm.org/ and click Login
3) Click Grant Access button
4) Get redirected back to http://tasks.hotosm.org/, not logged in.

I've tried logging in with Chrome and IE and get the same result. I was able to use TM3 up until the username chan

[2017-10-21 03:50] bgirardot commented on #815
@verdy-p I am going to close this and make #814 the main issue, this seems like a duplicate of that issue.

[2017-10-21 04:00] bgirardot commented on #814
We need to clone the user contributor page and make it by campaign and/or organization tag and fully public instead.

[2017-10-21 05:45] verdy-p commented on #815
This is NOT the same issue: here I was speaking about what is displayed on an INDIVIDUAL project page difficult to see the status given the layout and the need to scroll that page and look into tiny properties). I was suggesting here to restore this status at top of the page (along with the project number, title, and priority)

in #815, this is raidically different I was speaking about WHICH proje

[2017-10-21 05:48] verdy-p commented on #814
Solving bug #814 will NOT solve this #815 bug, they are totally indedependant of each other. Reopen #815 and see my comment, you've not understood the issue correctly !

[2017-10-21 08:03] alekno commented on #814
the problem is in
tasking-manager/client/app/services/project.service.js
tasking-manager/client/app/admin/dashboard/dashboard.controller.js

function getProjects() needs an equivalent for global tasks

[2017-10-21 16:30] roomthily opened #847 "Update unread count in the popup"
Using Chrome (Version 61.0.3163.100), the notification popup over the user name doesn't update the count as messages are read until the page is refreshed. Not a big thing, but one that is more noticeable with the new messages posted on validation.

(Also, a "mark [checked || all] as read" would be great for a future feature.)

Thanks.

[2017-10-21 17:21] bgirardot opened #849 "Leaving a comment and "stop validating" lose selected task square"

[2017-10-21 17:27] bgirardot opened #850 "Un-Mark button behavior is confusing"
Select a completed task
click "Start validating"
click "Stop validating"
You now have an "un mark" button that allows you to just unmark it as completed.

cool, but un expected.

[2017-10-21 23:06] johnwhelan opened #852 "Make it easier to get from the activity list to the tile"
I want to validate the most recently mapped tiles.  Yes I can see someone mapped a tile but which one?

John

[2017-10-22 13:42] #832 closed

[2017-10-22 17:33] russdeffner opened #857 "Problems posting to Questions and Comments on projects, failed posting some messages"
Can't figure out why I can't post this message:
![messageerror](https://user-images.githubusercontent.com/6763645/31864578-d4b9c7c4-b71c-11e7-8440-366a63e19000.PNG)

[2017-10-22 17:36] bgirardot commented on #857
I need more context, the whole page if you could screenshot the whole page.

this is on questions and answers page, i see.

and the project number would help to so I can see if I can reproduce

hope you are having fun russ!

[2017-10-22 19:00] russdeffner commented on #857
Yep, good times. Here's a screen shot of the whole page now, not sure that helps at all but it's
http://tasks.hotosm.org/project/3665?tab=chat#bottom
![messageerror2](https://user-images.githubusercontent.com/6763645/31865246-eac5ea32-b728-11e7-8336-9a10b1c66055.PNG)

[2017-10-22 19:08] pgiraud commented on #857
@russdeffner In case you think the issue is related to the text you want to post, please include it here.

[2017-10-22 22:18] ethan-nelson commented on #809
Per Slack conversation, plus testing, this is implemented.

[2017-10-22 22:18] #809 closed

[2017-10-22 22:20] ethan-nelson commented on #857
It appears spaces are not counted in the 'characters remaining' validation at the bottom of the box. Yet they obviously count as a character when stored in the database (and a message has a limit of 250 characters in the DB).

[2017-10-22 23:03] verdy-p commented on #843
I've also seen that problem when resizing the window: the central position of the map slides at the same time and is not preserved, this sliding is not even reversed in the opposite direction when we restore the initial size. So the current map focus is lost. However I've not seen the zoom level changing at the same time, only the central position.
It seems that there's an initial javascript handl

[2017-10-22 23:28] verdy-p commented on #829
I see only 100%/99%, so it's not frozen.
You've probably got a proxy caching issue on your side (possibly still using the former server address even if the DNS was changed so the domain name go to the new server instance after the version switch).

[2017-10-22 23:41] verdy-p commented on #712
it would need rescaling the images by allowing them to fit the available width in the container. This could be achieved by CSS (using a contextual class for the tiled compact presentation in the list of projects.

[2017-10-23 05:52] bgirardot opened #859 "Priority needs a label on contribute, project card"
![2017-10-23_01h48_49](https://user-images.githubusercontent.com/265831/31874008-dbeca7aa-b794-11e7-9c08-dae6d2b223d1.png)

[2017-10-23 06:31] pgiraud opened #860 "page title remains the same"
Currently, the title of the page doesn't change during navigation from one step to another. It prevents users from going back to a specific step in the navigation history.
![screenshot from 2017-10-23 08-28-32](https://user-images.githubusercontent.com/319774/31875027-8c3e4f0a-b7cc-11e7-80bc-b106166caaa0.png)

[2017-10-23 07:30] bgirardot opened #861 "Dashboard shows 0% / 0% for archived projects"
![2017-10-23_03h29_39](https://user-images.githubusercontent.com/265831/31876921-7349a118-b7a2-11e7-8f4c-977490b36ede.png)

[2017-10-23 07:37] bgirardot commented on #861
I can not reproduce this, it seems to work for me.

At least with a project I created in TM3, I have no way to test an imported project

[2017-10-23 08:09] alekno commented on #861
I reinvestigated this bug. My error. All is fine. We can close this.

[2017-10-23 08:49] bgirardot commented on #861
Sounds good, thank you for the follow up @alekno

[2017-10-23 08:49] #861 closed

[2017-10-23 08:51] bgirardot opened #862 "Full text search does not search title field"

[2017-10-23 10:35] alekno commented on #857
https://stackoverflow.com/questions/26389745/how-to-count-the-number-of-characters-without-spaces
Mh, why should someone do this?
Maybe this is the old problem of not considering that a string count starts a position 0. So the last character is on position 249. Additionally the DB may count the \0 ( zero terminated string).
Just guessing.

[2017-10-23 11:48] alekno commented on #699
#840 #719 map issues related

[2017-10-23 12:19] alekno commented on #843
Seems to be an asynchronous event lag. Collected the lagging map updates in 699

[2017-10-23 18:14] marxin opened #864 "Last user that worked on a task is not selected after typing '@'"
It was very useful feature when one was writing a comment that affected user was selected as first before a letter was following '@' character.

[2017-10-23 18:30] roomthily commented on #847
There's a difference when using the browser back button (not updated) and the "Return to inbox" button (updated).

[2017-10-23 18:32] Boggedy opened #865 "Task history lost on split"
Tiles are split 4 ways. In the old task manager the edit history and comments would propogate to the four child tiles after a split. In the new task manager this does not happen and all history and comments are lost.

[2017-10-23 19:50] verdy-p opened #866 "Allow PMs to map/validate/split tasks in "draft" or "archived" projects"
When creating a project in TM3, the "draft" or "archived" state forbids any editing or splitting of unmapped tiles, or changing a mapped tile as "done" or invalidating it or marking it as "validated", EVEN for project admins or for the project creator, this is a regression compared to TM2.

[2017-10-23 20:29] verdy-p commented on #828
invalid: it just indicates this talsk was locked for 5 minutes. The status shows a yellow tile, so it is no longer locked. The task editing buttons are working properly on this mapped tile (you can still validate it or invalidate the initial mapping).

May be you are confused by the fact you can't "start validating" the tile if you've not selected the correct tab at top: this is a confusive interf

[2017-10-23 22:41] russdeffner commented on #673
I would say this is a priority, if say I need to publish a disaster project on the road even if it's tough like it was on mobile with TM2, let me struggle my way but I don't see any way to get that done on a phone now; at least on iOS I couldn't figure out how to log in or anything.

[2017-10-23 23:18] russdeffner opened #868 "Overachieving projects"
We seem to have at least one project trying to out-do the others:
![overachiever](https://user-images.githubusercontent.com/6763645/31917677-f850d0a2-b815-11e7-9325-63c6b299a5c3.PNG)

101% validated?

[2017-10-24 00:42] verdy-p commented on #868
I archived that project, but possibly a tile was counted twice (two records in the DB due to double click on the button), or validated once then invalidated and revalidated after corrections.

[2017-10-24 00:44] verdy-p commented on #673
See also bug #820.

[2017-10-24 01:17] verdy-p commented on #831
See also bug #817

[2017-10-24 01:43] verdy-p commented on #775
If we "trim" the project area, after selecting the default subtiling size, the generated project will have some bordering tiles that are not full quad tiles.

These tiles then will no longer be splittable at all even if they are large enough for the next tiling level (zoom level of internal "quads"). Subtiling should be able to split a tile on any horizontal or vertical dimension when the current

[2017-10-24 06:38] alekno commented on #864
In validation and mapping mode I can't confirm this issue. After entering @ key a drop down list appears as in TM2.

[2017-10-24 09:46] pgiraud commented on #864
I don't think @marxin complains about the list not showing. It does most probably, but in TM2 the user who last worked on the dropdown list would appear first. Which make it easier to select it for a mention.

[2017-10-24 09:56] marxin commented on #864
Exactly as @pgiraud explained!

[2017-10-24 09:56] marxin commented on #819
I'm gently reminding this as I consider it as quite serious. Thanks.

[2017-10-24 10:14] verdy-p commented on #838
we should be able to select more specific hashtags instead of random words taken in global descriptions. Frequently these descriptions are citing various partners or other related events (sometimes elsewhere) or past projects and it's difficult to filter them.
With a search by hashtag (those in default changeset comment) we would be more in focus as they are more unique.

However here the filter b

[2017-10-24 12:37] johnwhelan opened #869 "all feedback comments are very visible to all mappers"
When I validate I'll leave feedback saying tagged 23 untagged buildings.  Fine but the issue is negative feedback is OK to the mapper and anyone who looks at the tile but maybe off putting to a new mapper if their mistakes are so visible.

[2017-10-24 13:09] russdeffner commented on #838
@alekno - you probably want to let the project/tech managers do the assigning. Assigning this to me is about as good as assigning it to a tree.

@verdy-p - I think maybe you commented on the wrong issue? This issue is to simply change one link on the campaign descriptions.

[2017-10-24 13:34] alekno commented on #838
@russdeffner the assigning has done its job to raise right peoples attention to this topic ;) This is no deep developing matter.

@verdy-p exactly.

[2017-10-24 13:44] alekno commented on #869
For really private feedback you can use the OSM message system. The TM messaging system is more about about an information protocol for following mappers on that specific task. TM is more about collaboration than ranting at someone.

[2017-10-24 14:09] bgirardot commented on #869
Ya, leave messages that can be public and the @username thing.

That shows who the comment was directed to for new mappers reading past comments.

There is also the questions and answers tab you should be checking as a validator, kind of a side note though.

[2017-10-24 14:15] russdeffner commented on #838
@alekno - I don't think that's the point of assigning things in github and awareness does not equal results necessarily.

[2017-10-24 14:35] russdeffner opened #870 "Question and Comments - Notification"
Q/C section is great, but if you're like me and have hundreds of active projects; it's just not feasible to check them all regularly. Ideally it would be nice to have a 'separate' notification showing any 'unread' Q/C posts on projects or a simpler solution would be that the PM is just auto-included in any posts there vs. the mapper needing to hit the message PM link.

[2017-10-24 15:00] bgirardot commented on #592
@ethan-nelson @pgiraud This is the issue violane has as urgent and I agree, it is urgent.

[2017-10-24 15:43] russdeffner opened #871 "Contributions - sort by username"
It would be neat if you could sort by each of the columns, but currently having it only sorted by number of tiles mapped makes it too difficult to find a specific user.  Even if option to sort is down the line in priority; switching to sorting by username should be somewhat elevated as trying to find a specific username in a project with 500+ contributors is a bit difficult.

[2017-10-24 16:28] verdy-p commented on #838
My comment was accurate by the fact you use an URL that specifies a plain text search, which is fuzzy and not finding all what is expected, and finding irrelevant results.

[2017-10-24 18:02] verdy-p commented on #592
I agree it is missing, but you can still get the data using your browser:
- Go to the project page where the map is displayed, open the browser's developer panel, go to its "network" section.
- Refresh the page, and look at the list of "XHR": you'll see one request whose result in the content body is the JSON file used to render all tiles on the map. You can copy-paste this JSON to a text editor a

[2017-10-24 19:53] pgiraud commented on #592
I may be wrong but the the request @verdy-p talks about has a simple URL which should look like:
http://tasks.hotosm.org/api/v1/project/xxx

[2017-10-24 20:00] russdeffner opened #872 "Current Mappers Count"
Please correct me if I'm wrong, but there is no more count of the number of mappers currently working a project displayed somewhere? As an enhancement, it would be great to have also the total number of mappers on the whole TM somewhere.

[2017-10-24 20:12] pgiraud commented on #872
I miss that feature a lot too. It was a good way to be aware of activity.

[2017-10-24 20:53] hunt3ri commented on #592
@pgiraud is correct.  We built the restful API to make it easy for developers to extract TM info without having to scrape the page.  It's documented here

http://tasks.hotosm.org/api-docs

[2017-10-24 21:11] bgirardot commented on #872
This should probably be a high priority issue. With the regression label.

[2017-10-24 23:17] Boggedy commented on #872
should be high priority....it acts as a magnet and the overall tempo will drop without it.

[2017-10-24 23:24] Boggedy opened #873 "Feature Request url redirect for registered and logged in users."
The home page is essentially useless on a pc  (tasks.hotosm.org) and worse on an android device with the mapswype nagging.

Is there any way that already registered and logged in users can be redirected ( by a cookie interaction ) to

http://tasks.hotosm.org/contribute?difficulty=ALL instead

and no mapswype nagging on that page please....especially in Android.

as it is the closest there is to th

[2017-10-25 07:29] pgiraud opened #875 "Who locked a task?"
If you select a locked task on the map, it looks like it's impossible to know who's working on it currently.
The history only shows actions when they're finished.

In TM2, this information was at the top of the "contribute tab" by giving information about the task current status (locked or not) and the user name.
And it was also available in the history for the task.

![screenshot from 2017-10-25

[2017-10-25 07:35] pgiraud commented on #875
See https://github.com/hotosm/tasking-manager/issues/588 as well.

[2017-10-25 09:09] pgiraud commented on #872
Duplicate of #627.

[2017-10-25 09:14] #872 closed

[2017-10-25 09:33] hunt3ri commented on #627
@pgiraud how did you calculate the counts last time??  I'm thinking the only practical way to do it is to track usage in the DB - an in-memory approach isn't really practical with the amounts of projects and need to decrement counter if user hasn't been seen for a while?

[2017-10-25 10:00] pgiraud commented on #627
Actually, as far as I remember, the count of active users for a project was just the number of currently locked tasks. With the auto-unlock mechanism, inactive users eventually disapear as soon as tasks are unlocked.

That may not be easy to do in TM3 for several reasons including the project list request caching. Also the new data model (with only one table for both locks and states) may make thi

[2017-10-25 10:08] hunt3ri commented on #627
@pgiraud that's a genius solution 💯 It should be pretty easy to get the counts using that apporach.  The tasks table has a task_status column.  So 1 = LOCKED_FOR_MAPPING and 3 = LOCKED_FOR_VALIDATION

So the following SQL would get the project level activty

select count(1) from tasks where task_status in (1, 3) and project_id = n

and if we wanted app wide project activity on the homepage a littl

[2017-10-25 10:17] hunt3ri commented on #873
Creating a bookmark on your browser for that page would mean you could skip the home page in the short term?

[2017-10-25 11:47] johnwhelan opened #876 "select random task for validation selecting ineligible tiles"
Unfortunately it will select tasks you have mapped thus are not able to validate.

[2017-10-25 11:49] johnwhelan opened #877 "Propose best tasks for validation"
Leave the experienced mappers to last.

Thanks John

[2017-10-25 12:20] pgiraud commented on #875
My mistake, the information is already available on the `advanced` block. I still think that the current locked status should be available in the history block.

[2017-10-25 14:01] alekno commented on #877
I am thinking of more. Not only newest mappers, but also time past since latest validation etc. So the algorithm determines the best suitable task to validate.

[2017-10-25 14:35] verdy-p commented on #877
The algorithm would also avoid selecting tiles that are fordering another tile currently locked (this would avoid edit conflicts, notably for road projects where roads segments are traced progressively in each tile then progressively merged once they are connected: connecting segments to merge them requires touching another bordering tile)

[2017-10-25 17:31] Boggedy commented on #871
It is selected by mapper with most tiles mapped descending.

A useful refinement would be to make it sortable by mappers ascending or descending and also sortable by validators ascending or descending.

[2017-10-25 18:55] hunt3ri commented on #627
@pgiraud @bgirardot can you remember if you could see the number of active mappers on the contribute page, or did you have to open the project to see them, or were they visible in both places?

[2017-10-25 19:11] bgirardot commented on #627
Both places. Thank you for thinking about this item iain

[2017-10-25 20:14] jharpster opened #878 "Mapping box snapped to admin boundaries"
Maybe not a real issue but certainly confusing for one of our mapathon editors.

![microsoftteams-image](https://user-images.githubusercontent.com/224853/32020846-69b172e4-b986-11e7-9d9d-2d5e74ecd687.png)

[2017-10-25 22:12] hunt3ri commented on #627
PR submitted, let me know what you think :)

[2017-10-26 08:39] sjparkinson opened #880 "HTTPS Support"
I'd opened an issue on the old task manager regarding `https://` support, and just wanted to re-open it here.

https://github.com/hotosm/osm-tasking-manager2/issues/988

[code]

This was because I use an extension called HTTPS Everywhere which has rules for Open Street Map.

[2017-10-26 09:53] ViolaineCartONG commented on #592
Hi @hunt3ri Actually, I couldnt find the tool in the API (I'm not a developper). I tried _GET /api/v1/project/{project_id}/tasks-as-osm-xml_ but the issue is it looked like I needed to specify specific tasks I want to extract. I want all so I tried with "*", it returned "500" error . Nevertheless  with the adress @pgiraud suggested, I could extract the info only related to the grid. It's far from

[2017-10-26 11:20] verdy-p commented on #592
For project 3648 (just an example) the following address is correct:

http://tasks.hotosm.org/api/v1/project/3648

It is effectively this URL which is used by the rendered map in the project page to retrieve the GeoJSON.

The suggestion by @pgiraud is equivalent to the one I made by looking for XHR requests in the network panel of the developers tools built in modern browsers, the address is exact

[2017-10-26 11:22] bgirardot opened #881 "Organization Tags Still show in filter list even with no projects with that tag"
There are currently no MSF tagged projects (unless they are archived or draft and I can not see them) but MSF still shows up in the Organization list.

[2017-10-26 11:31] bgirardot commented on #592
@verdy-p It could be simpler if when you clicked on the url it went to a save file dialog box, with a good default file name, instead of displaying a mess of xml.

Is it hard to make it do that or add another api end point that would?

[2017-10-26 11:32] bgirardot commented on #592
@ethan-nelson Also I believe Ethan, who is unavailable this week has also looked at this issue in the past and might have made preparations to support it like old skool TM2 with a link on the project page.

[2017-10-26 11:40] bgirardot commented on #592
Also, the resulting file, when using "save as" comes with no extension and even after adding the extension it does not open in JOSM, JOSM returns an error.

[2017-10-26 11:47] bgirardot commented on #875
@pgiraud It is also available on the "Activity and Stats" page.

It should be on the Task like your example, easy to find, otherwise you have no idea who is working on a task.

If we could get it to the main Task page that would be great.

[2017-10-26 11:52] bgirardot commented on #407
@tastrax I think all of these are now fixed. If not could you please see if the issue already exists and/or re-open this issue?

Thank you very much for helping by testing and leaving issues among the many other things you do :)

So I am closing this, but as I said, if it need re-open or there is actually a follow on issue (can't close the mapswipe dialog for example) please let me/us know.

cheer

[2017-10-26 11:52] #407 closed

[2017-10-26 11:55] verdy-p commented on #592
That URL can be used with "save as" with a right click, ot you can use the "File>Save as" in your browser. It just appears that browsers do not propose automatically a "save as" dislog when the content type is plain-text as it can be rendered as is. This is not part of any API, it is the standard behabior of web browsers for Content-Types on the web when all you have is an URL (if you just click a

[2017-10-26 11:59] johnwhelan opened #883 "Adding a comment to a task after validation"
How does one reply to a comment?

Ta John

[2017-10-26 12:00] bgirardot commented on #592
@verdy-p Thank you very much, that was quite helpful. For some reason I always think GeoJSON is XML.

Anyway, I still  can not open your example url resulting file, after adding the .json extension.

GeoJSONLint also returns an error on the contents of that file:

![2017-10-26_13h58_06](https://user-images.githubusercontent.com/265831/32051688-f331acf8-ba55-11e7-816e-35852e9510fb.png)

[2017-10-26 12:06] bgirardot commented on #870
Hi Russ, I understand this issue.

Let us work with it as is for now, hopefully the "contact project manager" button will make sure the PMs are only getting things they need to.

I am afraid the Q/C from hundreds of projects might be overwhelming and lead to some being ignored.

But it would be easy enough to auto send them all to the PM if that is what turns out to be best.

[2017-10-26 12:08] johnwhelan opened #884 "What does mark mean when validating?"
It's not clear some other words perhaps?

John

[2017-10-26 12:11] bgirardot commented on #869
Hi @johnwhelan I am going to close this one for now.

The answer is to make sure your comments are friendly enough that a new mapper reading it would not be put off.

For example:

"I had to add the right tag to 23 buildings in your mapping. No problem at all, thank you for mapping. This happens because you did not click on the building 2 nd time to specify it was a building. Your outlines of the

[2017-10-26 12:20] bgirardot commented on #857
I am not able to reproduce this. I can create a message of 250 characters (0 characters left is displayed) and can post it fine.

[2017-10-26 12:27] bgirardot commented on #849
If you select a task square, "start validating", then type in a comment, then click "stop validating" (currently the only way to reply to a comment).

The selected task square is de-selected so you can't see your reply. It looks like it was lost.

This might happen on start/stop mapping too.

[2017-10-26 12:33] bgirardot commented on #828
@Boggedy This is also really hard to test. I know we are making sure this works as intended.

It is a known issue that there is no UI to display the time left.

But I know I did test the 2 hour time limit and it was getting released properly. I have not tested it recently, but I will (takes at least 2 hours :)

[2017-10-26 13:02] bgirardot commented on #595
Hi @felix-yew I am closing this because we re-did the UI significantly and this is hopefully addressed.

Please have a look at the new UI and if you still have issues (I am sure you will, we all do :) please see if there is an existing issue you can +1 or create a new issue.

Thank you for helping get this launched, this feedback was part of what made us decide to re-do the UI.

Respectfully, blak

[2017-10-26 13:02] #595 closed

[2017-10-26 13:08] verdy-p commented on #592
This is not a bug of the GeoJSON file, but currently the Tasking Manager will not accept a GeoJSON whose internal type is a "FeatureCollection" or "Feature", it only accepts a single geometry with "type":"Polygon" or "MultiPolygon" for creating an AOI (the same is true for the Export Tool).

The exported tilesets from TM however is a feature collection. You need manual editing with an external edi

[2017-10-26 13:12] Boggedy commented on #883
I have taken validated tasks, sent an @johnwhelan type comment and it let me unlock at the very bottom (not revalidate) which triggered the sending of the comment. Even when a task was archived.

[2017-10-26 13:20] verdy-p commented on #592
Note that the export from the URL above does not contain only the GeoJSON data: it is part of a larger JSON dataset, which also include non-GeoJSON properties. The only relevant subset to use is in the "{value in braces}" given to the "areaOfInterest": property,
or the list of tasks given as a FeatureCollection.

[2017-10-26 13:22] verdy-p commented on #592
It may be tricky for you, but there exists some JSON data editors that allow parsing and editing it in a treeview with a more friendly presentation.

[2017-10-26 15:14] ViolaineCartONG commented on #592
@verdy-p issue i was pointing is exactly that : you need to edit the json info (from @pgiraud adress) which is not straight forward. It's doable but not for everyone.

[2017-10-26 15:55] Boggedy opened #885 "Good news. Something changed today."
The New interface is notably less laggy and sluggish for the first time ever....in the last 2 or 3 hourse. Well done .....someone. :)

Please mark this resolved.

[2017-10-26 19:05] verdy-p commented on #592
Editing was ALSO needed with the file loaded from the "Export" link in TM2 (which only provided the GeoJSON of tasks, but the not GeoJSON of the AOI or other properties of the project (which are not in GeoJSON).

So in all case this was not so trivial in all cases because there are different uses of the data (more or less filtered) and the GEOJSON for the "tasks" was and remains a "FeatureCollecti

[2017-10-26 19:25] bgirardot commented on #592
@verdy-p Certainly appreciate all the info. However, you do not know all use cases, nor everyone's skills, so blanket statements like "The basic API URL above is all that is needed to cover all uses" is not accurate because it fails to take into consideration the user's skills and needs.

I am not editing JSON to open it in JOSM, which i never had to do with TM2 output. We should be able to manage

[2017-10-26 19:49] OttoROSM opened #886 "Tasking Manager does not load"
When browsing to: _http://tasks.hotosm.org/_ the only thing that loads is the HOT Tasking Manager logo.
This happens on my laptop using several browsers:
- Chrome
- FireFox
- Internet Explorer
- Edge

I'm running the latest Java and Windows 10 fall update.
Via Chrome om IOS I have no issue in accessing the tasking manager.

[2017-10-26 19:57] OttoROSM commented on #635
Hi Blake,
Came here to report this. At least do not send a standardized message to the e-mail address that there is a message in the tasking manager. Especially when the message in the Tasking Manager is a standard message where someone validated a tile.

Typically I would map multiple tiles after each other, so when someone else validates 10 in a row, I get 10 e-mails saying there is a message in

[2017-10-26 20:04] OttoROSM commented on #886
I found out what is causing it. I am using Heimdal pro and this site blocked traffic to cdn.jsdelivr.net
After I switched Heimdal off, reloaded HOT and turned it on again, the site loads fine again.

[2017-10-26 20:06] OttoROSM commented on #824
Hi, made the following comment at issue #635:
Came here to report this. At least do not send a standardized message to the e-mail address that there is a message in the tasking manager. Especially when the message in the Tasking Manager is a standard message where someone validated a tile.

Typically I would map multiple tiles after each other, so when someone else validates 10 in a row, I get 10

[2017-10-26 20:09] OttoROSM opened #887 "Reintroduce the gpx trace to mark the edge of a tile."
when mapping a tile or validating tiles in JOSM and downloading outside of your tile to make sure a connection is made to a road or to ensure buildings on the border of the tile are mapped, you loose the information of what your tile is. Can you reintroduce the option to download a gpx trace?

[2017-10-26 22:22] #885 closed

[2017-10-27 01:42] ethan-nelson commented on #886
Do we have any interest in hosting the JS resources ourselves?

[2017-10-27 03:21] giblet22 commented on #818
@ethan-nelson @cgiovando Can confirm that new projects I've made in TM3 also do not show up.

[2017-10-27 07:08] alekno commented on #880
See #639

[2017-10-27 10:14] alekno opened #888 "Page load flicker"
When opening the TM first it displays the pure html before the java script does its job. A `<div ng-app="demo" ng-controller="DemoController" ng-cloak>` directive would prevent this 2 step display. So this is a request to add ng-cloak wherever neccessary.

[2017-10-27 10:47] sjparkinson commented on #880
Ah will close as duplicate and copy over my comment.

[2017-10-27 10:47] #880 closed

[2017-10-27 10:48] sjparkinson commented on #639
I'd opened an issue on the old task manager regarding `https://` support, and just wanted to re-open it here.

https://github.com/hotosm/osm-tasking-manager2/issues/988

[code]

This was because I use an extension called HTTPS Everywhere which has rules for Open Street Map.

Worth pointing out that the session cookie is currently being passed over plain text, and I'd guess also the oauth token ret

[2017-10-27 11:26] verdy-p commented on #592
when I wrote "cover all uses" it means all use of infos it contains. As different aplications have different needs, what would need to be filtered for specific ones would require creating as many  output options as third party apps.
However it's true that the full JSON from the XHR API is a specific JSON format for TM and not pure GeoJSON. The full JSON embedd at least two GeoJSON, one for the til

[2017-10-27 11:44] verdy-p commented on #635
10 mails in the TM manager itself that need to be clicked separately and deleted by another click, it's too much. And yes I'm not necessarily interested to have such inbox mails, or even notifications.
- there should be options to disable these notifications or mails in the TM messsaging box
- also an option to not forward these with more notifications or mails to our regular mailbox for such even

[2017-10-27 13:41] pgiraud commented on #886
@ethan-nelson I was also suprised recently to figure out that we are not hosting the resources ourselves. Though I understand the interest to use CDN's it prevented me from working on some development while I was offline.

[2017-10-27 13:48] pgiraud opened #889 "`gulp run` doesn't seem to work"
When I run `gulp run` on my linux box, right after the browser is launched with localhost:3000 the command exits with the following error:

[code]

Can someone please confirm that I'm not the only one with such an error?

I have:
npm 5.5.1
gulp 3.9.1

[2017-10-27 14:21] verdy-p commented on #886
The problem is not the use of any CDN, but the current choice of CDN used, which is used by too many rogue spammers (most often for very intrusive ads fill of privacy issues in their scripts).

If you have nothing better, consider hosting the script elsewhere I even think that it would be fine to host these scripts in a Wikimedia user page or Wikimedia Labs host: at least there, the hosting envior

[2017-10-27 14:30] verdy-p commented on #886
note that the "jsDeliver" CDN has been too frequently used rogue spammers and for illegal activities
Just one example: https://hackerone.com/jsdelivr

"jsDeliver" is too long to react to incoming reports of abuses, and probably does not have enough admins with the necessary technical skills to investigate. That's why it may be blocked by several security suites when the rate of abuses is constantl

[2017-10-27 15:11] ethan-nelson commented on #886
Yes I agree about vulnerabilities for hosted elsewhere--someone taking over the domain and injecting (e.g. [[1]](https://blog.malwarebytes.com/threat-analysis/2017/10/equifax-transunion-websites-push-fake-flash-player/)). I also see the upside related to caching if multiple sites use the same CDN.

@david-hotosm do you have any input about hosting JS resources through our resources instead of usin

[2017-10-27 16:35] giblet22 commented on #683
Bumping this. Even if it's not a separate tab, the % completed and validated should should be more easily seen. Maybe where the project description is.

[2017-10-27 17:40] alekno commented on #889
On windows it runs:

[code]

[2017-10-27 17:46] pgiraud commented on #889
What version of node, npm and gulp are you running?
Did the browser open and do pages appear?

[2017-10-27 17:49] alekno commented on #889
npm@3.10.10
gulp 3.9.1
node v6.11.4

[2017-10-27 23:08] ethan-nelson commented on #857
Okay it looks like the `characters remaining` _does_ count spaces, but it doesn't update the number until you add a non-space character. That is ruled out.

[2017-10-27 23:33] ethan-nelson commented on #857
Running locally it looks like links are formatted to include html in the raw message, which puts it over the limit. Attempting to find the code responsible for formatting.

[2017-10-27 23:38] ethan-nelson commented on #857
Code: https://github.com/hotosm/tasking-manager/blob/56d1d13056bbea342132cf6e78b12f01c73d5dd3/server/models/postgis/project_chat.py#L31

Documentation: https://bleach.readthedocs.io/en/latest/linkify.html

This will need to be tweaked: https://github.com/hotosm/tasking-manager/blob/164f58cbaf9d59f3c3e8c6c57fcb26e5791a6925/client/app/components/project-chat/project-chat.html#L29

Double the charact

[2017-10-27 23:41] ethan-nelson commented on #438
See #851

[2017-10-28 01:41] ethan-nelson commented on #878
That......is very interesting.

[2017-10-28 01:44] ethan-nelson commented on #878
Actually it looks like in this case the task is shaped about some boundary: http://tasks.hotosm.org/project/3386?task=13

[2017-10-28 01:47] ethan-nelson commented on #611
We unfortunately don't have a ton of space to work with, so we can't add too much text.I do like the gerunds for the two "do" tabs:

`Instructions` `Mapping` `Validating` `Questions and Comments` (perhaps we can trim that last one down too)

[2017-10-28 10:27] #814 closed

[2017-10-28 14:35] bgirardot opened #892 "Allow mapping and validating by project managers in draft and archived status"
Project managers (and probably validator role folks) need to be able to map and validate projects in draft and archived state. We do this very often as part of disaster response and typically missing maps project management.

![2017-10-28_16h32_25](https://user-images.githubusercontent.com/265831/32135343-da93b8ea-bbfd-11e7-977c-98ad0105435e.png)

[2017-10-28 15:23] alekno commented on #892
Do we want validators doing archives/drafts?
I prefer a simple "mapping lock" in published projects but open for validators to validate and map. Can be done via metadata specification.

[2017-10-28 15:40] verdy-p commented on #892
This is not a "refinement" but really a "regression bug" (compared to TM2) (regression of functionality). I have signaled it already several times since the TM3 launch.

Yes this is needed (even after going to "archived" state when project managers will want to perform some reviews and a few additional edits for local problems they may see once they have started using the exported data (this does

[2017-10-28 15:42] verdy-p commented on #892
See the previously filed bug #866: this is the same

[2017-10-28 15:44] verdy-p commented on #866
adjusted to match the same tags as in #892 (an equivalent later report)

[2017-10-28 15:44] alekno commented on #892
Maybe a new project state: Validation ( besides published, draft, archived). Validation projects only visible to validator role.

[2017-10-28 15:53] verdy-p commented on #892
yes a "validating" state for the project as a whole (logically between "published" for mapping, and "archived") would be useful. But still this will be an unrelated "refinement" (not a regression as in this bug).

And we should not restrict editing tiles in a draft or archived project (including to "lock" a tile for mapping or validating, and in the locked state being able to "split" it or mark it

[2017-10-28 16:38] bgirardot commented on #892
@alekno @verdy-p The 'validating' status is an interesting idea we should revisit later.

For the moment, I would like to get things working at least as well as they worked in TM2 and focus on that.

I am going to close this one and go with verdy's issue #866

[2017-10-28 16:38] #892 closed

[2017-10-28 16:39] bgirardot commented on #866
@verdy-p Please do not put "TM2 Regression" in the title of issues. There is a label for that now so it is redundant and makes the title of the issue hard to read.

[2017-10-28 16:54] #360 closed

[2017-10-28 17:05] verdy-p commented on #866
it was there since the beginning, before you asked mer to add labels; at that time there was still no "regression" label that I created later.

[2017-10-28 17:10] verdy-p commented on #820
Note that the initial minimum display width has even been increased now: when I created this bug it was 1033 pixels, now it's even larger (meaning that many more users see the red banner on their desktop browser asking them to go elsewhere)

[2017-10-28 22:33] ethan-nelson commented on #619
Closing as this has been refined with the UI overhaul. Please reopen if it's still unacceptable!

![validation](https://user-images.githubusercontent.com/8998918/32139090-f907118e-bc05-11e7-858a-03272f2a2cd0.PNG)

[2017-10-28 22:33] #619 closed

[2017-10-28 22:53] johnwhelan opened #893 "Add option to restrict editing programs allowed during validation"
and if you can't why is the option there?

[2017-10-28 22:54] johnwhelan opened #894 "entering user name for comment in validation"
TM2 would suggest them or you could cut and paste TM3 you have to type them in.

[2017-10-29 04:38] ethan-nelson commented on #713
Right now this is a call that the project manager makes and I don't think we want to institute any automated archive procedures. I'm going to go ahead and close this, but thank you for all your feedback so far tastrax!

[2017-10-29 04:38] #713 closed

[2017-10-29 04:41] ethan-nelson commented on #747
We need to do a postmortem at some point to check if there was any data that didn't properly get transferred. One possibility that needs follow up is #819

[2017-10-29 04:42] ethan-nelson commented on #682
Thoughts on this after the overhaul?

[2017-10-29 04:43] ethan-nelson commented on #750
Is the questions and comments sufficient to solve this, Andrew? I've also noticed since the launch we've had quite a few postings on the mapper support mailing group.

[2017-10-29 04:47] ethan-nelson commented on #887
This was recently built into the API again, but we need to add a link to it on the frontend as you mention. That said, this was brought up in #616 so I'm going to close this as a duplicate. Thank you for the comments Otto--this is actually near the top of my priority list for next week to knock out.

[2017-10-29 04:47] #887 closed

[2017-10-29 04:48] ethan-nelson commented on #347
Can you check whether this is still a bug or works as expected now? It looks like a related issue was solved with a few pull requests. Thanks!

[2017-10-29 05:06] tastrax commented on #347
Yep - looks to be working correctly now

[2017-10-29 05:06] #347 closed

[2017-10-29 05:14] tastrax opened #895 "Spurious text"
http://tasks.hotosm.org/contribute?difficulty=ALL&page=96

![spurious text](https://user-images.githubusercontent.com/8775395/32140874-23025ebc-bcc4-11e7-8161-15dac5194156.JPG)

[2017-10-29 05:15] verdy-p commented on #713
I also agree that sometimes a project may look 100% mapped and validated, but with some tiles recently marked as validated needing further checks and that may be in fact invalidated.
Even a validator may click by error on "mark as validated" and would want to reedit the tile immediately, which would be impossible if it was immediately "archived" (except by project admins that would first need to c

[2017-10-29 05:16] tastrax commented on #895
![spurious text2](https://user-images.githubusercontent.com/8775395/32140882-81231d74-bcc4-11e7-968a-1378cf638c37.JPG)

[2017-10-29 05:18] tastrax commented on #895
![spurious text3](https://user-images.githubusercontent.com/8775395/32140885-ce605282-bcc4-11e7-9ca0-2b16355551da.JPG)

[2017-10-29 05:31] tastrax opened #896 "Contribute project listing page with no projects listed"
http://tasks.hotosm.org/contribute?difficulty=ALL&page=54

Seems a bit strange as there are projects on 53 and 55?

[2017-10-29 05:57] tastrax commented on #895
Also projects 1204, 1202, 1167, 1235

[2017-10-29 07:24] dkocich commented on #889
On Ubuntu it runs
[code]
node v8.1.4
npm v5.5.1
gulp v3.9.1

[2017-10-29 07:53] pgiraud commented on #889
Works on my mac personal computer. I will dig into it if possible (upgrading to node 8 maybe). Closing. Please reopen if you also have the same issue.

[2017-10-29 07:53] #889 closed

[2017-10-29 11:29] alekno commented on #894
Why cut & paste? What is the difference to mechanical spam, when doing mass c&p? I have seen some validators overdoing personal messaging. Quite annoying, if it is not a specific and unique message.

[2017-10-29 11:34] alekno commented on #895
![grafik](https://user-images.githubusercontent.com/32923310/32143132-451156e4-bca5-11e7-81a7-c75b9da60a2c.png)

Does this look better?
(from current develop branch)

[2017-10-29 11:35] johnwhelan commented on #894
When I validate a tile not all the mapping has been done by the person who marked the tile done.  At times I want to leave a message to someone else with a relevant pointer to the wiki and I've picked up their name with a <crtl>i or <crtl>h in JOSM.  <crtl>v works nicely in this case.  Again I may wish to leave a message to the mapper.  Other than one to Blake I have not left a "Hi Johnwhelan I ju

[2017-10-29 11:47] alekno commented on #896
confirmed; a bug in the project listing.

[2017-10-29 11:52] pgiraud commented on #896
http://tasks.hotosm.org/api/v1/project/search?mapperLevel=ALL&page=54

[code]

[2017-10-29 12:10] johnwhelan opened #898 "auto-generated message on validation get rid of it please"
Apparently every tile validated generates an automated message.

"Hi Johnwhelan I just validated your mapping on Task 14. Awesome work! Keep mapping :)"

I validate many tiles.  I do not want these spam messages sent out as part of the process.

[2017-10-29 12:30] bgirardot commented on #898
@johnwhelan It is not going away, but eventually will have an opt-out option.

If you want to create an issue for an opt-out of those messages that would be great, if not I will get to it later as it has always been planned to improve that.

[2017-10-29 12:30] #898 closed

[2017-10-29 12:41] bgirardot commented on #898
@johnwhelan The opt out issue already exists #635

[2017-10-29 15:31] harry-wood commented on #673
I started looking into this but actually [this line](https://github.com/hotosm/tasking-manager/blob/develop/client/index.html#L118) is supposed to be showing an "X" button, and the functionality for dismissing the banner is all in place already. I think a style bug is meaning that it's not showing up.

[2017-10-29 15:50] pgiraud commented on #673
@harry-wood it looks like the CSS rule `hot-ds-icon-xmark` is never defined.
And unfortunately this kind of commit messages doesn't really help https://github.com/hotosm/tasking-manager/pull/413

[2017-10-29 15:55] verdy-p commented on #857
Beware of the way you count characters: in Javascript we are measuring lengths in terms of number of UTF-16 code units (so a single Emoji from a supplementary space would count for 2 code units) but the data will be sent to the server encoded as UTF-8 (so a single Emoji from a supplementary space would count for 4 bytes). Then the webserver will store the string using the encoding declared for the

[2017-10-29 16:00] johnwhelan opened #899 "Validation message: Change "from" to a generic user in the Tasking Manager"
"Hi Johnwhelan I just validated your mapping on Task 14. Awesome work! Keep mapping :)"
Apparently similar twee messages are being sent out as if they come from me.  These are unauthorised and I object to them.
One issue is validators getting impolite messages because they appear to have sent them.
If these are system generated messages then they should be sent under a system user name or Tyler's.

[2017-10-29 16:16] pgiraud commented on #673
It looks like the different css rules prefixed with `hot-ds-` (actually used in several places in the code) aren't declared anymore. They were previously retrieved from https://github.com/hotosm/hot-design-system but this is not the case anymore.
https://github.com/hotosm/tasking-manager/commit/164f58cbaf9d59f3c3e8c6c57fcb26e5791a6925#diff-05d76e6130fce41e9f34b6a1aa08bd50L18

@felskia Should we re

[2017-10-29 16:19] pgiraud opened #900 "Clean up HOT design system"
We still keep references to the HOT design system and import the project via gulp.
https://github.com/hotosm/tasking-manager/search?utf8=%E2%9C%93&q=hot-design-system&type=

To be checked with people at DevelopmentSeed.

[2017-10-29 19:22] dkocich opened #901 "Deprecated warnings during npm install process"
There are some warnings in the console which should be fixed by the update of turf...
[code]

[2017-10-29 21:00] tastrax commented on #895
Yep, looking good! Is there somewhere I can look at the development branch online (I should have checked...)?

[2017-10-30 01:16] #895 closed

[2017-10-30 04:28] tastrax opened #902 "Organisation and Campaign list - sorting"
Given the lists in both these areas will continue to grow is it possible to have then sorted alphabetically to make it easier to find things.
![tm3-list-sort](https://user-images.githubusercontent.com/8775395/32154762-e925654a-bd86-11e7-8f25-bab2f0df97bf.png)
?

[2017-10-30 04:38] tastrax opened #903 "Map view - project pop up obscured"
When using the map view, when zoomed in, occasionally (often the first time) the project popup does not appear completely  within the map frame

![tm3-map-project-popup](https://user-images.githubusercontent.com/8775395/32154920-34cf4e2e-bd88-11e7-96b2-4c9da9c7e514.JPG)

[2017-10-30 11:47] bgirardot commented on #903
Hi @tastrax This was specifically addressed during development and works most of the time for me. I will make sure we keep looking into it. Thank you for making the issue.

[2017-10-30 12:01] bgirardot commented on #893
I do not understand the question, could you expand more on it please?

Is it tasking manager related or iD related? There is an iD repository with issues as well if it might fit better there:

https://github.com/openstreetmap/iD

[2017-10-30 13:16] johnwhelan commented on #893
By having iD as an option in on the validation page you are implying it is acceptable for validating.  So I would like confirmation that iD can detect crossing ways and untagged ways etc if it can't then please remove it from the list of acceptable editors for validation.

[2017-10-30 14:27] smit1678 opened #904 "Encoding for embedded URLs"
From https://github.com/hotosm/tasking-manager/pull/874 a number of issues were raised regarding how the embedded URLs are encoded because they are not HTML5 valid.

@alekno @verdy-p Thanks for the discussion thus far. Can one of you take this forward and propose the correct changes to the code you're talking about?

[2017-10-30 16:01] russdeffner commented on #246
Related: the legend does not have the 'selected' yellow boundary; typically a user is going to be selecting a single task and what they'll see is like so:
![lockedbyyou](https://user-images.githubusercontent.com/6763645/32181042-18ddc1b6-bd59-11e7-8cb7-11983a43f610.PNG)
Would think we either need to add the yellow selected box to the legend or 'turn it off' once it goes from selected to locked. i.

[2017-10-30 17:07] awisemanapple commented on #750
@ethan-nelson I think that covers it! Thanks!

[2017-10-31 01:31] Boggedy commented on #893
Good point. When one takes a task in HOT to validate it list of editors appears to the left of "Start Editing"

In many tasks iD is a crap choice and should not be offered for validating. It can be useful where the tiles are very small and the task is not a dense urban area.

This can be dealt with when a task is created and an 'allow validation with iD option' is presented, default value unticked

[2017-10-31 05:05] bgirardot commented on #639
@david-hotosm @smit1678 Can we move on this? I guess it is causing issues with the iD editor that we are not all https + other reasons listed here.

[2017-10-31 08:50] hunt3ri commented on #639
As I mentioned above now the app is being served entirely out of AWS it's very simple to use the Amazon Certificate manager to set up HTTPS.  Give me a shout if I can help

[2017-10-31 08:50] smit1678 commented on #639
@bgirardot Yes, this should have been done from the beginning. Will sort this out via #sysadmin on Slack.

[2017-11-02 15:01] Boggedy commented on #899
I got a flood of these "Awesome work! Keep mapping" messages today, Most annoying,

If a validator chooses NOT to comment and if the system MUST somehow interpolate a comment upon validation then try a neutral comment rather than a trite and inane Americanism ...most Mappers are NOT American are they.???  :(

I suggest. "Thank you for your contribution,  from The HOTOSM Team" instead.

[2017-11-02 15:08] russdeffner opened #909 "Completion Stats should not round up"
This is partially related to #829

I almost archived a project because the stats showed 100% mapped and 100% validated; however, luckily I looked closer and saw there were several tasks still needing either mapping and/or validating. It appears the stats round up and that is causing the confusion.  It would be much better to truncate the stats percentage (i.e. show lower than actual completion) so

[2017-11-02 15:57] bgirardot commented on #899
@Boggedy The wording of the message to mappers has been changed, you can review it here:

https://github.com/hotosm/tasking-manager/pull/855/files

[2017-11-02 17:20] verdy-p commented on #909
It's true that since TM3, you can no longer do any mapping/validation work in a task which has a "draft" or "archived" status. There's already a bug for this: it should be allowed to do any editing/mapping/splitting/validation an any task independantly of the "published" status, if you are the project creator or a validator

Note that both creators and validators should see these projects, and tha

[2017-11-02 17:24] verdy-p commented on #899
The message contains the name of the mapper to which it is sent. But it would be better to include the name of the person that completed or validated the task on the message recipient worked earlier.
As well the task number is not very descriptive: you should include the project name even if you provide the link to the actual task.

[2017-11-02 17:28] russdeffner commented on #909
@verdy-p that may all be true, but really the subject of my issue is literally one thing: "truncate instead of round the stats".

[2017-11-02 17:33] verdy-p commented on #899
Note the minimum priority is medium, but given the rections we get (people complain these are "spams" and undesirable for them as they are too frequently sent to the most active mappers, that would then want to slow down or stop their work!), it should probably be an urgent priority.
Most of these messages should in fact better be avoided: mappers should have an history of alkl projects on which t

[2017-11-03 02:17] Boggedy commented on #899
MEH!!!!!

Just do something like.

Thank you for mapping in task = [Task Name] from the HOTOSM team. We value your continuing excellent work.

Logic....

1. it was a good job or it would not have been validated.
2. The HOTOSM team should be the ultimate arbiters of quality as HOTOSM is 'their' site so _'they'_ should the default thankers planet wide.
3. Experienced validators know they can inject

[2017-11-03 02:24] ethan-nelson commented on #886
Closing for now since original issue is closed--moving JS hosting to new ticket.

[2017-11-03 02:24] #886 closed

[2017-11-03 02:25] ethan-nelson opened #912 "Host javascript resources ourselves"
Feature request from #886 discussion: host javascript resources ourselves instead of CDN.

[2017-11-03 02:29] Boggedy commented on #909
I would add an exception for 100% which is that 100% only means 100% and all % from 1 -99% are rounded. A fraction like 99.9% should show 99%

It helps maintain validation momentum I find.  Different code really, how to handle rounding above 99%.

[2017-11-03 03:03] #750 closed

[2017-11-03 03:04] ethan-nelson commented on #884
Could you clarify what you mean, John? I think you may have left a word out of the title.

[2017-11-03 03:21] russdeffner opened #914 "Changeset Comment Padding"
It appears the TM3 truncates the changeset comment.  I typically add one space after my default changeset comment, this makes it less likely the mapper will add their comment adjoined to a tracking hashtag. Example: want my cc to be "#PuertoRico " but ends up being "#PuertoRico"

[2017-11-03 11:53] johnwhelan commented on #884
On the validate screen it now reads mark as valid etc but one of the buttons only had teh word mark on it when I viewed and made the comment so it looks like its been fixed or part of the html was corrupted once when displayed.  Either way knock this one off the list.  John

[2017-11-03 11:53] #884 closed

[2017-11-03 12:36] verdy-p commented on #914
I think only the trailing whitespace is trimmed. If you want to have others adjoining terms, you may want to use a punctuation after the last hashtag (I suggest the semicolon, or comma, rather than a full stop, colon or any dash that could be part of the same hashtag and even the same word).
But in fact, we don't need to do that and even store that whitespace: it can be added only on while creatin

[2017-11-03 13:42] #909 closed

[2017-11-03 13:52] ethan-nelson commented on #884
Okay that was my bad in the interpretation. Thanks for the followup John, and glad it's fixed!

[2017-11-03 13:55] #616 closed

[2017-11-03 23:07] johnwhelan opened #916 "Allow deleting multiple TM messages at once"
Can this be made easier.  Sounds daft but with osteoarthritis in my fingers every mouse click counts.  I have a certain number per day before it starts to get painful. The choice is between clicking to delete them, each one currently requires multiple mouse clicks, and clicking to validate.

Thanks John

[2017-11-04 01:16] Boggedy commented on #912
might explain the sluggish javascript. which CDN??

[2017-11-04 06:56] verdy-p commented on #909
I don't think it solves the case encountered were we actually found 101% [sic!], or also 99% (when ALL tiles have been completed and this should also be 100%) because we are still cumulating the rounded percentages instead of computing percentages by the ratio of two separately cumulated totals (now we'll cumulate the truncated percentages and chances are more likely to have a full completed proje

[2017-11-04 07:41] tastrax commented on #916
It would be good to have a radio button to ‘select all’ before deleting

[2017-11-04 11:06] pa5cal opened #917 "Different amounts of "Tasks Mapped" and "Tasks Validated" - Web User Profile vs. API User"
When I compare the amounts of "Tasks Mapped" and "Tasks Validated", I get different results:

HOT Tasking Manager User Profile - tshedy
(http://tasks.hotosm.org/user/tshedy)
"1992 - Tasks Mapped" and "2351 - Tasks Validated"

HOT Tasking Manager API - user
(http://tasks.hotosm.org/api/v1/user/tshedy/mapped-projects)
'Projects'='17', 'Tasks mapped'='245' and 'Tasks validated'='5'

[2017-11-04 11:16] bgirardot commented on #786
@david-hotosm Did this get completed?

[2017-11-04 11:56] bgirardot commented on #878
Yes, I am fairly certain that the project creation process and task trimming has no connection to data in OSM and they are not connected in the iD editor either.

I think this is just an artifact of the actual boundaries being used to create the project originally.

If I have misunderstood something, please re-open this issue.

[2017-11-04 11:56] #878 closed

[2017-11-04 11:57] #545 closed

[2017-11-04 11:57] #438 closed

[2017-11-04 12:00] #543 closed

[2017-11-04 12:01] #560 closed

[2017-11-04 16:01] verdy-p commented on #917
Note that 'Tasks mapped'='*' and 'Tasks validated'='*' are distinctly reported for each project.
Your global counter in your user profile may include projects that are not listed in your user API (probably those projects that are been deleted, or only drafted, or whose details are no longer available after completion (the history will be only in your edits on the OSM dabase for your "changesets",

[2017-11-04 17:07] ethan-nelson commented on #866
For reference, this can be fixed with checking whether a user is a PM or admin near the beginning in https://github.com/hotosm/tasking-manager/blob/develop/server/services/project_service.py#L87-L116 and https://github.com/hotosm/tasking-manager/blob/develop/server/services/project_service.py#L132-L151

[2017-11-04 17:10] ethan-nelson opened #919 "Any user can validate on non-published projects"
If a regular user visits a project that is archived, for example, they can validate/invalidate tiles.

Needs a check here: https://github.com/hotosm/tasking-manager/blob/develop/server/services/project_service.py#L136 like there is on https://github.com/hotosm/tasking-manager/blob/develop/server/services/project_service.py#L92-L93

[2017-11-04 19:58] ethan-nelson commented on #914
Hey Russ, do you recall this not happening in TM2? And is project 3665 an example of one you padded? I selected this project randomly as one you manage. Here is the path sent to iD:

`http://www.openstreetmap.org/edit?editor=id&#map=17/18.414472728477662/-66.20086668736046&comment=%23hotosm-project-3665%20%23HurricaneMaria%20%23PuertoRico%20&background=custom:https%3A%2F%2F%7Bswitch%3Aservices%2Cs

[2017-11-04 20:42] bgirardot commented on #869
I do not see us adding in private messaging, as alekno said, if you need to send a private message the OSM system works for that and yes, you'd have to copy/paste the url of the task square.

[2017-11-04 20:42] #869 closed

[2017-11-04 23:04] johnwhelan opened #921 "searching for projects by project manager's name"
This used to work in TM2 but doesn't apparently work in TM3.

Thanks John

[2017-11-04 23:40] russdeffner commented on #857
Now I can't post this:
@[ArneKimmig] oh, interesting - not sure there is a tag for those; you could search wiki.openstreetmap.org but I would leave them (no reason to delete the geometry) but maybe we need to come up with a tag.

[2017-11-04 23:44] russdeffner commented on #857
But this went fine:
@[ArneKimmig] oh, interesting - not sure there is a tag for those; you could search the wiki but I would leave them (no reason to delete the geometry) but maybe we need to come up with a tag.

So, I'd have to guess it's something with URLs

[2017-11-05 00:42] russdeffner commented on #914
@ethan-nelson Yes, this was never an issue with TM2; I do see the space is there in 3665, but that's an import from TM2 - 3782 is a new TM3 project and if you try to add a space, then save, it's gone again. So maybe there is an iD bug as well (don't use it often enough to remember it doing that before) but also seems new projects created in TM3 truncate space.

[2017-11-05 00:44] russdeffner commented on #914
@ethan-nelson never mind my last comment, yes - this seems to be an iD thing; don't use it enough to remember if that happened with TM2 but I'll close this as it seems to work as expected at least on the TM3 side of things.

[2017-11-05 00:44] #914 closed

[2017-11-05 00:47] ethan-nelson commented on #914
:+1: thanks for the follow-up Russ

[2017-11-05 15:11] johnwhelan opened #923 "checking a tile just validated"
With the new way of typing in the mapper's name I suspect I have misspelt one and sent the message to the wrong mapper.  I can't see a way to check this or get back to the tile I've just validated.

[2017-11-05 15:19] bgirardot opened #924 "Tasks lose focus/selection after marking mapped/validated or stopping"
A selected task loses its selection after someone 'starts' and then 'stops' or marks the task as completed, validated, invalidated, bad imagery.

The task should stay selected. This would allow the user to see the comment they left or perhaps check it out again.

[2017-11-05 15:23] johnwhelan opened #925 "selecting tiles to validate under legend"
It doesn't work.  I need to move the map so they aren't under the legend.

[2017-11-05 15:23] bgirardot commented on #923
I think the issue here is that the task loses its selection after you mark it done/validated/invalidated or stop mapping.

I think it should keep the focus, that would address this issue.

please see #924 I created as the replacement for this issue.

Also see #630 which would improve the activity and stats page to show everything that had happened to the project with more information and link to t

[2017-11-05 15:23] #923 closed

[2017-11-05 15:27] bgirardot opened #926 "Full text search should include title, creator, changeset comments"
The full text search box should include more fields, specifically:

title field
project creator
changeset comments (to use hashtags as search criteria)

[2017-11-05 15:29] bgirardot commented on #921
This falls under the general issue of improving the full text search, which leaves out a few fields that apparently tm2 used to include.

thanks for the heads up @johnwhelan I never searched that way so had no idea it used to work that way in tm2.

I am going to close this one and use the larger issue of improving the full text search as the main issue. Please see #926

[2017-11-05 15:29] #921 closed

[2017-11-05 15:30] bgirardot commented on #862
this is part of a larger issue, please see #926

[2017-11-05 15:30] #862 closed

[2017-11-05 15:37] akimmig opened #927 "Start editor JOSM doesn't work with Safari"
I get the message:
"Dismiss, JOSM remote control did not respond. Do you have JOSM running and configured to be controlled remotely?"
It works with Chrome.

Safari Version 11.0.1 (12604.3.5.1.1)

[2017-11-05 21:29] alekno commented on #757
Is solved on working version. Can be closed.

[2017-11-05 22:13] verdy-p commented on #757
this is in fact cause by the fact that the first part (dt) is a block with relative positioning (using also clear), anf the second part (dd) is positioned by a block with floating positioning (not using clear) the vertical alignment of margins and baselines never applies to floating elements: if the first part uses a different font size or line-height, the floating element will not align with it,

[2017-11-05 22:18] alekno commented on #757
Indeed, lot of nonsense in the CSS elements. Not only in dt and dd. This needs someone with a CSS clue to fix. Someone tweaked a lot in the past, and made is worse.

[2017-11-06 06:59] marxin opened #928 "Mapped Stats should reflect Invalidated tasks"
Hello.

After migration, I would recommend to follow behavior of TM2, where Mapped reflected Invalidated. If you look here:
https://tasks.hotosm.org/project/3357/dashboard

Mapped is about 97%, while there are more than 10% of invalidated tasks. I understand Mapped as work that still needs to be done for mappers and invalidated tasks are work ;)

[2017-11-06 07:29] marxin commented on #819
There's script that can fix that via JSON API:
https://github.com/marxin/script-misc/blob/master/hotosm-fix-invalidated.py

[2017-11-06 11:44] double-a opened #929 "Total number of tiles on Statistics page"
On the "Activity and Stats" page (dashboard) it would be nice to see on top of the contributions table the total number of mapped/validated tiles (e.g. 44/200).
And the table could be made sortable by username/mapped/validated tiles.

[2017-11-06 12:03] OttoROSM commented on #912
@ethan-nelson,
The original issue of #886 in so far is solved by shutting down my security suite, each time when I use the tasking manager. I would say it is a workaround, but not a real resolution. :-)

Looking at the arguments from others more knowledgeable about why this happens, it seems good practice to not host on CDN and host on OSM or a more thrustworthy partner instead,

[2017-11-06 12:03] smit1678 commented on #786
@bgirardot I got the login information for Piwik, unless there was something else preventing us from adding this, here is the tracking code that needs to be inserted into https://github.com/hotosm/tasking-manager/blob/develop/client/index.html

[code]

[2017-11-06 21:35] ethan-nelson commented on #639
This is now deployed! Thanks everyone for input and help!

[2017-11-06 21:35] #639 closed

[2017-11-07 00:00] johnwhelan opened #930 "When validating how do I know who has locked a tile for mapping?"
If I can spot a mapper having difficulties I want to keep an eye on them.  Giving them feedback as quickly as possible when they release a tile or mark it done is saves me work in the longer term.

[2017-11-07 06:49] pgiraud commented on #930
I think this is a duplicate for https://github.com/hotosm/tasking-manager/issues/875
Closing.

[2017-11-07 06:49] #930 closed

[2017-11-07 10:58] pgiraud commented on #819
hi @marxin
I tend to agree with you that invalidated tasks should not be considered as mapped. It was not the case in TM2.
Thanks for your the feedback. We will give it a look as soon as possible. And thanks for script.

[2017-11-07 11:15] marxin opened #931 "Maybe introduce graph for Mapped and Validated tasks as was used in TM2"
I considered the feature quite successful and would be nice to have it also in TM3.
Thoughts?

[2017-11-07 18:23] johnwhelan opened #932 "mappers name not visible when validating"
for a mapper who only has one tile available selecting start brings up[just that tile in JOSM but you are unable to see their name.  makes leaving a comment difficult.

[2017-11-07 18:33] ethan-nelson commented on #786
Looks like site id is already set up on the piwik side, so we should be able to just drop this in.

[2017-11-07 19:02] nerdanel opened #933 "Enable a way to dismiss the MapSwipe banner"
There doesn't seem to be a way to get rid of the MapSwipe banner when viewing the TM on mobile devices or at a smaller screen resolution (e.g. a resized window on a laptop). We had this issue crop up at the mapathon tonight where a low-res projector effectively made the TM think it's open on a mobile device and the MapSwipe banner was obscuring the actual task window.

[2017-11-08 00:36] dbdean opened #936 "Allow marking as bad imagery in validation"
Can we get functionality so that areas of bad imagery can be marked during validation, as well as during mapping, or is it by design that you should have to invalidate the tile first, then map, then select bad imagery?

[2017-11-08 00:36] dbdean opened #937 "Add functionality to split tasks for validation"
Sometimes when validating, it's useful to be able to split the tile before validating.

Example scenarios:

1) It is a very complicated tile, and you'd like to make it simpler to validate.

2) Some parts of the tile have bad imagery, and you'd like to split the tile to indicate which parts have bad imagery. This is related to https://github.com/hotosm/tasking-manager/issues/936, which I posted sep

[2017-11-08 12:59] bgirardot commented on #933
Also see #820 which is related.

[2017-11-08 14:53] d3netxer opened #940 "Add completed projects to explore page"
Is it possible to see completed projects to the map view? Maybe we can add a new point to the legend (colored green). For example, I would like to see a point over Siam Reap, Cambodia that represents project #3224

[2017-11-08 19:55] johnwhelan opened #941 "When validating on a 1920 x 1080 monitor I need to scroll down to see the history"

[2017-11-10 09:41] Jorieke opened #942 "Project manager task list"
To keep track of my tasks and to keep overview, it would be great to have somewhere a list of all tasks I ever set up.  Those that are active, archived and in draft.

[2017-11-10 09:45] Jorieke opened #943 "Duplicated organisation and meaningless campaign names in list"
For example
Médecins Sans Frontières and MSF
Clinton Health Access Initiative and Clinton Access Health Initiative

[2017-11-10 10:44] bgirardot commented on #942
Hi @Jorieke Did you look either your "User Profile" or your "Project Dashboard" ? both are under your user name when logged in.

Please re-open this if that does not address this issue.

[2017-11-10 10:44] #942 closed

[2017-11-10 16:30] russdeffner commented on #870
An addition to this, it would be great if others could 'follow' a Q/C section.  I'm already seeing (including my own projects) that questions are going unanswered. I think this is even more important than quick validation; now that people are using the Q/C, if they don't get a response within a couple days, they are probably going to have a negative impression on the TM and HOT.  So, not only is i

[2017-11-11 13:20] johnwhelan opened #944 "New mapper with less than 24 hrs experience is validating"
How do I spot which tiles they have validated so I can double check them?

They have not marked a single tile done but they have validated six tiles.

[2017-11-11 20:26] russdeffner opened #945 "Completion Stats - Validation should not be higher than Mapped"
I noticed that project 3730 had a higher Validation percentage than Mapping percentage.  Looking at the project tasks, and later confirmed by @ethan-nelson that the tasks marked as "Bad Imagery" are taken into account in Validation percentage but not Mapping.

Here's what Ethan said on slack:
it looks like mapped is fraction mapped over all tasks not including bad imagery, while validated is valid

[2017-11-12 19:21] #820 closed

[2017-11-12 19:21] #933 closed

[2017-11-12 22:04] marxin opened #947 "Add link to project home from dashboard"
Being here:
https://tasks.hotosm.org/project/3357/dashboard

one can't find way how to get to:
https://tasks.hotosm.org/project/3357

[2017-11-12 22:06] marxin opened #948 "Fast validate button"
I would consider adding button that will do:
Validate a random task + Start validating + Start editor

As I'm validating quite a lot, I always repeat these steps.

[2017-11-13 00:44] ethan-nelson commented on #947
Just for current reference, you can click the project name and number under `Activity and Stats` at the top to go back to the project.

But I totally agree it's should definitely be made clear (maybe with a "Return to Project" button)!

[2017-11-13 00:47] ethan-nelson commented on #627
My understanding is this was solved with #879. Please reopen if that is not the case.

[2017-11-13 00:47] #627 closed

[2017-11-13 15:58] smit1678 opened #950 "Add license file"
License file for v3 is not available. v2 was tagged as BSD 2-clause: https://github.com/hotosm/osm-tasking-manager2/blob/master/LICENSE.txt. Proposing that we keep the same license.

[2017-11-13 19:26] ethan-nelson commented on #950
Are dependency licenses a factor in this? Looks like the core components at least--namely Flask and AngularJS--are compatible with BSD 2-cl.

[2017-11-13 19:34] ethan-nelson opened #951 "Improve tests and coverage"

[2017-11-13 21:12] marxin commented on #947
You're right. However the subtitle is in background that I haven't tried to hover it.

Thanks for working on that.

[2017-11-14 01:25] Rovastar commented on #931
So disappointed that the graphs are not there now.

[2017-11-14 01:28] bgirardot commented on #931
We plan on re-introducing the graph or something very much like it. It should not be too hard to add back in.

Can you help us understand how you used them?

What information did it give that you found useful?

[2017-11-14 03:25] bgirardot commented on #532
I ended up commenting this option out of the UI. It was confusing and took people to an editor for the area without locking the task so was going to lead to issues.

We still need to find a way to allow folks to checkout out a validated task so they can see what a well mapped task looks like.

[2017-11-14 03:37] bgirardot opened #952 "Improve validation email subject line to indicate project"
![2017-11-14_04h36_29](https://user-images.githubusercontent.com/265831/32761763-721e03d8-c8f5-11e7-8819-99e43c890d72.png)

[2017-11-14 06:42] marxin commented on #931
Good to hear that it's planned.
Use case was quite easy, it motivates people to see how Mapped and Validated numbers are increasing. For Mapathons, one can identify that a task was massively improved in a shore time period.

[2017-11-14 16:07] smit1678 commented on #950
@ethan-nelson Good call. Only concern would be if any dependencies were copy-left licenses.

[2017-11-14 18:07] cgiovando opened #953 "Menu not automatically closing when clicking on items"
The expected behavior should be that after clicking on any of the dropdown items, the menu would close, but at the moment it stays open. See screenshot below:

![screen shot 2017-11-14 at 19 05 26](https://user-images.githubusercontent.com/10201533/32796402-f6501b7c-c96e-11e7-87ff-4b03b0540f56.jpg)

[2017-11-14 20:15] verdy-p commented on #953
I'd like to add that there's no viosual hint that the menu which is open is the "username" menu and not the Language menu (that use the same "V" icon after showing the currently selected language name).
If the menu is open, the top selected item in the menu bar (or its "V" icon) should be colored, or bordered (with its bottom border hidden and collapsed with the part of the top border of the popup

[2017-11-14 20:40] cgiovando opened #954 "Can't add new organization"
Typing in the name of a new organization does not add it, but instead the first one from the list gets selected.

![nov-14-2017 21-36-31](https://user-images.githubusercontent.com/10201533/32803609-5ef196fa-c984-11e7-906c-48657a45c6ca.gif)

[2017-11-14 21:38] verdy-p commented on #954
I have seen the same bug: pressing TAB is equivalent to pressing ENTER: it selects the first proposed item.

Workaround: press SHIFT+TAB and you dismiss the proposals and the edit cursor will move to the start of the editable field. Then what you typed can be kept to create the org name.

The same bug occurs with the "Campaign Tag" field.

[2017-11-14 21:49] pgiraud opened #955 "Random task not taken in priority area"
Reported on the mailing list by Florian:

This seems to be a regression since it was supported in TM2. Random tasks were preferably taken in the priority areas if available.

[2017-11-15 00:19] johnwhelan opened #956 "Back tracking a HOT mapper"
In TM2 if I knew the project I could see where someone has mapped whether or not they had been validated.  Often the validation doesn't mean much as it has been done by someone with little experience.

I've picked up an area that was mapped as part of project 1938 and I can see 98 area=yes from a single mapper but I can't work out where the tiles are.  The list of mappers on the project is too lon

[2017-11-15 11:49] harry-wood commented on #933
This issue duplicated https://github.com/hotosm/tasking-manager/issues/673

...but anyway, fixed! hurray!

[2017-11-15 15:57] dalekunce commented on #583
@bgirardot just a heads up for others that may be working on this that Red Cross is going to take this and submit some code soon.

[2017-11-15 16:30] verdy-p commented on #583
I hope this will allolw easier selection of existing Campaign Tags: instead of being free text, they should be associated with a complete object that can eventually be renamed. Existing projects with existing Campaign tags should have a default Campaign object prefilled (which will need to be edited with more useful info).

The same should be done for "Organization tag", with a plain "Organization

[2017-11-15 21:52] bgirardot opened #958 "Add links on the User Profile to Pascal's tools like heatmap"

[2017-11-16 10:07] hunt3ri commented on #641
Hi @rachblevine this came up on the slack channel yesterday.  I'm proposing the following solution, let me know what you think

![image](https://user-images.githubusercontent.com/1523510/32885551-b9f510e0-cab5-11e7-9461-aaaed0e0d7a3.png)

The text is just suggested by me, and can be easily altered.  cc @russdeffner @ethan-nelson @pgiraud  @dalekunce

[2017-11-16 10:15] smit1678 commented on #641
I like the idea. I know your mockup isn't the final solution, but in terms of design and placement of the data, I might suggest a fully separate section in order to help keep the text hierarchy and flow. Perhaps something along the lines of [OAM](https://openaerialmap.org/), but styled and a better layout to fit the numbers we want to show for the TM:

![openaerialmap 2017-11-16 10-09-34](https://

[2017-11-16 10:54] hunt3ri commented on #641
Thanks @smit1678 I hear you - although you're pushing my v. limited design skills to the limit 😉 Consistency is good, and your design will be easier to implement on page.  Second draft (colours/fonts to be tweaked by an actual designer)

![image](https://user-images.githubusercontent.com/1523510/32887638-7f19f880-cabc-11e7-8c79-15aef6783401.png)

[2017-11-16 13:02] bgirardot opened #959 "Add Malagasy language to translations, both UI and Instructions"

[2017-11-16 15:03] rachblevine commented on #641
I love it! I think having it down at the bottom there on the homepage will be a wonderful welcome for our new mappers.  Thanks so much for following up on this.

Rachel Levine
GIS Operations and Training Coordinator
International Services | American Red Cross
202-536-7535 | skype: rachblevine

From: Iain Hunter <notifications@github.com>
Reply-To: hotosm/tasking-manager <reply@reply.github.com>
Da

[2017-11-17 02:38] bgirardot opened #961 "Message all contributors not working"
I have not been able to message all contributors for any of the Iran Earthquake 2017 projects.

[2017-11-17 02:43] ethan-nelson commented on #961
Has it worked on other projects?

[2017-11-17 02:51] bgirardot commented on #961
I have not tested it on other projects yet. it is hard to test on the live system as I don't want to needlessly message people :)

If they have their email address entered, even testing it on stage would send them emails.

I will try it on a another live project in a little while though.

[2017-11-17 02:53] bgirardot commented on #961
Sorry I should add the error message is just that "message all contributors failed for an unknown reason" after about 1 to 2 minutes of "sending....."

No one seems to get the emails but that is hard to verify too, but my user never gets one and when i asked in slack no one said they received one.

[2017-11-17 06:14] 3vivekb commented on #747
It looks like a migration script is put in 78bb88b

[2017-11-17 07:08] pgiraud opened #962 "Language selection not kept"
When you switch to a new language, the interface immediately translates.
However, when you reload the page the language switches back to English.

[2017-11-18 19:52] leonmvd commented on #927
I have the same issue, works in firefox and chrome but not with safari.

[2017-11-20 08:10] akimmig opened #965 "How to find the squares I mapped recently?"
I started mapping a square yesterday and wanted to continue today. Is there an easy way to find the square I was working on?
Unfortunately the Last Activity in the Activity and Stats dashboard doesn't show the square number of the activity. Would be nice if the messages there would contain this number with an underlying link:

Task #nnn  locked for mapping by XXX
Task #nnn locked for validation by

[2017-11-20 09:10] CartONG-staff opened #966 "Filter archived project"
Unless I missed it there is currently no way to filter manually Archived from non-Archived projects (and no existing issue related to that).
In fact I'm not even clear how to display archived projects.
Currently, when doing using the "Search" field, first time I press enter I only see the active projects, but if I press enter again I then see the archived projects... I am not sure if this is an in

[2017-11-20 09:11] #966 closed

[2017-11-20 09:12] mnoblecourt opened #967 "Show archived projects in all search results / contribute / map page with checkbox toggle"
Unless I missed it there is currently no way to filter manually Archived from non-Archived projects (and no existing issue related to that).
In fact I'm not even clear how to display archived projects.
Currently, when using the "Search" field, first time I press enter I only see the active projects, but if I press enter again I then see the archived projects... I am not sure if this is an intended

[2017-11-20 12:07] bgirardot commented on #967
Hi Martin,

Yes, we need this. We have a fix for the inconsistent display of archived projects that is waiting for deployment to the live server and we will need this more.

[2017-11-21 12:12] majkaz commented on #961
Just confirming - never received a message to the hotosm inbox.
The only messages into inbox I have got from this project are the throw-away automatic messages on validation and the direct one you have sent me on one of the projects.

But where exactly is the message to all contributor addressed to? To the TM-inbox or to a "real" mail address?

I have just now added the email address to my profile

[2017-11-21 12:42] majkaz commented on #792
Even the list of the projects on the profile page is wrong.
For me, only a part of the project list is actually there. The whole Iran-Iraq Earthquake 2017 is completely missing (not in projects, not in maps), some other projects I have participated are missing too. And yes, the numbers for individual projects mentioned there are wrong as well.

[2017-11-21 22:31] hunt3ri commented on #961
@bgirardot we saw similar behaviour locally.  I think the issue is that sending messages to all contributors hits a rate limit on AWS SES, that they set quite low to stop people spamming.

I believe you can contact AWS to ask them to increase the rate limit cc @david-hotosm

[2017-11-22 12:33] bgirardot commented on #792
Just for reference, @majkaz has contributed to https://tasks.hotosm.org/project/3833 but that project does not show up in their user profile page.

[2017-11-23 09:34] mnoblecourt opened #969 "Allow multiple project managers / organizations"
For project managers working as a team, it would be useful that the original project manager (who created the project) can add additional PMs on a project, so that it also appears on their dashboard.
Same request for organizations although it might be more complex.

[2017-11-23 15:02] shiller27 opened #970 "Increase allowed length of comments"
Hi, unlike in TM2, the comment boxes in TM3 have a character limit (500 or so?). I am trying to give feedback to a new mapper and be friendly and supportive at the same time - very difficult to do within those restraints... Could the limit be extended, or better still, lifted? Many thanks :)

[2017-11-23 15:57] #947 closed

[2017-11-23 18:36] ethan-nelson commented on #673
For reference, here are the remaining hot-ds classes in case someone is interested in working on those:

[code]

[2017-11-23 19:50] #835 closed

[2017-11-27 12:53] nomoregrapes commented on #637
JOSM has a preferences setting (under remote control, download objects to new layer), but HOT tasking manager doesn't care that it's unticked. Which would make me want to label this as a bug rather than a refinement.

Work around: in the JOSM preferences tick "Confirm all Remote Control actions manually". If you can understand the popups, you can say **no** to the one that creates a new layer (I t

[2017-11-27 16:29] #950 closed

[2017-11-27 18:31] kamicut opened #975 "Add OSM `uid` to API replies"
When requesting information about a user (for example in [/users/search-all](https://tasks.hotosm.org/api/v1/user/search-all)), it would be useful to have their OSM id alongside their username. This would help join API replies to other OSM information.

[2017-11-27 20:06] verdy-p commented on #975
Yes, because sometimes user names are changing or are removed (when a user account is deleted), when uid are stable over time (they are kept when a user account is deleted, but there are no more user name).

[2017-11-27 21:09] felskia commented on #688
@bgirardot looks like this is already fixed. Closing this for now.

[2017-11-27 23:49] johnwhelan opened #976 "It doesn't seem possible to leave a comment on a tile once mapped and validated"
Sometimes a discussion is helpful to clarify a point.

[2017-11-28 06:40] SDavies-OSM commented on #792
Would love this to be bumped up the priority list a bit. The user stats are like a list of personal achievements, this is like a recognition of work done. Human psychology means people being able to see their totals increasing will help inspire them to do more. Conversely, if their contributions aren't showing up, they may get dispirited.

[2017-11-29 15:34] Nieldejong opened #977 "Project Creation Organization Tag Autocomplete does not work"
Me and my colleagues have published multiple projects in the name of the 'Netherlands Red Cross', but the tag has never been saved as a default. @russdeffner mentioned that the organization should be saved in the TM3 after the first entry, but that does not happen at the moment. Therefore, it prob is a bug.

If this is not a bug, could the Netherlands Red Cross organization be added manually?

Whe

[2017-11-29 16:33] johnwhelan opened #978 "Slippy map not working correctly with plus and minus keys - should stay centered on selected task"
the minus sign moves the map and when selecting for validation the map is not centered on the tile.

[2017-11-29 16:35] johnwhelan commented on #945
The other comment is the only way to leave a comment at the moment is to open the tile for revalidation.  Does this get counted twice in the validation count?

John

[2017-11-29 17:13] bgirardot commented on #976
Ya, we need the comment box all the time.

[2017-11-29 19:44] verdy-p commented on #977
To create an organization tag in the project, so that you can select it later, you need to type its name, but DON'T press TAB or click outside, when the combobox opens its popup, press SHIFT+TAB which will keep you in the Combox editable field, but will place your cursor at start: the string will be transformed into a tag "button" and then you can save the edit, which will create the tag. Later, y

[2017-11-29 20:00] verdy-p commented on #969
for organizations, they should also have their own profile, with one or a few  leaders (users) (allowed to managed this organization profile and the list of members), a list of additional coordinators, a list of sponsored projects (only leaders or coordinators should be allowed to add to/remove from this list), ans probably their own assesment of priorities (instead of the default global priority

[2017-11-29 20:12] verdy-p commented on #937
For now you need to first invalidate the tile in the "validation" tab, tu turn it to violet/magenta, then go to the "map" tab and "start mapping" it (the tile turns to blue and is locked), and then "split" (this creates 4 new subtiles which are back to white.

Unfortunately, since TM3, you cannot do that on a project which has "draft" or "archived status" (it must first be "published", even if at

[2017-11-29 20:29] verdy-p commented on #925
This does not seem like a bug, given you can zomm in/out, and not all tiles will be visible, even if the legend is hidden or moved elsewhere. so panning the map is necessary. Not specific to the TM, or even to OSM itself, but for any site or application that displays a map, and independantly of whever this map is partly covered by tools or button.
A click somewhere in the legend would only perform

[2017-11-29 20:44] verdy-p commented on #842
I suppose you mean a regexp search like `/^.*[input text].*$/` instead of `/^[input text].*$/`

[2017-11-29 21:49] hunt3ri commented on #937
My view was that keeping the history didn't make sense.  Comment/discussion about the full tile would no longer apply to the split tiles.  eg you are talking about a feature/issue in the top right corner of the full tile that wouldn't exist  in the 3 of the tiles once split would seems v. confusing to me??

[2017-11-29 22:00] pgiraud commented on #937
@hunt3ri I fully understand your point of view. I tend to agree. However as far as I remember keeping the history for a split task was asked by users and thus implemented. It should be easy to find issues or pull requests where it has been discussed.
I can't decide whether or not we need to keep this feature. Previous discussion threads may help.
By the way, keeping the history of split task was n

[2017-11-29 22:37] verdy-p commented on #937
comments about the full tile will still make sense after the tile split (which will also be visible in the history). The case scaneario is that we have various mappers doing the initial mapping very fast with poor quality, but at validation step we see that there are already too many details and various things to fix that are spread on places difficult to see: splitting is needed to help the effet

[2017-11-29 22:41] verdy-p commented on #937
Note that when we split a task, the previous task is not really deleted, it just becomes inaccessible on the map (but if you look at the "exported" JSON, they are still there, including their geometry: the splitted tasks are just squares on top of the previous unsplitted task). And it's interesting to keep a link from the new subtasks to the previous larger one: so please add it in the record, and

[2017-11-29 22:47] verdy-p commented on #928
fully agree. The way the stats are computed now is non-sense, an invalid task is just the same as a task that has never been done, both require the same actions (mapping>done, or mapping>bad imagery, or mapping>split), none of them can be validated

[2017-11-29 22:50] hunt3ri commented on #641
Hi @felskia

I've got a rough and ready version of the homepage stats working on the branch called **homepage-stats**.  It would be awesome if you could find some time to style it, as per discussion above.

As you can see from attached image it needs some love 😉 but functionally it's all working.  I'm hoping it should be a very quick win to align and set fonts, but thought you'd be best placed to

[2017-11-29 22:58] verdy-p commented on #927
This is apparently a problem of security/authorization settings in Safari which blocks the query (probably against possible cross-site scripting attacks) from a javascript loaded from an external website in its own security domain (even if it's from a secured web site with HTTPS) to reach a port on the local host.

Safari is most probably "sandboxing" by default the web session and may require spe

[2017-11-30 11:38] verdy-p commented on #943
See also bug #509

[2017-11-30 11:39] verdy-p commented on #902
See also bug #509

[2017-11-30 11:44] verdy-p commented on #860
This priority is raised because it evidently causes difficulty when navigating. It's not difficult to implement in code: each generated page should have an updated title containing the site name "HOT Tasking Manager" and the specific topic

Preferably in the order "(Topic) - HOT Tasking Manager" rather than the reverse, so tabs in browsers will still display a more specific part even if it is show

[2017-11-30 11:46] pgiraud commented on #860
How do you know?

[2017-11-30 11:55] bgirardot commented on #978
This needs more information please john.

The plus and minus signs on my windows 7 machine in chrome have no affect on the slippy map at all.

[2017-11-30 12:18] verdy-p commented on #860
One line of code only to set a property...

Le 30 nov. 2017 12:46 PM, "Pierre GIRAUD" <notifications@github.com> a
écrit :

[2017-11-30 12:26] pgiraud commented on #860
I'd be interested to see what change you would propose. Please provide a patch.

[2017-11-30 14:39] johnwhelan commented on #978
Working fine this morning.  So some sort of temporary hiccup.

John

[2017-11-30 14:39] #978 closed

[2017-11-30 15:14] Nieldejong commented on #977
Hi @verdy-p, thank you for your prompt response.

Until now we have tagged our projects by writing the full name and then clicking outside of the box. It is not the exact same way as you described, but we have managed to attach the right tag to our project. The problem was that afterward, the tag was not automatically saved, so it never came up in the drop-down menu for a next projects. Not a huge

[2017-11-30 17:02] ethan-nelson commented on #933
This is now live

[2017-11-30 17:41] ethan-nelson commented on #977
If someone is interested in tackling this problem, the issue stems from https://github.com/hotosm/tasking-manager/blob/develop/client/app/admin/edit-project/edit-project.html#L304-L321 and the way the `<auto-complete ...>` field handles results. All of the past tags are loaded in from the server, but it seems the field only shows the first 10 and highlights words that match, as opposed to narrowin

[2017-11-30 17:48] ethan-nelson commented on #943
This would be a good project for someone interested in diving into all of the components that make up the server backend. To implement a removal mechanism for tags, it will entail:

* Adding a method in the Postgres model for the tag table that will remove a given organization (https://github.com/hotosm/tasking-manager/blob/develop/server/models/postgis/tags.py)
* Adding a service function that 1)

[2017-11-30 18:09] ethan-nelson commented on #900
We only have a few remaining places that `hot-ds-*` needs to be cleaned up (the MapSwipe banner closer was one example):
[code]

[2017-11-30 20:41] leonmvd commented on #948
in addition to this it would be nice to click something like validate and then move on to the next task to validate

[2017-11-30 21:13] hunt3ri commented on #943
Hi folks, if there's community interest, I'd be happy to do a Google Hangout / screen share on this

Live coding, what could possibly go wrong 😉

cc @ethan-nelson @pgiraud @smit1678 @bgirardot

[2017-11-30 21:41] verdy-p commented on #943
I think that the organization name and its tag will likely be often different (e.g. no whitespace in hashtags, or possibly abbreviations, but whitespace in real unabbreviated organization name, shown on its profile page). Tags tend to be shorter as they are easier to type (note how we can select user names or organization names page names in social networks: we also have a disambiguating descripti

[2017-11-30 21:43] verdy-p commented on #943
Also, like users, organizations may have a registered icon in their profile, which can be shown when they talk by themselves or in lists or organization. These small icons would be smaller derivations from their logo (which is displayed more completely in their own profile page).

[2017-12-01 00:06] verdy-p commented on #977
Well, you could actually set the tag you wanted in project 3571: it was correctly saved (and is also visible in the global list of projects)

But you are right! this is the autocompletion that does not work at all and statically displays the same list of 10 items, from apparently the same query of all organizations (in unspecified order) limited to 10 results (and no way to get more). It seems tha

[2017-12-01 04:00] ethan-nelson commented on #975
For the end point given as an example, this will entail:

1. Add id as an attribute of the listed user data structure to hold `id` data (https://github.com/hotosm/tasking-manager/blob/develop/server/models/dtos/user_dto.py#L82)
2. Assign the user `id` to each user data structure in (https://github.com/hotosm/tasking-manager/blob/develop/server/models/postgis/user.py#L87-L92)

Ideally `id` would be

[2017-12-05 01:40] johnwhelan opened #980 "Rate of mapping indicator"
In TM2 looking at the stats you could get a feel for how fast the mapping was going and how long the project had been open.  It gave the % complete per day.

It would be nice to see it back again.

[2017-12-05 16:38] Nieldejong opened #981 "Project map Legend - change "ready" to "unmapped" or something"
I think the mark 'Ready' for empty tiles in the legend of the project map is confusing to many. Should this not be 'Not ready'? Or 'Empty' or 'Unmapped'. I understand they are ready to map, but I have experienced that many people read it as if they are readily mapped.

Also, I believe the border around the tile 'Locked by you' should be yellow instead of blue.

[2017-12-06 17:29] bgirardot commented on #945
Another example of a project where the percent mapped is lower than the percent validated. Further, the percent mapped shows as 98%, but when looking at the project, the whole thing is 100% validated.

https://tasks.hotosm.org/project/3815

[2017-12-06 18:22] verdy-p commented on #945
I see 97% mapped 99% validated...

2017-12-06 18:29 GMT+01:00 Blake Girardot <notifications@github.com>:

[2017-12-06 19:15] bgirardot commented on #945
@verdy-p Thank you very much verdy, i had not looked at the stats page, i was going by the card on the contribute list. This should help us figure out what is going on.

I know someone mentioned on another item that how it was calculated was different in the two places, but I can't locate that now.

But from the look of the graphic, it looks like it should be 100/100. Seems like it is probably rel

[2017-12-06 19:40] verdy-p commented on #945
Given the map is all green, there's no tile which is marked with "bad imagery" (it would be another color), but may be this occured in the past and a better imagery was used, the tile was invalidated and finally mapped and validated.
Is it possible that tiles that were present before a splitting are still counted and were not really marked as splitted and to ignore?

[2017-12-06 21:56] cgiovando opened #983 "Add CC-BY in imagery license dropdown"
I would have tried to add it myself, but `https://github.com/hotosm/tasking-manager/search?utf8=%E2%9C%93&q=NextView&type=` does not return any result, so I'm not sure where to find the config file to edit...

[2017-12-06 22:03] althio commented on #983
are you looking for attribution ?
[tasking-manager/client/taskingmanager.config.json](https://github.com/hotosm/tasking-manager/blob/master/client/taskingmanager.config.json)

[2017-12-06 22:08] pgiraud commented on #945
What do you think about this one?
<img width="456" alt="capture d ecran 2017-12-06 a 23 06 09" src="https://user-images.githubusercontent.com/319774/33688003-48d53e0a-dada-11e7-9562-1815061eb3ef.png">
https://tasks.hotosm.org/contribute?difficulty=ALL&text=3659

[2017-12-06 22:15] verdy-p commented on #945
Most probably we are counting some initial tiles before their splitting that were left with an incoherent status.

Normally all tiles (tasks) that have been split should have in the database a reference to the original task number it comes from and which should be invisible (on the map, and in completion statistics) except for their attached history of comments (that we don't need to duplicate in

[2017-12-06 22:19] bgirardot commented on #983
@cgiovando You should be able to do this via the UI in the tasking manager under your username, as you are now an administrator for on HOT's instance. Please re-open if that is not the case.

[2017-12-06 22:19] #983 closed

[2017-12-07 14:36] bgirardot commented on #961
Jorieke just confirmed it did not work for her either. I believe we already did as @hunt3ri mentioned, but maybe not.

@smit1678 I saw you mention we can review logs via aws, can we review some logs, perhaps with a real time effort to message all users and see if we can determine what is causing the failure?

[2017-12-07 15:16] bgirardot commented on #961
@smit1678 I found the logs in aws, looking now.

Also @hunt3ri below is our SES settings and statistics. I was under the impression that we could push as many as we wanted to SES and it would rate limit the sending themselves, but queue and send at whatever the limit was.

![2017-12-07_16h13_11](https://user-images.githubusercontent.com/265831/33722337-f6f6517e-db69-11e7-9f4a-bc89ff17c319.png)

[2017-12-07 18:24] ethan-nelson opened #984 "Improve error messages"
Messages like `mapper not allowed` for private projects are taken directly from the API output. It would be good to have the front end take a given error message from the API and display a translatable string on the UI.

[2017-12-08 09:13] hunt3ri commented on #961
Hi @bgirardot I'm guessing the message all contributors breaches the 14 emails per second limit.  The solution would be to add a small wait of 1 second after every 10 emails sent.  Assuming that is indeed the problem should be easy enough to add a patch - will try to submit next week.

[2017-12-09 13:06] bgirardot opened #986 "Project Admin - Validate all tasks messes up "Contributions" on Activity and Stats page"
If you use the Validate all tasks button in the project admin, it seems to make the system think the person who clicked "Validate all tasks" is the person who mapped and validated every task as shown in the Activity and Stats page.

It makes sense that 'validate all tasks' should have some affect on the contributions field on activity and stats, but it needs to work differently.

![2017-12-09_14h0

[2017-12-09 13:11] bgirardot opened #987 "Add restriction option for validation level in project metadata"
It would be nice if project managers could restrict validation to mappers who have intermediate and/or advanced level.

This would allow project managers to prevent very new mappers from validating, but not just restrict it to validators with the actual validation role.

I guess I would also include people with the actual validation role as well, even if they are not intermediate or advanced mappe

[2017-12-10 14:33] johnwhelan opened #988 "It doesn't seem possible to sort the projects by newest first."
You only appear to be able to look through them in priority order.

If you're looking fora new project to sit and validate on this is on problem.

[2017-12-11 12:25] Jorieke commented on #961
Yes it is failing. This is what I get as error "Failed to message all contributors for an unknown reason."

[2017-12-11 19:07] #786 closed

[2017-12-11 19:26] smit1678 opened #990 "Banner or section for time-sensitive site-wide messages"
We don't have a good way of displaying a message or alert to all users that visit the site. Current need is a banner or notification that there is currently a fundraising campaign happening. A closable banner at the top may be an ok solution (like what Wikipedia does) but the fundraising campaign might not be the only time we want to put up an alert message (promote a mapping project or provide ot

[2017-12-11 23:33] hunt3ri commented on #641
Hi @LindaAlblas would be great if we can get this styled :)

[2017-12-12 09:45] LindaAlblas commented on #641
I've added a commit to the homepage-stats bramch which styles the stats very similar to the OAM stats and the mockup provided. See below. @hunt3ri is the branch ready for a PR?

<img width="654" alt="homepage-stats-large" src="https://user-images.githubusercontent.com/3329074/33877693-10f904da-df21-11e7-8a96-1d75462ac2d3.PNG">

[2017-12-12 19:11] shiller27 opened #992 "Splitting tasks loses previous comments"
Hi,

it seems that when a tile is split, all the comments made on the 'tile of origin' disappear. This used not to happen in TM2.

I left a lengthy comment on a task I was invalidating and decided to split the tile afterwards. The smaller tiles now show "nothing happened yet" in the comment section, and as far as I can make out my detailed feedback re mistakes/omissions will only be seen by the on

[2017-12-14 09:36] majkaz commented on #792
@bgirardot
I have just noticed additional difference - the number of tasks i can see for myself in one project is different on the user profile (8) and in the project activity table (11) - see attached screenshots.

As unconnected note, the validated count shows only the tasks marked as validated. It might be a good idea to show the invalidated count in the project activity tab as well (in this pr

[2017-12-14 16:27] bgirardot opened #994 "Need a workflow to keep stage and demo databases kind of up to date with production"
We do need to periodically update the databases used by stage and demo to be the same as production.

I know production gets backed up, hopefully we can use the restore process to keep stage and demo somewhat sync'ed

It would also probably just be good to help keep our restore workflow exercised.

[2017-12-14 22:16] #54 closed

[2017-12-14 22:16] #55 closed

[2017-12-14 22:22] #433 closed

[2017-12-14 22:24] bgirardot opened #995 "Add timer to indicate time left on a checked out task"
The two hour time out seems to work, but there is no UI to indicate the count down as in TM2.

[2017-12-14 22:25] #456 closed

[2017-12-14 22:26] #559 closed

[2017-12-14 22:28] bgirardot commented on #584
duplicate of #262

[2017-12-14 22:28] #584 closed

[2017-12-16 18:36] shiller27 commented on #992
Possibly connected to this is the fact that it is no longer possible to add a comment to a tile one has previously mapped/validated. It just happened to me that the comment I had written for a tile to be invalidated disappeared after I clicked 'invalidate' (not sure was that my mistake or a glitch). However, I couldn't rewrite the comment after invalidation. Again, in TM2  the ability to add comme

[2017-12-18 16:05] Nieldejong commented on #981
In addition: in Dutch the translation 'Voltooid' is even more confusing as it really means 'Done' (when it is still to be done). 'Voltooid' should be 'Leeg'

[2017-12-18 16:28] johnwhelan opened #998 "List validated tasks by user"
If I can't see which tiles they have validated it makes it very difficult to give feedback and I have someone interested in becoming a validator at the moment.

[2017-12-19 19:02] risicle opened #1000 "JOSM remote control request failing in firefox due to content security policy"
In firefox I've recently seen TM3, being an https site, making http requests to the remotecontrol, which is of course failing as it is "mixed active content". Results in console error message like:

[code]

Possibly related to https://github.com/hotosm/tasking-manager/issues/927

(I'm on firefox 52.5.2, but I've seen it on other firefoxes)

[2017-12-20 05:57] bgirardot commented on #828
These are getting released properly after 2 hours. However there is no entry put in the task history to reflect it was ever checked out and then unchecked out, kind of a separate issue.

Please let me know if I am missing something @Boggedy and please just re-open this if I am.

[2017-12-20 05:57] #828 closed

[2017-12-20 06:01] bgirardot opened #1002 "Checkout-Checkin not shown in task history if task's 2 hour time limit reached"
If I checkout a task for mapping and then let it expire after 2 hours there are no entries in the task history. There should be an entry for the checkout and an entry for checking it back in, or at least one entry that says 'checked out for 2 hours' kind of message.

[2017-12-22 04:16] giblet22 opened #1004 "Confusing colors in projects"
Can we change either the color of invalidated or the color of the priority area? They're both the same shade of red and someone could interpret a priority area as invalidated and may choose to not map it.

<img width="360" alt="screen shot 2017-12-21 at 11 15 23 pm" src="https://user-images.githubusercontent.com/7945333/34285084-e8039ca8-e6a4-11e7-8080-6df1bd9e439a.png">

[2017-12-22 09:31] althio commented on #1004
I very much agree.

I think all colors should be revisited.
Also noted in https://github.com/hotosm/tasking-manager/issues/608
See some brainstorming with old-TM2 color scheme in https://github.com/hotosm/osm-tasking-manager2/issues/500#issuecomment-67775776

[2017-12-25 14:31] #919 closed

[2017-12-27 12:32] johnwhelan opened #1009 "Invoke iD with custom presets for Africa"
Currently a large number of African highways are being mapped as footways or living_streets neither of which are listed in the African highway wiki.

Buildings are being tagged with values of other than yes.  Again the HOT recommendation is when mapping from imagery building=yes is used so restricting the choice to yes would be helpful.

These are a couple of examples of what could be done to impr

[2017-12-27 14:08] bgirardot commented on #1009
Hi @johnwhelan , I am not aware of being able to invoke the standard iD editor with custom presets.

Can you provide a link or other information that explains how to do that?

[2017-12-27 16:05] johnwhelan commented on #1009
It was mentioned by Bryan recently and additionally it was offered as an
option to Stats Canada on the building project.

The technical side I haven't dug into but I'm sure Bryan can point you in
the right direction.

I assume it's just a parameter you pass when invoking iD.

Bug me if you'd like me to dig.

Thanks John

On 27 Dec 2017 9:08 am, "Blake Girardot" <notifications@github.com> wrote:

[2017-12-27 16:09] bgirardot commented on #1009
Hi @johnwhelan I just do not think it works that way.

My understanding is that they only thing you can do is fork the iD editor and maintain your own instance with a custom presets file.

I will leave this open for now if you want to find out if my understanding is mistaken.

[2017-12-27 17:03] johnwhelan commented on #1009
So for African projects TM3 could invoke a HOTAfricaForkediD editor that
just had a different preset file rather than iD directly?  Maintenance
would just be copy the preset file across to a new version.

Cheerio John

On 27 December 2017 at 11:09, Blake Girardot <notifications@github.com>
wrote:

[2017-12-28 15:06] bgirardot commented on #675
This issue can be partially addressed in server/services/project_search_service.py at line 132

[2018-01-04 14:57] alekno commented on #1000
Apple device specific, as far as I do remember.  Can you confirm firefox on iOS?

[2018-01-04 19:38] risicle commented on #1000
Was happening for me on linux.

[2018-01-07 14:50] bgirardot opened #1014 "Number of active mappers does not reflect project map indicators - not counting validators"
I see blue tasks indicating that people are working on those task squares, but the number of active mappers both on the project page and on the card in the contribute list do not reflect that.

![2018-01-07_14h43_15](https://user-images.githubusercontent.com/265831/34650508-9683e826-f3c2-11e7-8d43-1dadd37fc248.png)

![2018-01-07_15h45_54](https://user-images.githubusercontent.com/265831/34650502-8

[2018-01-12 01:31] govvin opened #1018 "my task "box" isn't a box"
The tasks we generate aren't box-shaped, so the current warning seen on iD isn't exactly suitable. It's not a major issue, just a niggling description.

Perhaps change the text to something like: `Do not edit outside this colored area` ?

![image](https://user-images.githubusercontent.com/5821688/34855420-9813bd7c-f77a-11e7-88b9-c65bc35eee56.png)

[2018-01-12 01:55] govvin opened #1019 "dense waypoint nodes of gpx task boundary, unreadable text."
This is somehow related to https://github.com/hotosm/tasking-manager/issues/1018.

Every waypoint node of the gpx task boundary has a name, containing the warning message.  If the nodes are too dense, it displays like this, which can be confusing for users:

![image](https://user-images.githubusercontent.com/5821688/34855955-8e93b736-f77d-11e7-9f13-b8738dfbd6bb.png)

I'm not sure if i's it possibl

[2018-01-12 02:14] ethan-nelson commented on #1019
Also see #636

[2018-01-12 23:36] olafveerman commented on #875
We ran into the same issue today during a validation effort. It would be great if the current mapper would be shown more clearly.

[2018-01-13 01:09] ethan-nelson commented on #789
Fixed in #790 and #934

[2018-01-13 01:09] #789 closed

[2018-01-13 14:45] govvin opened #1022 "multiple tasks validation - no data sent to JOSM"
![image](https://user-images.githubusercontent.com/5821688/34906995-a6ee6ebc-f8b2-11e7-88d0-5a3aaf4c09e2.png)

On TM3, while trying to validate a particular user's tasks (Option 5), the "OSM data" layer is empty, and so is the "Data Layer", which I don't know what to expect to have.

![image](https://user-images.githubusercontent.com/5821688/34907003-ba0e72e4-f8b2-11e7-8d05-5c0428b8fe71.png)

Vali

[2018-01-13 15:21] russdeffner commented on #1022
This is actually how it works - if you think about a large project, if you have tasks on opposite sides, JOSM will try to download the entire area and most likely fail, so you have to manually download the data when doing multiple task validation.

[2018-01-13 15:21] #1022 closed

[2018-01-13 15:22] bgirardot commented on #1022
@govvin What russ said. Also, I usually right click on the layer and convert it to gpx to it turns yellow and is easier to see.

[2018-01-13 23:28] govvin commented on #1022
@russdeffner , thank you. That's actually how I ended up doing it.

@bgirardot , thank you for sharing your tip. You're right,  i ended up having to changing the layer color to make them easier to find.

[2018-01-15 02:02] JesseWeinstein opened #1023 "Center world maps on user location"
Specifically, it leaves out the strip between 155 and -159 longitude. I noticed this because New Zealand is included in this strip.

This is on Firefox, on a 1360x768 pixel display. On another monitor, it was slightly different, but still left out a similar strip.

I suspect this may not be a tasking-manager issue, but I wasn't sure where else to file it. This is, obviously, a very minor problem -

[2018-01-15 15:21] ethan-nelson commented on #970
In the mean time, a private message through OSM may be a workaround. That also has the benefit of the user receiving notification via email.

[2018-01-15 15:26] ethan-nelson commented on #962
If anyone is interested in tackling this problem, one method is setting a cookie with the language preference. AngularJS docs for cookies are available here: https://docs.angularjs.org/api/ngCookies/service/$cookies.

[2018-01-15 15:31] ethan-nelson commented on #704
My understanding is this is now fixed from #1015. Please reopen if that is not the case.

[2018-01-15 15:31] #704 closed

[2018-01-15 15:32] ethan-nelson commented on #673
This was fixed in #946 and is live.

[2018-01-15 15:32] #673 closed

[2018-01-15 15:35] ethan-nelson commented on #589
@bgirardot do we want to drop in your ''new in TM3'' videos? Or alternatively @aawiseman do you have updated videos for TM3?

[2018-01-17 02:41] govvin opened #1026 "multiple task validation layers"
Shouldn't the content of "Data Layer 2" be in the "Task boundaries" layer?

When I choose to select validation by user, I get these layers in JOSM

- **OSM data**, I assume is the layer you want to work on, where you download data from OSM
- **Data Layer 2** contains the task boundaries, in one layer
- **Task boundaries XXX - Do not edit or upload** - is an empty layer

![image](https://user-image

[2018-01-18 11:17] shiller27 opened #1027 "Tiles recorded as mapped include invalidated ones"
Hi, I noticed that project #3389 is shown as 100% mapped, even though several tiles are invalidated and need to be done.  As far as I remember, TM2 counted invalidated tiles as not done, which makes far more sense as mappers will go back to the project (marked as, say 98%) and finish those invalidated ones.

Thanks!

[2018-01-19 03:26] ethan-nelson opened #1028 "Scale down search cache TTL?"
(Based on convo from Slack)

As I understand it, the potential exists for a few minutes to pass before a newly published project appears in the search results:

https://github.com/hotosm/tasking-manager/blob/d9944109461d36b43009a35bcfa1bb3dee85fd10/server/services/project_search_service.py#L16

This does, however, reduce some load on our database machine.

Do we want to turn this timing down?

[2018-01-19 06:21] #710 closed

[2018-01-22 22:52] govvin opened #1029 "managing messages"
![image](https://user-images.githubusercontent.com/5821688/35248627-cd8311aa-0009-11e8-981d-ed258f85e789.png)

I hope in the future, there's a better way of deleting notification messages from the inbox, other than doing it one at a time. The amount of messages you get for these could feel overwhelming.

[2018-01-23 15:58] bgirardot commented on #1029
Hi @govvin Thank you very much for your comment. I agree, it gets pretty tedious. We do have this as an exsiting issue #916 so I am going to close this one, but your entry will now be listed as referenced on that issue. Again, thank you very much.

[2018-01-23 15:58] #1029 closed

[2018-01-23 16:35] Jorieke opened #1030 "Extra instructions not showing"
I just wanted to publish task 4031, but the extra instructions added are not showing up. They should show up like in task 3402 once you have selected a task for mapping you will have there extra instructions.

[2018-01-23 16:45] bgirardot commented on #1030
@Jorieke 3402 does not have any extra instructions https://tasks.hotosm.org/project/3402

It would be good to see the one where it does work, if you could please.

As you say, they do not appear in 4031.

[2018-01-23 16:47] Jorieke commented on #1030
Sorry made a mistake, it is 3420

[2018-01-24 14:59] bgirardot commented on #1030
Still looking at this @Jorieke

[2018-01-24 15:14] bgirardot commented on #1030
@Jorieke Oh, I see the problem. The issue is caused because the task square is a custom task square or just not a square task in the case of tasks that are not square due to AoI trimming.

I cloned the project, same everything but did not trim to the aoi and everything looks like it works:

https://tasks.hotosm.org/project/4064

I saw what I thought was a typo in the url and fixed it, but if it wa

[2018-01-24 15:58] ethan-nelson opened #1031 "Stuck in login loop"
We've received a few reports about this--and I just got stuck in it a bit ago--where you click on a link to the TM and are asked to log in, you log in, and then are redirected back to the login page.

I think this occurs if your session auth token has expired and you click on a link to a specific project or task. By default, the JS will redirect you to the page asking you to login because of the e

[2018-01-24 15:58] ethan-nelson commented on #865
Ping @ethan-nelson

[2018-01-24 19:18] kriscarle opened #1032 "Unable to init database"
When running `manage.py db upgrade` on a new empty database I get the error `relation "tasks" does not exist`

Looks like it was introduced here https://github.com/hotosm/tasking-manager/commit/0ed20f22e4e36fe995cc825f55384017972dc13f#diff-632b651e5579af0e928ed63482e9bc77

After commenting out `init_counters()` I was able to init the db
https://github.com/hotosm/tasking-manager/blob/develop/manage

[2018-01-25 02:31] bgirardot commented on #1026
Did all of those layers get created or did data layer 2 already exist before you lauched the editor from the tasking manager?

[2018-01-25 02:32] bgirardot commented on #961
Follow up: Jorieke reported that for another project with only a few contributors the process worked.

[2018-01-25 02:33] govvin commented on #1026
All those layers we're created. Except for imagery, i had no data layers opened in JOSM.

[2018-01-25 02:36] bgirardot commented on #961
Gowin reports it failed for them, but they also received an email, and they happen to be among the first contributors.

![2018-01-25_03h29_26](https://user-images.githubusercontent.com/265831/35367866-eef32488-0180-11e8-8881-52124f20c223.png)

[2018-01-25 02:45] bgirardot commented on #961
Gowin says it worked fine on this project, not a lot of contributors:

https://tasks.hotosm.org/project/4027

[2018-01-25 14:30] hunt3ri commented on #961
@bgirardot I'm 90% convinced it's hitting AWS rate-limiting.  I'll try and find time for a PR

[2018-01-26 14:50] smit1678 opened #1035 "Twitter and Facebook card look and info"
Currently we only expose the description and overall site title to Twitter cards and Facebook previews:

![10 twitter 2018-01-26 14-43-38](https://user-images.githubusercontent.com/796838/35444724-54589368-02a7-11e8-9d06-c7d82f948b5c.png)

It might be nice and useful when a task is shared that there is engaging information or look on the preview. The goal would be to provide more information about

[2018-01-26 14:59] bgirardot commented on #1035
@smit1678 Very helpful information. Could you add it to the existing issue #776 ?

[2018-01-26 15:00] bgirardot commented on #1035
@smit1678 There is also one for twitter issue #777

[2018-01-26 15:04] bgirardot commented on #776
see issue #1035 for helpful information on how this issue could be resolved.

[2018-01-26 15:04] bgirardot commented on #777
see issue #1035 for helpful information on how this issue could be resolved.

[2018-01-26 15:04] smit1678 commented on #1035
I thought I did a proper search for previous issues.

We should either close this out and rewrite the others or close the others out and use this one.

[2018-01-26 15:05] bgirardot commented on #1035
I linked this one to the existing issues so am going to close it.

[2018-01-26 17:06] majkaz commented on #955
Just happened to me, couldn't get single task in priority area.
See [this gif](https://drive.google.com/open?id=1Zkq9v3E4XN3Afrwcw6JOARR44OplyATX) - screenshots taken as the tasks came up for mapping for project [3899](https://tasks.hotosm.org/project/3899).

Got few in the priority area after taking the screenshots - but got about 10 tasks before this from outside.

[2018-01-27 12:32] hunt3ri commented on #961
Hey @bgirardot @ethan-nelson added a small PR for this https://github.com/hotosm/tasking-manager/pull/1036

[2018-01-29 15:22] Jorieke commented on #1030
Only had a chance to look at it now. Thanks so much for figuring this out!

[2018-01-29 15:22] #1030 closed

[2018-01-31 09:50] dkocich commented on #901
This issue still occurs and there are some additional warnings - current log is here:
[code]

[2018-01-31 12:49] dkocich opened #1038 "Improve FE code quality"
Parts of FE code could be improved/refactored...
This was done previously in https://github.com/hotosm/tasking-manager/pull/963 and https://github.com/hotosm/tasking-manager/pull/964

[2018-01-31 13:42] dkocich opened #1040 "Optimize web app (Lighthouse)"
Accessibility and loading speed of the web app could be improved (based on the Lighthouse report - more info here https://developers.google.com/web/tools/lighthouse/ ; it can be also automated later https://github.com/ebidel/lighthouse-ci).

To read the detailed report, please run your own audit or open mine in the web viewer here https://googlechrome.github.io/lighthouse/viewer/?gist=0a9e4362e886

[2018-02-01 08:01] giblet22 opened #1041 "Mark all tasks as mapped/completely mapped"
There's an option to validate/invalidate all tasks of a project, but not to mark all as done. There may be few times when this is needed to be used but I'd find it useful as a project manager.

<img width="827" alt="screen shot 2018-02-01 at 9 01 30 am" src="https://user-images.githubusercontent.com/7945333/35667592-8898a434-072e-11e8-9d53-56a21a16952a.png">

[2018-02-01 15:49] ethan-nelson commented on #1041
This is another good example for someone interested in understanding the full process to add an API feature. It will entail:

1. Adding an endpoint in the project API (like https://github.com/hotosm/tasking-manager/blob/develop/server/api/project_admin_api.py#L395-L434)

[2018-02-02 02:36] #588 closed

[2018-02-02 21:07] aawiseman commented on #796
Hey, just wanted to check on this @bgirardot @ethan-nelson . Thanks. Think it would be a good way to get people to validate and get more involved.

[2018-02-02 21:08] aawiseman commented on #795
Any luck with this? There are a lot of broken links from tasks that were brought over

[2018-02-02 23:03] bgirardot commented on #795
Hi Andrew, no, no progress on this that I know of. There is a work around, I thought I shared that with you before, I will try and find it again.

[2018-02-02 23:04] bgirardot commented on #795
Also, thank you to @aawiseman who points out in the TM2 code where the video support code is:

https://github.com/hotosm/osm-tasking-manager2/compare/2.11.0...2.12.0

Which should hopefully make it easier to add to tm3.

[2018-02-02 23:12] bgirardot commented on #795
@aawiseman Ya, it is not pretty and it does not help existing video automatically, but the standard youtube embed code with an iframe seems to work. I just copy pasted the embed code of YT and put it in the instructions.

https://tasks-stage.hotosm.org/project/3635

[2018-02-03 12:22] dkocich commented on #1000
Works fine for me in Ubuntu Firefox 58.0.1 64b

[2018-02-03 12:31] bgirardot commented on #1000
@dkocich Thank you very much for the testing.

@risicle Does this seem to still be happening for you?

I think we fixed this, although I lost track of when, but I believe this has been fixed.

[2018-02-03 12:54] risicle commented on #1000
Ahhhh I think this https://bugzilla.mozilla.org/show_bug.cgi?id=903966 is the source of the issue. In short - firefox 55+ allows mixed content against localhost. Firefox ESR is still 52.

Still I think it's weird that the app is attempting to load an http url from within an https context. Surely it should know it's in an https context and attempt to load `https://127.0.0.1:8112` instead.

[2018-02-03 12:59] bgirardot commented on #1000
Ya, I agree, I thought we did fix that but looking at the code I guess not. Thank you @risicle for the follow up, I was not searching for the right thing, your last comment helped me find what I was looking for.

https://github.com/hotosm/tasking-manager/search?utf8=%E2%9C%93&q=8111

[2018-02-03 13:03] dkocich commented on #1000
it is weird but I am not sure that it will work:
"The protocol used is HTTP, so that web applications wishing to let the user edit a certain area can simply generate suitable HTTP links. Browsers should always call the http endpoint, not the deprecated https endpoint. It is important to make calls on the 127.0.0.1 loopback IP address and not the localhost hostname: browsers whitelist calls to http

[2018-02-03 13:08] bgirardot commented on #1000
Yes, @dkocich I was just looking for this, I thought I heard that the https end point was going to be removed at some point, but I thought I must be wrong about that. I do not pretend to understand why exactly, but as you quoted above "... not the deprecated https endpoint" is the key phrase. I think we have to stick with that non ssl url.

[2018-02-03 14:26] bgirardot commented on #961
@hunt3ri We deployed this and I just tested it, it seemed to go a lot longer in the sending process before it returned with the unknown error. :(

[2018-02-04 10:49] mnoblecourt commented on #952
Hi,
Could we had an option "not receive messages when your task is validated" (unless there's a comment, like TMv2) to avoid advanced mappers being spammed? For some of our volunteers, they receive so many of these automatic messages (which need to be deleted manually!) that they don't even check their inbox anymore, and miss important communications.
Thanks!
Martin

[2018-02-05 20:52] bgirardot commented on #1032
@kriscarle This should be fixed in the latest development branch now. Please let us know if it is not fixed. Thank you very much for the issue entry!

[2018-02-05 20:52] #1032 closed

[2018-02-06 15:25] bgirardot commented on #857
This is still an issue from my testing. It would be good to figure it out, but really 250 characters is much too short anyway, so a temporary solution might be to make that 500 characters, or even 750.

[2018-02-06 15:35] bgirardot commented on #818
@giblet22 Is this still an issue

[2018-02-06 15:36] giblet22 commented on #818
@bgirardot nope, looks like recent updates have fixed it. Thanks!

[2018-02-06 15:37] giblet22 commented on #818
@bgirardot Sorry I looked at the wrong screen. Still have the same issue.

[2018-02-06 15:39] bgirardot commented on #756
This was fixed long ago, cheers!

[2018-02-06 15:39] #756 closed

[2018-02-06 15:41] bgirardot opened #1044 "Add ability to sort contribute project list by percent mapped and validated"

[2018-02-08 13:20] rustyb opened #1045 "API Error unlocking task - "multiple rows were found for one()""
See -> https://tasks.hotosm.org/project/3885?task=75

If we try to unlock the task we get a 500 error from the DB in the frontend indicating "Tasking API Error...multiple rows were found for one()".

Just flagging in case the error pops up elsewhere.

[2018-02-08 13:55] smit1678 commented on #1045
@rustyb Was this on that specific task, 75? or seeing this on other tasks in this project? I'm seeing that 75 was unlocked.

![hot tasking manager 2018-02-08 13-54-41](https://user-images.githubusercontent.com/796838/35976309-9f41cb4e-0cd7-11e8-8e90-66b43b0d7874.png)

[2018-02-08 14:06] rustyb commented on #1045
It was on task 75 only, we waiting for it to be automatically unlocked in the end.

[2018-02-08 14:25] bgirardot commented on #1045
We have seen this before I think during development, but it was fixed.

We had to run a script from @hunt3ri to correct the state some of them were left it.

I also got a report of this recently too that I will find.

@hunt3ri Do you remember this and the script that you asked David to run to fix the tasks that could not be unlocked? I think we need to run that script again and look for the underl

[2018-02-08 14:28] bgirardot commented on #1045
![image 1](https://user-images.githubusercontent.com/265831/35977900-8d9d1954-0ce4-11e8-905d-f881e3e58358.png)

https://tasks.hotosm.org/project/3603

and

https://tasks.hotosm.org/project/4021?task=9#bottom

[2018-02-08 14:30] bgirardot commented on #1045
Oh, now that I look, these are slightly different errors, one is "no row found" and one is "multiple rows found"

[2018-02-08 15:34] bgirardot commented on #896
https://tasks.hotosm.org/contribute?difficulty=ALL&page=58

This reflects the issue via the front end. This exact page may change, so using next and previous to find one of these pages may be needed.

[2018-02-09 01:00] harry-wood commented on #1000
I noticed this PR https://github.com/openstreetmap/openstreetmap-website/pull/1707 on the main openstreetmap.org website swapping remote control links from https back to http ahead of deprecation by JOSM.

Interesting notes on browser compatibility. It looks like Firefox ESR & Safari will block it with mixed content warnings. I wonder what can be done to work around that, or at least improve the e

[2018-02-14 22:01] russdeffner opened #1046 "Data not copied upon project clone"
Just cloned a project for the first time and noticed:
1) It asks for the project name before you hit the clone button, but then has the cloned project name after the cloning is complete (i.e. you input new name for apparently no reason).
2) The changeset comment is not cloned - this may be difficult to do as the project number, and hence the first part of the comment should change by default, but

[2018-02-14 22:34] russdeffner opened #1047 "Add delete message button on individual message page"
Another easy upgrade to the messages is if I could delete the message I am currently reading instead of having to return to the inbox first. Thanks!

[2018-02-17 09:46] sunidhiraheja commented on #1041
Hi, I'd like to take this up!

[2018-02-17 11:50] bgirardot commented on #1041
Just a note on this one, there is a related feature as mentioned, "mark all tasks as validated" which has a bug that needs to be fixed. It would be good to get that bug fixed. issue #986 At the very least this new, related feature should not have that same bug :)

[2018-02-18 02:07] sunidhiraheja commented on #986
Working on this!

[2018-02-18 07:04] fiennyangeln commented on #553
Hi I want to take this issue.

[2018-02-18 09:17] fiennyangeln commented on #1019
Hi i want to take this issue. Should I limit the number of warning message displayed per point / should i remove them alltogether and change it into one warning message?

[2018-02-18 20:17] Yagya-Chaudhary commented on #1047
Can you elaborate your problem ?

[2018-02-18 20:27] Yagya-Chaudhary commented on #1047
Can you guide me more about this ?

[2018-02-18 20:31] russdeffner commented on #1047
I can answer questions from the user perspective, but not a developer myself.  Are you looking at this for GSoC or Outreachy?

[2018-02-18 20:32] bgirardot commented on #824
The message system is not really intended to be a private message system, it is for public comments and questions.

The best fix is to make the message box available on a task even when it is not checked out for mapping or validation as required at the moment.

But I really do not want to have a private message system, that just leads to more overhead for admins. Nice public comments and questions

[2018-02-18 20:32] Yagya-Chaudhary commented on #1047
I just got interested in contribution so here I am .

[2018-02-18 20:34] russdeffner commented on #1047
Ah, ok - hopefully someone who can better help you will answer here; otherwise/also you can join slack.hotosm.org #tasking_manager_3 channel

[2018-02-18 20:35] Yagya-Chaudhary commented on #1047
thanks

[2018-02-18 20:36] russdeffner commented on #824
Yes, I agree - wasn't suggesting a private message just the ability to hit a 'reply button' and either type message from inbox and it appears on project/task or you get re-directed to the project/task so you can reply.  Caught me and there was a recent tweet where the user was confused of how to actually reply (i.e. great, I got a message, now what?)

[2018-02-18 20:42] bgirardot commented on #824
ya, if there was a comment box on a task all the time it would be more obvious how to reply. at the moment there is no good way really. you either have to check out the task for mapping or validation, which does not work well because it is probably already marked mapped and it might require validator status to check out for validation. I have taken to just replying via the q and a tab as that alwa

[2018-02-18 20:52] russdeffner commented on #824
Yes, more concerned about the new user experience - mine was pretty much exactly this: https://twitter.com/sepzilla/status/964702122955567104

[2018-02-19 09:32] fiennyangeln commented on #952
@bgirardot Hi I wanna work on this issue. Can I add [ProjectID] in the beginning of the subject?

[2018-02-19 13:54] bgirardot commented on #952
How about:

"Your mapping in Project nnnn, on Task nnn has just been validated"

@fiennyangeln Thank you for working on this!

[2018-02-19 16:00] ethan-nelson commented on #635
For someone interested in working on this, here's a possible route that should cover most of the work:

1) In the users schema, add a database column for email notifications (https://github.com/hotosm/tasking-manager/blob/develop/server/models/postgis/user.py)
2) Add a corresponding field in the user data object for this column (https://github.com/hotosm/tasking-manager/blob/develop/server/models/

[2018-02-19 16:52] bgirardot opened #1050 "Message all contributors to a campaign feature request"
At the moment we can message all contributors to an individual project, and that is great.

But it gets a little redundent and time consuming when we want to thank or update everyone who contributed to a multi project campaign.

As development on a "Campaign Dashboard" happens in the future, it would be a really nice feature to "message all contributors to this campaign" so everyone gets the messa

[2018-02-19 17:19] fiennyangeln commented on #975
Hi can I work on this?

[2018-02-19 17:41] bgirardot commented on #641
This was implemented and deployed to production. Thank you very much everyone.

[2018-02-19 17:41] #641 closed

[2018-02-19 17:43] #706 closed

[2018-02-19 18:35] dalekunce commented on #1050
great idea @bgirardot I think we can make room within the campaign CMS we are working on but won't have the time to wire it up to the messaging. We haven't built out the admin page yet so this is good timing. I can make the html for it but comment it out until someone else can connect it up.

Our work for campaigns is taking place here, https://github.com/americanredcross/tasking-manager/tree/caus

[2018-02-20 14:15] fiennyangeln commented on #881
hi @bgirardot I want to take this issue.

[2018-02-20 14:26] bgirardot commented on #881
@fiennyangeln Yes, please do take this on. As I mentioned previously, I am not a programmer so I can not give much guidance in the code.

But however that list on the the contribute page is generated, it should not display tags that are not actually in use.

https://tasks.hotosm.org/contribute?difficulty=ALL

![2018-02-20_15h23_12](https://user-images.githubusercontent.com/265831/36429173-45272c10

[2018-02-20 14:29] bgirardot commented on #881
Please be very aware of performance issues, it probably can not be something that happens everytime the page is loaded.

It does not have to be super time sensitive, adding organizations to the list seems to happen instantly, which is very good, we do not want to change that.

but removing them once there are no longer any projects, published, archived or draft with that organization tab is import

[2018-02-20 14:48] bgirardot commented on #881
Here is one:

https://tasks.hotosm.org/contribute?difficulty=ALL&organisation=OSM%20Togo

That example is of an organization that has not projects with that tag, published, archived or draft status.

Please note, unless you are a project manager, you will not see the "include draft" and "include archived" options along the left of the screen.

We do need to keep organizations that have projects in

[2018-02-20 14:52] bgirardot commented on #881
also: EUROSHA, MSF, OSM Ghana

let me know if you need more examples.

[2018-02-20 14:53] bgirardot commented on #881
@fiennyangeln I know there is no issue for it, but if you wanted to sort that list alphabetically ascending (A-Z) that would be pretty cool too :)

[2018-02-20 16:56] bgirardot commented on #977
Yes, I just discovered this bug as well, a little late to the game, but it does not matter what you type in, you get the same list of 10 options:

![2018-02-20_17h52_28](https://user-images.githubusercontent.com/265831/36437467-5784775e-1667-11e8-9c5a-40072bf24972.png)
![2018-02-20_17h52_10](https://user-images.githubusercontent.com/265831/36437472-5b6865d8-1667-11e8-862c-34346fd819a0.png)
![2018-

[2018-02-20 16:59] bgirardot commented on #977
@fiennyangeln Do you have any interest in taking a look at this one I now understand while testing your other fix :)

[2018-02-20 17:04] fiennyangeln commented on #977
@bgirardot ok sure.

[2018-02-21 05:20] bgirardot commented on #823
Per task instructions work in regular projects that have the grid created and do not trim to AoI.

For example: https://tasks.hotosm.org/project/3420

There is still an outstanding issue with them, but I can not find it it in the list of issues unfortunately.

[2018-02-21 05:20] #823 closed

[2018-02-21 05:22] bgirardot commented on #1018
This was fixed by the merge listed above. Thank you for bug report!

[2018-02-21 05:22] #1018 closed

[2018-02-21 13:13] pgadige commented on #986
I observed that the `validate_all_tasks` method extracts all tasks belonging to a specific project and selectively filters those having statuses `READY`, `LOCKED_FOR_MAPPING`,`MAPPED`, `LOCKED_FOR_VALIDATING`,`VALIDATED`

regardless of what status the task is in, the method explicitly sets the project admin as the task's mapper, `task.mapped_by`. I think this might be causing the mapped column in

[2018-02-22 17:01] sunidhiraheja commented on #986
@pgadige Hi, I'm working on this issue.
Thanks for pointing out the possible problem involving validation of all tasks except those with status BAD_IMAGERY.
Do you think you should create a new issue about this?
I feel like this decision of task types needs discussion. For instance, do we want invalidated tasks to be remapped before they can be validated?

[2018-02-22 17:14] sunidhiraheja commented on #1041
@ethan-nelson Thanks for the guidance, I think I understand the flow now.

I just wanted to confirm whether done/completed refers to the MAPPED `TaskStatus` type (since you mentioned creating the service function in `mapping_service.py`.

[2018-02-22 17:20] sunidhiraheja commented on #1050
@bgirardot @dalekunce I'm up to code the messaging part (and the html too) :)

[2018-02-22 17:41] sunidhiraheja commented on #1044
This seems to be in place in `client.app.admin.dashboard.dashboard.html:71`

[2018-02-22 17:58] bgirardot commented on #986
@sunidhiraheja When we click on the "Validate all Tasks" button, we want all tasks to get marked validated, regardless of their state.

This is for use when we have gone outside of the tasking manager to make sure the area has been mapped and the mapping is validated mapping. This is easy to do in the JOSM editor so Project Managers do it quite often instead of doing it through the Tasking Manager

[2018-02-22 18:01] sunidhiraheja commented on #986
Sorry, I accidentally deleted my last comment.

So is it okay if I set the `mapped_by` value to the pm's ID if its not already set?

[2018-02-22 18:06] bgirardot commented on #986
@sunidhiraheja Yes, you can set it to the PM's id if it is not already set, both for mapped and for validated.

(sorry I am not much of a programmer, so am not much help code or programming related, just usage and use cases and testing :)

[2018-02-22 19:21] sunidhiraheja commented on #1014
This seems to be working fine for me.
Can you please confirm? The active mappers count is cached for a period of 30 seconds, so that might have caused this discrepancy.

[2018-02-23 14:45] bgirardot commented on #1041
@giblet22 In my thinking, if the project has already validated tasks, those should stay validated and not be "reset" to just "Mapped" by this button, correct?

cc: @sunidhiraheja

[2018-02-23 14:49] giblet22 commented on #1041
@bgirardot that is correct. good catch

[2018-02-23 23:41] bgirardot commented on #961
@hunt3ri This is still not working. Further, we got amazon to increase our send rate to 28/second (they just doubled it) and it still errors out.

Any chance we (someone not me because I do not know how/where) could put in some debug statements so we could log the actual error? I looked through the logs previously and did not see any errors that seemed related to this.

Even just a pointer to wher

[2018-02-24 00:09] #962 closed

[2018-02-24 05:53] bgirardot commented on #977
@Nieldejong pull request #1054 fixes this issue and has been merged in.

You can try out the fix on https://tasks-stage.hotosm.org/

Sorry for the long time it took to get this fixed.

We also have another pull request waiting to get the list of organization tags cleaned up that is partly a result of this issue.

[2018-02-24 05:53] #977 closed

[2018-02-24 08:06] hunt3ri commented on #961
Hi @bgirardot this really is a bit of a head scratcher.  What I'll try and do is write a little test-harness spam-bot using the same code then will attempt to send 100 emails to myself, and try and figure out why we're getting this lock/timeout issue.  Will keep you posted.

[2018-02-24 16:52] fiennyangeln commented on #635
hi I want to take this issue

[2018-02-24 16:54] bgirardot commented on #635
@fiennyangeln People will be very happy if you create this feature :)

Please note: if you make a change to the database to allow storage of the opt out, you will need to generate a alembic script to migrate the database, please only do this on your local testing db during development :)

[2018-02-24 16:57] bgirardot commented on #635
This might need some more thinking through as well.

Right now you get sent a message when your task is validated. If you have an email address, an email gets sent as well.

I think what people want is to not get any message, so if they do not get a message, the internal tasking manager message, then they will automatically not get an email either.

So I would focus on "opt out of validation messa

[2018-02-25 08:35] Andygol commented on #781
It would be great when transifex source was updated for the further translation

[2018-02-25 11:32] fiennyangeln commented on #635
@bgirardot please review

[2018-02-25 14:35] bgirardot commented on #635
Please note, I think this issue has evolved, in addition to the comments above, others have complained about the TM messages for validation in general.

I think the best fix is to opt out of any validation messages then the emails would never be sent.

I am not sure, maybe we need both options?

1. Opt out of any auto generated validation messages
2. Opt out of emails notices of validation message

[2018-02-26 08:57] govvin opened #1061 "Cloned project should copy the project name from Step 5 of the process"
When cloning a project, Step 5 asks for a project name:
![image](https://user-images.githubusercontent.com/5821688/36661313-e24c705a-1b15-11e8-935e-ea547e5b560f.png)

Currently, however, this value is not immediately used when you get to the part where you edit the project details
![image](https://user-images.githubusercontent.com/5821688/36661364-023a41bc-1b16-11e8-9f18-2bd6347f9a23.png)

This co

[2018-02-26 14:22] fiennyangeln commented on #943
hi i want to take this. is it still available?

[2018-02-26 14:28] bgirardot commented on #943
@fiennyangeln You are already working on this :)

This is directly related to your work on the campaign tags only showing tags that have project associated with them.

I can review this more, but the key is, if a campaign or organization has no projects (draft, archived or published), it should just disappear from the lists

[2018-02-26 14:28] bgirardot commented on #943
@fiennyangeln I realize these are slightly different, but very related issues with the one you are already working on.

[2018-02-26 16:16] fiennyangeln commented on #943
I tried adding API, service, method to delete the organisation_tag

[2018-02-27 12:18] govvin opened #1063 "Unable to display projects"
Currently, on Firefox and Chromium, I couldn't display any of the projects I created (published, archived, or in draft). Here is a screen shot:
![image](https://user-images.githubusercontent.com/5821688/36728232-0b132066-1bfb-11e8-8dbd-84dfe5d1953b.png)

The browser debugger reports
`Source map error: request failed with status 404 Resource URL: https://cdn.jsdelivr.net/openlayers.geocoder/latest/

[2018-02-27 13:06] bgirardot commented on #1063
@govvin Could it have been a temporary issue? This seems to be working for me at this moment.

[2018-02-27 13:15] govvin commented on #1063
@bgirardot I'm not sure about that. I've had that error for at least three hours now. And I also tried switching to another Internet service provider, and I got the same results.

I can search for the specific projects I created, and I can edit them, too. It's just in the dashboard that I'm encountering this error.

[2018-02-27 13:28] govvin commented on #1063
I can search/access the projects I created from the Contribute page, but checking the debugger, I have the same exact error, without any on-screen indicator for the same:

`Source map error: request failed with status 404
Resource URL: https://cdn.jsdelivr.net/openlayers.geocoder/latest/ol3-geocoder.js
Source Map URL: ol3-geocoder.js.map`

Kindly let me know if there's anything else I can check to

[2018-02-27 14:45] LindaAlblas commented on #1063
That 404 should be unrelated (although strange!). It looks like the issue is in the my-projects API (https://tasks.hotosm.org/api/v1/admin/my-projects). It could be helpful to know what the API returns as the error message instead of the error message you are seeing on screen. You should be able to find that in the Response tab after clicking on the 'my-projects' request in the developer tools of

[2018-02-27 15:00] ethan-nelson commented on #1063
Are you running any ad or resource blockers, e.g. Ad Block Plus, Privacy Badger, uOrigin?

[2018-02-28 00:13] govvin commented on #1063
@LindaAlblas this is what I got from the response tab:
![image](https://user-images.githubusercontent.com/5821688/36762529-06094794-1c5f-11e8-9564-6fb28f4fb68c.png)

i hope that's helpful.

@ethan-nelson
i've disabled them with hotosm domain. By the way, this was working fine before yesterday, and there were no configuration changes in my browser.

[2018-02-28 02:38] belaeifert commented on #923
Hello! I would like to contribute with this issue. Which page can I see the bug?

[2018-02-28 02:38] belaeifert commented on #630
Hello! I would like to contribute with this issue. Which page can I see the bug?

[2018-02-28 09:52] Soundharyaam commented on #859
Hi, I would like to work on this bug. Could I proceed with this one?

[2018-02-28 13:57] johnwhelan commented on #923
The issue was in the old version of the tasking manager it mas easier to
type the person's name.  You didn't need to type in every letter.

As Blake commented this is being addressed.

Cheerio John

On 27 February 2018 at 21:38, belaeifert <notifications@github.com> wrote:

[2018-03-01 13:11] bgirardot commented on #981
@Nieldejong Hi Niel, i fixed the translation issue in transifex, which anyone is welcome to join and help with TM translations.

https://www.transifex.com/hotosm/tasking-manager-3/dashboard/

Getting it into the live version will take a little longer.

Thank you for feedback on this. I tend to agree, unmapped is probably more clear.

[2018-03-01 15:44] bgirardot commented on #953
My understanding is Soundharya is working on this.

[2018-03-01 17:46] fiennyangeln commented on #675
Hi @bgirardot may I take this issue? i will try looking at the code first

[2018-03-02 07:46] TheChirpyWitch commented on #1035
Hey @smit1678 and @bgirardot ! I am trying to contribute to this project and just to understand the nature of the problem here, you want the facebook/twitter sharing card to a particular task's description, associated image, etc. right?

[2018-03-02 11:37] bgirardot commented on #1035
@TheChirpyWitch For sure we would like the title of the project and some text from the Description field (Short description often has some tasking manager specific text in it) instead of the generic HOT Tasking Manager description. Also cool might be the %Completed. Not sure about a graphic, we do not currently have a spot for a graphic specifically. but it would be great to have something, even i

[2018-03-02 12:02] TheChirpyWitch commented on #1035
Got it. I'll work on this issue then. :)

[2018-03-03 11:27] bgirardot opened #1065 "Auto unlocked task stays in locked UI state"
When a task times out due to the 2 hour limit, it seems to get released just fine, but the UI shown to the user still looks like they have the task checked out.

It should instead:

1. put up a dialog that indicates this task expired and was auto unlocked after 2 hours
2. keep the user on that selected task in case they want to check it out again.

Below is are screen shots of what it looks like a

[2018-03-03 11:29] bgirardot commented on #1065
@sunidhiraheja this might be a quick fix for you since you are working so closely on the timer issue.

[2018-03-04 13:45] fiennyangeln commented on #675
@bgirardot I think the text search need some database trigger to work. Thats why it doesnt work on local dev, including mine. However, when I tried searching for the database trigger in the tm database, there is a lot of trigger in it that I could not differentiate.

[2018-03-04 14:17] bgirardot commented on #675
@fiennyangeln Does this information help at all? Especially toward the bottom where it lists the trigger and the procedure that needs to be executed.

tm3=> \d+ project_info
                                    Table "public.project_info"
        Column         |          Type          | Modifiers | Storage  | Stats target | Description
-----------------------+------------------------+-----------+-

[2018-03-05 04:43] Soundharyaam commented on #953
Yup, Blake. I am working on it. Soon, I will create a PR for this bug.

[2018-03-07 00:42] govvin commented on #1063
Do you have any workaround suggestions for this? I'm still experiencing this issue.

[2018-03-07 01:15] russdeffner commented on #1061
see also #1046

[2018-03-07 02:13] ethan-nelson commented on #1063
A few more questions:

* Had you previously logged into TM2 before TM3 was launched?
* Have you changed your OSM username recently or ever?
* Are you able to check out tasks at the moment?

[2018-03-07 02:25] govvin commented on #1063
Hi @ethan-nelson
- Yes
- Never
- Yes. I can check / contribute on tasks. I can edit/create projects.
- It's "[GOwin](https://osm.org/user/GOwin)".

[2018-03-07 02:26] ethan-nelson commented on #1019
@fiennyangeln we still want the text there. It is just a problem when the object has very fine detail that text on every single point causes this.

Perhaps a resolution for now could be if the number of points in the GPX is greater than some number `N`, we only add the label on approximately every `N / 6` points. I would say N > 20 could be a good start.

[2018-03-07 03:31] bgirardot commented on #1019
I have seen really bad ones, even 1 every six nodes would be a problem.

Is there anyway to check of the node is at a 90 degree point?

Otherwise, i think we might consider just removing them totally if there are more than N nodes and leaving the one set of text in the center that says do not edit outside of this area.

[2018-03-07 03:34] ethan-nelson commented on #1019
A node situated somewhere in the center with text for shapes that have more than a few points is a great idea! (and probably much easier)

[2018-03-07 19:20] ethan-nelson commented on #1063
@govvin great, thanks. I will do some more troubleshooting this evening and let you know.

[2018-03-09 10:41] rhcu commented on #988
Hi! I want to start working on this issue. Can you elaborate on it?

[2018-03-09 13:20] johnwhelan commented on #988
I know very little on the programming side.  If you can spot were it sorts them into priority order then it should be possible to add an option for sorting into time order.  ie the most recent project first.  It was available nder the old TM 2.

Thanks John

[2018-03-09 13:49] Paarmita commented on #1004
@althio @giblet22 Can I work on this issue?

[2018-03-11 11:27] rhcu opened #1066 "Authentification fail from local machine"
I have installed Tasking Manager on my local machine. However, when I am trying to press "Log in", the following error is shown:  flask_oauthlib.client.OAuthException: Failed to generate request token.

[2018-03-11 11:30] rhcu opened #1067 "Russian Language Translation"
The text in Russian seems to be not translated properly. For example, not all elements in the navigation bar are translated.
I can try to work on this if it is needed.

[2018-03-11 17:53] fiennyangeln commented on #1019
@ethan-nelson @bgirardot i have submitted a PR ( for N>20 Make label on approximately N/6 points). Please review it :D What do you mean by checking 90 degree point? Is it between 3 adjacent point?

[2018-03-13 06:11] akankshanayak2111 commented on #685
Hi, I was wondering if I can take up this issue?

[2018-03-13 06:14] akankshanayak2111 commented on #917
Hi, I was wondering if I can take up this issue?

[2018-03-13 06:33] bgirardot commented on #917
@akankshanayak2111 yes, you can take this one up if you want. I am pretty sure there is a related issue somewhere too. Let me see if I can find it.

[2018-03-13 06:37] bgirardot commented on #917
@akankshanayak2111 I think issue #792  might be related

[2018-03-13 12:34] Madhumathi97 commented on #1065
@bgirardot Can I work on this issue as my first contribution to the project "creating a tasking manager stat explorer"?

[2018-03-13 14:50] bgirardot commented on #1065
@Madhumathi97 Hi, yes, for sure you can start on this. Please realize it is primarily a UI issue so is in the AngularJS code.

I will add the in progress tag, please let us know if you stop working on it for some reason. cheers

[2018-03-13 14:54] bgirardot commented on #917
@akankshanayak2111 I will note that issue #792 is a bit more urgent than this issue. They seem related, you are welcome to work on either one, but #792 would be really nice to get fixed and hopefully in the process you will see what is causing this issue. Please let us know if you have any questions.

[2018-03-13 14:58] bgirardot commented on #685
@akankshanayak2111 There is no one available who can do testing and give feedback on this issue at the moment so I would not start working on it. I see you asked about some other issues so those would be best to start with.

[2018-03-13 15:14] bgirardot commented on #1019
@fiennyangeln I am going to skip testing this because it is not the solution to this problem. There are tasks that end up with hundreds of points so even N/6 is way way too many. I apologize, but as mentioned above, even one every 6 nodes is just too many.

What I mean about "90 degree nodes" is that if we only put the message on nodes that were at points that were at "right angles" or "90 degrees

[2018-03-13 15:31] Madhumathi97 commented on #1065
Oh I am not familiar with AngularJS.Is there anything I can work on using
JS and HTML?Thank you
On 13-Mar-2018 8:21 pm, "Blake Girardot" <notifications@github.com> wrote:

[2018-03-13 15:42] bgirardot commented on #1065
@Madhumathi97 The front end is written in AngularJS, which is a JS framework. There is not really any part of the front end that does not make use of AngularJS

[2018-03-13 15:46] bgirardot commented on #1067
@rhcu Translations are handled via transifex:

https://www.transifex.com/hotosm/tasking-manager-3/dashboard/

I think you have to request to join the organzation or something, but you use your github login, maybe I can invite you I will look right now.

If you could join and help fix it up that would be very appreciated.

[2018-03-13 15:55] bgirardot commented on #1004
@Paarmita Hi, yes, you can work on this if you want. Thank you very much! Please let us know if you stop working on it and I will put it in progress now.

[2018-03-13 16:08] bgirardot commented on #988
Hi @rhcu I am not sure where in the code this sorting is done either. I would guess it is in the client directory somewhere and handled by the AngularJS code. As John says, I would grep around for where it sorts by priority and see if you can sort by project number instead which is kind of a proxy for "newest".

It would also add a UI item to control the sorting.

I can not promise this is "Easy"

[2018-03-13 16:18] bgirardot commented on #1065
@Madhumathi97 I will keep my eye out as I am working on this repo today for a small contribution that might be better for you. I also see that @sunidhiraheja is working on this one anyway. My apologies to both of you for not seeing that before now.

[2018-03-13 16:33] bgirardot commented on #975
This is not closed I do not think, it looks like pr #1052 was just part of the solution. Someone correct me if I am wrong :)

[2018-03-13 16:51] mnoblecourt commented on #969
Following a discussion with Missing Maps partners: it would actually be interesting to have an organization dashboard showing all the projects for the organization but also overall stats for all projects (% mapped/validated, number of ongoing projects, etc.)
American Red Cross (@dalekunce) has started working on a similar tool and there is interest from Univ Heidelberg to help on that.
Also, possi

[2018-03-13 16:53] bgirardot commented on #969
Sure martin, pull requests are always welcome!

[2018-03-13 18:02] Madhumathi97 commented on #1065
Ok no worries and yes would be great if you could give me a small area to
work on as my first contribution as I seem to really struggle to find my
way as it is my very first contribution.Thank you

*Thanks,*
*Madhumathi*
*S6 CSE*

*"You can't expect to hold supreme executive power just because some watery
tart lobbed a sword at you"*

On Tue, Mar 13, 2018 at 9:48 PM, Blake Girardot <notifications@

[2018-03-13 18:06] Paarmita commented on #1004
@bgirardot  Ya, I would like to take this up.

[2018-03-13 18:15] bgirardot commented on #1004
@Paarmita How are you with CSS? we use something call SASS to generate CSS, but it is essentially CSS. We for sure need some pure CSS changes.

[2018-03-13 18:50] verdy-p commented on #1004
SASS is just a basic macrolanguage that simplifying the design of CSS, using a "containment" syntax which is simpler to manage that long lists of CSS selectors.
Basically it does not change the individual CSS style properties, but how we can "scope" them (CSS selectors have a global effect and have to be localized using additional identifiers which are sometimes hard to design properly, or require

[2018-03-14 00:43] bgirardot commented on #1004
@Paarmita Gah, my apologies yet again, that message from me about css/sass was not supposed to be directed toward you, but another contributor.

[2018-03-14 00:44] bgirardot commented on #1065
@Madhumathi97 How are you with CSS? we use something call SASS to generate CSS, but it is essentially CSS. We for sure need some SASS/CSS changes.

[2018-03-14 00:57] bgirardot commented on #688
There is still a lot of white space that could get removed. I am going to re-open this as we have some folks who might want to work on this.

[2018-03-14 00:58] bgirardot commented on #688
@Madhumathi97 This is the one I had in mind, if you wanted to work on this.

It is harder than it looks to fix :)

[2018-03-14 01:01] bgirardot commented on #883
@johnwhelan ya, we really need to open up the comments on any task, checked out or not. That is the fix for this. In the mean time, generally what I do is reply via the questions and comments tab.

I am going to close this and label it 'work around exists' but I will make sure there is an issue to get the comment box back on the tasks regardless of if they are checked out or not.

[2018-03-14 01:01] #883 closed

[2018-03-14 01:07] bgirardot commented on #599
@pgiraud I am going to close this as I think #579 covers it and has more details.

[2018-03-14 01:07] #599 closed

[2018-03-14 02:40] Madhumathi97 commented on #1065
Yes I can work with SASS/CSS.Please let me know on which I can work.thank
you
On 14-Mar-2018 6:14 am, "Blake Girardot" <notifications@github.com> wrote:

[2018-03-14 02:40] Madhumathi97 commented on #688
Ok thank you.I will work on it.:)
On 14-Mar-2018 6:28 am, "Blake Girardot" <notifications@github.com> wrote:

[2018-03-14 08:05] hunt3ri commented on #961
Hi @smit1678 I did some reasonably extensive testing on this locally - and have not managed to replicate the error.  I successfully sent 100 emails to myself with no obvious problems.  AWS seem pretty generous with the buffer - as it said I was only supposed to be send 14 emails per sec.

So I need you to check a couple of things:

1.  Can you confirm that the environment vars in prod point to the

[2018-03-14 10:44] bgirardot commented on #961
Hi @hunt3ri I am pretty sure the env variables are set correctly. The tasking manager sends emails currently, just message all contributors does not usually complete. Hopefully we can get the pr deployed quickly.

[2018-03-15 12:31] bgirardot commented on #668
We still get this error with seemingly increasing fequency lately:

"[2018-03-15 11:33:25,179] CRITICAL in mapping_apis: Task Lock API - unhandled error: No row was found for one()"

[2018-03-15 15:33] bgirardot commented on #961
@hunt3ri @smit1678 After nate merged in your latest change Iain to improve the logging, I used the message all contributors feature and it errorred and I immediately captured the last 100 lines logs and they are attached to this issue.

[TM3-message-all-contributors-error-logs.zip](https://github.com/hotosm/tasking-manager/files/1816017/TM3-message-all-contributors-error-logs.zip)

[2018-03-15 17:51] verdy-p commented on #961
Be careful: such logs should be sent via private messages, not on this public thread!
There are visible security tokens in it, as well as privacy-sensitive data about users.
So next time, put the logs in a Google Drive or similar, and sent links only to authorized people.

[2018-03-20 03:56] govvin commented on #1063
Hello again. Are there any developments with this issue?

[2018-03-20 13:53] #961 closed

[2018-03-23 14:05] ethan-nelson opened #1080 "Warning for large geometry files"
From #1079, the UI should probably alert someone when creating a project if the file they upload is over a certain limit--maybe 5 or 10 MB--as users with lower CPU capacity computers may be impacted performance-wise.

[2018-03-29 14:46] bgirardot commented on #1045
Here is a Gist of recent errors exactly like this one and similar to it:

https://gist.github.com/bgirardot/c378deb4b6dc725ab71fec1407133724

[2018-04-03 17:05] ethan-nelson commented on #589
This has been fixed in #1070 and others

[2018-04-03 17:05] #589 closed

[2018-04-05 15:14] PaulUithol commented on #635
@bgirardot see this is already an issue, sorry for email spamming you about this separately ;).

From my perspective (having gotten 80 or so validation emails over the past week), this is not a very helpful feature at the moment. Primarily because of the sheer volume if you're mapping slightly fanatically for a while, secondarily because the emails give you no hint or clue whatsoever what they're

[2018-04-05 16:16] bgirardot opened #1081 "Default project difficulty to "intermediate""
Project managers need to manually set projects good for beginners to beginner projects. We have a lot of projects that are not beginner projects marked as beginner.

[2018-04-06 17:28] bgirardot commented on #866
This should be all taken care of with the merges listed above

[2018-04-06 17:28] #866 closed

[2018-04-06 17:32] bgirardot opened #1082 "Display users time mapping on their profile page"
It would be great if mappers had some sense of how much time total they have spent mapping. It would be even nicer to maybe let them put in a time period to see how much time they contributed for a set time period.

This comes up quite often with people who want to volunteer, but need to track their hours, there is no good way to do that, the tasking manager is probably the best place to try and k

[2018-04-06 17:39] bgirardot commented on #583
Just adding this as I had to create this by hand and it would be really good if we some way to generate searches for projects, campaign based or not, and display them and their status on a map.

![2018-04-06_15h03_37](https://user-images.githubusercontent.com/265831/38435505-180784f2-39d2-11e8-8287-0f30ed5bc3c3.png)

[2018-04-06 17:47] bgirardot opened #1083 "Generate an estimate of when a mapping project will be completed based on past contributions"
We have some idea of the time people are spending per task completed, we should be able to extrapolate out from that to estimate a completion date.

Below is one way I can think of we could do this.

Estimated completion is based on how actively a project has been contributed to over a set but arbitrary amount of time in the past (past 24 hours, past week, past month, etc). Project managers have a

[2018-04-09 20:43] MaestroGlanz opened #1084 "auto unlock too early"
This is super annoying. My tasks get auto unlocked all time, because it "takes me too long". If this happens, I would like to know at least, how long it takes. And this should be in the protocol also. Otherwise it could happen, that I edit, get auto unlocked and another person starts editing in the same area.

[2018-04-12 03:04] govvin opened #1085 "When a select task is not in a state that allows validation, automatically switch to "Map" mode"
Instead of this error message:
![image](https://user-images.githubusercontent.com/5821688/38654308-391428da-3e41-11e8-9340-5bdb1149bcc6.png)

Could you just switch the user to map mode?

[2018-04-16 19:27] aaj013 commented on #958
I'll try to add this

[2018-04-19 15:48] mikelmaron opened #1086 "when offering trim, warn that you can't split non square tasks"
You can only split tasks that are square. We used the trim feature when setting up a project for an island, and only later found that only a few tasks are splittable.

At the very least, offer a warning when creating tasks that the trim will result in X squares that are not splittable.

[2018-04-19 15:48] mikelmaron commented on #1086
Or explain this on the the task page as well (ie don't hide the split button, but disable it with a hover)

[2018-04-20 14:52] kleper opened #1087 "Execute migrationscripts.sql"
I trying to migrate a tm2 to tm3.
While execute migrationscripts.sql have a lot of errors like: ERROR:  relation "hotnew.licenses" does not exist
LINE 1: INSERT INTO hotnew.licenses(
I create a new database clone named hotnew with the scheme of TM3 and create a database named hotold with my old TM2 database.
But I think I'm not running the migration script well in postgreSQL

[2018-04-21 05:48] kleper opened #1088 "Documentation server migration TM2 to TM3"
Hello,

I recently made the TM2 server migration from OpenStreetMap Colombia, I had some problems that are not documented.
I made the following document, maybe it could be useful for another person.
https://github.com/kleper/Cartografia/blob/master/MigratingTM2toTM3ENG.md

Sorry to send it by this means, but I did not find another way.
Greetings.

[2018-04-24 05:45] aaj013 commented on #902
I'll try to do this @tastrax

[2018-04-24 12:07] aaj013 commented on #959
I'll try to add this

[2018-04-25 11:03] simonpoole opened #1097 "osm.earth trademark issues"
As you may know the OSMFs trademark policy is now in force see https://wiki.osmfoundation.org/wiki/Trademark_Policy which provides a wide ranging lenient licensing for community projects.

However your

- registration of osm.earth
- use of "Open Earth Map" as a project name

are not in line with the uses of the OSMF marks that do not require a license. You can apply for a license by completing and

[2018-04-25 11:35] simonpoole commented on #1097
Seems as if is not run by HOT .... closing

[2018-04-25 11:35] #1097 closed

[2018-04-25 11:35] verdy-p commented on #1097
However the term "OSM" is not owned by the OpenStreetMap Foundation. There are even preexisting trademarks unrelated to OpenStreetMap, which have existed long before.

"OSM" (and "OSMF") are just convenient abbreviations used in context where their meaning is clearly and visibly associated with "OpenStreetMap" (the protected trademark).

But well it's true that "OSM.Earth" and "HOTOSM" are both bu

[2018-04-25 11:37] verdy-p commented on #1097
Visibly the introduction text was modified. The site is clearer now !
The additional link at bottom of page is also a good improvement.

[2018-04-25 11:56] simonpoole commented on #1097
@verdy_p while OSM is not a registered trademark, that doesn't mean we (the OSMF) don't have rights to it, particularly when used in a context referring to geographic information.

[2018-04-25 14:28] verdy-p commented on #1097
It.s not aquestion of right here as there was no evident abuse. It.s just
the fact that the term OSM chosen was initially properly linked to what it
meant and this has consequences on users of this site that should know in
which sphere they'll work with.

Bit with the small improvements now bisibke on the site I do not see any
problem caused by your onitial statemrnt about trademark issue or legal

[2018-04-26 12:16] aaj013 opened #1098 "Translations needed for: Português, Lietuvos, Dansk, Tamil (தமிழ்), Sinhala"
Missing JSON files for following languages:

- Português
- Lietuvos
- Dansk
- Tamil (தமிழ்)
- Sinhala (සිංහල)
![missing languages](https://user-images.githubusercontent.com/5847582/39304935-0cfe17f4-4979-11e8-96c0-86687bd2a0ac.png)
@bgirardot

[2018-04-26 12:37] aaj013 commented on #1098
I've done translating and created the json files

[2018-05-01 12:49] eneedham commented on #945
I'm not sure if this should go here or be a separate issue, but % validated is over 100% and higher than % mapped.

![image](https://user-images.githubusercontent.com/16779487/39473355-69cf5e74-4d1c-11e8-9ec0-b1f485eac569.png)

https://tasks.hotosm.org/project/4341

[2018-05-01 15:18] bgirardot opened #1100 "Pause project page updates if window/tab is not the focus"
If we are not doing this already, if a tab or page is not the focused page/tab in the browser, we should pause updates.

as soon as it returns to focus, we would then do an update and continue as usual.

[2018-05-07 22:10] bryceco opened #1104 "GPX namespace is incorrect"
mapping_service.py on line 148:
root = ET.Element('gpx', attrib=dict(xmlns='http://topografix.com/GPX/1/1', version='1.1',
                                             creator='HOT Tasking Manager'))

The namespace should be ‘http://www.topografix.com/GPX/1/1’

[2018-05-13 15:34] harry-wood commented on #1000
Pretty sure we can improve this for Firefox ESR and Safari users. The browsers are perfectly capable of launching JOSM, they just don't like doing so in an AJAXy way from a https website. A regular document load of the JOSM launch URL will work fine.

Could somebody who knows angular try the follow simple thing? :

Add something to the end of this error message _"JOSM remote control did not respon

[2018-05-16 00:40] giblet22 commented on #926
@bgirardot I ran into this issue the other day and was wondering if anyone was working on a fix?

[2018-05-18 06:59] aaj013 commented on #902
Please check my PR @tastrax  @bgirardot

[2018-05-20 00:58] harry-wood opened #1108 "Search API "unhandled error: division by zero""
Using the `project/search` API I'm seeing a 500 error:
`{"error": "Project GET - unhandled error: division by zero"}`

...but only on some pages of the resultset:
https://tasks.hotosm.org/api/v1/project/search?page=71  <-- works
https://tasks.hotosm.org/api/v1/project/search?page=72  <-- error
https://tasks.hotosm.org/api/v1/project/search?page=72  <-- error
https://tasks.hotosm.org/api/v1/project

[2018-05-20 01:37] bgirardot commented on #1108
Hi Harry. We have an issue in here that is on the front end blank pages in the search results I wonder if this is the error in the back and that  causes the blank pages on the front end in the search results listing listing then a page with nothing then listing listing

[2018-05-20 22:55] JesseWeinstein commented on #635
I heard from @bgirardot that the development team wants to leave the feature of sending emails about validated tasks on by default, but is open to adding an option for people to opt-out. Is this already being worked on, or would it be useful for me to create a PR to implement that?

[2018-05-21 12:42] harry-wood commented on #204
I guess that link was to a preview version of the API docs? These are [here now](https://tasks.hotosm.org/api-docs/swagger-ui/index.html?url=https://tasks.hotosm.org/api/docs#!/search/get_api_v1_project_search)

To update your notes here, currently it returns these fields in the response fields for a project:

* projectId
* locale
* name
* shortDescription
* mapperLevel
* priority
* organisationTa

[2018-05-21 12:48] harry-wood commented on #1108
Sounds plausible yes. I imagine it would easy to find and fix this by looking at the live logs (On what line of code is this "division by zero" happening?)

[2018-05-23 14:27] geohacker opened #1111 "Create templates for project instructions"
It'd be great if we can support templates for project instructions that people can edit/fill in when they create new projects - this will make sure all the necessary instructions are captured, and people wouldn't have to copy/paste or try to come up with new text all the time.

cc @bhousel @geomantic @mcawley

[2018-05-24 21:46] bgirardot commented on #1111
Hi,

We have something like this now, the text at least has been worked out and translated.

It is more complicated that it seems from a UI perspective, because the point is to have a good, well written set of instructions translated, but you want to make any changes, you have to manage it across all the languages.

We were thinking something like a checkbox for each instruction, automatically gro

[2018-05-24 21:50] bgirardot commented on #967
We need to optionally allow anyone to search for, find and see archived projects.

Right now this is only allowed for Project Managers, it should be an option for everyone.

[2018-05-24 21:51] bgirardot commented on #967
@ethan-nelson Just recently added this feature for Project Managers with pull request #1025

[2018-05-24 21:56] bgirardot commented on #668
This is related to issue #1045 Please do not close this one. @dakotabenjamin and @smit1678 At some point in time we should examine the sql in here and see if we need to run that code again. We could do the select against the cloned tm3 database and see if there are folks in those states.

I think this is related to why there is never less than 50 people on the tasking manager as well.

[2018-05-24 21:58] bgirardot commented on #959
This was urgent due to an upcoming mapathon at the time. That has long passed, but this is still high priority if it has not been completed yet.

[2018-05-24 22:00] bgirardot commented on #1014
I am going to chalk this up to caching and keep an eye out for it and close it for now. Thank you for looking @sunidhiraheja

[2018-05-25 17:19] bgirardot commented on #1014
@russdeffner Just asked this same question so it still happens, he waited 30 seconds, refreshed and it was still incorrect so it might be a cache issue, but it is cached too long if it is.

Ok, we know what the issue is, that active mappers count seems to not include people with tasks checked out for validation.

[2018-05-26 18:25] bgirardot opened #1115 "Local install without set SMTP variables throws unhandled errors on email call"
When I do a local development install, with no smtp support, when I try to add my email address to my profile i get the following error in the console:

In the UI I get an error updating my contact details as well.

This is because I have no stmp environmental variables set.

Setting them to working smtp solves the issue, but it should gracefully recognize there is no smtp and give an error that i

[2018-06-04 10:29] gorn commented on #1000
I have added manually exception to the brorwser so now both http://localhost:8111 and https:/localhost:8112 work, but the "Start editor" button still does not work

[2018-06-04 10:54] gorn commented on #927
I have the same issue with forefox. I have manually added security exception so both http://localhost:8111 and https://lcoalhost:8112 show josm text, but the "Start editor" button stil does not work. I use Firefox 60 on latest Linux Mint

[2018-06-08 17:28] bgirardot commented on #792
Additional information on this.

On the user's profile page, the listing of projects they have contributed to, the number of tasks mapped in a project listing is actually showing the number of tasks they have mapped that are not yet validated. In other words that individual listing is not showing the number of tasks that a user mapped, but only the number of unvalidated tasks the user has in that

[2018-06-08 17:30] bgirardot commented on #792
Additional information on this.

The number of tasks validated is just wrong. In the below project listing, 4396 was added to my list when I validated some task squares, I have not mapped any, only validated. You can see it got added to my list of projects, but the number of tasks validated is at 0.

![2018-06-08_19h22_04](https://user-images.githubusercontent.com/265831/41171890-58a2c15a-6b52-11e

[2018-06-10 07:14] tordans opened #1122 "Set "use this image layer" every time I start a task"
This is a feature request to improve the transition from task manger to iD Editor. Looking at the image layer selection.

# My user journey
- I just started https://tasks.hotosm.org/project/4710?task=36 and the first thing I have to do is to check the image layer.
- I go back to the task page and read again "Please use Digital Globe imagery".
- So I check the iD Editor again, but cannot find this

[2018-06-14 15:08] bgirardot commented on #945
Some findings from testing:

Tasks marked "bad imagery" immediately count as "validated" task squares on the Activity and Stats page and the contribute list card for the project. They do not actually need to be validated, just marked bad imagery. They are not counted for mapping completion stats.

If they are then actually validated, they will count again for the validation stats on the activity a

[2018-06-14 15:19] bgirardot commented on #945
Further testing:

Splitting those previous bad imagery, mapped, validate, invalidated tasks essentially wipes out any record of any activity on them or their impact on the project, with the exception of the mapped %.

That, in this case negative, percentage of mapped tasks was reduced because now there are more task squares so it went from -11% mapped to -7% (activity and stats) and -8% (contribut

[2018-06-15 01:53] ethan-nelson commented on #945
I would say the majority of this behavior is corrected by the UI change suggested in #1123. However, there still seems to be a narrow case when the counters are not modified correctly just as you bring up:

In the event a validated task is later invalidated, [one is deducted not just from the validation counter but also the mapped counter](https://github.com/hotosm/tasking-manager/blob/032b02da8be

[2018-06-19 14:36] daisygrubber commented on #792
Can I add my vote for this to be addressed? I had someone take strong exception to one of my validating decisions and it's hard to look credible when it looks like you've never done any validating before.

[2018-06-19 14:57] bgirardot commented on #792
The OSM changesets and time mapping hopefully help with credibility, but yes, for sure we need to get this fixed. Thank you for your input on the priority.

@daisygrubber Sorry to hear about the ... strong exception. You can always forward or contact the mapper-support@hotosm.org email address too, that has a lot of experienced folks who can help in situations like that. It is not private, but as

[2018-06-21 12:44] sunidhiraheja commented on #1045
@bgirardot Can we see the rows that are returned on that query match?
If they're deleted for this particular instance (on unlocking), maybe we could log them for future occurrences.
I think this will be of great help in debugging.

[2018-06-25 18:33] bgirardot opened #1125 "Tasking Manager Learn page - create links to sections"
We need to create anchor links for each item on the Learn page so people can direct link to specific sections.

[2018-06-25 18:51] bgirardot opened #1126 "Extract EN strings for translation via transifex"
We need to update the strings for transifex

[2018-06-25 18:52] bgirardot commented on #1126
If at all possible, if we could keep the strings NON Sorted, and just in the natural order they are found on the pages that would be best.

[2018-06-25 19:00] bgirardot commented on #1126
@ethan-nelson Is this something you could do for us as your convenience please? Or if there is a script in the code now if you could just point me toward it.

[2018-06-25 23:45] bgirardot commented on #1019
@govvin This has been fixed now. The best we could reasonably come up with was to just remove the text on all the nodes and just leave the text in the center.

[2018-06-25 23:45] #1019 closed

[2018-06-26 00:53] bgirardot commented on #1122
@tordans Thank you very much for the detailed feedback. I think almost all of this is basically a training issue for the people who create projects, which we are addressing.

It is up to the Project Managers who create the mapping projects to do a detailed review of the area, existing mapping and what imagery is the best imagery to use for mapping. It is also up to them to create clear instruction

[2018-06-26 09:36] ramyaragupathy opened #1127 "Retrieve archived projects using non-authenticated API request"
At present https://tasks.hotosm.org/api/v1/project/search endpoint outputs all `active` projects from Tasking Manager. When a session key is provided as a query parameter with this url, `archived` projects can also be retrieved. However, each session key seems to return the archived projects just once. Further API queries with the same session key returns only active projects. I could repeat this

[2018-06-26 16:06] #1014 closed

[2018-06-26 16:13] bgirardot commented on #1127
This has come up before I think. I think it makes sense to allow access to archived project by non authenticated users. Even the front end UI should probably allow mappers to included archived projects in their searches.

[2018-06-29 03:21] #1104 closed

[2018-06-29 23:17] bgirardot commented on #1125
@Nick-Tallguy Thank you very much for the pull request nick!

[2018-06-29 23:17] #1125 closed

[2018-07-03 12:08] smit1678 commented on #1045
@sunidhiraheja Did digging into the NewRelic logs and error reporting help here?

From what I can see, it looks like the function `server.api.validator_apis:unlocktasksaftervalidationapi` is the slow point that is related. The database query returns quickly but the function seems to consistently takes about 3 minutes to respond.