[2019-09-02 14:07] ramyaragupathy opened #1853 "Project stats exceeding the max percentage"
From project [#6317](https://tasks.hotosm.org/project/6317/dashboard), [#6387](https://tasks.hotosm.org/project/6387/dashboard), [#6305](https://tasks.hotosm.org/project/6305/dashboard)  [#6313](https://tasks.hotosm.org/project/6313/dashboard).
![image](https://user-images.githubusercontent.com/12103383/64120015-c8ea8500-cdb8-11e9-8708-666fae52d399.png)

![image](https://user-images.githubusercont

[2019-09-04 11:12] ramyaragupathy opened #1856 "API Redesign: Step 3 consolidation of endpoints"
From https://github.com/hotosm/tasking-manager/issues/1780

We've completed:
- [x] Resource renaming
- [x] Folder restruturing
- [x] Error messages review and
- [x] JSON serialised names standardisation

Using this to ticket to track implementation of Step 3 where we consolidate endpoints base don our discussion [here](https://docs.google.com/spreadsheets/d/1aiR07_Irdf_cLaSEf3iO84iVkAdYaSxDR9J2FeW

[2019-09-04 12:44] xamanu commented on #204
Related to #1856

[2019-09-05 14:29] willemarcel commented on #1619
Some changes requested by @hexiaok :

- [ ] Add link to change user profile picture on osm website when hovering the profile picture on the welcome and settings views.
- [ ] Add border to editor dropdown on settings page
- [ ] Highlight the important fields that are missing to fill on settings/welcome views
- [ ] Use `react-select` on the explore projects filter section

Other changes I noticed:

[2019-09-05 15:51] #1836 closed

[2019-09-11 19:42] fitoria commented on #1579
WIP here: https://github.com/hotosm/tasking-manager/tree/feature/task-difficulty-sort

[2019-09-12 00:55] thadk commented on #1630
We will need `percentMapped` and `percentValidated` as part of the `/project/:id` endpoint. Like most of the project details, I think it could be available on both `abbreviated=true` and `abbreviated=false`

[2019-09-18 04:56] thadk commented on #1630
Favorites will need to be implemented with these not-yet-merged issues/PR https://github.com/hotosm/tasking-manager/issues/1603 #1602  https://github.com/hotosm/tasking-manager/pull/1660

[2019-09-18 06:25] thadk commented on #1630
Special needs for task map on project detail page:
[ ] Need to be able to turn off scrolling using mouse wheel
[ ] Need to be able to hide the task layer by a prop

[2019-09-18 14:28] cgiovando opened #1872 "Dark Theme Mode"
Capturing a request from today's meeting to support dark theme in Tasking Manager.

It could eventually use this CSS method https://drafts.csswg.org/mediaqueries-5/#prefers-color-scheme and automatically switch to dark them based on user OS preferences or configured in TM personal settings.

[2019-09-19 08:34] clairedelune opened #1873 "Private projects invisible to authorized users"
So far, private projects have only been accessible typing their URL. For logged-in users whose usernames are listed in the properties of a private project, the project should be searchable: it should appear in the project list while searching for the project's name or number.

[2019-09-19 10:24] ramyaragupathy opened #1874 "Edit geometry after Project Creation"
Let project owners edit geometry bounds after project creation - from workshop at summit

[2019-09-19 16:42] thadk commented on #1641
For the Contribution Timeline calendar piece, I recommend using an approach like this example does to wrap the d3 calendar into React with the @vx/Group component:
https://codesandbox.io/s/p5lz8vv49q
via: https://github.com/hshoff/vx/issues/191

For the donut/pie charts, I recommend continuing to use the @semiotic wrapper of D3 that was used by the project detail page. This should be lazy-loaded u

[2019-09-21 04:09] thadk opened #1875 "Use HTTP/2 or GZIP on Nginx for Tasking Manager"
Many of the APIs and resources associated with the TM 4.0 are not currently optimally compressed to conserve bandwidth, reduce load time and reduce latency anywhere in the world.

As a best solution, HOT should look into using HTTP/2 on Nginx to serve the Flask web pages to the clients. As a fallback solution, we could add a GZIP compression module. Either solution will at least halve the download

[2019-09-22 13:55] hunt3ri commented on #1780
Hi @xamanu @ramyaragupathy as part of the API refresh have you though about upgrading to Flask 1.1 and throwing away FlaskRestful.  Flask 1.1 has a few nice improvements and I don't think FlaskRestful is really maintained any more.  I think it would be possible to do gradually.  Let me know what you think?

[2019-09-25 10:31] ramyaragupathy commented on #1789
This also leads to project archive failure. Example:
https://tasks.hotosm.org/project/4908
https://tasks.hotosm.org/project/4772

[2019-09-25 14:46] thadk commented on #1642
See https://github.com/hotosm/tasking-manager/issues/1641

[2019-09-25 18:45] mapconcierge commented on #1789
Thanks! @ramyaragupathy

[2019-09-26 12:37] willemarcel commented on #1872
Starting the work on :skull: dark mode with https://github.com/hotosm/tasking-manager/pull/1876

[2019-09-28 09:33] clairedelune commented on #1715
I'm facing the same issue with this project that I had created and cannot edit anymore: https://tasks-assisted.hotosm.org/project/56

[2019-09-29 15:14] russdeffner commented on #1715
I would not call this rare anymore, seems like every couple days we get a report of this happening and potentially a lot more are happening but the project creator (and random person receiving the project) do not notice as there's no indication as was witnessed during the live demo at the HOT Summit.

Fixing 6758 - is assigned to https://tasks.hotosm.org/user/Isaim but originally created by https:

[2019-09-30 04:49] naveenpf opened #1878 "Send mail requires html support"
![image](https://user-images.githubusercontent.com/12662835/65850247-bf2e5000-e36b-11e9-8a13-0620501e6f5e.png)

[2019-09-30 06:11] willemarcel opened #1879 "Save user's profile picture URL when user logs in"
When the user register or logs in on OSM, store on the user's database entry the URL of his profile picture on OSM, that way we can exhibit it on some new frontend views.

Also update the `/api/v2/users/{userid}/` and `/api/v2/users/queries/{username}/` endpoints to return that information.

[2019-09-30 06:31] willemarcel commented on #1879
We could also include the gender field on the user model: https://github.com/hotosm/tasking-manager/issues/1372

[2019-09-30 14:35] ramyaragupathy opened #1881 "New notifications endpoint"
From https://github.com/hotosm/tasking-manager/issues/1644

[2019-09-30 14:40] willemarcel commented on #1843
Missing:
- [ ] Add filters
- [ ] Improve task selection on map (allowing expert mode users to select multiple tasks and unselecting when the user clicks two times on the task.
- [ ] add buttons on the task list
- [ ] select task when user clicks on the task item on the list
- [ ] replace editor dropdown by a horizontal selection button list

[2019-09-30 14:44] willemarcel opened #1882 "Add events section to homepage"
It's not a priority, but one of the actions we need on a second stage of the redesign is a component listing the events. We need to decide where we get the data from and some other aspects.

Design reference: https://projects.invisionapp.com/share/WTRWOQ6Y6RQ#/screens/362186631

[2019-09-30 14:45] #1646 closed

[2019-09-30 15:04] #1748 closed

[2019-09-30 16:42] dakotabenjamin opened #1883 "Review infrastructure needs for redesign release"
Before the testing release of the redesign, we should try to prepare for changes to infrastructure arising from the redesign and implement infra improvements that would help maintain smooth operation of TM going forward. From the discussion at today's meeting, here are some thoughts to start and we can flesh out priorities and details:

- releasing the test app on a separate stack
   - consider co

[2019-09-30 19:36] willemarcel commented on #1630
@thadk I agree with the first 3 topics.

About the MapboxGL issue, I like the idea of componentizing it.

About the lazy loading, I don't like the idea. @xamanu asked us to depend as less as possible on external requests. As the bundle is loaded just one time, I don't see it as a problem.

[2019-10-02 12:59] xamanu commented on #1883
The proposed url for the testing instance is: `tm4.hotosm.org`

[2019-10-02 13:02] xamanu commented on #1882
Yes, events is a challenge. Especially we don't want to open up yet another space for events. For now I would close this and see whether this was a good design idea or is really requested by the users.

[2019-10-02 13:02] #1882 closed

[2019-10-02 13:04] xamanu commented on #1878
This is connected to #1377 and #1378

[2019-10-02 13:05] xamanu commented on #1873
Thanks for the input, yes I very much agree. Let's tackle this together with the teams frontend work for the version 4.

[2019-10-02 13:26] xamanu commented on #1111
I would like to add to this the idea of maintaining instructions on the OSM wiki, within data items, that are machine readable and can be pulled in by the Tasking Manager. This could potentially update the instructions on older projects, too.

[2019-10-02 13:30] xamanu commented on #1606
Campaigns and users shouldn't have a direct connection. Campaigns are connected to projects, and users might take tasks of projects that are associated under some campaigns. I'm going to close here.

[2019-10-02 13:30] #1606 closed

[2019-10-02 13:31] xamanu commented on #1607
Campaigns and users shouldn't have a direct connection. Campaigns are connected to projects, and users might take tasks of projects that are associated under some campaigns. I'm going to close here.

[2019-10-02 13:31] #1607 closed

[2019-10-02 13:45] geomantic opened #1887 "How to modify text on TeachOSM tasking mgr?"
Because it's a fork of the HOT tasking manager, the language on the TeachOSM tasking manager talks about HOT, rather than educational applications of OpenStreetMap. For example, on the language on the splash screen is pretty specific to HOT, but we (TeachOSM project) would like to update to reflect project priorities/mission.

How best to accomplish?

[2019-10-02 13:51] xamanu commented on #1875
@eternaltyro is looking into this. Please report here. Thanks.

[2019-10-02 13:54] xamanu commented on #1789
This has been merged into the `develop` code base and was added to our deployment plan for version 4. Then it will be live.

[2019-10-02 13:56] xamanu commented on #1715
Raised priority here.

[2019-10-02 13:57] xamanu commented on #1282
This might be fixed with the recently merged #1863. It can be tested locally and on staging.

[2019-10-02 14:20] xamanu commented on #1596
We track things here: https://github.com/hotosm/tasking-manager/projects/3

[2019-10-02 14:27] xamanu commented on #1495
@ramyaragupathy, do we have the UI part here to change the preselected country on a project?

[2019-10-02 14:36] xamanu commented on #1440
This is related and can be tackled together with #1375

[2019-10-02 14:37] xamanu commented on #1470
This has been done some months ago and was confirmed. Closing here.

[2019-10-02 14:37] #1470 closed

[2019-10-02 15:58] xamanu commented on #1610
This is now connected to the #1531

[2019-10-02 16:01] xamanu commented on #638
This seems to being fixed with the ongoing redesign work. Leaving it open to check, once it is live.

[2019-10-02 16:08] xamanu commented on #824
Connected to this #1644

[2019-10-02 16:10] xamanu commented on #609
Related to #1257

[2019-10-02 16:10] #609 closed

[2019-10-02 16:11] xamanu commented on #1655
Thanks for the input! This is related to the new notifications page #1644

[2019-10-02 16:14] xamanu commented on #1656
This is related to our new notifications page #1644

[2019-10-02 16:42] xamanu commented on #1801
This is related to #1186

[2019-10-02 16:58] xamanu commented on #1887
Thanks for reaching out @geomantic!

The TM3 doesn't have perfect support for that. Most people achieved it by editing the [design template for the specific page](https://github.com/hotosm/tasking-manager/blob/master/client/app/home/home.html) and then run the frontend generation. This is not perfect and we are trying to improve that for TM4. So you might want to hold on for the next version to do

[2019-10-02 21:57] russdeffner commented on #1111
Great to see this conversation started again. I wonder if the wiki is not the ideal place for the instructions. We need them to be very basic and applicable globally, while allowing for pm's to add the local schema. I could see something like 'standard highway instructions' to be very enticing to edit a whole bunch on the wiki and if they're automatically ported/updated into projects that may not

[2019-10-03 07:46] xamanu opened #1888 "Recreate project creation interface"
The functionality of the current (TM3) project creation interface needs to be rebuild with React and using design components of the redesign.

A deeper look at improving the project creation experience is planned for one of the next minor releases (and outlined here https://github.com/hotosm/tasking-manager/issues/1375)

[2019-10-03 07:47] thadk commented on #1630
@willemarcel Lazy loading is still using local bundles of the npm module on our server. The difference is the Mapbox code would only be loaded when people get to a page that has a map.

[2019-10-03 08:56] xamanu opened #1889 "Localization of projects and notifications"

[2019-10-03 09:21] #1879 closed

[2019-10-03 10:14] xamanu opened #1890 "Teams, orgs and campaigns frontend"
On top of the backend #1858 for teams orgs and campaigns a suitable user interface must be created. @hexiaok is currently looking into this and will provide design input.

[2019-10-03 12:02] xamanu opened #1892 "Login to OSM within popup or modal"
In order to improve user onboarding #1186 the redesign suggests to do the OpenStreetMap registration in a pop-up. Alternatively, if possible, an modal can be used, too.

![image](https://user-images.githubusercontent.com/97706/66125096-a1fcba00-e5d5-11e9-8133-ca7a9ae86248.png)

[2019-10-03 13:33] #1844 closed

[2019-10-03 13:37] willemarcel commented on #1883
@dakotabenjamin @eternaltyro do you think it would be possible to serve the frontend in a static server instead of serving it as a flask view? I think it would reduce the load on the backend server and solve some issues we are having with the serviceWorker intercepting the API requests.

[2019-10-03 14:07] willemarcel opened #1893 "Translate country names on the frontend"
The projects now include information about the country. We need a solution to translate the names of the countries that are coming from the database.

Related to https://github.com/hotosm/tasking-manager/issues/1495

[2019-10-03 16:38] JorgeMartinezG opened #1894 "Cannot execute migrations for staging deployment"
Per chat with @dakotabenjamin and @thadk. Migration script returns the following error within staging server:

```ascii' codec can't decode byte 0xc3 in position 5067619: ordinal not in range(128)```

This error is present within migration file `migrations/versions/0eee8c1abd3a_.py", line 60`

[2019-10-04 01:14] geomantic commented on #1887
@xamanu thanks for that. We'll get started on content and evaluate level of effort for editing the template. I'll make a point of checking in over on the #tskg-mgr channel, too.

[2019-10-04 01:19] eternaltyro commented on #1875
I think it's a good idea to have HTTP/2 support and GZIP compression. Doing these will definitely improve page load speeds. Google Pagespeed Insights seems to agree: https://developers.google.com/speed/pagespeed/insights/?url=tasks.hotosm.org

[2019-10-04 14:30] willemarcel opened #1897 "Define UX on some project/tasks/users scenarios"
Define how the interface should behave when
- [ ] user is not allowed to contribute to a project (because of project permissions, user level or user status)
- [ ] task status doesn't allow any action

[2019-10-06 20:46] fitoria commented on #1826
Checked this one and the backend currenlty does not have any restrictions on what it does receive, right now the issue is on the react router [Redirect](http://knowbody.github.io/react-router-docs/api/Redirect.html) component that does not allows external domains and just paths within the same app.

[2019-10-07 07:27] #1894 closed

[2019-10-07 09:20] willemarcel opened #1901 "Rename project model and DTO fields"
Some fields on Project model and DTO are not expressing what they actually do, so @xamanu and I discussed about what would be a better name to them.

`enforceMappingLevel` => `restrictMappingLevelToProject`
`enforceValidationRole` => `restrictValidationRole`
`allowNonBeginners` => `restrictValidationLevelIntermediate`

[2019-10-07 09:30] willemarcel opened #1902 "Check if user level is able to validate on backend"
We have a [function on the backend](https://github.com/hotosm/tasking-manager/blob/develop/server/services/project_service.py#L210) that checks if the user is allowed to validate on a project, but it is not considering the `allowNonBeginners` option on the project.

`allowNonBeginners` field will be renamed on https://github.com/hotosm/tasking-manager/issues/1901

[2019-10-07 13:16] xamanu opened #1903 "New content"
In the new redesign some static pages need to be rewritten:

* Learn to map and learn to validate: https://projects.invisionapp.com/share/WTRWOQ6Y6RQ#/screens/362222475
* About: https://projects.invisionapp.com/share/WTRWOQ6Y6RQ#/screens/362688202
* Help: https://projects.invisionapp.com/share/WTRWOQ6Y6RQ#/screens/362688368
  * I am a new mapper
  * I am a new validator
  * I am a project manager

[2019-10-07 15:23] JorgeMartinezG commented on #1849
@xamanu this issue should be closed since it is included within #1854

[2019-10-07 15:24] #1372 closed

[2019-10-07 15:36] xamanu commented on #1372
This has been done within the work of the ongoing redesign and merged into the code base for version 4.

[2019-10-07 17:24] #1849 closed

[2019-10-08 14:49] #1901 closed

[2019-10-08 15:08] #1902 closed

[2019-10-09 04:57] willemarcel opened #1907 "Make private project only accessible by allowed users and ADMIN"
By chat with @xamanu, we thought about making everything behind `/api/v2/projects/<id>/` only accessible to the `allowedUsernames` and to the `ADMIN` role users.

Return 401 status code error if request is not authenticated and 403 if the user has not permission to access the endpoint.

[2019-10-09 08:24] willemarcel opened #1908 "Fix percentMapped and percentValidated counts"
[That project](https://tasks.hotosm.org/project/6163) is completely mapped, but it's returning 91% mapped and 96% validated (`percentValidated` could not be bigger than `percentMapped`)

Another improvement I propose is to consider the `BADIMAGERY` tasks as mapped and validated on that count. So the user can know when some work is missing on a project or not.

Do you agree, @xamanu ?

[2019-10-09 08:38] willemarcel commented on #1908
I just noticed that we have the `percentBadImagery` information, so I think we don't need to count badimagery on the other fields. It would be good verify if the rounding is working well and can not cause uncertainty about if a project is complete

[2019-10-09 09:47] xamanu opened #1909 "Basic embedding of iD in TM"
We want iD to become part of the Tasking Manager: #1358

In order to work on the integration two possible ways of embedding (possibly via an iframe) should be possible:

* Embed main iD as an iFrame.
* Create a packaged (maybe containerized) setup for a self-hosted iD.

[2019-10-09 09:55] xamanu opened #1910 "Share login with self-hosted iD"
After supporting iD to be self-hosted (#1909) in a next step it is good to reduce the logins needed to get started with mapping in order to provide a seamingless experience to the users.

After logging into the Tasking Manager a user should be able to start mapping on the embedded iD without the need to login the editor again.

[2019-10-09 09:56] xamanu commented on #1910
As a first idea it came up to share the oauth key received through the Tasking Manager login with the self-hosted iD through private channels (e.g. docker network).

[2019-10-09 09:58] xamanu commented on #1358
The GSoC project has been finished and the created code is being reviewed by @quincylvania. We talked today and lined out the following steps forward:

* [ ] Review and merge GSoC code - https://github.com/openstreetmap/iD/issues/5856
* [ ] Main iD and self-hosted iD (containerized setup) - #1909
* [ ] Add iD endpoints for interactions - TBD
* [ ] One Login through TM for self-hosted iD - #1910
*

[2019-10-09 12:59] willemarcel commented on #1908
@xamanu @russdeffner I checked that TM3 allows me to validate a task that was set as `BADIMAGERY`, it even allows me to validate a task that was set as BADIMAGERY by me.

Should we consider that all `BADIMAGERY` tasks needs validation? Do you think we should change something on this flow?

[2019-10-09 15:39] russdeffner commented on #1908
@willemarcel - thinking about this a bit more... yes, it's probably ok to be able to 'invalidate' your own bad imagery task; but with restrictions to validator status projects - this maybe isn't necessary and bad imagery tasks should be treated as a 'mapped' task only reviewable by someone else.

Also, I'm not sure my initial thought was 'fully correct'. I don't think we want a bad imagery to go t

[2019-10-09 16:35] willemarcel opened #1912 "Make basemap configurable"
Make basemap layer configurable and add a layer on the project detail page with the borders of the country where the project is located. The borders needs to be loaded from the basemap layer, based on open standards and the codebase needs to be able to work on different vector tiles providers

It would be good to make all the colours used on other layers (icons, tasks status colours) easily custom

[2019-10-09 17:50] willemarcel commented on #1521
Fixed with #1913

[2019-10-09 17:50] #1521 closed

[2019-10-09 18:01] willemarcel opened #1914 "Transform the /api/v2/system/authentication/login/ view in an API view"
Currently the`/api/v2/system/authentication/login/` is not an API view, as it's redirecting the user to OSM. Ideally that view should be an authentic API view handling GET and POST requests and returning the token to the users.

Reference of how the OSM authentication works on OSMCha: https://github.com/willemarcel/osmcha-django#how-to-login-using-the-oauth-api

cc @xamanu @JorgeMartinezG

Related

[2019-10-09 19:56] dakotabenjamin commented on #1883
Do you know if that can be served on s3 @willemarcel ?

[2019-10-10 08:23] xamanu commented on #1910
Some more information on this idea:

[2019-10-10 08:32] willemarcel commented on #1908
Thank you, @russdeffner ! I agree with you. So we have to work on this actions:

- [ ] Fix `percentMapped`
- [ ] Fix `percentValidated` and consider `BADIMAGERY` tasks as non mapped in the validation count
- [ ] Disallow a user to validate a task that him/herself set as `BADIMAGERY`

Users will continue to be able to invalidate/reset status of BADIMAGERY tasks even if this status was set by them.

[2019-10-10 08:53] willemarcel commented on #1883
@dakotabenjamin yes, it can! Some tutorials:
https://medium.com/@wolovim/deploying-create-react-app-to-s3-or-cloudfront-48dae4ce0af
https://www.fullstackreact.com/articles/deploying-a-react-app-to-s3/

[2019-10-10 11:36] xamanu commented on #1605
This is part of PR https://github.com/hotosm/tasking-manager/pull/1858

[2019-10-10 15:58] JorgeMartinezG commented on #1909
To update on this issue. I implemented a basic approach and would like some feedback:
1. Cloned id repository locally and installed required modules and dependencies.
2. Compiled id editor.
3. Copied _dist_ folder_.
4. Served folder with python and an _index.html_ file.

The main idea is to use id editor as static folder, just like swagger. Then, within TM, we can create a new route passing the pr

[2019-10-10 16:48] ramyaragupathy opened #1915 "User warning for large project extent"
Our average project size stands at 5500 sq.km, but there are 400+ projects exceeding the average extent. Per chat w/ @willemarcel @dakotabenjamin and @eternaltyro a user warning
should be provided during project creation

[2019-10-10 17:48] xamanu commented on #1915
Yes, good step. Is this a duplicate of https://github.com/hotosm/tasking-manager/issues/1080?

[2019-10-10 20:23] zlavergne opened #1916 "Custom Editor Options"
I'd like to discuss a new feature that will allow Project Managers to add a custom editor endpoint to a project that will be added as an additional option in the dropdown list:
![image](https://user-images.githubusercontent.com/9849118/66603330-2d8fc100-eb69-11e9-8489-8a6ca096bb34.png)

The plan is to add it as a "Custom" option to the editor options in the "Settings" section of the `edit-project`

[2019-10-11 01:25] adrienandrem opened #1917 "Cannot deploy deployment/hot-tasking-manager"
I have trouble trying to set up an instance from the [deployment/hot-tasking-manager branch](https://github.com/hotosm/tasking-manager/tree/deployment/hot-tasking-manager).
First I set the consistent branch name in [devops/docker/tasking-manager](https://github.com/hotosm/tasking-manager/blob/deployment/hot-tasking-manager/devops/docker/tasking-manager/Dockerfile#L15)
Then launching `docker-compos

[2019-10-14 14:15] russdeffner commented on #1282
This project got it really bad: https://tasks.hotosm.org/project/6981

[2019-10-14 14:18] willemarcel commented on #1909
We could evaluate it together with https://github.com/hotosm/tasking-manager/issues/1883

[2019-10-14 18:59] #1602 closed

[2019-10-15 11:55] hexiaok commented on #1244
I propose two options of flows for 3 different groups of users:
**OPTION 1**
UI ref:
<img width="668" alt="Screen Shot 2019-10-15 at 7 41 13 PM" src="https://user-images.githubusercontent.com/26889634/66829106-388d8b80-ef85-11e9-9842-1d47fd986c62.png">

[User Group A--existing OSM & TM users]:
1. click <log in>
2. direct to OSM
3. grant access and back to TM automatically from OSM
4. explore TM  &

[2019-10-15 12:27] xamanu commented on #1244
I like to ask the user the question about having an OSM account or not. Much more explanatory than (log-in and sign-in).

Thanks for sharing the user flow steps for the three groups. Just a quick note: With the new design we will introduce a welcome page after login (#1829) that allows new users to get started easily (see description in https://github.com/hotosm/tasking-manager/issues/1645#issueco

[2019-10-15 12:59] willemarcel commented on #1244
@hexiaok I prefer the option 1.

I think the login button can always lead the user to the OSM login page.

My proposal for new users:
When the user clicks on the "Sign up" button, show a modal explaining that Tasking Manager is coupled with OpenStreetMap and uses it as authentication and ask the user if they already have an OSM account. (It can be unclear to new users what is OSM and that they nee

[2019-10-15 13:30] JorgeMartinezG commented on #1244
@hexiaok I also prefer option 1. Option 2 involves an additional step which is opening the dropdown menu. i agree with @willemarcel  comment. Another option is to include a help paragraph as tooltips when hovering the buttons, explaining the differences between login and signup.

If the user hits the sign-up button, then the modal pops up to write the email address.

[2019-10-15 13:30] xamanu commented on #1917
Hi @adrienandrem, I suggest you to take the `master` branch. For both the checkout and the branch name in the `devops/docker/tasking-manager`.

[2019-10-15 13:37] xamanu commented on #1916
Yes, I think that makes the TM much more flexible. Maybe we just want to show the possibility to add those custom endpoints only for project managers, that have the "Expert mode" switched on.

[2019-10-15 13:41] russdeffner commented on #1916
I think this is good as long as it still allows the PM the ability to only allow specific editors. In project creation there is already the check-boxes to display/not-display editors in the drop-down. So this custom would also need populated there.

[2019-10-15 15:47] russdeffner commented on #1916
@zlavergne - that, but more along the lines of... if I only want mappers using the custom editor or JOSM, that I can still do that in Settings.

[2019-10-15 16:06] adrienandrem commented on #1917
Hi @xamanu, thank you for your help. Trying with `master`, I get the same first two errors, but it might be OK: migration processing attempts while postgresql boots up, I guess.

I still get the 404 error though.

One clue might be the
`WARNING: Connection pool is full, discarding connection: localhost`
printed just before `docker-compose up` ends.

[2019-10-15 20:17] zlavergne commented on #1916
@russdeffner I'll try to have a screen capture of how this will look in a few hours but that's the plan 😄

[2019-10-15 23:29] dakotabenjamin commented on #1282
Another one: https://tasks.hotosm.org/project/7014

[2019-10-16 07:10] matyasbach commented on #1147
Hi!

+1 for _Enable querying by date_, especially for _/stats/project/{project_id}/activity_.

And adding `mappedValid/mappedInvalid` for individual users to _/stats/project/{project_id}/contributions_ would be very helpful (we'd like to show that on dashboard to motivate users not only for quantity but also for quality).

[2019-10-16 10:26] hexiaok commented on #1244
Thanks @JorgeMartinezG @willemarcel agree on Option 1. Please see the updated user flow here:
![Tasking Manager onboarding](https://user-images.githubusercontent.com/26889634/66910992-3a695480-f042-11e9-9002-560226f04862.jpg)
#1645

[2019-10-16 14:23] qeef opened #1920 "TM architecture"
I think that the architecture of TM is wrong. I think that the proper design is:
- Separate backend and frontend repositories.
- Make backend REST API only.
- Make backend asynchronous.

Is anyone considering the architecture review?

[2019-10-16 14:58] xamanu opened #1921 "Log user activities"
This came up several times. It would be good to track user actions to know who did what on the system. Especially when it comes to assign user roles, or creating other users it can be helpful to understand more about the context.

Besides actions of users, @russdeffner can you think about other parts that need more logging?

[2019-10-16 20:43] qeef commented on #1920
I am interested in this one. Which valid design patterns do you (as HOT TM dev team) consider?

There are few reason, from my point of view, for splitting:
- Different dev teams for Python and JavaScript.
- Different performance measurements.
- Different designs needs -- UI vs. API.
- There must be standardized communication between backend and frontend.
- Multiple client applications for differen

[2019-10-17 06:59] tobylyte commented on #1282
Yes, https://tasks.hotosm.org/project/7014 is suffering with this.

![image](https://user-images.githubusercontent.com/3061722/66984995-c36ca400-f0b3-11e9-9fb3-fd607c5a4335.png)

Some of the split tasks are moved to West Chad
e.g. https://tasks.hotosm.org/project/7014?task=505#bottom
![image](https://user-images.githubusercontent.com/3061722/66984603-ea76a600-f0b2-11e9-9903-b45d9677a346.png)

[2019-10-17 08:39] xamanu commented on #1920
By the way, we have a pretty clear separation of frontend and backend in different directories. And: it works well.

Yes, this is true for a huge project. But in our case, we have only one team and we want people that contribute to the Tasking Manager to understand the application as a whole. Once we have two teams working side-by-side, I agree, it might become interesting to consider a split of t

[2019-10-17 12:03] qeef commented on #1920
Thanks, @xamanu for the information. I think that I have no more questions regarding project architecture.

I do not agree with all the decisions but I understand those had to be made.

Anyway, I am closing the issue as it is a question and I have my answers. Thanks!

[2019-10-17 12:03] #1920 closed

[2019-10-17 20:46] JorgeMartinezG commented on #1909
**Update**

The current work done has been pushed to: https://github.com/hotosm/tasking-manager/tree/feature/1909-id-embed

**Notes**
- Id editor library is served with Flask. A new endpoint has been included which reads oauth parameters and renders a html template.
- I included a quick fix to service-worker.js which enables to bypass server endpoints. Needs further review.
- If an user is not log

[2019-10-18 06:13] hexiaok commented on #1890
@xamanu Here provide 3 entry-point options for users to explore teams:
**Option 1**
Use tabs & `explore projects` and `explore teams` in one screen
Pros: users can see the content of `projects` and `teams` at the same time
Cons: the list of projects is already a long one and people want to use this long list. And it is also one of the heaviest queries to the database. So adding up another one migh

[2019-10-20 19:29] verdy-p commented on #1890
Option 2 seems better:
- most users will first see the projects, and that's where we need the most people: that's where we can promote the most active projects (other projects from the same team can be found in each project)
- adding one more click will be fine for project teams, that have more limited goals, and generally already have their own tracking page that could point directly to their own

[2019-10-20 19:33] verdy-p commented on #1890
note also: if the user are signed in, then he may have preferences to the content of this page, where they would like to pin some of their interesting feeds, just above the default randomly selected content still displayed below: users will then focus rapidely to what interest them and can change their mind later. Some "pinnable" feeds could be project tags or the result of their prefered search s

[2019-10-20 19:39] verdy-p commented on #1875
Also with browser "Accept" MIME headers, we could serve better image formats than the default GIF/PNG/JPEG. There are newer more compact formats supported (notably WebP, except Apple's browsers but its support is about to be added by Apple and already exists in beta versions of their browsers for MacOS or iOS). This is already used by social networks, and photo sharing sites.
Note that even JPEG,

[2019-10-21 11:10] xamanu opened #1926 "Interface for interests"
After introducing type of action and interests to users #1640 and #1781 we need a way to manage those categories. I would suggest to build a small "Manage interests" page on the UI, that is available to admins only. There admins can add and remove interests one by one.

* A new interest should always increase the <interest_id> to avoid clashes.
* Existing interests should show how many projects an

[2019-10-21 11:15] xamanu opened #1927 "Categorize projects by interests"
After introducing the interests feature #1781, we are going to be able to get a list of projects with one category with the classification done manually by volunteers. This is going to be a CSV file and this issue is write a script to import this CSV file into the database and associate the projects to the interests categorized in the spreadsheet.

[2019-10-21 11:16] xamanu commented on #1927
This is currently on hold, until the data is going to be available.

[2019-10-21 11:16] xamanu commented on #1927
Assigned to me to get the data asap.

[2019-10-21 11:17] #1613 closed

[2019-10-21 14:55] ramyaragupathy commented on #1495
Yes - this includes both frontend and backend

[2019-10-21 15:17] xamanu commented on #1875
@eternaltyro what are the direct measures you recommend we implement to improve performance?

[2019-10-21 16:17] thadk commented on #1875
Thanks for setting this up @eternaltyro. For some reason the resources served by Flask seem not to be compressed by GZIP e.g.:
![image](https://user-images.githubusercontent.com/283343/67223132-b5dd5400-f3fc-11e9-80c3-9db53f1564a6.png)

[2019-10-22 09:31] xamanu opened #1930 "Improve backend API"
This is a follow up to #1780.

- [ ] Rely on Flask 1.1  instead of unmaintained FlaskRestful.
- [ ] RESTify all endpoints
- [ ] Improve performance: Profiling space & time complexity
- [ ] Verify Data units (metrics -area, count): Make sure the data from different endpoints return numbers in the right units. Example, area measurement is expected in sq.kms, but the endpoint returns data in a differ

[2019-10-22 09:32] xamanu commented on #1780
I put all open points of this into the follow up issue #1930 and close here as the relevant first important step has been successfully realized.

[2019-10-22 09:32] #1780 closed

[2019-10-22 12:10] #1628 closed

[2019-10-22 12:11] #577 closed

[2019-10-22 12:17] xamanu commented on #1686
@JorgeMartinezG Can you point to the PR that needs review on that?

[2019-10-22 12:20] xamanu commented on #1686
I think it is this one: https://github.com/hotosm/tasking-manager/pull/1660
Is there anything more to do here. Or can this issue be closed?

[2019-10-22 12:21] xamanu commented on #1603
Is this still relevant or can be closed?

[2019-10-22 12:30] xamanu commented on #1618
As per conversation with @quincylvania we are sketching out this communication with iD.
Currently we see this as an endpoint that allows the TM to trigger "saving" on the iD.

* If this is successful the changeset id is passed in the response object of this call.
* In case of errors the response object should state a fail.
* In case of warnings this should be given back to the TM, so we can ask in

[2019-10-22 13:02] JorgeMartinezG commented on #1686
@xamanu No. It is ready to be closed

[2019-10-22 13:09] eternaltyro commented on #1875
@verdy-p The image format suggestion is good. I think there are services that offer image optimization to reduce the size of images without losing (perceived) quality for site assets.

@thadk @xamanu I read up a bit about this and it seems gunicorn / flask can't do static compression efficiently. The recommended approach is to have nginx reverse proxy the requests from gunicorn bound to localhost

[2019-10-22 13:17] #1686 closed

[2019-10-22 18:41] verdy-p commented on #1875
Image size reduction is already used by Wikimedia with their thumbnail
server for Mediawiki (for now it creates only JPEG and PNG, but may use
WebP as its support is already very wide, except for now the default Apple
browsers for iOS and MacOS (but they are coming).

The thumbnail server can support the "Accept:" MIME headers to return the
cached thumbnails, built dynamically (if a thumbnail is n

[2019-10-22 21:55] JorgeMartinezG commented on #1892
An update in this issue. The popup window should be created in the client side. Right now Tasking Manager performs the oauth authorization in the server side using flask-oauthlib. It would involve modifying the authorization workflow in tm, including the token verification, since the token which is used to check if an user is logged, is created by TM not OSM.

MapCampaigner https://github.com/hoto

[2019-10-22 22:54] #1630 closed

[2019-10-22 23:16] AmarOk1412 commented on #1917
@xamanu

I just tried on a fresh device:

[code]

In `devops/docker/tasking-manager/Dockerfile` I changed the branch to `master`

In my `tasking-manager.env` I only changed the following lines (infos from https://www.openstreetmap.org/user/YYYYY/oauth_clients/XXXX)
[code]

Then `docker-compose up -d`. `docker-compose logs` show migrations errors (but I think it's because there is nothing to migrat

[2019-10-23 16:41] willemarcel opened #1931 "Allow to filter tasks by the level of the users who mapped it"
add a new filter to the task selection page that would allow to filter tasks by the level of the users who mapped it

[2019-10-24 13:42] JorgeMartinezG commented on #1892
To make an update in this issue, work in progress is currently done within this branch:

https://github.com/hotosm/tasking-manager/tree/hotfix/1801-1914-popup-login

The api endpoints have been modified to return oauth params. The client now renders the login and consent in a popup window. The missing part is to generate the final auth token using the verifier got from OSM url. However, since ther

[2019-10-24 16:46] willemarcel commented on #1892
It's such a good news. Thanks, @JorgeMartinezG !

[2019-10-24 19:09] don-vip commented on #1683
OK I found out the new link: https://tasks.hotosm.org/api/v1/license/6

[2019-10-24 19:09] #1683 closed

[2019-10-29 11:57] xamanu commented on #1715
Happened again: https://github.com/hotosm/tasking-manager/issues/1715
I reverted the ownership.

[2019-10-29 14:17] russdeffner commented on #1921
As recently came up; logging user roles needs to include user blocks so we can identify if someone was blocked for a reason or accident if they we suddenly get a question from them as to why they can't take any actions on the TM.

[2019-10-29 15:12] willemarcel commented on #1826
Closing this, as @JorgeMartinezG is solving it in https://github.com/hotosm/tasking-manager/issues/1914

[2019-10-29 15:12] #1826 closed

[2019-10-29 17:19] willemarcel commented on #1930
A detail I pointed to @ramyaragupathy yesterday:

- [ ] `/api/v2/projects/{project_id}/tasks/actions/lock-for-validation/` is missing the task id param

Maybe we should rename `/api/v2/projects/{project_id}/tasks/actions/unlock-after-mapping/{task_id}/` to `set-as-mapped`, unlock seems like you're going back to `ready` status not advancing to `mapped`

[2019-10-29 21:48] willemarcel opened #1936 "Make user settings form functional"
We need:

- [x] Make the settings form work properly (send the PATCH request to all modified fields)
- [x] Add the switch toggles to the boolean fields.

[2019-10-29 21:49] willemarcel commented on #1645
Closing this. The missing details are registered on https://github.com/hotosm/tasking-manager/issues/1936

[2019-10-29 21:49] #1645 closed

[2019-10-29 21:57] willemarcel opened #1938 "Highlight tasks locked by user"
On the task selection page, if the current user has one task locked for mapping or validation, highlight that information on the map and on the task list. We don't need to restrict any user action (the backend will do), just show that information on the map.

Suggestions, @hexiaok , @xamanu ?

[2019-10-30 12:13] willemarcel opened #1939 "Add task observation actions"
![Screenshot_2019-10-30 HOT Tasking Manager](https://user-images.githubusercontent.com/666291/67857341-4ef32580-faf5-11e9-9b4f-85314418d527.png)

The eye icon button should show links to OSMCha (and overpass) allowing the user to inspect the changes made on the map.

This eye button should be visible only to mapped/validated tasks.

[2019-10-30 12:16] willemarcel opened #1940 "Switch task list to the page of the selected task"
When a user clicks on a task on the map, make the list switch to the page where that task is present, except when we have some filter and the task is not included in the filter results.

[2019-10-30 12:38] willemarcel opened #1941 "Add legend to tasks map"
The task maps (both on task selection and on the project detail pages) needs a legend.

More information on https://github.com/hotosm/tasking-manager/issues/1257

[2019-10-30 12:47] willemarcel opened #1942 "List contributors on the project detail page"
![image](https://user-images.githubusercontent.com/666291/67859331-202b7e00-fafa-11e9-83c8-5904dbaf2089.png)

If the user has not the profile picture on the database entry, show the initials of his name or his username if the user has not filled the name field yet.

[2019-10-30 13:10] willemarcel opened #1943 "Add section to list comments and questions of the project"
![image](https://user-images.githubusercontent.com/666291/67859573-bcee1b80-fafa-11e9-96bf-a366bfc0597e.png)

It's located on the project detail page and needs also to allow the user to post a new comment/question.

[2019-10-30 14:24] willemarcel opened #1944 "Improvements to project list search bar"
- [x] Use react-select component on the organization field
- [ ] Use dropdown on the `Sort by` component
- [ ] Change sort by options to:
  - New projects first
  - Old projects first
  - Beginner projects first
  - Advanced projects fist
  - Urgent projects first
  - More active projects first

`More active projects` corresponds to `last updated`

- [x] The mapping types filter is not highlightin

[2019-10-30 14:29] willemarcel opened #1945 "Create "My projects" page"
![09_User Profile_my projects_03](https://user-images.githubusercontent.com/666291/67866914-65ef4300-fb08-11e9-956f-6039e0703c45.png)

[2019-10-30 14:42] willemarcel opened #1946 "Allow multiple tasks selection to validation"
![image](https://user-images.githubusercontent.com/666291/67867876-d6e32a80-fb09-11e9-81e1-1e1f0645edb6.png)

If the multiple selection toggle is active, when the user select a second (or subsequent) task it will keep the first selected tasks.

This feature should be accessible only to `expertMode` users that can validate a project.

[2019-10-30 14:48] willemarcel commented on #1843
Closing this. I opened some other issues to the details that are missing on mapping workflow.

[2019-10-30 14:48] #1843 closed

[2019-10-30 14:49] willemarcel commented on #1621
Closing this. I opened some other issues to the details that are missing on validation workflow.

[2019-10-30 14:49] #1621 closed

[2019-10-30 17:52] Geocruizer opened #1948 "custom imagery offset"
Is it possible to create a custom imagery offset and build that into a project as default?  I'm running into issues with mappers using different imagery offsets and am hoping this could be an easy solution.  Maybe it should be built into iD rather than TM?

[2019-10-31 01:46] willemarcel commented on #1893
Possible source of country names data:

- https://github.com/nvkelso/natural-earth-vector/blob/master/CHANGELOG
- https://github.com/Tommytrg/country-names-list/blob/master/countries.json

We need to check which of them matches better with the languages we currently support

[2019-10-31 11:43] xamanu commented on #1948
Thanks @Geocruizer. This is a good feature request. Currently iD is not offering to pass variables for defining an offset, but it would be a good feature to add - I created an issue on the side of iD (https://github.com/openstreetmap/iD/issues/6999). Once iD supports it we can create the counterpart on the Tasking Manager.

[2019-10-31 13:18] xamanu commented on #1948
Just got feedback that iD does support an `offset=east,north` url parameter.
https://github.com/openstreetmap/iD/blob/master/API.md#url-parameters

[2019-10-31 13:38] #1892 closed

[2019-10-31 16:22] ramyaragupathy opened #1950 "isExpert vs expert_mode in user model"
Spotted 2 related fields in user model while reviewing #1913. This is misleading and looks like duplicate fields.

cc @willemarcel @xamanu

[2019-10-31 18:27] willemarcel commented on #1950
`expert_mode` user field was added some months ago on https://github.com/hotosm/tasking-manager/blob/27c83b5f02eafab5150688dbd51dbbed8f55e7ec/migrations/versions/6612e4d6524c_.py
I don't remember why I asked for it on https://github.com/hotosm/tasking-manager/issues/1834

Should we delete it and update the code to use `is_expert`?

[2019-11-01 04:05] russdeffner commented on #1938
Wille, just wondering what it might look like/what we need to do for a mapper/validator that selects a task on one project but then navigates to another project all together? They obviously should not be able to select another task there, but how will that be visualized to them - an 'error' message? if so, it should specify what project they have a task locked on so they can easily navigate back t

[2019-11-01 10:04] RAytoun commented on #1948
Ouch! Would be a great idea but unfortunately due to the different orthocorrections across any one imagery tile the offsets will vary across the area so a single one-size-fits-all may be a problem in itself.

[2019-11-01 12:35] willemarcel commented on #1938
@russdeffner I see some different cases:

If the user is on the project where they have some task locked, highlight the task on the map and task list so the user can notice it.

If the user is not on the project page, we can always show it on the user menu, something like:
![image](https://user-images.githubusercontent.com/666291/68024876-1b95cf80-fc8a-11e9-900f-037ea0e12027.png)

but replacing th

[2019-11-02 02:02] willemarcel opened #1953 "api/v2/users/actions/set-user/ doesn't allow to clear a field"
If I send a PATCH request with `{"name": ""}` or {"name": null} as the payload, the API returns a 200 status code, but doesn't update the name field. The same happens with other fields.

It would be good to have a better error reporting system. For example, if I send the payload with a unsupported content-type, it returns 200, but didn't update the user.

[2019-11-02 22:52] verdy-p commented on #1893
Why not country names that are in Wikidata (just need their QID, easy to
collect, and already implemented in data modules or list of countries on
Commons, including for nav templates).
At least they are reviewed constantly for most active languages, and thye
have a wider range of supported languages than those vetted in CLDR (which
also uses Wikidata as a source, and Wikidata also synchronizes the

[2019-11-04 09:19] willemarcel commented on #1939
Another good function to add to that button would be to zoom to task.

[2019-11-04 09:33] willemarcel commented on #1893
@verdy-p We would like to use a solution that can work in a environment without internet access, so we need to have that data on our system. It seems the natural-earth-vector already has a sync with wikidata implemented.

[2019-11-04 10:37] xamanu opened #1954 "Deprecate tasks-assisted"
After launching TM4 the tasks-asissted instance shall be moved into the main HOT Tasking Manager:

* [ ] Export and import projects and tasks from Tasks-Assisted into HOT TM. Probably under a certain campaign and pointing to the RapiD editor.
* [ ] Redirect from tasks-assisted.hotosm.org to tasks.hotosm.org

[2019-11-04 15:50] JorgeMartinezG commented on #1914
@xamanu this issue could be closed. The fix was sent within #1937

[2019-11-05 08:11] xamanu commented on #1915
@JorgeMartinezG Can this be included in the TM4 project creation (https://github.com/hotosm/tasking-manager/issues/1888) you are currently working on?

[2019-11-05 08:13] xamanu commented on #1080
@JorgeMartinezG Can this be included in the TM4 project creation (#1888) you are currently working on?

[2019-11-05 09:08] xamanu commented on #1605
This has been merged. Closing here.

[2019-11-05 09:08] #1605 closed

[2019-11-05 09:11] xamanu commented on #1591
We developed a [click-dummy for teams and organizations](https://projects.invisionapp.com/share/7PUM47HQ3H9#/screens).

[2019-11-05 09:24] xamanu commented on #1917
Hey, please set `TM_DEFAULT_CHANGESET_COMMENT` to something unique and it shall work.

[2019-11-05 09:49] xamanu opened #1955 "Review site structure"
The current structure and the one proposed for the redesign are not entirely consistent. Let's look again into this and come up with a good site structure for the Tasking Manager.

[2019-11-05 09:51] xamanu commented on #1955
@hexiaok has been creating some flow charts with a proposal for a new structure

![Tasking Manager IA -1-Non-logged-in-users](https://user-images.githubusercontent.com/97706/68197238-ccb1a800-ffb1-11e9-93c7-a27122621df0.jpg)
![Tasking Manager IA -2-Mappers](https://user-images.githubusercontent.com/97706/68197248-cfac9880-ffb1-11e9-90e4-1d439bea7226.jpg)
![Tasking Manager IA-3-Org-Admins](https://

[2019-11-05 09:52] xamanu commented on #1955
Adding @willemarcel, to change the site structure when convenient. Thanks.

[2019-11-05 09:58] xamanu commented on #1890
@hexiaok developed a [click-dummy for teams and organizations](https://projects.invisionapp.com/share/7PUM47HQ3H9#/screens).

[2019-11-05 10:01] xamanu commented on #1531
I want to report back some progress:

* The backend work from @zlavergne and @uwaiszaki has been merged into the code base #1858
* The frontend and user flow has been designed by @hexiaok and we have a [click-dummy](https://projects.invisionapp.com/share/7PUM47HQ3H9#/screens) for you to check out.

[2019-11-05 10:03] xamanu commented on #1890
I suggest to close this issue as a duplicate of #1591

[2019-11-05 10:03] #1890 closed

[2019-11-05 10:05] #1531 closed

[2019-11-05 10:21] willemarcel commented on #1955
Looks perfect for me! Another entry point for teams will be on the `My teams` page. We are planning to add a section on that page that lists other teams.

[2019-11-05 10:35] canunen opened #1956 "Restrict Imagery layers on iD Editor"
The existing implementation allows project managers to force-load certain imagery layers as default on iD editor, but still novice users switch to other imagery from time to time, resulting in inaacurate data if imagery is out-of-date.

Is it possible to hide other imagery layers in iD's background settings and only make the force-loaded imagery available to the editors?

[2019-11-05 10:40] xamanu commented on #1948
Maybe this setting can only make sense when restricting the imagery layers available, as suggested in https://github.com/hotosm/tasking-manager/issues/1956 ?

[2019-11-05 12:12] xamanu commented on #1956
iD editor doesn't offer such a possibility. I created an issue on the iD repository (https://github.com/openstreetmap/iD/issues/7018) after this get through we can do the part on the side of the TM.

[2019-11-05 12:16] xamanu commented on #1637
In the new redesign some static pages need to be rewritten:

* Learn to map and learn to validate: https://projects.invisionapp.com/share/WTRWOQ6Y6RQ#/screens/362222475
* About: https://projects.invisionapp.com/share/WTRWOQ6Y6RQ#/screens/362688202
* Help: https://projects.invisionapp.com/share/WTRWOQ6Y6RQ#/screens/362688368
  * I am a new mapper
  * I am a new validator
  * I am a project manager

[2019-11-05 12:16] xamanu commented on #1903
Closing here as a duplicate of https://github.com/hotosm/tasking-manager/issues/1637

[2019-11-05 12:16] #1903 closed

[2019-11-05 14:10] ramyaragupathy commented on #1950
Per chat w/ @willemarcel  we're going ahead `is_expert`. I will make a PR to remove the `expert_mode`

[2019-11-06 03:47] AmarOk1412 commented on #1917
yeah I set it in my tasking env after my comments, this doesn't change anything, was just a warning (and @adrienandrem did it too)

[2019-11-06 08:37] hexiaok commented on #1257
Please see the proposed map style and layer legends design:
<img width="402" alt="Screen Shot 2019-11-06 at 4 34 40 PM" src="https://user-images.githubusercontent.com/26889634/68281794-5eeda500-00b3-11ea-9162-4271859087bc.png">

For layer name:
--change "not for mapping" to "blocked for mapping", also suggest if we can hide the layer as contributors are not suggested to work on it;
--change "locke

[2019-11-06 10:57] qeef opened #1958 "Feedback from Meeting Missing Maps CZ & SK"
There was a Meeting Missing Maps CZ & SK -- the meeting of core teams that organize mapathons over Czechia and Slovakia -- this weekend [[1](https://openalt.cz/2019/program_detail.php#event_24)]. In the end, we discussed the Tasking Manager and related problems. I want to share the results here:
- The validation permissions do not work. I think it was project `6980` or `6981` -- `Mapper level requ

[2019-11-06 14:01] xamanu commented on #1958
Hi @qeef, many thanks for the feedback! Do you think our new teams functionality (https://github.com/hotosm/tasking-manager/issues/1591) will help to overcome difficulties you lined out? We built it in mind with the challenges you are describing here?

[2019-11-06 14:15] xamanu opened #1959 "Switch to animated banner for frontpage"
For the new redesign it was planned to use this banner on the frontpage:

![Banner-Map-a-task](https://user-images.githubusercontent.com/97706/68305601-de717900-009f-11ea-8311-95aab04a664d.gif)

This issue is to include it. Do we need the static image as a fallback until the gif loads?

[2019-11-06 14:39] qeef commented on #1958
Definitely not the 1st and the 3rd one.

Regarding the 2nd one -- I don't think so. There are two main reasons why:
- It looks like teams are related to organizations. It is not our case as our mapping communities are city-based, not organization-based.
- If there are multiple teams managed by their admins, all these teams must be selected in project as validators. This doesn't scale well, as numb

[2019-11-06 16:38] willemarcel commented on #1257
* As I had said earlier, I suggest to remove the project boundary, as it's not a relevant information.
* I think we need a bit more transparency on the tasks layer, and I would make the priority area behind the task layer and not on top of it.
* I don't like the colour of "Not for mapping", I think we are driving the attention of the user to the less important tasks.

[2019-11-06 18:17] jbergmann91 commented on #1257
Can I clarify what the "Blocked for Mapping" and "Assigned to other mapper" functionality is?

[2019-11-06 19:05] willemarcel commented on #1257
@jbergmann91 "Blocked for Mapping" corresponds to "Bad imagery". "Assigned to other mapper" is a functionality available only in the Apple instance. Maybe we will have it on other instances in the future.

[2019-11-06 21:28] xamanu commented on #1257
I agree with @willemarcel's comments.

And I would prefer to switch the icons, to have the human, for somebody is working on it, and the potentially new functionality using the lock, for reserved (assigned) to a user.

Maybe we can also change the wording from "Review needed" to "More mapping needed". Sounds more welcoming to take on for mappers.

And related to @jbergmann91 question, maybe is "bl

[2019-11-06 21:32] xamanu commented on #1958
Yes, this is an interesting requirement, but I think and hope we can cover this by assigning such persons of the cities you are saying as admins to a team, but not as manager for the organization. We just have to make sure that the admins of a team will receive approval requests and can confirm or deny them. I will make sure to include this to the respective issue and report back here.

[2019-11-06 21:39] xamanu commented on #1257
Thinking about this a little bit more radical: why do we need a colour? Can't we just exclude them from the tasks? This would be great from a user design perspective! But it has the downside what a task marked as unmapable disappears and can not be brought back. Continuing the thought, we could bring in some approval queue for the project manager to check on tasks that have been marked unmapable t

[2019-11-06 21:50] xamanu commented on #1958
Regarding 1) I think it is related, because we are changing the way how permissions for validation are given. Instead of the sometimes strange behaving combination of different options, teams are going to be assigned. Not a direct solution, and we have to make sure it works as desired and expressed here by you.

Regarding 3) this is interesting, we are going to roll out some significant infrastruc

[2019-11-06 21:55] verdy-p commented on #1257
instead of a so dark colouring for "blocked for mapping", I could use a
fuzzying ligh grey pattern.
Fuzzying however is not as simple to implement as a simpler alpha layer, as
it requires complx compositing support (not just 1 pixel over 1 and not so
simple to do in CSS, unless the browser has advanced support for "filters",
and otherwise it requires a modern browser support for the canvas).
An ex

[2019-11-06 23:33] zlavergne commented on #1257
Another option could be to make the "blocked for mapping" have half or less of the opacity of the default transparency for a task. It would seemingly disappear without actually being removed in the case of a PM needing to check and revert the status. This wouldn't add additional responsibility on the PM to check a queue to review the tasks.

[2019-11-06 23:37] zlavergne commented on #1257
You can read more about the task assignment feature in #1575. One part of it allows PM's to manually assign tasks to individuals but it also will introduce an idea of "project ownership". If a user locks a task, it is then assigned to them whether they finish or not. Either way it is their responsibility to come back and finish the task. This is of course, a setting for the project.

[2019-11-07 01:08] willemarcel commented on #1953
I'm also not succeeding to update the `isExpert` and the `expertMode` fields. The PATCH request returns a 200 code, but the field is not updated on the database.

[2019-11-07 12:14] xamanu commented on #1282
As per converations with @russdeffner, moving priority up here.

[2019-11-07 13:23] xamanu opened #1965 "Migrate organisations and campaigns"
We removed the migrations of content for organisations and campaigns from #1858 in #1961. Let's bring this back in a new migration, which includes a logic for consolidating several organisations with different names, such as HOT, HOTOSM, and Humanitarian OpenStreetMap Team.

This code snipped might be a good starting point:

[code]

[2019-11-07 14:04] qeef commented on #1958
Ad 2) I am lost. In #1591 there is nothing like *admins of a team* nor *manager for the organization*. Only *General admins* or *admins of the associated organization*. So I don't see the role of validator trainers in #1591 and asking, therefore.

Also, from #1591 it looks like all the teams are organization-dependent.

In particular, let's have this imaginary example: There is a group of 10 volun

[2019-11-07 14:15] xamanu commented on #1958
Yes, wording is an issue, some clarification:

- We have _general admins_ or _admins_ on the highest level and can do everything everywhere.
- We have _project managers_ or _organizational admins_ or just _managers_, on the second level. They can create projects, campaigns and teams within an organization they are assigned to. An organization can also be `My local group of volunteers` or simple in

[2019-11-07 14:32] qeef commented on #1958
In the example, the experienced validator leading the validation training should be able to approve the others as validators. With as little bureaucracy as possible.

[2019-11-07 14:36] xamanu commented on #1958
Then, in the current HOT Tasking Manager, the validator would need to have admin rights. With TM4 it is enough to convince one organization that s/he can manage validators, then the person will become a team admin for the team like "volunteer validators" and can approve people joining it.

[2019-11-07 14:46] qeef commented on #1958
One statement and one question:
- Any mapper has to be part of some organization. That's not true and can make one feel uncomfortable.
- These *volunteer validators* will be able to validate any project? Or just projects where are assigned directly?

[2019-11-07 14:50] xamanu commented on #1958
Not at all. Mappers are mappers. The can join teams of different organizations and most mapping doesn't need anybody to be part of a team anyways.

Only the projects they are assigned to. And this is good, I think, we can give them wider permission. Many organizations have their own way to onboard validators and might have much stricter criteria.

Please understand organizations as a way these ent

[2019-11-07 15:31] #1789 closed

[2019-11-07 15:36] #1603 closed

[2019-11-07 15:40] xamanu commented on #1878
There is a PR for this https://github.com/hotosm/tasking-manager/pull/1935

[2019-11-07 15:44] qeef commented on #1958
My bad. I said mapper but meant validator. A validator must be a member of some team. Teams are under an organization.

It sounds like organizations are not interested in the help of teams of other organizations.

Let's broaden the example to multiple cities. There are multiple mapathons with validation training now. This extended example can be solved by (1) One team and multiple team admins for

[2019-11-07 15:50] xamanu commented on #1612
PR #1949 was merged.

[2019-11-07 15:50] #1612 closed

[2019-11-07 19:04] xamanu commented on #1958
Yes they are. But people want to be able to control a bit. With the new structure we can finally do things like you describe in your scenarios, before it is impossible to do on the TM right now.

[2019-11-07 23:16] #1781 closed

[2019-11-07 23:20] willemarcel commented on #1926
@xamanu currently the Interests creation is open to any logged user, should we restrict it to only project managers and admins?

[2019-11-07 23:23] willemarcel opened #1969 "Add endpoint to return the interests of a user"
An improvement we need on #1781, is an endpoint that lists all the interests selected by a user.

[2019-11-07 23:25] willemarcel opened #1970 "Add filter by interest on /api/v2/projects/"
Allow to filter projects that are associated with a interest.

[2019-11-08 00:41] adrienandrem commented on #1917
`TM_DEFAULT_CHANGESET_COMMENT` is set in `tasking-manager.env`.

@xamanu do you confirm on your side you do not get a 404 error with fresh configuration and install from `master`, following [README instructions](https://github.com/hotosm/tasking-manager/blob/master/README.md)?

Is there specific info I could report here?

Thanks

[2019-11-08 06:53] xamanu commented on #1926
Yes, interests shouldn't change a lot. Restrict to admins please.

[2019-11-08 15:33] willemarcel opened #1972 "Load localized project details and instructions"
Show the project details and instructions localized according to the user preferences.

[2019-11-08 20:16] #1950 closed

[2019-11-08 20:16] #1801 closed

[2019-11-08 20:27] willemarcel opened #1975 "Improve Sign Up process"
This issue is a second step of sign up process (see https://github.com/hotosm/tasking-manager/issues/1244 for previous reference)

* Split the sign up process in two parts. On the fist screen, the user will enter their email address, on the second, we will explain about why we use OSM authentication and ask them to create an account on OpenStreetMap.

<img width="765" alt="Screen Shot 2019-11-08 a

[2019-11-08 20:29] willemarcel commented on #1244
Closing this issue as this feature is already implemented. I opened another issue (https://github.com/hotosm/tasking-manager/issues/1975) with a couple ideas on how we can make the onboarding process easier.

[2019-11-08 20:29] #1244 closed

[2019-11-09 18:52] willemarcel opened #1977 "Add user's picture_url and name to /api/v2/projects/:id/contributions/ endpoint"
Add `picture_url` and `name` information of each user on `/api/v2/projects/2/contributions/` endpoint.

[2019-11-11 09:38] #1953 closed

[2019-11-11 11:07] GnanaShekhar commented on #1917
@adrienandrem I did the same today. Faces

- Cloned package
- `git checkout master`
- `cp example.env tasking-manager.env`
- Add `TM_CONSUMER_KEY ` and `TM_CONSUMER_SECRET` in tasking-manager.env
- Uncomment `POSTGRES_ENDPOINT=localhost` & `POSTGRES_PORT=5432`
- and then `docker-compose up -d`

Tried to access it from http://0.0.0.0:5000/ got the following error on webpage

Logs had
[code]

[2019-11-11 13:03] willemarcel opened #1978 "Change SystemAuthenticationEmailAPI to return json response"
The endpoint `/api/v2/system/authentication/email/`, managed by `SystemAuthenticationEmailAPI` should return a JSON response with 200 status code if the check of username and token are valid and a 403 if it's invalid.

[2019-11-11 13:05] willemarcel opened #1979 "Create frontend view to handle user email confirmation"
- [x] Create a frontend view that will receive username and token and make a request to `/api/v2/system/authentication/email/` in order to confirm the user email.

- [x] update the email template with the new URL.

Depends on https://github.com/hotosm/tasking-manager/issues/1978

[2019-11-11 15:27] #1936 closed

[2019-11-11 15:35] #1914 closed

[2019-11-12 03:17] hexiaok commented on #1257
Thanks for all the feedback. Here I summarize all the comments here:

1: remove the project boundary
_Will do_
2: more transparency
_I can adjust a bit and test out more_
3: priority area behind the task layer
_Not sure,  we need to highlight the priority area to users?_
4: blocked for mapping
_Maybe we can say “not ready for mapping”? agree the color is a bit too strong, happy to try adding more

[2019-11-12 05:18] GnanaShekhar commented on #1917
I think I found the issue, `GET /` is unable to fetch the index.html. Reason being `_init_.py` in `/server` is handling the get request and trying to render index.html from `/frontend/build`. So when you run docker-compose up -d it should be build the frontend but it failed for some reason.

Solution: Go to /frontend and execute the commands `npm install` and `npm run build` then you will get /fro

[2019-11-12 09:54] #1977 closed

[2019-11-12 12:14] willemarcel opened #1984 "Update organisations list API"
Update `/api/v2/organisations/` endpoint https://github.com/hotosm/tasking-manager/blob/49861fe3ef64afa0c8b23d49dc99344c8ac25139/server/api/organisations/resources.py#L258

- [x] `managers` field is returning a null value, should return the usernames of the administrators/managers of the org. Actually the ideal would be having the pictureUrl too, like: `[{username: 'Admin_1', pictureUrl: null }, {

[2019-11-12 12:17] willemarcel commented on #1984
- [ ] allow admins to filter by managers `/api/v2/organisations/?managers=<uid>`
- [ ] allow logged in users to filter only with their own uid, with the same url param `/api/v2/organisations/?managers=<uid>`

[2019-11-12 17:48] willemarcel opened #1985 "Change result format of list endpoints"
Change some DTOs to return data as array instead of `{someData: []}` when there is only one kind of data being returned.
Examples: organisations, campaigns, teams, `projects/{project_id}/campaigns/`, countries, interests, `users/queries/favorites/`, `/api/v2/system/authentication/applications/`, `/api/v2/tasks/issues/categories/`.

One exception where this pattern doesn't work is when we have pagi

[2019-11-13 16:48] xamanu commented on #1257
After today's user group meeting the following state names have been suggested:

* Available for mapping
* Ready for validation
* More mapping needed
* Finished
* Unavailable
* Locked

[2019-11-14 02:53] hexiaok commented on #1257
updates made:
+ remove AOI boundary
+ add more layer transparency
+ change layer style for "Unavailable" (previously "blocked for mapping")
+ remove layer "assigned to other mappers"
+ update the layer names
![111](https://user-images.githubusercontent.com/26889634/68822765-bea80980-06cc-11ea-8691-6b3c5bcf5d41.png)

also test out using aerial images as the backgroup map
![Group 10](https://user-im

[2019-11-15 21:51] #1969 closed

[2019-11-15 22:04] #1970 closed

[2019-11-15 22:08] willemarcel commented on #1965
@xamanu Is there any block to push a solution to this issue?

[2019-11-19 18:56] willemarcel opened #1993 "Add PATCH method to organisations and teams endpoints"
It would be good to have the possibility to make partial updates on organisations and teams.

[2019-11-19 19:35] #1978 closed

[2019-11-19 21:10] adrienandrem commented on #1917
Thank you for the clue @GnanaShekhar!
It is still `/client` on `master` actually.

I'd think this would be already handled in the [Dockerfile client configuration](https://github.com/hotosm/tasking-manager/blob/master/devops/docker/tasking-manager/Dockerfile#L34),
no error is returned at execution:

    Step 11/13 : RUN cd client && npm link gulp && 	npm install closure-util --save && 	npm install

[2019-11-20 14:50] xamanu commented on #1965
No blocker, but also not highest priority. This can be addressed while TM4 is in the testing phase.

[2019-11-20 15:25] #1853 closed

[2019-11-20 15:28] willemarcel opened #1996 "Check error on DELETE organisations endpoint"
I tried to delete an organisation that has 2 managers, but is not associated with any projects, teams and campaigns and it failed with

`CRITICAL in resources: Organisation DELETE - unhandled error: DELETE statement on table 'organisation_managers' expected to delete 2 row(s); Only 3 were matched.`

[2019-11-21 14:57] xamanu commented on #1996
This has been fixes with #1998

[2019-11-21 14:57] #1996 closed

[2019-11-21 16:25] adrienandrem commented on #1917
@xamanu I don't know why but pulling once more from `master` seems to have solved the problem.
UI is displayed and I'm able to log in.

If this can be of any use, here is my local diff:

    diff --git a/devops/docker/tasking-manager/Dockerfile b/devops/docker/tasking-manager/Dockerfile
    index bf5d734..cda0fdf 100644
    --- a/devops/docker/tasking-manager/Dockerfile
    +++ b/devops/docker/tas

[2019-11-21 18:50] dakotabenjamin opened #2000 "Implement AWS CodeDeploy in CFN Template"
AWS CodeDeploy is an AWS service that automates the deployment of application updates to AWS Infrastructure. Integrating this service would benefit TM by creating a safer, reliable process for code updates that don't affect the infrastructure. In addition, this service will minimize downtime, streamline deployments to a variety of environments (demo/staging/production), and simplify the infrastruc

[2019-11-21 19:57] dakotabenjamin opened #2001 "Document Infrastructure and Deployments"
There is good documentation on the application structure within the https://github.com/hotosm/tasking-manager/tree/develop/docs folder, but it is lacking information about how HOTOSM deploys and maintains infrastructure. We must have thorough documentation on the infrastructure to create a knowledge base for staff, partners, and other third parties to understand our services.

Necessary components

[2019-11-22 04:17] adrienandrem commented on #1917
Short-lived joy, rerunning the whole process from a new

    git clone -b master https://github.com/hotosm/tasking-manager

gives the same 404 problem.

[2019-11-22 13:40] #1979 closed

[2019-11-22 14:52] #1597 closed

[2019-11-22 15:18] willemarcel opened #2003 "Improve Project table model to avoid db failure"
Some fields on the `projects` table are the consolidation of the `tasks` and `task_history` tables, for example: `last_updated`, `mapping_editors`, `validation_editors`, `tasks_mapped`, `tasks_validated`, `tasks_badimagery`.

The update of those fields every time a task action happens can be a cause for the database overloads problems we have. I'm not a database specialist, so I would like to have

[2019-11-22 19:07] willemarcel opened #2004 "Add endpoints to allow to create and delete campaigns"
url: `/api/v2/campaigns/{campaign_id}/`
method: `DELETE`

url: `/api/v2/campaigns/`
method: `POST`

[2019-11-22 19:09] willemarcel opened #2005 "Add endpoints to allow to associate campaigns with organisations"
url: `/api/v2/organisations/{organisation_id}/campaigns/{campaign_id}/`
method: `POST`

[2019-11-22 21:11] willemarcel opened #2006 "Improvements to teams models and endpoints"
Some questions and proposal changes related to teams:

On https://github.com/hotosm/tasking-manager/issues/1531 I saw that the approved proposal was not setting specific role to team members. But we yet have a `function` field on the `TeamMember` model.
* Should the organisation managers have management permissions on all its teams?
* Do we need a manager role to the `TeamMembers`? If yes, I would

[2019-11-22 22:14] willemarcel opened #2007 "Fix organisation fields on projects endpoints"
- [x] Add organisationLogo and organisationName fields to project detail endpoint: `/api/v2/projects/{project_id}/`
- [x] Replace `organisationTag` by `organisationName` on project summary endpoint (assure that we are getting the information from the new `Organisation` model: `/api/v2/projects/{project_id}/queries/summary/`
- [x] If other projects endpoints contains references to the old `organisa

[2019-11-23 15:23] pyrog commented on #927
Got this error message in the console (from OSM website):

Safari Version 13.0.2 (14608.2.40.1.2)

[2019-11-23 16:18] tomhughes commented on #927
That's a bug in safari, namely https://bugs.webkit.org/show_bug.cgi?id=171934.

[2019-11-25 11:07] #1993 closed

[2019-11-25 11:37] #2007 closed

[2019-11-25 15:35] #1693 closed

[2019-11-25 15:38] willemarcel opened #2010 "Allow to filter projects by teams"
We need to filter the projects by teams. We can use the `teamId` param for it.

[2019-11-25 15:50] xamanu commented on #2006
* Yes, organisation admins shall be able to manage all it's teams.
* Yes we need two roles: `MEMBER` and something else. I suggest to use maybe `LEADER` just to avoid confusion between organization managers and program admins.
* Yes, an `active` field is needed.

[2019-11-25 16:05] ramyaragupathy opened #2011 "Compute and store aggregates for API consumption"
Our current codebase on stats endpoints run all time computations as and when an API call is made and all these operations are performance heavy on RDS. I propose to pick some best practices from Missing Maps Leaderboard backend.
* For Leaderboard, all the stats computations are done prior and stored in a separate result set - it could be views or tables. We could use tables for TM.
* And the API

[2019-11-25 16:10] ramyaragupathy commented on #2011
Related: https://github.com/hotosm/tasking-manager/issues/2003

[2019-11-25 18:42] dakotabenjamin commented on #2000
Changes tracked on branch https://github.com/hotosm/tasking-manager/tree/redesign/add-codedeploy

[2019-11-26 13:38] willemarcel commented on #2006
Some details about how the join team endpoint should work:

URL: `/api/v2/teams/{team_id}/actions/join/`

payload: {
  "role": "string",
  "username": "string"
}

* The payload could be required only if the user is not a manager of the team organisation or leader of the team.
* On the case a manager/leader makes the request, the user is automatically added as a team member (`active` field should b

[2019-11-26 16:02] xamanu opened #2012 "Maintenance message in a banner of TM"
* Include a RSS filter by tool on status.hotosm.org
* Read the feed for the TM in the TM and show a banner announcing downtimes.

[2019-11-26 16:36] d3netxer opened #2013 "error archiving project"
I am trying to archive project 1856 but it is giving me an error: There was an error updating your project. Please try again."

[2019-11-26 19:26] ramyaragupathy commented on #2013
Thanks for flagging the issue here @d3netxer. This issue is related to #1789 - project archive is failing because of a duplicate priority area entry in Database for this project. This has been fixed through #1880 - fix will go live in V4 release

cc @xamanu

[2019-11-26 19:26] #2013 closed

[2019-11-26 19:30] ramyaragupathy opened #2015 "Include auto unlock times for user stats"
Flagged through a missing maps mapathon from Jessica Bergmann. One of the users has spent about a day's effort in mapping out blocks for a TM project. But the user stats shows only 1 hour under profile info. Further investigation shows that the backend query does not account for auto-unlock times on mapping and validation. Sending a PR here.

[2019-11-27 00:50] 2Clutch commented on #712
Does this still need to be worked on?

[2019-11-27 13:19] xamanu opened #2017 "Validate all tasks of a specific user"
From the Tasking Manager User Group I would like to report back the feature request of being able to select all tasks mapped by one mapper for validation.

When validating a mapper's work, often times a certain mistake is made consistently by the same person in various tasks they might have mapped. As a validator it is useful being able to select all tasks of one person for validation.

[2019-11-27 13:20] xamanu commented on #712
I think it is worth it to check whether this is still the case on the new frontend we are implementing. I would wait a bit until we elaborate whether this has been solved or needs to be addressed, still.

[2019-11-27 14:44] willemarcel opened #2018 "Project creation enhancements"
- [x] Replace alert errors by a message above the back / next buttons
- [x] If you split the tasks, advance to the next step and then go back to split step, the split work is lost
- [x] Make possible to split the tasks more than one time using the click/draw functions
- [x] Update `tasksNo` after each split operation
- [x] Replace click/draw to split buttons by switch toggles (it makes more sense,

[2019-11-27 15:00] #1888 closed

[2019-11-28 02:53] willemarcel opened #2020 "Fix bug on filter organisations by user_id"
When fetching `http://127.0.0.1:5000/api/v2/organisations/?manager_user_id=123`, it returns `CRITICAL in resources: Organisations GET - unhandled error: <built-in function contains>`

[2019-11-28 09:02] thadk commented on #1945
@willemarcel @xamanu By the way, how should Archived Projects appear?

<img width="379" alt="image" src="https://user-images.githubusercontent.com/283343/69792107-e8b0ff80-1193-11ea-8e0d-68bae29f74c6.png">

[2019-11-28 10:03] xamanu commented on #1945
I would go with an additional button on the filters for "archived" besides "created", "contributed", "favorite". What do you think?

[2019-11-28 10:09] ramyaragupathy opened #2021 "Improvise Campaign update endpoint"
PUT request on `/api/v2/campaigns/{campaign_id}` fails with a `TypeError: Failed to fetch`.
Need further investigation. Must be a minor field type handling issue.

cc @xamanu @fitoria

[2019-11-28 10:34] xamanu commented on #1282
We have another case: https://tasks.hotosm.org/project/7377

![image](https://user-images.githubusercontent.com/97706/69799085-7f98ae80-11ca-11ea-8cab-8b440ad73286.png)

[2019-11-28 10:45] xamanu commented on #1383
To not forget. Found some [hard coded parts](https://github.com/hotosm/tasking-manager/blob/develop/frontend/public/index.html#L13-L23), that we want to get into variables.

[2019-11-28 11:04] fitoria commented on #2006
Quick question, what will happen when the user is not a a manager and requests to join a team, right now it just sends a notifications to managers but now it will just add is as inactive?

Would it be useful to add a "joined_date" on the team_members table to have information about that?

[2019-11-28 11:08] willemarcel commented on #2006
We can configure notifications, but we will add a section on the teams detail page that will show the join requests, so the managers can approve / deny.

[2019-11-28 11:09] xamanu commented on #2006
It depends what type of team. If the team is open to join, a user will just be added - and active.
If the team needs approval to join, we want to send notifications to the team leads, requesting their approval. And we want to be able to display the ones that are pending on the team page, so we need to flag them as `inactive`.

Not sure about the `joined_date`. It seems like a nice to have. But als

[2019-11-28 11:12] willemarcel opened #2023 "Add filters to team list endpoints"
We need to filter teams using some conditions:

- teams that a user is member
- teams that a user is manager
- teams that a user requested to join, but approval is pending
- by team name
- by team function

The two first filters are the most urgent.

[2019-11-28 11:30] willemarcel commented on #1945
Yes, a filter button would be an excellent solution.

[2019-12-01 16:09] timwaters commented on #1917
I was seeing the same error with the develop branch and the hotosm/tasking-manager image. So I tried building from master following the above comments. If helps any I was able to (on master), connect to the docker container e.g `docker exec -it abcdefg bash`

[code]
Then going to http://127.0.0.1:5000/  worked :)

-----

p.s. the reason why I did the `npm rebuild node-sass` was that I saw:

[code]

[2019-12-02 13:01] xamanu commented on #1984
Assigning @fitoria, as he has been continuing on this issue. What is the current status here?

[2019-12-02 13:01] xamanu commented on #1958
Closing because of inactivity. Thanks for the feedback!

[2019-12-02 13:01] #1958 closed

[2019-12-02 15:25] #1944 closed

[2019-12-03 14:24] #2020 closed

[2019-12-04 10:18] fitoria commented on #2005
May be fixed by PR #2014

[2019-12-04 10:33] #2006 closed

[2019-12-04 10:56] fitoria commented on #1984
Work in #2029

[2019-12-04 12:08] #1984 closed

[2019-12-04 19:11] willemarcel opened #2031 "Handle campaign_organisation duplication error"
When a campaign is already assigned with an organisation, handle better the API return, to avoid this message:

[code]

[2019-12-04 19:17] willemarcel commented on #2031
Also, when we try to make a request to unassign a campaign from an organisation, but there is not relation between them, it's returning a 500 error with:
[code]

It should return a 404 error.

[2019-12-05 12:44] #2004 closed

[2019-12-05 13:00] xamanu commented on #990
These kind of notes are still relevant. Here I collect what messages we would like to get out to our users prominently:

- Fundraising/donation campaigns
- Planned downtimes for upgrading the Tasking Manager
- A message for mobile users to use MapSwipe

We might consider to make these messages editable through the UI, so we don't rely on deployments for introducing them, and we don't include such

[2019-12-05 13:05] #2021 closed

[2019-12-05 13:09] willemarcel opened #2033 "Fix permissions of campaigns endpoints"
Restrict campaigns creation, deletion and update only to users that are managers of some organisation.

[2019-12-05 17:02] #2005 closed

[2019-12-08 00:32] fitoria commented on #2023
@willemarcel what do you mean by "by team function"?

[2019-12-08 14:49] willemarcel commented on #2023
The role field on the ProjectTeam model, @fitoria

On Sat, 7 Dec 2019, 21:33 Adolfo Fitoria, <notifications@github.com> wrote:

[2019-12-08 21:45] zorglubu opened #2038 "unable to validate"
Hello,

Despite the message "Keep up the validation! We need experts like you to help!", the validation task is denied every time I am trying a validation : "You do not have the required Validator role for validation on this project."
Is it a bug or is it just that I don't understand ? Thanks.
User https://tasks.hotosm.org/user/zorglubu

[2019-12-08 23:00] RAytoun commented on #2038
Hello zorglubu,
Thank you for your time and all the mapping you have done over the years. And thank you for your attempts at validating. Unfortunately not all mappers have your experience and we have had many beginners starting to validate on complex or urgent projects resulting in a lot of clean-up work at the end. This has resulted in some Project Managers restricting their projects to verified

[2019-12-09 11:04] zorglubu commented on #2038
Thank you for your answer.

I will apply ;-)

Le 2019-12-09 00:00, Ralph Aytoun a écrit :

Links:
------
[1] http://bit.ly/HOTValidators
[2]
https://github.com/hotosm/tasking-manager/issues/2038?email_source=notifications&amp;email_token=AHROM6BRQDKAZP4WUPAJSTTQXV4BZA5CNFSM4JYAWOX2YY3PNVWWK3TUL52HS4DFVREXG43VMVBW63LNMVXHJKTDN5WW2ZLOORPWSZGOEGHMWAY#issuecomment-563006211
[3]
https://github.com/noti

[2019-12-09 13:25] TAQ2 opened #2039 "Problems running the task manager with docker"
Hello, I would like to start contributing to the front end of the tasking manager. When I loaded up the project following the docker instructions I get the following error:

[code]

macOS Mojave 10.14.5 (18F203)

Is this something that someone could help me with please?

[2019-12-10 10:28] enockseth opened #2044 "Auto fill / Remove Bing as default Changeset source for projects without imagery"
Kindly auto fill / remove **Bing** as default data source when uploading changesets for projects without a predefined imagery.

![Source HOTTM Bing](https://0x0.st/zUQu.jpg)

[2019-12-10 11:09] #2010 closed

[2019-12-10 11:49] #2031 closed

[2019-12-10 12:52] xamanu commented on #1383
It needs somebody who sets up an instance that should have a complete different branding and documents how to do it. While doing this, several things that are not configurable or that aren't looking good will be noticed and we can address them.

[2019-12-10 14:58] willemarcel opened #2045 "Fix `projects/queries/myself/owner/` endpoint"
It's returning on the console:

[code]

[2019-12-10 14:59] willemarcel opened #2046 "Allow to filter teams by organisation name or id"

[2019-12-10 15:42] willemarcel opened #2047 "Check list endpoints to not return 404 errors"
Some endpoints like, `/api/v2/projects/{project_id}/comments/`, `/api/v2/projects/{project_id}/annotations/` are returning 404 errors if there aren't, respectively, comments and annotations.

These endpoints should return 404 code only if the project doesn't exist. If there aren't entries of the entities that should be listed, the result should contain an empty array and a 200 status code. The sam

[2019-12-10 16:58] xamanu commented on #1927
I got the data and @fitoria is taking over.

[2019-12-10 21:10] dakotabenjamin opened #2050 "CodeDeploy: Simplify Instance provisioning (AMI/Userdata)"
The following changes need to be made on the `redesign/add-codedeploy` branch:

- [ ] Generalize AMI packer script for simplified infrastructure (i.e. we only need one AMI per application stack and it doesn't need to be generated often)
- [ ] Install CodeDeploy Agent along with all dependencies
- [ ] Remove unnecessary code from CloudFormation Template LaunchConfiguration UserData property.
- [ ]

[2019-12-11 05:52] thadk commented on #1383
Because these meta tags need to be statically available before the page is downloaded, I think we'd have to write them using our web hosting (Flask) or pre-generate them using a tool like GatsbyJS based on the tasking-manager.env file and serve them as static resources.

I tried to see if Slack and WhatsApp will parse the Javascript/React but they do not.

[2019-12-11 11:03] willemarcel opened #2051 "Add FormattedMessages to project editing components"

[2019-12-12 02:07] willemarcel opened #2056 "Permissions and bugfix to some tasks endpoints"
- [ ] require authentication on `/api/v2/projects/{project_id}/tasks/queries/own/mapped/`
- [ ] fix swagger docs and verify if `/api/v2/projects/{project_id}/tasks/queries/aoi/` is working properly - (I tried to pass the project_id, but it failed for me)

[2019-12-12 11:15] xamanu commented on #1376
![](https://user-images.githubusercontent.com/26889634/68822765-bea80980-06cc-11ea-8691-6b3c5bcf5d41.png)

We came up with these colours and naming. "Invalidated" became "More work needed". Closing here. Thank you.

[2019-12-12 11:15] #1376 closed

[2019-12-12 11:16] xamanu commented on #1257
Thanks for all the input and work @hexiaok and @willemarcel. Happy to confirm that this is part of TM4 (currently in testing phase).

[2019-12-12 11:16] #1257 closed

[2019-12-12 11:19] xamanu opened #2057 "Avoid sending out emails about tasks states without comment"
We received input in the chat:

Ideally we would continue having this as a notification, but not sending emails out for this minor information. Can we do this as a hotfix for TM3 and for TM4?

[2019-12-12 11:23] xamanu opened #2058 "Review email messages and related settings"
We do good in reviewing and structuring the email messages we want to send out. How we let the user chose what kind of messages they receive or not. And what kind of messages are only notifications but should not go out as emails.

[2019-12-12 11:36] ramyaragupathy commented on #2056
`/api/v2/projects/{project_id}/tasks/queries/own/mapped/`

* This API is used in the project activity and stats section which can be accessed even without login.
* Returns an array of users who have mapped a task for the project along with details and counts of tasks mapped.
[code]
* /tasks/queries/own/mapped/ is misleading instead updating this to /tasks/queries/mapped/ to reflect the purpose

`/

[2019-12-12 11:51] pantierra opened #2062 "AI-assisted project creation"
We have piloted AI-assisted project creation in TM3: #1790, #1673
The backend and connection to the ml-enabler is ready to go in: #1919

@hexiaok is currently working on the design. And then we are ready to redo the frontend based on the experience and design input and bring this into the main TM.

[2019-12-12 12:21] xamanu commented on #1601
@willemarcel @fitoria what is the status? Can this be considered as done?

[2019-12-12 12:23] xamanu commented on #1639
This is part of TM4 and the issue can be closed.

[2019-12-12 12:23] #1639 closed

[2019-12-12 12:26] xamanu commented on #1941
To me it seems this has been completed. Is this correct, @willemarcel ?

[2019-12-12 12:27] xamanu commented on #1490
There is an issue for that https://github.com/hotosm/tasking-manager/issues/2058

[2019-12-12 12:29] xamanu commented on #1955
This looks like you completed it, @willemarcel. Can we mark is at `Done`?

[2019-12-12 12:35] xamanu commented on #1640
@willemarcel, it seems to me this has been accomplished. Is this correct?

[2019-12-12 12:58] xamanu commented on #1915
This has been included. Closing the issue here.

[2019-12-12 12:58] #1915 closed

[2019-12-12 12:59] xamanu commented on #1910
I know there has been significant progress here. @JorgeMartinezG can you please share the status?

[2019-12-12 13:00] xamanu commented on #1909
I know @willemarcel has started working on it. Assigning to him.

[2019-12-12 13:02] xamanu commented on #1596
Marking this as solved. As the issues are in the project.

[2019-12-12 13:02] #1596 closed

[2019-12-12 13:05] xamanu commented on #1383
@uwaiszaki Thanks for jumping on this. Can you please try to generate a custom branded TM and share your experience and let us know what worked well and what doesn't?
It would be good to document the steps for others who want to have a custom appearance.

[2019-12-12 13:18] xamanu commented on #1600
@willemarcel What is the status here? Thanks.

[2019-12-12 13:28] xamanu commented on #1590
Backend and frontend are almost finished and are going to be part of TM4.

[2019-12-12 13:31] xamanu commented on #1609
This has been implemented with the Teams and Orgs backend #1531

[2019-12-12 13:31] #1609 closed

[2019-12-12 13:32] xamanu commented on #1608
This has changed a bit and is now being addressed within the work of #1890

[2019-12-12 13:41] xamanu commented on #1619
@willemarcel what is the status? Shall I open up follow up issues for one or another task?

[2019-12-12 13:48] xamanu commented on #1629
@willemarcel what is the status here? is this solved and can be closed?

[2019-12-12 14:44] willemarcel commented on #1941
@xamanu yes, closing

[2019-12-12 14:44] #1941 closed

[2019-12-12 15:06] thadk commented on #1881
To support #1655 we would need to index the text in subject, body, and ID of the task/project so it can have full text search like we have in "Explore Projects" with the PostgreSQL GIN index.
https://www.postgresql.org/docs/11/textsearch-controls.html
There are a few migrations in the codebase for the `projects` table we could probably copy to create the needed columns for metadata storage.

[2019-12-12 15:08] ramyaragupathy opened #2063 "Check for locked tasks across all Projects"
`/api/v2/projects/{project_id}/tasks/queries/own/locked` checks for tasks locked by user for a particular projects. So if I lock a task for mapping/validation in one project and try locking another task in a different project, then the tool lets me do it which is a bug.

Ideally endpoints should check for locked tasks across the entire TM instance than just one project.

cc @willemarcel @xamanu

[2019-12-12 15:18] #1591 closed

[2019-12-12 15:18] #1955 closed

[2019-12-12 16:21] xamanu commented on #824
Unfortunately this was descoped from the redesign. Keeping it open for later.

[2019-12-12 17:00] xamanu commented on #900
This has been resolved with TM4. Thank you.

[2019-12-12 17:00] #900 closed

[2019-12-12 17:13] xamanu commented on #1714
Merged and done. Thank you.

[2019-12-12 17:13] #1714 closed

[2019-12-12 17:40] d3netxer commented on #2057
I don't think there should be any automated messages or notifications, at least until there are settings where users can adjust what notifications they want to receive.

[2019-12-12 17:50] xamanu commented on #1945
Is this in by now? Does it work good?

[2019-12-12 18:08] xamanu opened #2065 "Improve integration with AI-assisted mapping"
So far:

* We have piloted AI-assisted mapping with RapiD (https://github.com/hotosm/tasking-manager/pull/1550)
* and we are currently integrating iD into the Tasking Manager (https://github.com/hotosm/tasking-manager/issues/1358)
* people started using the custom editor field to point to RapiD on the main instance (https://github.com/hotosm/tasking-manager/pull/1924)

Let's think about making AI-

[2019-12-12 18:34] xamanu commented on #1875
What are your suggestions here, @eternaltyro? Is this relevant for our infrastructure and it's performance or costs? Is this in relation to the effort?

[2019-12-12 18:38] xamanu commented on #2057
Probably we do want to send emails in the meanwhile when people actually write to somebody. In our case this is a direct mention or comment on a task one has been mapping on. People seem to expect that directed communication would go through

[2019-12-12 23:11] willemarcel commented on #1945
It's missing to add some filters yet.

[2019-12-13 08:05] thadk commented on #1945
Hypothetically everything is wired up so if these GET parameters are implemented on the backend, the filters will all work: `CreatedByMe` (done), `CreatedByMeArchived`, `CreatedByMeDraft` (?), `FavoritedByMe`, and `ContributedToByMe`

[2019-12-13 08:22] thadk commented on #1644
#1928

[2019-12-13 11:46] fitoria commented on #2057
![image](https://user-images.githubusercontent.com/9713/70798145-cb6f5a00-1d6b-11ea-923f-d6fb2a498d12.png)

It's configurable on TM3 maybe the way to go is by creating a better default on this case for new users and do a mass update for existing ones?

[2019-12-13 16:09] taylorsmock opened #2068 "Cannot archive project (table `project_priority_areas` has far more rows than expected)"
The response from the request is `{"error": "Project GET - unhandled error: DELETE statement on table 'project_priority_areas' expected to delete 1 row(s); Only 132 were matched."}`.

https://tasks.hotosm.org/project/5354 -- I wanted to archive this project, which I did by logging in to the account that owns that project (KaartOSM), then going to the the edit-project page, changing the status to a

[2019-12-14 20:37] willemarcel commented on #1975
We could add some gifs giving more information on how to complete the sign up process. I took this idea from: https://www.holstee.com/pages/reflections-one-last-step

[2019-12-15 12:14] ramyaragupathy commented on #2063
Also observed that:
* validation task lock follows the same behaviour
* a mapper can lock random tasks for mapping and validation within the same project and across projects
eg: Lock task 1 for mapping under project 1. Now switch to validate tab and choose task 2 for validation in the same project 1. Task 2 is locked for validation - ideally, I feel this should not be allowed.
Switch to project 2

[2019-12-15 18:00] willemarcel commented on #2063
@ramyaragupathy I agree that we should implement that restriction to validation too.

[2019-12-16 01:03] ramyaragupathy commented on #2068
Thanks for flagging the issue here @taylorsmock. This issue is related to #1789 - project archive is failing because of a duplicate priority area entry in Database for this project. This has been fixed through #1880 - fix will go live in V4 release

cc @xamanu

[2019-12-16 03:47] russdeffner commented on #1282
Another case: https://tasks.hotosm.org/project/7446

[2019-12-16 10:26] relet commented on #1282
I seem to be able to reliably reproduce the bug (splitting tasks in the latter project on Firefox/Linux). If there is anything I can help to check, I'm happy to help.

[2019-12-16 15:47] dakotabenjamin opened #2072 "CodeDeploy: CI/CD Workflow overhaul"
Once an application stack is setup with CodeDeploy, new revisions can be pushed via CircleCI. We need to replace the `cfn-config update` commands with codedeploy revision push commands, and prepare for failures, etc.

- [ ] replace cfn-config update with new flow
    - upload files to s3
    - run codedeploy revision
- [ ] Implement deployment failure measures and fallbacks

[2019-12-16 16:47] zlavergne commented on #1282
@xamanu @ramyaragupathy can you get me a copy of the logs for the most recent cases please. I've noticed something on our TM instance when we get experience this bug and if it's the same issue, I may have an idea towards the fix.

[2019-12-16 20:59] willemarcel commented on #2018
- [ ] When uploading a invalid file, like a JPG, the app breaks. We need to validate if it's a valid source before trying to add it to the map.
- [ ] If you draw an area bigger than allowed, try to go to the next step, then delete the area, the error message doesn't disappear. Maybe we need to move the validation to the create.js and disable the next button if the aoi is not valid.
- [ ] The split

[2019-12-16 21:16] willemarcel opened #2073 "Fix project search by campaigns and organisations"
It's not filtering projects correctly by campaignTag, organisationId or organisationName.

[2019-12-17 03:37] fitoria commented on #2045
Could not reproduce this issue tried with different project statuses and all, it always returned 200. Seems to be fixed by other commit.

[2019-12-17 06:14] ramyaragupathy commented on #2015
Fixed through https://github.com/hotosm/tasking-manager/pull/2016

[2019-12-17 06:14] #2015 closed

[2019-12-17 15:51] #2023 closed

[2019-12-17 16:08] xamanu commented on #2057
I wouldn't enter the topic of making this configurable in TM3. Then in TM4 (#2058) we can plan and figure out the best way of offering this to the users.

[2019-12-19 08:34] LorenzoStucchi commented on #2073
I found that on the search into the teachosm tasking manager on the new website https://tasks-teachosm.hotosm.org/ the results are some projects that are into the hot tasking manager!

[2019-12-19 14:55] xamanu commented on #1282
We got a related PR: https://github.com/hotosm/tasking-manager/pull/2081 (thanks to @nrotstan)

[2019-12-23 05:44] fitoria commented on #2047
[WIP here ](https://github.com/hotosm/tasking-manager/pull/2084)

[2019-12-23 07:50] thadk commented on #1599
We might want pagination on this API similar to messages, projects, etc.

[2019-12-23 11:32] thadk commented on #1599
Remember hover doesn't work on iPads and phones, but this only appears on hover: <img width="976" alt="image" src="https://user-images.githubusercontent.com/283343/71355709-e0a76e00-254d-11ea-8bbf-edd168f204f4.png">

[2019-12-23 11:54] willemarcel opened #2086 "Project update fails when it's associated with a team"
When making a PATCH update request to a project that is associated with a team, it fails. I can see this error on the backend console:

`[2019-12-23 08:52:33,840] CRITICAL in resources: Project PATCH - unhandled error: 'teamId'`

[2019-12-23 14:32] #2063 closed

[2019-12-23 14:33] #2046 closed

[2019-12-24 21:41] willemarcel opened #2088 "Add button to reopen editor from the map/validation page"
It's missing a way to allow the user to reopen the task on another (or even in the same) editor, after the user has locked the task fro mapping/validation.

I would suggest to add that option only if the user has selected a editor different from iD and add it on a `div` over the map.

Related to https://github.com/hotosm/tasking-manager/pull/2082

[2019-12-26 14:49] JorgeMartinezG opened #2092 "Store sign up email in session."
Per chat with @xamanu  For the user sign up flow, the following tasks need to be done:
- Store within session the registered e-mail.
- When the user logs in, validate that does not have email.
- If no, check that session has the registered email and update automatically.

[2019-12-26 14:59] #1590 closed

[2019-12-26 14:59] #1608 closed

[2019-12-27 03:09] thadk commented on #1629
I think this work was in the end incorporated by other PR's as backend work.

[2019-12-27 19:55] willemarcel opened #2094 "Fix query for touched projects"
The endpoint `/api/v2/projects/queries/{username}/touched/` is not returning the correct results. I have tried with two different users and it was missing some projects on the results.

[2019-12-27 20:15] willemarcel opened #2095 "Fix /api​/v2​/projects​/queries​/popular​/"
It' returning an error:

[code]

[2019-12-27 20:45] willemarcel commented on #2045
@fitoria I tested again and it's working correctly! Thank you!

[2019-12-27 20:45] #2045 closed

[2019-12-27 21:13] willemarcel opened #2096 "Add team field to the Project edit form"
Allow the project manager /admin to set teams to projects.

The way I propose to do it is to use two select inputs (one for the team and other for the role of that team) and an `Add` button.

It should be possible to add multiples teams to the project.

@xamanu Do you think we should restrict only to the teams of the organisation associated to the project or should we allow any team?

[2019-12-30 03:46] thadk commented on #1620
There is a stub for this in #2085

[2019-12-30 12:15] ramyaragupathy commented on #2094
For touched projects endpoint:
* values are picked from `projects_mapped` field in users table
* `projects_mapped` column only includes mapped and validated projects. Projects where user has locked a task but did not do any state change or where mapper left a comment on a task are not considered for `projects_mapped` field

This endpoint is a replacement for `/api/v1/user/{username}/mapped-project

[2019-12-31 11:59] willemarcel opened #2099 "Review project edit permissions"
With the teams & organisations feature, we need to review the permissions to edit a project.

A project should be modified by:
- Any `ADMIN` user
- The user that created the project
- The managers of the organisation assigned to the project
- The team members of a team assigned to the project with the role `PROJECT_MANAGER` (id=2)

[2019-12-31 14:57] ramyaragupathy opened #2102 "Recommended projects endpoint returns 500"
`/api/v2/users/ramyaragupathy/recommended-projects/` returns

[code]

[2019-12-31 15:21] ramyaragupathy opened #2103 "Improve Locked Tasks DTO"
Locked tasks DTO should return the project ID and the task status for the locked task. Earlier we had this check at project level, but now we do an [instance wide check](https://github.com/hotosm/tasking-manager/pull/2074). So it only makes sense to include these fields in the DTO so that a meaningful message is present to the user on why task lock is not allowed.

cc @willemarcel @JorgeMartinezG

[2020-01-01 15:34] ramyaragupathy opened #2108 "Check auto unlock function"
Per chat w / @willemarcel - figured out that the auto-unlock task functions waits for client-side command, ideally server should  handle the auto unlocks independently.

_Will add examples, just creating a ticket to capture consversation_

[2020-01-01 19:06] willemarcel commented on #2108
Some details:

The auto unlock tasks function is triggered by the GET requests on the project detail endpoint -> `/api/v2/projects/<id>/` (code: https://github.com/hotosm/tasking-manager/blob/develop/server/api/projects/resources.py#L112). I think that approach has some problems:

- The main problem is that executing that function on each GET project request can cause some performance issues, as i

[2020-01-01 21:08] willemarcel opened #2109 "Change default value for user's default_editor"
Across the system we use the values `[ID, JOSM, POTLATCH_2, FIELD_PAPERS]`, but on the User model the default value has the `i` in lowercase. Replace it with `ID` to keep the consistency.

`default_editor = db.Column(db.String, default="iD", nullable=False)`

[2020-01-02 10:09] ramyaragupathy commented on #2109
Per discussion w/ @wille -
* Default editor was introduced in TM4 for the user table
* `default_editor` column defaults to `iD`
* We have a [list of editors](https://github.com/hotosm/tasking-manager/blob/master/server/models/postgis/statuses.py#L79) in our codebase where we mention `ID` editor

Since this is still not available on  master we could:
 *  Update the default value to `ID` in [user mo

[2020-01-02 10:37] #2103 closed

[2020-01-02 11:41] #1640 closed

[2020-01-02 15:13] willemarcel opened #2110 "Add frontend views that allow the user to join or leave a team"
Design reference: https://projects.invisionapp.com/share/7PUM47HQ3H9#/screens/391101493

[2020-01-03 10:28] #2095 closed

[2020-01-03 10:31] willemarcel opened #2111 "Improvements to /api/v2/users/{user_id}/tasks/ endpoint"
- [ ] add pagination
- [ ] add project name field on the results
- [ ] boolean filter by archived project status

[2020-01-03 12:05] willemarcel opened #2112 "Fix map loading zoom"
When we load a page with a map, but don't keep the browser on the same tab, the map initial zoom is not executed to the area of the task/project. That error is happening mainly on the views /projects/<id> and /projects/<id>/map/

[2020-01-03 15:16] #2112 closed

[2020-01-06 09:58] willemarcel commented on #2111
Another enhancement that needs work:

When passing a string to the `project_id` filter, it returns a 500 error, but should return an empty array.

Example: `/api/v2/users/360183/tasks/?project_id=a`, returns `{"error": "User GET - unhandled error: invalid literal for int() with base 10: 'a'"}`

[2020-01-06 10:31] #1599 closed

[2020-01-06 13:43] willemarcel commented on #2110
Done in https://github.com/hotosm/tasking-manager/pull/2125

[2020-01-06 13:43] #2110 closed

[2020-01-06 13:43] #2094 closed

[2020-01-06 13:43] #2073 closed

[2020-01-06 13:46] ramyaragupathy commented on #2102
Fix pushed through https://github.com/hotosm/tasking-manager/pull/2104

[2020-01-06 13:46] #2102 closed

[2020-01-06 13:50] #2056 closed

[2020-01-06 13:58] willemarcel opened #2132 "Fix project search by status"
I tried to fetch `/api/v2/projects/?projectStatuses=DRAFT` and also with `ARCHIVED`, but it didn't filter the projects.

When receiving an invalid status value, it should return an empty array not a 500 error.

[2020-01-06 15:42] #1589 closed

[2020-01-06 15:44] willemarcel opened #2134 "add search by favourited projects on the main /projects endpoint"
Add the same search feature that is available on `/api/v2/users/queries/favorites/` to the `/api/v2/projects/`

[2020-01-06 23:23] JorgeMartinezG commented on #1943
**Update:** On the backend side. There are some changs that need to be implemented but I would like to know your opinions @willemarcel @xamanu:
1. We would need to create a new endpoint to search comments in a project.
2. We would need to create the comments **SortBy** endpoint.
3. Currently, there are no comment replies model within **ProjectChat**. The endpoint just queries for the comments of a

[2020-01-07 01:22] willemarcel commented on #1943
@JorgeMartinezG I think we could go without the search and without organizing the replies on threads. I think there is not a large amount of questions & comments on a project that raises the need for search & sorting. The threads would be useful, but we could let it for the future.

[2020-01-09 11:17] #1620 closed

[2020-01-09 11:47] willemarcel opened #2151 "Test function is not running due to duplication"
[This test](https://github.com/hotosm/tasking-manager/blob/develop/tests/server/unit/services/test_project_service.py#L50) is not running because a test with the same name is on the line [111](https://github.com/hotosm/tasking-manager/blob/develop/tests/server/unit/services/test_project_service.py#L111).

[2020-01-09 11:48] willemarcel commented on #2109
Started working on it with https://github.com/hotosm/tasking-manager/pull/2146
It needs some backend changes yet

[2020-01-09 16:53] #1635 closed

[2020-01-09 22:18] xamanu commented on #1282
Fix has been merged and is being released soon.
We have to bring this into TM4. As the branches are diverging.

[2020-01-10 13:14] #2092 closed

[2020-01-10 17:25] ramyaragupathy commented on #2134
In through https://github.com/hotosm/tasking-manager/pull/2145

[2020-01-10 17:26] #2134 closed

[2020-01-10 19:03] ramyaragupathy opened #2157 "TM4 console errors on home page"
Noted the following console errors while loading https://tm4.hotosm.org:

`Mixed Content: The page at 'https://tm4.hotosm.org/' was loaded over HTTPS, but requested an insecure XMLHttpRequest endpoint 'http://tm4.hotosm.org/api/v2/projects/queries/featured/'. This request has been blocked; the content must be served over HTTPS.`

`SyntaxError: Unexpected token < in JSON at position 0` at `stats.js

[2020-01-10 19:15] ramyaragupathy opened #2158 "Map centroid loading inconsistent"
Sometimes see the following message in the project load page within Chrome browser and the map centroid does not show up. I was able to see the centroid on the map once but after reload, there was no centroid and there was this console error.

``Error {message: "Input data given to 'tasks-centroid' is not a valid GeoJSON object."}
message: "Input data given to 'tasks-centroid' is not a valid GeoJS

[2020-01-10 19:26] ramyaragupathy opened #2159 "Invoke favorite validation only if user is logged in"
At present every project page checks if the project has been favorited by the current logged in user. If a user is logged in this works great. Without login, this throws 401 console errors. Ideally, this validation endpoint - `/api/v2/projects/{project_id}/favorite/` on GET method - should be invoked by the client only if the user is logged in.

[2020-01-10 19:40] ramyaragupathy opened #2160 "Read more button visibility check"
For some projects `Read More` option is way below the text. Would like the alignment and the text height to be re-evaluated
![read-more](https://user-images.githubusercontent.com/12103383/72181339-1d5cdb80-340f-11ea-95ff-afb305e771ea.gif)
.

[2020-01-10 19:45] ramyaragupathy opened #2161 "Project Page text overlap on window resize"
![overlapping-content](https://user-images.githubusercontent.com/12103383/72181539-9825f680-340f-11ea-8bd4-12bb7fda7d02.gif)

[2020-01-10 19:51] ramyaragupathy opened #2162 "Style learn and about page"
Text content looks cluttered in the about and learn page. Improvement and consistent styling needed for readability.

![image](https://user-images.githubusercontent.com/12103383/72181950-72e5b800-3410-11ea-8623-be1e3743b7b1.png)
![image](https://user-images.githubusercontent.com/12103383/72181990-88f37880-3410-11ea-802b-a06560a73064.png)

[2020-01-10 20:01] ramyaragupathy opened #2164 "Project card and map alignment on Explore Projects section"
Under `Explore Projects` we need to evaluate the spacing between the project cards and map section.

![image](https://user-images.githubusercontent.com/12103383/72182614-d9b7a100-3411-11ea-92ed-ac80d062372a.png)

[2020-01-10 20:08] ramyaragupathy commented on #2164
Also there is a huge empty space beneath the map alongside project cards. Would be nice to have this behaviour redesigned - either have cards aligned here or adjust content to suit window size

![image](https://user-images.githubusercontent.com/12103383/72182973-afb2ae80-3412-11ea-9f95-2062cbacf5dc.png)

[2020-01-10 20:13] ramyaragupathy opened #2165 "Difficulty label on project page"
Difficulty label overlaps/appears clipped by the content beneath. Looks more like there is a teaxt continuation and doesn't appear distinctly

![image](https://user-images.githubusercontent.com/12103383/72183282-94946e80-3413-11ea-9cfb-469705b483be.png)

[2020-01-10 20:18] ramyaragupathy opened #2166 "Project Page: Tooltip on contributor numbers"
Tooltip on contributor numbers is not very clear on how/where to see mapped and validated percentage

![tooltip-percentage](https://user-images.githubusercontent.com/12103383/72183621-711df380-3414-11ea-871f-187f297510e2.gif)

[2020-01-10 20:25] ramyaragupathy opened #2167 "Show loading progress for login delay"
While logging in, there is a slight delay for the authentication, during which I can move around and click on the page for other actions. Ideally, I expect the page preventing further action till the login shows some result.

![login-progress](https://user-images.githubusercontent.com/12103383/72183932-35375e00-3415-11ea-9e12-3cedd709e990.gif)

[2020-01-10 20:30] ramyaragupathy opened #2168 "Cursor icon update while saving information"
While choosing to save information from the profile page, cursor icon should change to buys icon while the backend changes are made.

![save-option](https://user-images.githubusercontent.com/12103383/72184217-ee963380-3415-11ea-8b32-ae887411944d.gif)

[2020-01-10 20:41] ramyaragupathy opened #2169 "Create Project: Define area page styling"
Noticed a gap between map and the next button, but this as adjusted after window resize. Also the checkbox for arbitrary tasks and the text looks a bit off.

![image](https://user-images.githubusercontent.com/12103383/72184860-6749bf80-3417-11ea-8fbe-b79e6db9213f.png)

[2020-01-10 20:51] ramyaragupathy opened #2170 "Notification Page: alignment issues"
Noticed a few text and icon alignment issues. Also unsure of the list icon next to the notification type in text. Can we just have the notification type as `Mention, Validation, System, Task Comment` instead of a `notification` word appended to each type?

![image](https://user-images.githubusercontent.com/12103383/72185405-bba16f00-3418-11ea-8931-ce274c8e658d.png)

[2020-01-10 21:02] ramyaragupathy opened #2171 "Notification Page: Search by Project"
While doing project search in the notification page, it behaves like a normal text search, doing an API fetch for each character typed. It should take in `project` as query parameter instead of `text` and maybe pre-populate project IDs from the message object already sent to the client.

![notification-search](https://user-images.githubusercontent.com/12103383/72186034-46369e00-341a-11ea-96bf-08bf

[2020-01-10 21:10] ramyaragupathy opened #2172 "Notification Page: sort query parameter mixed up"
Notification search by project and sorting works fine on the backend. But the frontend seems to be pick wrong parameters.

eg :`/api/v2/notifications/?sortDirection=asc` becomes `/api/v2/notifications/?sortDirection=projects&sortBy=ASC` from the client, so effectively the sorting doesn't happen

[2020-01-10 21:18] ramyaragupathy opened #2173 "My Contributions Page: search by project"
Under my contribution section - there is an option to filter tasks by projects. Text box here takes in every keyboard stroke and performs an API query for each entry. Instead, this should pre-populate IDs based on the result already available in the page.

![image](https://user-images.githubusercontent.com/12103383/72186987-8565ee80-341c-11ea-887b-7e3dcdc2c558.png)

[2020-01-10 21:25] ramyaragupathy opened #2174 "My Contributions Page: Project Status Filter"
I hope the `Archived` filter in this page is for the project because if this option is chosen API adds a query parameter like this:

`/api/v2/users/{user_id}/tasks/?archived_projects=true`

![image](https://user-images.githubusercontent.com/12103383/72187351-6ddb3580-341d-11ea-8d5d-9ffbea626a4b.png)

However, this filter is not yet available in the backend.

[2020-01-11 11:52] JanviMahajan14 commented on #2162
Hi @ramyaragupathy . I am new to this project and looking forward to contribute in this project.
Can I take this issue?

[2020-01-12 14:28] willemarcel commented on #1282
I noticed that problem happened on TM4 instance too: https://tm4.hotosm.org/api/v2/projects/3/tasks/?as_file=true

Have we applied the change on #2081 to develop?

cc @xamanu @JorgeMartinezG

[2020-01-12 14:52] willemarcel opened #2176 "User information display and search on task selection page"
- [x] On the task selection page, if a user comments a task validated or mapped, it will show that it was last updated by that user. Maybe we could change that logic to show only the task status changes.

- [x] The search by username on the task selection page is considering only the last user that interacted with that task. Example [task #1 on project #2 in TM4](https://tm4.hotosm.org/projects/2/

[2020-01-12 15:04] willemarcel opened #2177 "Distinguish between actions and comments on My Tasks page"
On My contributions page, if a user has only posted a comment to a task, it shows the text: "You worked on this task...". We should distinguish between task status changes and comments on this text.

[2020-01-12 15:08] willemarcel opened #2178 "Manage projects changing url to My Projects"
- [ ] When we click on a filter option on Manage projects page, it's changing the url to the My Projects page.
- [ ] The `Add` button on My projects page is leading to `/projects/new/`, but should go to `/manage/projects/new/`

[2020-01-12 15:22] willemarcel opened #2179 "Assure Submit Task is always visible on the screen"
On screens with a little lower height, the Submit Task button is not visible. We should assure that button can always be seen when the page loads.

![image](https://user-images.githubusercontent.com/666291/72221111-2a281f00-3536-11ea-9639-6b84897662c8.png)

[2020-01-12 15:27] willemarcel opened #2180 "Scroll task activity modal content div"
Assure that the last task activity is visible on the screen:

![image](https://user-images.githubusercontent.com/666291/72221169-a6bafd80-3536-11ea-9abb-fe493511804d.png)

Ps: On MacOS the scroll bar is not visible by default...

[2020-01-13 03:39] thadk commented on #2164
Hi @ramyaragupathy – the cards are pretty intricate but if someone can figure out a good way to solve this, more power to them. At smaller resolutions below the max-width of the cards, it does shrink them. That has its own issues though as "URGENT" gets off center. Remember to account for the organization logo which will appear soon on the top left.

[2020-01-13 05:30] ramyaragupathy commented on #2159
Fixed through https://github.com/hotosm/tasking-manager/pull/2163

[2020-01-13 05:30] #2159 closed

[2020-01-13 13:07] willemarcel commented on #2168
I would prefer to disable the button and then show a notification that the change was done successfully. I think the mouse cursor doesn't communicate too much.

[2020-01-13 13:53] willemarcel commented on #2164
I would prefer to make the map fill the space until the bottom of the page and then scroll only the section where the cards are located.

About the horizontal space, it will be a bit complicated, as @thadk mentioned, but we can try something soon.

[2020-01-13 14:52] ramyaragupathy commented on #1881
Basic functionality implemented through #1928

[2020-01-13 14:52] #1881 closed

[2020-01-15 12:19] willemarcel opened #2191 "Better error handling when user can not lock a task"
I tried to lock a task for validation that was mapped by me. It's returning a 500 status code with the following content `{"Error": "Unable to lock task"}`.

On the backend console I can see:

[code]

It should return a 403 status code with more information about why the task couldn't be locked. Something like: `{"Error": "You can not validate a task mapped by you."}`.

When the user has not the p

[2020-01-15 12:30] #2179 closed

[2020-01-15 13:17] xamanu commented on #1282
Added a PR for porting this fix to TM4: https://github.com/hotosm/tasking-manager/pull/2192

[2020-01-15 14:14] xamanu commented on #1644
I just observed some issues on TM4 with this:

![image](https://user-images.githubusercontent.com/97706/72440716-4380d380-37a1-11ea-9754-69ad67e95588.png)

* One message was duplicated
* Instead of showing the username it shows some id
* Highlighting of names doesn't seem to work well, still.

[2020-01-15 14:24] willemarcel commented on #1601
It didn't go as we planned. We are using the common endpoints for each listing item view.

[2020-01-15 14:24] #1601 closed

[2020-01-15 14:26] #1883 closed

[2020-01-15 14:41] #1629 closed

[2020-01-15 14:42] #1938 closed

[2020-01-15 15:11] JorgeMartinezG commented on #1080
The check for large geometries has been included in https://github.com/hotosm/tasking-manager/pull/1999 cc. @xamanu

[2020-01-15 15:16] willemarcel commented on #1600
@xamanu It's missing the number of elements mapped by user (buildings, roads km, landuse, waterway). It's needed on that screen: https://projects.invisionapp.com/share/VCQTFR6YSJR#/screens/357652191

[2020-01-15 15:31] JorgeMartinezG commented on #1910
**Update:** In order to use Tasking Manager oauth credentials in id, we must pass to the frontend from the server (oauth consumers and tokens) the required keys to be rendered within the react component. The component must have iD embedded and call the preauth option when the it is mounted: https://github.com/openstreetmap/iD/blob/7b7a42cf762be970252a712044f4aedaa1bdb756/modules/core/context.js#L9

[2020-01-16 14:06] JorgeMartinezG opened #2207 "List number of tasks mapped and validated per country per user"
We need to create a backend endpoint which returns for a given user, the number of tasks mapped and validated. The result must be grouped per country and ordered by the total amount in descending order.

For instance. When hitting `GET api/v2/users/<string:username>/countries-most-mapped/`, the server should return:

[code]

Is is required for the user profile page: https://projects.invisionapp.co

[2020-01-17 09:24] russdeffner opened #2209 "Imagery not handled the same in Tasking Manager as Editors"
Scenario: If you put the TMS for ESRI World into a project (i.e. so it is loaded by default) then you cannot zoom in and get higher resolution tiles. If you then switch (in iD or JOSM) to the ESRI World imagery available in the editor, you can get the higher resolution tiles.

Question/Challenge: Is there something/what is, going on different between how the imagery is served to the editor from th

[2020-01-17 11:58] willemarcel commented on #2191
@ramyaragupathy #2206 was a good improvement, but we yet have a generic error message: `{"Error": "Unable to lock task"}`. Do you think it would be possible to add more details to each error case?

[2020-01-17 12:18] willemarcel commented on #2209
@russdeffner could you paste a project link with that case?

[2020-01-17 14:31] willemarcel opened #2218 "PATCH method on projects is not properly working"
The PATCH method should allow us to update any individual field on a project.

When I tried to update just these two fields: `{"restrictMappingLevelToProject": true, "restrictValidationRole": true}`, it failed with:

[code]

It's not blocking the project editing with the frontend because we are sending all the projects fields in the request, but we should make it work properly in the future.

[2020-01-18 04:39] russdeffner commented on #2209
@willemarcel https://tasks.hotosm.org/project/7446 - it is done, but if you do a 'second validation' on a task you should see the behavior.

[2020-01-20 01:59] ramyaragupathy commented on #2068
Fixed through https://app.circleci.com/jobs/github/hotosm/tasking-manager/4819

[2020-01-20 01:59] #2068 closed

[2020-01-20 10:46] ramyaragupathy commented on #2157
`Mixed Content: The page at 'https://tm4.hotosm.org/' was loaded over HTTPS, but requested an insecure XMLHttpRequest endpoint 'http://tm4.hotosm.org/api/v2/projects/queries/featured/'. This request has been blocked; the content must be served over HTTPS.` -  fixed through #2186

[2020-01-20 10:46] ramyaragupathy commented on #2157
Still seeing `SyntaxError: Unexpected token < in JSON at position 0` at `stats.js: 69`

[2020-01-20 11:56] willemarcel commented on #2157
@ramyaragupathy could you paste here the response you're getting on `/api/v2/system/statistics/`?
It's failing to respond on staging server and returning that error, but it works on my machine.

[2020-01-20 15:33] dakotabenjamin commented on #1282
@xamanu can we close this now?

[2020-01-20 15:42] willemarcel opened #2224 "Improve role user filters"
Add the possibility to filter more than one user role, like `/api/v2/users/?username=<search_string>&role=PROJECT_MANAGER,ADMIN`

[2020-01-21 10:07] qeef opened #2226 "Let mappers translate project description"
The project description is usually written in English. This disqualifies non-English speakers from understanding the context of the project. Moreover, the project manager can't speak every language of a potential mapper.

On the other side, the average mapper can do a good job with the translation. The expected result is that more non-English speakers understand the project context.

[2020-01-21 12:06] #2174 closed

[2020-01-21 12:11] willemarcel commented on #2111
When we pass an invalid status value it also returns a 500 error, but should return an empty array, example: `/api/v2/users/360183/tasks/?task_status=AAA`

[2020-01-21 12:24] xamanu commented on #2226
Thanks for opening the issue. This is an interesting proposal. We might want to add a review process, so that translations are proposals, which project managers can accept when they are complete.

[2020-01-21 14:34] willemarcel commented on #2209
@russdeffner The problem is that it's missing the `blankTile=false` on the imagery url. With it, it works well:

tms[22]:https://{switch:services,server}.arcgisonline.com/arcgis/rest/services/World_Imagery/MapServer/tile/{zoom}/{y}/{x}?blankTile=false

[2020-01-21 14:34] #2209 closed

[2020-01-21 14:54] JorgeMartinezG opened #2231 "Compute user statistics of projects contributed, classified by interests"
A requirement for the user profile page, is to create a donut chart to show the number of projects that the user has contributed, classified and ordered by interests: https://projects.invisionapp.com/share/VCQTFR6YSJR#/screens/357652191

For this, we need to include a new field within the endpoint `/api/v2/users/{username}/statistics/`.  elements must be ordered by number in descending ordered

[2020-01-21 15:00] russdeffner commented on #2209
Ah, thanks @willemarcel but how are our project managers to know that? Is there some way the TM can 'recognize and fix' and/or warn if it's not there?  Or is this something we need to handle with training? My workflow is to copy the TMS from JOSM, and in at least the case of ESRI, the blankTile=false is not there. This is the first time I've heard of the fix and from the sounds of it, lots of peop

[2020-01-21 15:22] willemarcel commented on #2209
That is a very specific problem with ESRI imagery and the blankTile param is not needed on JOSM (https://github.com/openstreetmap/iD/issues/4327). Although JOSM loads correctly if the url has the param.

A good possibility for the future would be to improve that imagery field on the projects in order to use the https://github.com/osmlab/editor-layer-index data.

@xamanu do you think we could do so

[2020-01-21 16:46] qeef commented on #2226
Sure, but it could be really helpful during a mapathon running in a different timezone than the project manager's place.

Hard to do as the project manager doesn't need to speak the translated language.

I think that some kind of rollback process or translation enhancement process is more reasonable.

[2020-01-21 20:14] #2207 closed

[2020-01-22 18:25] #2191 closed

[2020-01-22 21:33] #1943 closed

[2020-01-22 21:35] willemarcel commented on #1942
I pushed a first version on #2213

The endpoint `/api/v2/projects/{project_id}/contributions/` is not returning the `pictureUrl`. Could you take a look on it, @ramyaragupathy or @JorgeMartinezG?

[2020-01-23 10:24] xamanu commented on #2158
This has been merged. Let's see whether it is fixed. In the contrary case, please reopen.

[2020-01-23 10:24] #2158 closed

[2020-01-23 10:35] xamanu commented on #1875
Closing here.

[2020-01-23 10:35] #1875 closed

[2020-01-23 10:37] xamanu commented on #1910
This looks good so far. We are implementing other parts on iD in the meantime. This can be closed.

[2020-01-23 10:37] #1910 closed

[2020-01-23 10:39] willemarcel opened #2240 "Change default value to User's default_editor field"
- Update the default value for `default_editor` field to `ID` in the User model.
- Update migrations or write a new migration to update values on the database.

[2020-01-23 10:40] willemarcel commented on #2109
I created a follow up issue specific to the backend change needed https://github.com/hotosm/tasking-manager/issues/2240

[2020-01-23 10:40] #2109 closed

[2020-01-23 10:46] xamanu commented on #1282
Yes, we have deployed this for TM3 and it is in TM3.

[2020-01-23 10:46] #1282 closed

[2020-01-23 14:05] ramyaragupathy commented on #1942
@willemarcel - working on this

[2020-01-23 14:12] xamanu opened #2244 "Bring back activity and stats page"
For TM4 we need the [activity and stats page](https://tasks.hotosm.org/project/7444/dashboard) back.

It shall large be the same as in TM3, but with a few review and enhancements:

* Add the stats page as a tab: https://github.com/hotosm/tasking-manager/issues/683
* Add provided enhancements for TM3: https://github.com/hotosm/tasking-manager/pull/1631
* Add task links to most stats: https://github

[2020-01-23 14:14] xamanu commented on #1325
The new TM4 is able to show/filter on task numbers. This should help solve this issue here.

[2020-01-23 14:15] xamanu opened #2245 "Show task info when selecting on the map"
When selecting a task on the map in the project view. The left side shows the list of tasks. Please make the TM switch to task details when clicking on the through the map. The overall list shall still be available through the tabs.

[2020-01-23 14:16] xamanu opened #2246 "Extend the backend API to provide information as needed by the new user profile page."
We need to show on the user profile some more data: The number of elements mapped by user (buildings, roads km, landuse, waterway). It's needed on that screen: https://projects.invisionapp.com/share/VCQTFR6YSJR#/screens/357652191

[2020-01-23 14:17] xamanu commented on #1600
ok, let's mark this as approved, and i created a new follow up issue: https://github.com/hotosm/tasking-manager/issues/2246

[2020-01-23 14:17] #1600 closed

[2020-01-23 14:18] xamanu opened #2247 "Fix notifications page"
I just observed some issues on TM4 with the notifications:

![image](https://user-images.githubusercontent.com/97706/72440716-4380d380-37a1-11ea-9754-69ad67e95588.png)

* [ ] Instead of showing the username it shows some id, when the notification reaches the same user who made the comments
* [ ] Avoid sending a notification if you comment on your project
* [ ] Redirect to notifications page after

[2020-01-23 14:19] xamanu commented on #1644
The page has been created. There are some bugs, created a follow up issue for that: https://github.com/hotosm/tasking-manager/issues/2247

[2020-01-23 14:19] #1644 closed

[2020-01-23 14:20] xamanu commented on #1908
That must be fixed by now. Please reopen if problem still exists.

[2020-01-23 14:20] #1908 closed

[2020-01-23 14:22] xamanu commented on #1147
A lot of work has been gone into improving the stats and this issue has become superseeded by many others. Closing here.

[2020-01-23 14:22] #1147 closed

[2020-01-23 15:00] willemarcel commented on #2132
@ramyaragupathy detailed that the DRAFT and ARCHIVED filters are including also the PUBLISHED projects. I suggest to restrict the results to the statuses present in the query.

[2020-01-23 15:27] willemarcel commented on #2244
so I just checked the current TM3 stats page... It's made of

- last activities
- contributors list (with number of tasks mapped/validated
- completeness stats
- task comments

My proposals:

- The last activities are present on the task selection page (the list shows basically it)
- The contributors list could be a tab on the project selection page, allowing the user to easily filter the tasks ma

[2020-01-23 18:22] xamanu commented on #2244
Yes, I think this is a good approach, we don't have to duplicate too much information.

So, besides a section for the contributors, I'm seeing the activity list a bit more powerful than what we have in the task list, that allows only looking at one status, but not inspect all status changes. Especially thinking about how power users are using this (compare with https://github.com/hotosm/tasking-ma

[2020-01-23 19:56] thadk commented on #2247
@xamanu I suspect those are back-end bugs but I don't have relevant notification data in my own backend to test. Can you share the JSON response from the notification API from your dev tools?

[2020-01-23 23:23] willemarcel commented on #1945
Finished this issue with https://github.com/hotosm/tasking-manager/pull/2248
It's missing to solve https://github.com/hotosm/tasking-manager/issues/2132 for complete functionality.

[2020-01-23 23:23] #1945 closed

[2020-01-24 12:21] willemarcel opened #2251 "Change count logic on /api/v2/projects/{id}/contributions/queries/day/"
I was testing the map all, invalidate all, validate all and reset all functions on this project. So I mapped all one time, invalidate them, then mapped all, validated all and then reset the status of all tasks to ready to map. This endpoint `/api/v2/projects/{id}/contributions/queries/day/` is returning that result:

` {"stats": [{"date": "2020-01-24", "mapped": 224, "validated": 224, "cumulative_

[2020-01-25 01:30] #2086 closed

[2020-01-27 11:31] willemarcel opened #2254 "Update project mapping/validation permissions"
With the introduction of teams and organisations, we need to change the logic that defines if a user can map or validate a project. My proposal is:

- For **private projects**:
  - Furthermore the list of users, consider also the project's team members.
- For **public projects**:
  - Consider all the current permissions (level, validator role, etc)
  - Add permissions to map to the users that are

[2020-01-27 13:56] willemarcel opened #2255 "Team join requests management"
Add section to list the join requests and allow team managers to accept or deny each request

[2020-01-27 18:28] #2231 closed

[2020-01-28 10:02] Sanych opened #2256 "Include project status in project/search API"
Is it possible to include project status(active, archived, etc) in `mapResults` returned by v1/project/search api?

We use this api to obtain projects for disaster.ninja app. And we would like draw archived projects in different color.

[2020-01-28 10:12] ramyaragupathy commented on #2256
`https://tasks.hotosm.org/api/v1/project/search?mapperLevel=BEGINNER&page=1` returns an object with 2 k-v pairs. First one `mapResults` has all the project centroids for the search results from the query and then the `results` key holds the first 14 projects in an array, with each array holding metadata on projects including `status`:

[code]

Please let me know if this is what you're looking for,

[2020-01-28 10:45] Komzpa commented on #2256
Hi @ramyaragupathy, is there a way to bypass pagination to get everything in single query?

[2020-01-28 14:10] ramyaragupathy commented on #2256
If it is just the project centroids and ID then `mapResults` should help - else if you're looking for more data for each project then I don't see a way to bypass pagination

[2020-01-28 21:35] xamanu commented on #2254
Thanks for setting this up, @willemarcel and @ramyaragupathy for starting to work on the backend.

Three comments:

1. I would not do different permission systems between private and public teams. This increases complexity and the direct benefit is not clear to me.
2. I would add permissions to project manage a group by team as well. It has been quite e comment request for people to be able to sha

[2020-01-28 22:41] willemarcel commented on #2254
@xamanu yes, private teams should work the same way. I was referring to private projects.

The project editing permissions changes are in another issue: https://github.com/hotosm/tasking-manager/issues/2099

About dropping the current permission roles, I think we need a transition time and that transition would be natural as users would be joining teams and we won't give `validator` roles to anyon

[2020-01-29 08:49] Sanych commented on #2256
Hello @ramyaragupathy.

In order to reduce amount of requests to TM API we collect and store in cache all project ids and centroids few times per hour to show it on a map. And we want to separate archived projects from others. I've found a workaround by making two requests to the API, one with projectStatuses=ARCHIVED and one without. Thus I can define archived projects. But I don't know whether y

[2020-01-29 10:24] ramyaragupathy commented on #2256
@Sanych - good to know your use case. Available project statuses - PUBLISHED, ARCHIVED, DRAFT
* By default search endpoint returns PUBLISHED projects
* when `status=ARCHIVED`, PUBLISHED + ARCHIVED projects are returned. I assume you do a diff between the two results to find out ARCHIVED projects
* You could do `status=ARCHIVED,DRAFT` to fetch PUBLISHED, ARCHIVED & DRAFT projects all  together

[2020-01-29 12:29] #2166 closed

[2020-01-29 12:29] #2165 closed

[2020-01-29 12:32] #2161 closed

[2020-01-29 12:39] qeef commented on #2254
This means that only one team of mappers/validators is possible for a project?

[2020-01-29 13:36] willemarcel commented on #2254
@qeef no, we allow unlimited teams for each role

[2020-01-29 13:46] willemarcel commented on #2255
Solved with https://github.com/hotosm/tasking-manager/pull/2258

[2020-01-29 20:47] #2088 closed

[2020-01-29 20:48] #2096 closed

[2020-01-30 20:14] #1641 closed

[2020-01-30 20:18] willemarcel commented on #1642
Solved with https://github.com/hotosm/tasking-manager/pull/2263/

[2020-01-30 20:18] #1642 closed

[2020-01-30 22:55] d3netxer opened #2268 "for JSOM remote control settings, make type 'tms'"
I am having trouble getting my TMS links to work in JOSM through the HOT TM.

I am trying to debug, and I see that the HOT TM is using this url to communicate to JOSM's remote control:
[code]
It is not working, but I was debugging and found out it works if I change the type from 'type=htt' to 'type=tms'. I'm sure why type is htt. Can you please take a look? @willemarcel ?

I see the code that does

[2020-01-31 12:56] ramyaragupathy commented on #2240
Since the feature is still under development, updating the related migration and model directly

[2020-01-31 15:22] willemarcel commented on #2268
@d3netxer Could you try to edit your project and set the imagery as `tms[1,22]:https://cog.ittc.state.gov/tiles/{z}/{x}/{y}.png?url=https://lib.ittc.state.gov/uliastai_29jan20_ge1_cog.tif`? I think it will work after that change.

JOSM supports only tms and wms types and we get that value from the imagery URL.

[2020-01-31 20:37] #2224 closed

[2020-02-03 13:41] xamanu commented on #2160
Initially the design was meant to show the bottom bar as a fixed element. Now we are kind of squeezing  all the description text into this one little square. It would be good to have a more expandable space for the description and instructions. Let's think about it a bit.

[2020-02-03 19:22] willemarcel opened #2275 "Restructure 'My contributions' section"
- My contributions nav bar link should open the current user detail page (the url could be `/contributions/` or `/users/:username/`)
- In the case the current user is seeing the details of themselves, we show a submenu like this above the `HeaderProfile`:
![image](https://user-images.githubusercontent.com/666291/73682984-32d8c480-46a0-11ea-8615-707889b4dedc.png)
with the links My projects, My task

[2020-02-04 14:45] JorgeMartinezG commented on #2275
@willemarcel Where would the **my stats** link redirect?

[2020-02-04 14:46] #2255 closed

[2020-02-04 14:46] #1972 closed

[2020-02-04 14:49] willemarcel commented on #2275
My stats would be the user detail page, we can make it the default of this section so changing the order to: My stats, My projects, My tasks

[2020-02-05 19:09] joaovitor3 commented on #2251
Hi
I'm trying to start contributing to the project, could I pick this issue or this is too hard for a new contributor?

[2020-02-06 06:23] ghost opened #2283 "When rewriting backend, consider the following"
I think that rewriting the backend server is a necessity to get the performance. I want to extend and summarize ideas from #1920. These are the main issues, in my opinion:

- Use an asynchronous framework. [FastAPI](https://github.com/tiangolo/fastapi) is good. It should be easy to switch the framework anyway.

- Make backend REST only. The backend should not send any HTML, just data. Use backend

[2020-02-06 11:55] #2246 closed

[2020-02-06 11:59] willemarcel commented on #2251
@joaovitor3 welcome to tasking manager!

Maybe it's a bit complex to understand the tasks history... I think those two issues would be better for a new contributor:

- https://github.com/hotosm/tasking-manager/issues/2132
- https://github.com/hotosm/tasking-manager/issues/2047

[2020-02-06 14:41] joaovitor3 commented on #2132
Thanks for the quick response @willemarcel, I will look at these two issues.

About being a new contributor, I would like to enter the HOT slack chat as mentioned in the [working groups section](https://github.com/hotosm/tasking-manager/blob/develop/docs/working-groups.md), but after answering the form and receiving the link to access the channel, the [invitation link](https://hotosm.slack.com/joi

[2020-02-06 14:42] joaovitor3 commented on #2251
Thanks for the quick response @willemarcel, I will look at these two issues.

About being a new contributor, I would like to enter the HOT slack chat as mentioned in the [working groups section](https://github.com/hotosm/tasking-manager/blob/develop/docs/working-groups.md), but after answering the form and receiving the link to access the channel, the [invitation link](https://hotosm.slack.com/joi

[2020-02-06 16:59] willemarcel commented on #2251
@joaovitor3 could you try to register again at http://slack.hotosm.org/? The invitation link has been updated.

[2020-02-06 18:27] joaovitor3 commented on #2251
I tested the new link and it's properly working.

I am already in the hot slack chat, thanks!

[2020-02-06 20:28] bikeoid opened #2285 "Accept LineStrings to outline task area with Import"
When creating a task area from .OSM format, the recommended geojson.io converts a .OSM closed area to a LineString in GeoJson.   This is rejected by tasking manager Import button "Error: The AOI contains geometries which are not polygons or multipolygons".

I would expect a closed .OSM area to be accepted by tasking manager.

[2020-02-07 02:49] willemarcel commented on #2178
Fixed with #2280

[2020-02-07 02:49] #2178 closed

[2020-02-07 02:53] willemarcel commented on #2244
Almost everything was done by @JorgeMartinezG . It's missing only to add the progress bar to the task selection page.

[2020-02-07 02:55] willemarcel commented on #2017
It's missing only to change the validation page to allow the validator to set a status to each validated task

[2020-02-07 02:56] willemarcel commented on #2169
@ramyaragupathy could you confirm if it's happening yet?

[2020-02-07 11:41] willemarcel opened #2288 "Show priority areas on the tasks map"
Render the priority areas on the tasks selection page map.

[2020-02-07 11:59] joaovitor3 commented on #2132
Can i work on this issue?

[2020-02-07 12:20] willemarcel commented on #2132
@joaovitor3 yes, I assigned it for you

[2020-02-07 13:19] joaovitor3 commented on #2132
Thanks
As soon as I finish I will open a pull request

[2020-02-10 10:33] #2275 closed

[2020-02-10 14:08] #2288 closed

[2020-02-10 17:06] xamanu commented on #1909
The counterpart on the iD side has been implemented (https://github.com/openstreetmap/iD/pull/7333), we are good to continue here.

[2020-02-10 19:28] joaovitor3 commented on #2132
I made a little progress on this.

I find out that this `filter projects` method always started with a value for a `PUBLISHED` project, maybe that's why the `DRAFT` and `ARCHIVED` filters were including also the `PUBLISHED` projects:
https://github.com/hotosm/tasking-manager/blob/bfc609c0cf6ae639f7c0e5ebae128aa9a4594627/server/services/project_search_service.py#L194-L199

I thought to start this a

[2020-02-10 20:29] JorgeMartinezG opened #2297 "tasks number is not updated in project creation view"
![image](https://user-images.githubusercontent.com/3285923/74187135-f5cd7e80-4c19-11ea-9667-6aac6eb6448f.png)

in slack: ```Minor issue in project creation. The new project will be created with {#} tasks and size of each task indicators doesn't respond to the changing of the task size. They just stay 0```

[2020-02-10 23:56] #2254 closed

[2020-02-10 23:57] #2268 closed

[2020-02-10 23:58] #2038 closed

[2020-02-11 13:11] #2297 closed

[2020-02-11 13:31] #2051 closed

[2020-02-11 13:35] xamanu commented on #1916
This is in by now. Many thanks!

[2020-02-11 13:35] #1916 closed

[2020-02-11 13:35] willemarcel opened #2301 "Add custom editor fields to project edit page"
Allow the users to set a custom editor name, description and url in the settings project editing page.

[2020-02-11 13:37] willemarcel opened #2302 "Add iD preset selection to project edit page"
Allow the users to select which presets iD will load when mapping a TM project task.

[2020-02-11 14:38] ramyaragupathy opened #2303 "API Profiling"
From our backend:

* Identify bottlenecks
* Slowest endpoints
* Most frequently called endpoints?
* What causes slow endpoints?
* How much time does a specific request take?

[2020-02-11 14:48] ramyaragupathy commented on #2240
this is done through #2270

[2020-02-11 14:48] #2240 closed

[2020-02-11 15:29] xamanu commented on #1715
After the latest commit this hasn't happened anymore. Closing the issue here, in case this appears again, feel free to reopen. Thank yoU!

[2020-02-11 15:29] #1715 closed

[2020-02-11 21:10] JorgeMartinezG opened #2306 "Project update notification does not disappear after form update"
quote found in slack: `When editing a project, after you click "Save" the "Project updated successfully" message appears but doesn't go away even after changing a value. Makes it unclear if I need to save again`

Similar behavior for project update failure

[2020-02-12 08:10] willemarcel commented on #2132
@joaovitor3, great work!

About the `DRAFT`, I believe that part of the code is avoiding users that are not `PROJECT_MANAGER` or `ADMIN` from seeing `DRAFT` projects. That is a desired behaviour.

I like the solution you proposed! It would be good if you could also enable to filter by more than one status, receiving an argument like `projectStatuses=ARCHIVED,PUBLISHED`

[2020-02-12 08:26] #2306 closed

[2020-02-12 08:44] #1080 closed

[2020-02-12 09:14] willemarcel opened #2308 "Task history doesn't register unlock actions"
Lock a task for mapping, then use the `/actions/stop-mapping/` endpoint (or the frontend) to unlock the task. When we check the `/api/v2/projects/<id>/tasks/<id>/` endpoint, there is only a `LOCKED_FOR_MAPPING` entry on the `taskHistory`, but there is no information that the user has unlocked it.

Reported by @zlavergne

[2020-02-12 16:36] joaovitor3 commented on #2132
@willemarcel Thanks for the feedback!

I guess currently the endpoint `/api/v2/projects` already enable the status filter for one or more projects. This is done in this part of the code, that iterate through all statuses and `append` then to the `project_status_array` variable.

https://github.com/hotosm/tasking-manager/blob/bfc609c0cf6ae639f7c0e5ebae128aa9a4594627/server/services/project_search_s

[2020-02-12 20:51] willemarcel commented on #2132
@joaovitor3 sure, please open a PR!

[2020-02-13 14:29] joaovitor3 commented on #2132
@willemarcel
Just opened the [Pull Request](https://github.com/hotosm/tasking-manager/pull/2315)

[2020-02-13 22:13] #2132 closed

[2020-02-13 22:39] willemarcel commented on #2244
Added the progress bar with https://github.com/hotosm/tasking-manager/pull/2312

[2020-02-13 22:39] #2244 closed

[2020-02-13 23:16] willemarcel commented on #2176
The missing issue is solved by https://github.com/hotosm/tasking-manager/pull/2317

[2020-02-13 23:16] #2176 closed

[2020-02-14 01:33] joaovitor3 commented on #2047
Can I work on this issue?

I've already merged the work done by @fitoria in this [branch](https://github.com/hotosm/tasking-manager/tree/bugfix/return-values-fixes) and I believe there are missing fixes in the endpoints of `comments` and `contributions`, as reviewed in this [Pull Request](https://github.com/hotosm/tasking-manager/pull/2084).

[2020-02-14 09:24] willemarcel commented on #2047
@joaovitor3 yes, I've assigned it to you. Let us know if you need some help.

[2020-02-14 13:50] joaovitor3 commented on #2047
Thanks, @willemarcel!

Following the work done by @fitoria, I've added this if statement in the `ProjectsContributionsAPI` class in the `/server/api/contributions.py` file

[code]

And the same for the  `ProjectsActivitiesAPI` class in the `/server/api/contributions.py` file.

[code]

In the `Activities` problem, I also removed a raised Exception from the `get_latest_activity` method located in th

[2020-02-14 15:26] Komzpa commented on #2256
Here's example how it works live: https://disaster.ninja/live/#overlays=hotActivations,alert-shape,bivariate-custom_kontur_openstreetmap_quantity,osm-users;id=GDACS_TC_1000651_6;position=49.25255234926976,-19.228501138463386;zoom=8.500630348669958

[2020-02-14 16:02] maxgrossman opened #2320 "Task user history bug"
I was at a mapathon at George Washington this week and the student mapping group asked about a bug they are coming across in project 2742.

They have 2 tasks not yet validated.
When you select validate for these tasks, there is no user history and a ui element appears saying there was a server error.

Looking at network logs, `https://tasks.hotosm.org/api/v1/project/2742/mapped-tasks-by-user` repl

[2020-02-14 17:44] ramyaragupathy commented on #2320
Hey @maxgrossman - thanks for flagging the issue in the repo. I got to debug the issue a bit and here are my notes so far:

* Tasks 784 and 788 are the problematic ones in Project 2742
* 784 and 788 seems to have no task history at all
* Since there is no task history so they are supposed to be only in ready to map state, however for 784 and 788 show up as mapped.

While I don't have an immediate

[2020-02-14 17:52] ramyaragupathy commented on #2320
On https://tasks.hotosm.org/api/v1/project/2742/mapped-tasks-by-user returning 404 - that's a bug -  the current logged in user does not have any task locked, so the result is null. Instead of a 200, backend handles this as a 404 response because of null value. We're dealing this better  in the upcoming release.

[2020-02-14 18:16] willemarcel commented on #1942
this issue is finished by https://github.com/hotosm/tasking-manager/pull/2319

[2020-02-14 18:16] #1942 closed

[2020-02-14 18:19] willemarcel opened #2322 "Add task history to the map / validation page"
On the Map and Validation page (`/projects/<id>/map/` and `/projects/<id>/validate/`), it's missing to add the task history information to the History tab we have there.

[2020-02-17 10:26] willemarcel commented on #2047
@joaovitor3 it seems good, please open a PR! Thank you very much!

[2020-02-17 12:55] #1619 closed

[2020-02-17 13:17] willemarcel commented on #2018
The missing items were fixed by https://github.com/hotosm/tasking-manager/pull/2298 and other PRs

[2020-02-17 13:17] #2018 closed

[2020-02-17 13:18] willemarcel commented on #1931
Solved by https://github.com/hotosm/tasking-manager/pull/2276

[2020-02-17 13:18] #1931 closed

[2020-02-17 13:42] xamanu commented on #1286
This has been implemented in a simple way on Tasking Manager 4. For becoming a validator users have to apply to specific groups. HOT could communicate what is its validator group and there is the functionality to apply for membership. @russdeffner it would be good to verify whether the current implementation works for HOT's process.

[2020-02-17 13:43] xamanu commented on #1940
In latest testings the suggestion came up to change the information on the left hand side to information on the task, and maybe list also the tasks around it.

[2020-02-17 13:54] russdeffner commented on #1286
Yes, it works very well. One question I would have is if there is anything we need to change for teams? In other words, will validators need a 'global' role to validate on a team or do we need a more coarse method for various teams/organizations to recruit and train their own validators. That said, the form still works very well for HOT purposes.

[2020-02-17 14:13] #1926 closed

[2020-02-17 15:22] joaovitor3 commented on #2047
I opened a PR [here](https://github.com/hotosm/tasking-manager/pull/2327), but I believe there were many changes in the source, and rebasing doesn't solve all issues as lower case variables and stylesheet problems. Besides because of merging there were 18 files changed.

Could I close this and open a new one from the actual `develop` branch?

[2020-02-17 15:54] ramyaragupathy opened #2329 "Task splitting failing on TM4 for random tasks"
Flagged by @willemarcel -
https://tm4.hotosm.org/api/v2/projects/6/tasks/actions/split/829/  - fails `{"Error": "Unable to split task"}`. Not reproducible on every task though

[2020-02-17 16:15] JorgeMartinezG opened #2330 "Create users list view"
Similar to TM3, Tasking Manager 4 needs a users view to list information about users from database. The view needs:
- Filter user by role.
- Filter user by mapping level.
- search by username
- Show total of users found matching any of the filters.
- Create pagination.

[2020-02-17 16:17] JorgeMartinezG opened #2331 "Modify role and mapping level of a user"
In TM4, admins need to have the ability to modify user role and mapping level. Within the user profile, there should be these options available for project managers or admins.

[2020-02-17 16:36] ritvikjain99 opened #2332 "[BUG]: Project search."
__BUG__:
When you search projects, wireframes are mounted and then unmounted with splash.
__IDEAL BEHAVIOUR__:
There shouldn't be any activity if there aren't any results.
![hot1](https://user-images.githubusercontent.com/34532173/74671655-abc43a00-51d1-11ea-9d5b-f24086ce9997.gif)

[2020-02-18 08:01] ramyaragupathy commented on #2329
This task split fails with `ERROR in utils: New split task does not intersect original task`, error code and message should be clear for the frontend

[2020-02-18 10:24] xamanu opened #2334 "Update member lists when joining or leaving"
Feedback from testing:

[2020-02-18 10:30] xamanu opened #2335 "Neighboring tasks"
An idea came up from testing feedback:

![image](https://user-images.githubusercontent.com/97706/74727798-9a167d00-5239-11ea-964d-1d5a3d3d7e3b.png)

[2020-02-18 10:41] xamanu opened #2336 "Edit buttons on project page"
Add an edit buttons for people with the permission to go to the edit form of a project from the main project page and tasks view.

[2020-02-18 10:46] xamanu opened #2337 "Add more layers in the project creation"
When defining the area and tasks of a project, make more TMS layers available to TM4 users. Similar to how it was on TM3. Especially add a satellite layer.

[2020-02-18 10:55] xamanu opened #2338 "Allow user to understand their permission status"
Users of the Tasking Manager can be either general admins of the whole instance, admins of an organization and participate in teams. Currently it is hard for a user to understand their status. The idea is to bring in a component on the "Manage" page that gives an overview of the privileges of a the logged in user.

[2020-02-18 11:05] xamanu opened #2339 "Recommend projects to new user"
Some feedback from testing:

![image](https://user-images.githubusercontent.com/97706/74730728-933e3900-523e-11ea-89b4-6915370f0c1b.png)

[2020-02-18 11:15] xamanu opened #2340 "Add countdown timer on tasks"
The auto unlock of tasks should be shown on the user interface task information.
Related to recheck the auto unlock function on the backend (https://github.com/hotosm/tasking-manager/issues/2108)

[2020-02-18 11:16] xamanu opened #2341 "Opening iD is blocked on some browsers"
Feedback from testing:

[2020-02-18 11:20] pantierra opened #2342 "Review mobile version"
* [ ] Order of navigation items in hamburger menu
* [ ] Notifications pop-up misplaced
* [ ] Check on project action bar
* [ ] Filter of "My Tasks" page
* [ ] Contributions timeline
* [ ] Main project page
* [x] Learn pages

-----

**1. Order of navigation items in hamburger menu**

![image](https://user-images.githubusercontent.com/97706/79884678-fb4b0000-83e4-11ea-8c35-f7451fbe2f6b.png)

It shou

[2020-02-18 13:15] xamanu opened #2344 "Show all tasks on map/validate page"
Currently the selected task page only shows the selected task alone.

![image](https://user-images.githubusercontent.com/97706/74739389-9f32f680-5250-11ea-88a2-0de2ae42c9a6.png)

But it is wished from several sources of the testing feedback to actually show the whole map:

[2020-02-18 13:38] ritvikjain99 opened #2346 "[BUG]: Loss of options on screen resize."
__BUG__:
When we resize screen, some links like 'language', 'Explore Projects', 'filter' vanish completely, which means if user opens these pages with this screen width he would be deprived of navigations to the related pages.
__ADDITIONAL CONTEXT__:
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/34532173/74740938-e4bbe780-5281-11ea-8913-284705e7c919.gif)

[2020-02-18 13:40] willemarcel commented on #2339
@ramyaragupathy @JorgeMartinezG we need to change the `/api/v2/users/wille/recommended-projects/` response to return data on the same format as `/api/v2/projects/queries/featured/`. That is the current response I'm having on recommended endpoint:

[code]

[2020-02-18 13:44] willemarcel commented on #2346
@ritvikjain99 The burger menu has all the links, except the language selector. The filters go inside the sidebar. If you have some improvement proposal, let us know.

[2020-02-18 13:51] ritvikjain99 commented on #2346
@willemarcel the burger menu in my case only has two options 'signup' and 'login' on both the pages.
It doesn't have the disappeared links.
Please correct me if I am wrong !

[2020-02-18 13:55] willemarcel opened #2347 "Fix JOSM calling on Safari"
Safari browser is blocking JOSM from loading due to CORS.

[2020-02-18 13:57] willemarcel commented on #2336
Together with this, let's check if the user has permission to edit a project and only allow access to the project editing page to allowed users.

[2020-02-18 13:59] willemarcel opened #2348 "Add more tasks status filter options on task selection page"
Allow to filter tasks by all statuses, probably it would be better to use a dropdown instead of the buttons that we have currently.

[2020-02-18 14:01] willemarcel commented on #2346
@rightway1 I can see the explore projects button inside the burger menu. If I'm logged in, the other links show up there too.

[2020-02-18 14:11] ritvikjain99 commented on #2346
@willemarcel might be due to incomplete setup. Sorry for inconvenience!

[2020-02-18 14:11] #2346 closed

[2020-02-18 14:15] xamanu opened #2349 "Review some details on project creation"
Some feedback from testing for improving the project creation:

* [x]  Allow to modify the polygon of an AoI in the project creation step, after drawing the points. (As is behaves in TM3).
* [ ] Add indication that you need to or how to "close" the polygon. It would be nice if each node was rendered and the start/end node was colored distinctly.
* [x] Rename "interests" in projects into "categorie

[2020-02-18 14:20] xamanu opened #2350 "Check "view all" view of manage projects"
Feedback from testing:

![image](https://user-images.githubusercontent.com/97706/74744239-d22db800-5259-11ea-9e36-769a2a47fedc.png)

![image](https://user-images.githubusercontent.com/97706/74744247-d5c13f00-5259-11ea-85fb-577f2ca1bfd3.png)

[2020-02-18 14:40] dakotabenjamin opened #2352 "Add piwik-react-router to TM4 for Matomo Tracking"
While most of our static sites are able to use the generic tracking script for integrating Matomo, TM4's react frontend requires a more specific solution. I have already found that solution in [OAM-Browser](https://github.com/hotosm/oam-browser/pull/298) and need to port that here.

Components:
1. Adding matomo script directly in the index.html
2. Adding a banner component and styles for the opt-o

[2020-02-18 16:26] d3netxer commented on #2268
I just wanted to let you know @willemarcel that using the tms prefix as you suggested worked for me. Thanks for you help.

[2020-02-19 11:38] #2047 closed

[2020-02-19 12:45] xamanu commented on #2301
@willemarcel has this already been resolved with https://github.com/hotosm/tasking-manager/pull/2238?

[2020-02-19 12:47] ritvikjain99 opened #2358 "[BUG]: Search task by project id."
__BUG__:
As we are supposed to enter an integer value in 'project id' placeholder on '/contributions/tasks', if I enter any non-integer value the error thrown is unhandled and the component explodes.
@willemarcel please correct me if I am wrong !
I wanna work on this issue and it would be really helpful if someone guides me how to startoff !

[2020-02-19 13:10] willemarcel commented on #2301
@xamanu no, I enabled to select custom editor if the project has already one set on the database, but it's missing to update the project edit form to add the custom editor fields

[2020-02-19 13:13] willemarcel commented on #2358
@ritvikjain99 yes, this kind of error happens in most API endpoints and it would be really good if we could fix it. I can not guide you because I don't have knowledge about that part of the backend.

[2020-02-19 13:20] ritvikjain99 commented on #2358
@willemarcel sure I would try my best !

[2020-02-19 14:30] joaovitor3 commented on #2218
Can I work on this issue?

I looked at the `ProjectDto` and some fields are required, which causes failure after instantiating a `ProjectDTO` object as a result of its validations in the patch method.

I thought to create a new DTO with optional fields for the `patch` method, although I guess it's not the best for the architecture.

I believe the best solution would be to subclass the `ProjectDTO`

[2020-02-19 14:37] willemarcel commented on #2350
Made a solution proposal in https://github.com/hotosm/tasking-manager/pull/2356

[2020-02-19 15:51] #2341 closed

[2020-02-19 21:52] xamanu commented on #1965
Quick update here:

* @ramyaragupathy has implemented a first logic for the migration https://github.com/hotosm/tasking-manager/pull/2260
* Currently, we are actively going through all the organizations and finding duplicates, grouping some of them, reaching out to contact persons, etc. This will take another week approx. Then we can continue here to bring this data in.

[2020-02-19 22:00] xamanu commented on #1637
We are having some first docs here:

* [About page](https://docs.google.com/document/d/1raUGj_BNw0UjsQexlie0LKduTaWfHM1U6sRqCsXLyNI/edit)
* [Learn page](https://docs.google.com/document/d/1FCN69EUvMDSbeXsSgZf3ky3gnobU2vXHL8vR-c3yHc8/edit)

[2020-02-19 22:11] xamanu commented on #1946
@willemarcel I think this has been implemented and you showed it today, but with a slightly different implementation. Can this issue be closed?

[2020-02-19 22:29] #672 closed

[2020-02-19 22:30] #671 closed

[2020-02-19 22:34] xamanu commented on #744
The continuation of badges is being discussed here: #1617

[2020-02-19 22:34] #744 closed

[2020-02-19 22:36] #202 closed

[2020-02-19 22:36] #204 closed

[2020-02-19 22:39] xamanu commented on #262
Within TM4 we filter now by priority (or urgency).

[2020-02-19 22:39] #262 closed

[2020-02-19 22:42] xamanu commented on #685
This has been improved as by the API review for TM4.

[2020-02-19 22:42] #685 closed

[2020-02-19 23:11] #912 closed

[2020-02-19 23:17] xamanu commented on #1237
For now, we included a base database for testing in the code base.

[2020-02-19 23:17] #1237 closed

[2020-02-19 23:21] #951 closed

[2020-02-19 23:22] #1083 closed

[2020-02-19 23:29] #1460 closed

[2020-02-19 23:31] #1554 closed

[2020-02-19 23:33] #1702 closed

[2020-02-19 23:34] xamanu commented on #1813
This has been fixed. Many thanks.

[2020-02-19 23:34] #1813 closed

[2020-02-19 23:38] xamanu commented on #2050
Increasing priority here.

[2020-02-20 10:29] willemarcel commented on #2218
@joaovitor3 yes, you can work on it. I don't have much knowledge about DTO's, probably @ramyaragupathy or @JorgeMartinezG can give you best instructions.

[2020-02-20 11:34] JorgeMartinezG commented on #2218
Yes. @joaovitor3 thank you for contributing to TM. My opinion to solve this taks involves two steps:
1. Modify the ProjectDTO to make fields not required: https://github.com/hotosm/tasking-manager/blob/develop/server/models/dtos/project_dto.py#L164
2. Then, we would include missing checkers within the project.py  update method: There is an example made for the org field: https://github.com/hotosm/

[2020-02-20 12:42] joaovitor3 commented on #2218
Thanks @willemarcel  and @JorgeMartinezG for the quick answer!

I will try to apply all the changes pointed out by @JorgeMartinezG.
Any advance or questions I'll comment here

[2020-02-20 14:23] ritvikjain99 opened #2364 "[BUG]: Popup modal doesn't close on selecting option."
__BUG__:
If you select any option in popup modal the modal still persists on screen and the route changes occur.
__IDEAL BEHAVIOUR__:
The modal should close on option selection!

[2020-02-20 14:58] #2330 closed

[2020-02-20 15:12] ramyaragupathy opened #2366 "Organisation endpoint related"
* Summarising results from fetch all org endpoint. One that has a red circle has to be corrected

endpoint|authentication|user ID|current behaviour|expected behaviour
---------|--------------|-------|--------------|--------------
GET all organisations|no|no| all orgs DTO (manager list,picture url, org - name, log, url) 🔴 |return  all orgs w/o manager list
GET all organisations|no|yes|unauthorised

[2020-02-20 15:15] ritvikjain99 commented on #2180
@willemarcel I wanna do this, it would be really good of you if you elaborate the desired behaviour!

[2020-02-20 15:25] ritvikjain99 commented on #2171
@ramyaragupathy I think we should ignore the 'non-number' inputs. Shall I proceed like this ?

[2020-02-20 15:50] #2364 closed

[2020-02-20 17:15] ramyaragupathy commented on #2308
When a task is unlocked - that task's LOCKED_FOR_MAPPING history entry is updated with the duration for which the task was locked(`action_text` field). `action_date` stores the timestamp when the task lock was initiated. Maybe we could use these two fields - duration locked and action initiated timestamp - to arrive at the unlock timestamp for history summary on the frontend.

[2020-02-20 23:45] #2337 closed

[2020-02-20 23:55] #2358 closed

[2020-02-20 23:59] willemarcel commented on #2349
- The third item is fixed with https://github.com/hotosm/tasking-manager/pull/2369
- The last item I fixed some days ago

[2020-02-21 00:08] willemarcel commented on #2342
I couldn't reproduce this... It would be good if we could have a screenshot.

The other problem reported (about the popup not going away when clicking on a link on it) was solved by https://github.com/hotosm/tasking-manager/pull/2365

[2020-02-21 07:50] ramyaragupathy commented on #2329
Fixed through https://github.com/hotosm/tasking-manager/pull/2318

[2020-02-21 07:50] #2329 closed

[2020-02-22 00:54] DavidMetcalfe opened #2372 "Website shows projects with 100% completion of mapping/validation"
It appears that projects at 100% Mapped and 100% Validated still continue to show up. You can see an example with project #232 Monrovia Roads in the attached screenshot.

![image](https://user-images.githubusercontent.com/80915/75082883-a6fdcf80-54ca-11ea-818d-9f6c2c3b0d9f.png)

[2020-02-22 13:33] ritvikjain99 opened #2374 "[BUG]: Footer position."
__BUG__:
The footer should be at bottom of the page but if there are no projects in 'Explore Project' tab it moves right next to the message 'Showing 0 projects of 0'.

[2020-02-22 20:21] willemarcel commented on #2160
Tested again in Safari, Chrome and Firefox and it works well if the window height is not lower than 630px. I'm very satisfied with its behaviour. Let me know if there is something we can do to improve.

[2020-02-24 11:39] DeboDevelop commented on #2151
Can I work on this issue?

[2020-02-24 11:44] willemarcel commented on #2151
@DeboDevelop yes, sure

[2020-02-24 12:16] DeboDevelop commented on #2151
@willemarcel Thanks a lot.

[2020-02-24 13:25] xamanu commented on #2372
This is actually the desired behaviour I think. Project managers can "archive" projects. We can consider to add a functionality that completed projects are marked as archived automatically.

[2020-02-24 13:51] xamanu opened #2376 "Redirect to project page after login"
Often times in mapathons, people give out the project URL and expect people to sign up or login from there. In TM3 people are redirected after login to the project page again. It would be good to implement this for TM4. Probably only when starting from the project pages only.

[2020-02-24 13:56] xamanu opened #2377 "Instagram link in footer"

[2020-02-24 13:58] ritvikjain99 commented on #2376
@xamanu Can i work on this?

[2020-02-24 13:59] xamanu opened #2378 "Contact form"
Backend part for the contact form

[2020-02-24 14:00] xamanu opened #2379 "User profile cleanup"
Some feedback form the testing:

* Can we reduce the number of "Save" buttons to one, instead of different ones for the different sections? Or autosave?
* Can we use our list of countries as options for the country field in the profile, instead of a free text field?

[2020-02-24 14:04] vegeta999 opened #2380 "[BUG]: Field validations on inputs."
__BUG__:
There are no field validations on inputs like `name`, `handles`. User can have all kind of __symbols and spaces__ in the fields. This can lead to feeding of malicious data to backend.
PS: I wanna work on this !
@xamanu @willemarcel

[2020-02-24 14:09] ritvikjain99 commented on #2377
It would be really helpful if you elaborate !
PS: I suggest that the link should open in new tab.

[2020-02-24 14:17] DeboDevelop commented on #2151
Please check the pull request  #2381 .

[2020-02-24 15:47] ramyaragupathy opened #2382 "Investigate TM4 login delay"
Currently, TM4 login takes a while - more than a minute- because there is a check to gather recent activities on the user's favorited and contributed projects. Instead of  having this coupled with login, should think of a better placement for this function

cc @willemarcel @JorgeMartinezG @xamanu

[2020-02-24 15:50] willemarcel commented on #2377
@xamanu we already have the instagram link on footer

[2020-02-24 15:55] ramyaragupathy opened #2383 "Project search endpoints related"
Per discussion w/ @willemarcel - came across a few issues on permissions for project search. Not every search endpoint should be just PM only, as we have org managers introduced in PM4

[2020-02-24 16:01] xamanu commented on #2378
@willemarcel added this logic. Lets check it :)

[2020-02-24 16:18] willemarcel commented on #2382
On tasks-stage server, it took 3 seconds to load `/api/v2/users/wille/openstreetmap/` and 2.5s to load
`/api/v2/users/queries/wille/` .

we are not using that information that comes with `/api/v2/users/queries/wille/`:
[code]

and that same information is available on `/api/v2/users/wille/statistics/` (it took 18 seconds to load).

[2020-02-24 18:35] dstansby opened #2385 "101% completion reported"
The project here: https://tasks.hotosm.org/project/7882 is showing up as 101% completed in in cards on https://tasks.hotosm.org/contribute?difficulty=ALL . I presume this is a bug, as it can't be possible to have > 100% completion.

[2020-02-25 01:55] DavidMetcalfe commented on #2372
@xamanu I spoke with Jessica Bergmann about this as well and she seems to be aligned on the general resolution to this one: "Currently, the functionality of the Tasking Manager requires project managers of the task to be the one to set the task as 'archived' once it's achieved 100% mapping and validation, which is why this task may still appear displayed. We're working to see if we can automate so

[2020-02-25 04:07] eternaltyro commented on #2050
Steps to cover for full CodeDeploy setup:

- [ ] Instances need to have IAM roles attached to be able to connect to CodeDeploy
- [ ] Build steps for frontend

I will keep updating this comment to enumerate more steps needed for CodeDeploy

[2020-02-25 08:56] DeboDevelop commented on #2151
@willemarcel Sir, any tips on how to solve this?

I changed the name of the method but that wasn't enough.

I think these 2 lines summarise it,

`    conn = _connect(dsn, connection_factory=connection_factory, **kwasync)
psycopg2.OperationalError: could not translate host name "postgresql" to address: Name or service not known`

`    conn = _connect(dsn, connection_factory=connection_factory, **kw

[2020-02-25 10:59] eternaltyro commented on #2050
Database migrations need to be run from just one instance per deployment. There are some approaches to handling this:

- Use an external cache and store the state of migration there
- Use an external queue that will hold the job
- Update a custom db in PostgreSQL DB to update timestamp or CodeDeploy Deployment ID
- Read from mutable parameter that is updated once migration is run

**Ref:**
https:/

[2020-02-25 14:09] xamanu commented on #1954
@ramyaragupathy, would it be feasible to import the projects first into TM3?

[2020-02-25 14:10] xamanu commented on #2377
Yes, unfortunately it links to YouTube.

[2020-02-25 14:33] willemarcel commented on #2377
So it should be an error on the environment variables. @dakotabenjamin, could you check it?

[2020-02-25 14:46] willemarcel commented on #2382
I checked if we are using the data I highlighted on my previous comment when we fetch `/api/v2/users/queries/<username>/`... On the Welcome page, we are using the `tasksMapped` data, but we can get that information from other endpoint, so I think it's ok to remove those fields from that endpoint.

[2020-02-25 16:42] ramyaragupathy commented on #2157
Here you go @willemarcel

[code]

[2020-02-25 22:16] zlavergne opened #2393 "Separate API Endpoint for `/projects` for editing/managing the project"
Currently there is a single `/projects/#` endpoint that's used any time we need project info. I'm thinking there should be a separate endpoint for the admin side that doesn't send the `tasks` object. In some cases it can be a hefty geojson and isn't used anywhere for project management. It also means we don't need to send the `tasks` when we save a project.

Mainly just an observation and not very

[2020-02-25 22:21] Nick-Tallguy opened #2394 "TM4 - https://tm4.hotosm.org/manage is broken"
Unable to view the 'manage' screen - getting a blank screen. Also having the same problem is @michael63-osm & raytoun. - all part of training team. Michael commented that it was working a couple of hours ago.

[2020-02-26 11:50] Nick-Tallguy commented on #2394
Have found that the menu items below https://tm4.hotosm.org/manage/ are accessible - for instance https://tm4.hotosm.org/manage/projects?mappedByMe=1 is a working link

[2020-02-26 12:11] willemarcel commented on #2394
@Nick-Tallguy thanks for reporting. We fixed it with https://github.com/hotosm/tasking-manager/pull/2369

[2020-02-26 12:11] #2394 closed

[2020-02-26 12:17] willemarcel commented on #2393
@zlavergne have you tried to use the `/api/v2/projects/{project_id}/queries/summary/` endpoint? Maybe there are some fields missing there that we could add...

There are some problems with the PATCH method on projects (https://github.com/hotosm/tasking-manager/issues/2218), but it already possible to update the project without sending all the information.

[2020-02-26 16:28] willemarcel commented on #2003
It's also updating the User model with information like projectsMapped, tasksMapped, tasksValidated each time a task is updated.

We are not using that information from the user model on the frontend, so we should thinking about removing those fields from the User model

[2020-02-26 16:32] willemarcel commented on #2382
We removed only the projectsMapped. We could continue the work on https://github.com/hotosm/tasking-manager/issues/2003#issuecomment-591517060

[2020-02-26 16:32] #2382 closed

[2020-02-26 16:43] joaovitor3 commented on #2218
I made some progress. I got stuck for some days, but I guess now it's ok for you guys to review my solution.

Following the @JorgeMartinezG suggestions, I updated the `ProjectDTO` fields to be optional, set the `ProjectDTO` attributes in the `update` method and add in `if` statement for each field. As seen in the sniped below.

```project_dto.py```
[code]

```project.py```
[code]

All validations

[2020-02-27 08:06] ramyaragupathy opened #2399 "Handle favorite & contributed project activity check as async operation"
From https://github.com/hotosm/tasking-manager/issues/2382 - as a temporary measure removed the call to check favorite project activity on user login. However this has to be handled in an async way without being coupled with any other activity.

[2020-02-27 08:46] willemarcel commented on #2180
the ordering of the actions was reversed on #2392, so it solves that issue

[2020-02-27 08:46] #2180 closed

[2020-02-27 09:09] #2322 closed

[2020-02-27 10:16] #1501 closed

[2020-02-27 10:17] #1439 closed

[2020-02-27 10:23] xamanu commented on #712
This needs to be rechecked with TM4.

[2020-02-27 10:48] eternaltyro commented on #2377
There is an error in the environment variable. We need to rebuild the stack with the right variable.

[2020-02-27 12:08] #2376 closed

[2020-02-27 12:18] #2339 closed

[2020-02-27 12:23] willemarcel opened #2401 "Add basemap options to priority area form"
The project priority area form map should have the same basemap options as the project creation map.

[2020-02-27 13:15] #2160 closed

[2020-02-27 13:17] #2099 closed

[2020-02-27 13:23] willemarcel opened #2403 "Allow admin to see all organizations and teams on the manage section"
On the manage section, add a switch toggle to allow ADMIN role users to see all organizations and teams. By default we show only the ones the user is member of.

[2020-02-27 13:35] xamanu commented on #927
This came up again here: https://github.com/hotosm/tasking-manager/issues/2347

[2020-02-27 13:36] xamanu commented on #2347
Duplicate of #927.

[2020-02-27 13:36] #2347 closed

[2020-02-27 14:10] xamanu opened #2405 "Process and store logo images"
Proposed to add [imagekit](https://docs.imagekit.io/) as storage solution to organisation logo.

[2020-02-27 14:10] xamanu opened #2406 "Process and store logo images"
Proposed to add [imagekit](https://docs.imagekit.io/) as storage solution to organisation logo.

[2020-02-27 14:16] #2405 closed

[2020-02-27 14:16] xamanu commented on #2405
Duplicate of #2406

[2020-02-27 14:18] xamanu commented on #2385
Hi, yes, thank you. We are close to get out TM4. Lets check when it is getting launched on the percentage numbers again.

[2020-02-27 14:18] xamanu commented on #2385
Hi, yes, thank you. We are close to get out TM4. Lets check when it is getting launched on the percentage numbers again.

[2020-02-27 14:28] willemarcel commented on #1939
Solved with https://github.com/hotosm/tasking-manager/pull/2387

[2020-02-27 14:28] #1939 closed

[2020-02-27 17:48] ritvikjain99 opened #2409 "[BUG]: 'Manage' link explodes."
The `manage` link in project manager view explodes on click.
Perhaps I know how to fix this :)

[2020-02-28 05:51] ritvikjain99 commented on #2409
Pulling the upstream solves the problem !

[2020-02-28 05:51] #2409 closed

[2020-02-28 05:56] ritvikjain99 opened #2412 "[BUG]: Notification popup."
__BUG__:
There are two bugs in notification panel:
1. The `bell` icon should close the popup on click if it's open, which doesn't happen.
2. The date is shown `invalid`, because the it is fed in wrong format to `<FormattedRelative />` (can be seen clearly in console !).

[2020-02-28 14:02] comradekingu commented on #2385
Happened for a "mapathon" of https://tasks.hotosm.org/project/7032#bottom yesterday too.

[2020-02-29 18:16] joaovitor3 commented on #2218
Just opened the [Pull Request](https://github.com/hotosm/tasking-manager/pull/2418).

[2020-02-29 21:38] ritvikjain99 commented on #1985
@willemarcel I wanna work on this !

[2020-03-01 17:01] cascafico opened #2420 "TM on headless machine"
I installed docker-compose version on a LAN headless machine (192.168.1.9) debian 10. I cannot authenticate OSM since landing page is unreachable:

CASE 1, TM_APP_BASE_URL=http://127.0.0.1:5000
http://127.0.0.1:5000/api/v1/auth/oauth-callback?redirect_to=/&oauth_token=<token>&oauth_verifier=<verifier>

CASE 2, TM_APP_BASE_URL=http://192.168.1.9:5000

http://127.0.0.1:3000/authorized?username=Casca

[2020-03-02 18:36] willemarcel opened #2426 "Add translation support to Interests model"
Add translation support to Interests model in the same way we support translation to project instructions and description

[2020-03-02 22:50] willemarcel commented on #1940
Solved by https://github.com/hotosm/tasking-manager/pull/2430

[2020-03-02 22:50] #1940 closed

[2020-03-02 23:00] willemarcel commented on #2420
@cascafico are you using `master` or `develop` branch?

[2020-03-03 13:57] dakotabenjamin opened #2431 "Optimize cloud infrastructure for TM4"
We can tackle this from two angles: locust.io, and [flask-profiler](https://github.com/muatik/flask-profiler)

Primarily I am looking to optimize the EC2 instance size and the RDS instance size.

### Locust.io Load Testing
Following #1354 we should conduct a series of tests on an independent cloudformation stack using different EC2 instance sizes: `c5d.large` (current, compute-optimized), `m5n.lar

[2020-03-03 19:45] joaovitor3 opened #2432 "Review documentation links"
When reading the documentation I found out that some links were broken, below is a list of them and what I did to fix them. If you guys know about other links that are failing, please comment on this issue.

Ps: I want to work on this

* [`contributing-code.md`](https://github.com/hotosm/tasking-manager/blob/8f05eef7cb008c680a82dc9884ab7a83a12ab1f8/docs/contributing-code.md): The link for `meaning

[2020-03-03 22:45] willemarcel opened #2433 "Error when switching basemap layer on project creation"
Start creating a new project, add an AOI, advance to the next step, switch the basemap layer. The tasks grid is disappearing from the map.

[2020-03-03 22:47] willemarcel opened #2434 "Add basemap layer options to the priority area form"
Add the other basemap layers options we have on the project creation map to the priority area form. It's related to https://github.com/hotosm/tasking-manager/issues/2433

[2020-03-04 09:11] willemarcel opened #2437 "Allow to drop import files on project creation"
When setting an AOI for a new project, allow the user to upload a file by just dragging and dropping it over the map.

[2020-03-04 09:14] willemarcel commented on #2401
Related to https://github.com/hotosm/tasking-manager/issues/2433

[2020-03-04 09:14] willemarcel commented on #2434
Duplicated of https://github.com/hotosm/tasking-manager/issues/2401

[2020-03-04 09:14] #2434 closed

[2020-03-04 13:30] willemarcel opened #2441 "add anchors to each project create and edit sections"
Allow the users to navigate throw the project create and edit sections throw hash anchors. For example: `/manage/projects/2#description`, `/manage/projects/2#instructions`.

Assure that if the user press the back button after going to a second section the form data will not be lost and it will just enable the previous section.

[2020-03-04 14:55] JorgeMartinezG commented on #2378
This issue can be closed. I checked locally both frontend and backend successfully @xamanu @willemarcel

[2020-03-04 18:50] willemarcel commented on #2251
Another problem I noticed on tm4 instance:

On that project: https://tm4.hotosm.org/projects/18, the contributions chart shows almost 50% of mapping completion, but we only have 17 tasks mapped and 1 validated.

This is the return of the `/api/v2/projects/{id}/contributions/queries/day/` endpoint

`{"stats": [{"date": "2020-03-03", "mapped": 144, "validated": 6, "cumulative_mapped": 144, "cumulati

[2020-03-05 00:48] aawiseman opened #2444 "Replace old buildings video on Learn page with new one"
The buildings video at https://tasks.hotosm.org/learn is from the previous version of iD, this video is the more recent one https://www.youtube.com/watch?v=E1YJV6I_rhY

[2020-03-05 10:30] #2378 closed

[2020-03-05 10:30] #1927 closed

[2020-03-05 10:57] willemarcel commented on #1946
@xamanu we don't have yet the switch that allows the user to select multiple tasks, but we can select all the tasks a user mapped and go to validate them.

I don't think that multiple selection switch is important now, but we need to update the validate page to allow the user to set a status to each task they're validating.

[2020-03-05 11:05] xamanu commented on #1946
This is going to happen in #2017

[2020-03-05 11:05] #1946 closed

[2020-03-05 11:29] xamanu opened #2445 "Solve create-react-app in a cloud deployment"
When testing TM4 on a mapathon the following problem has been detected: A subset of users received a whitescreen, either directly after authentication of when browsing to a project. The error was identified as `GET https://tm4.hotosm.org/static/js/6.da8f26eb.chunk.js net::ERR_ABORTED 404`.

@willemarcel has suggested two possible approaches to solve this:

[2020-03-05 12:07] xamanu commented on #937
To me it seems not an important feature, but introducing quite a lot of complexity. I would abstain from implementing this right now.

[2020-03-05 12:07] #937 closed

[2020-03-05 12:07] #1296 closed

[2020-03-05 12:09] xamanu opened #2446 "Task splitting problems"
Please review the task splitting, which doesn't seem to work properly right now:

[2020-03-05 12:13] xamanu opened #2447 "User data moved over to another profile"
During the initial mapathon testing one bug was discovered, that looks similar to #1715:

[2020-03-05 14:33] willemarcel opened #2448 "Remove last_validation_date field from the User model"
We have a `last_validation_date` field on the User model that is updated every time a task mapped by that user is validated. We don't use that information and it's one additional database operation that is executed on some task status change.

The only endpoint that uses it is `/api/v2/projects/{project_id}/tasks/queries/mapped/`, but we are not using it on the frontend.

Related to https://github

[2020-03-05 14:35] ritvikjain99 commented on #2448
Can I try this ?

[2020-03-05 18:52] dakotabenjamin commented on #2445
Thinking about the infrastructure/deployment needs for either option-

Option 1:
- [ ] New CloudFormation Components
    - [ ] S3 Bucket
    - [ ] CloudFront Distribution
    - [ ] Route53 Record for Load Balancer (optional)
- [ ] Edit Autoscaling LaunchConfig to not serve frontend
- [ ] Edit Environment Variables to set API URI
- [ ] During CircleCI Deployment, build frontend and push to s3 bucke

[2020-03-05 20:15] willemarcel commented on #2448
@ritvikjain99 yes, you can

[2020-03-05 20:19] willemarcel commented on #2445
@dakotabenjamin Not sure if I understood correctly... I think we can start versioning the frontend on `package.json` file, so we could push the build to a folder with the same name as the version. That way we assure that we will download the correct version.

[2020-03-06 04:35] vvijayalakshmi21 commented on #2437
Hi, I am an Outreachy applicant and interested to contribute to this project.
Kindly let me know how to get started.

[2020-03-06 06:51] ritvikjain99 commented on #2437
Hey @vvijayalakshmi21, please join HOTOSM's slack channel #interns as the first thing to do :)

[2020-03-06 07:49] cascafico commented on #2420
git clone https://github.com/hotosm/tasking-manager.git

[2020-03-06 08:51] willemarcel commented on #2420
@cascafico So it's the develop branch, on that case the api available is the v2. I'm not using the docker setup. but I believe the docker script builds the frontend and serves it on the 5000 port.

Have you seen the `example.env` file? You can also configure the project with env vars, instead of adding the `tasking-manager.env`.

[2020-03-06 10:21] #2433 closed

[2020-03-06 12:30] willemarcel opened #2454 "Inconsistent totalContributors results in /projects endpoint"
We have two projects on TM4 instance that has not received contributions yet, but the `api/v2//projects` endpoint is returning randomly 7 and 71 for those projects:

![image](https://user-images.githubusercontent.com/666291/76083309-1a541680-5f8c-11ea-9433-d4a3625c4b48.png)

Some additional details:
[code]

Maybe it would be better if we add the `get_total_contributions` as a method of the `Projec

[2020-03-06 14:15] willemarcel commented on #2245
@xamanu I think that PR https://github.com/hotosm/tasking-manager/pull/2430 helps a lot on this issue. Let's get some feedback from users to define if we really need to add a task info tab.

[2020-03-06 17:02] willemarcel opened #2457 "Error when POST on projects comments endpoint with username reference"
When trying to make a POST request to `/api/v2/projects/3/comments/` with a username reference on the message, it fails with 500 Error: `{"Error": "Unable to add chat message"}`

Payload of the request: `{"message":"@[maption] it's a fake one with tests purpose"}`

I could reproduce it both on TM4 instance and on my machine.

[2020-03-06 18:42] willemarcel opened #2458 "Include categories and teams information when cloning projects"
The categories and teams information are not included during the clone process. I believe the new resulting project should include the same teams and categories as its source.

cc @xamanu

[2020-03-08 18:09] ritvikjain99 commented on #2441
@willemarcel I have solved this issue, just wanted to know that:
For the case when user enters an invalid anchor should I make a check function of something else ?

[2020-03-08 18:33] willemarcel commented on #2441
@ritvikjain99 no, if the anchor is unexisting, just load the first section

[2020-03-09 12:00] xamanu opened #2463 "Review elements on project overview page"
Based on feedback some improvements on the project overview page shall be made:

* Remove the "How to contribute" section.
* Resolve some issues on the very small part of the screen to show the description. For example:

One possible solution, I talked about with @willemarcel, is to replace the "How to contribute" section with the full description text and just jump to it when clicking on the read

[2020-03-09 12:02] xamanu opened #2464 "Come back easier to an open task"
Some feedback on coming back to a task when using an external editor:

and

[2020-03-09 12:09] xamanu opened #2465 "Task time counter"
It is good to get the counter of the two hour task back, to give people an idea about the time and the information that there is a time limit.

Further there is the request to give a warning when coming close to the 2-hour mark:

Please consider adding alert/warning when the timeout is near expiry

[2020-03-09 12:17] pantierra opened #2466 "Change button to "resume task" instead of "select another""
Some good feedback from testing, to show "resume task" button instead of "select another task" if one is already selected by the user:

**Possible solution**: Should not be able to ‘Select another task’ if you already have one locked to you (button should be disabled or alert displayed).

[2020-03-09 12:19] xamanu opened #2467 "Check if task is already open in another browser tab"
Every time you use the ‘Resume mapping’ button, it loads the task as a new layer.
Consider changing to not allow task to be opened if it showing as locked but to give warning message instead and allow user to update EDIT STATUS and Submit to clear the lock. This would alert user that they already have task opened in editor.

[2020-03-09 12:21] xamanu opened #2468 "Consider allowing users to adjust the transparency of layer over map"
On the Contribute map, the transparency through the grid overlay is not great (i.e. it is not easy to see the underlying imagery; this could be useful for example if you are time-limited and looking for a task that has a small number of elements that you can complete or conversely if you are looking for tasks that have a lot of elements to map.

Consider allowing users to adjust the transparency.

[2020-03-09 12:25] xamanu opened #2469 "Show the task locked by a user on map"
Map in ‘Contribute’ page does not show ‘locked by you’ task, shows all locked tasks. If you are working on tasks in a particular area, seeing the one locked to you helps to manage your workload (e.g. if there are 3 unmapped tasks adjacent to the task locked by you, it would encourage you to map those).

[2020-03-09 12:33] xamanu opened #2470 "Avoid page not found errors in login process"
Some people observed `404` page not found errors in the login process of TM4. This seems to happen on the paths, where `/login` gets appended. Like `/welcome/login` or `/settings/login`.

It can be reproduced with a fresh user, login and immediately log out again.

[2020-03-09 12:36] pantierra opened #2471 "Revisit wording encouraging people to fill profile"
People don't agree with this statement: Profile: 11% filled with the message is

[2020-03-09 12:39] xamanu opened #2472 "Email sending on TM4"
Currently the TM testing site is not sending emails.

[2020-03-09 12:41] xamanu opened #2473 "Improvements to "My contributions""
Based on feedback from the mapathon we should check on a few things on the "My contributions" section:

*  [ ] Consider adding a message to the stats in "My contributions" to let people know about the delay of the update around the stats pulled from external sources (e.g. the leaderboard).
Related user feedback:

* [x] Are the filters on "My tasks" working?
* [x] Lots of `Invalid date` text - `Unl

[2020-03-09 13:40] xamanu commented on #1965
@ramyaragupathy, please use the current state of editing for testing and completing the migration of organizations.

[2020-03-09 13:43] xamanu opened #2474 "Migrate validator role"
This is to deprecate the validator and project manager roles. Existing users shall be moved into a former validator and project manager team respectively.

* Move users from validators into standard group
* Move role of all users to mappers
* Remove validators role
----

* Move users from project managers into standard group
* Move role of all users to mappers
* Remove project manager role

[2020-03-09 13:48] xamanu commented on #2465
This is loosely related to this one: https://github.com/hotosm/tasking-manager/issues/2466

[2020-03-09 14:00] xamanu commented on #1975
We also need to include a sentence about why we are saving the email address and give a link to our privacy policy.

Further we should make sure the modal is being closed when redirecting to OSM. Thus the user finds the overall page, but not the open modal that want to lead to OSM again.

The error messages should become more visible - currently it is hard to see when you enter a already used emai

[2020-03-09 14:47] xamanu commented on #2469
@willemarcel can you confirm this has already been done?

[2020-03-09 14:54] willemarcel commented on #2469
@xamanu no... we are not handling those details yet.

[2020-03-09 15:55] xamanu commented on #2472
@dakotabenjamin @JorgeMartinezG can you have a look and check what is failing? Thanks.

[2020-03-09 17:07] #2017 closed

[2020-03-09 17:07] #2344 closed

[2020-03-09 18:00] ritvikjain99 commented on #2441
@willemarcel need your help here !
I want the code to trigger just on change in `props.location` but this __warning__ (which failed the tests) is ruining things and please suggest solution !

[2020-03-09 19:07] ritvikjain99 opened #2478 "[BUG]: Search tasks by project id shows both error and results on wrong input."
Search tasks by project id expects integer, but on entering non-integer input we get `error loading the results` along with initial results.
I don't think wrong input should return 500 rather it should return 204 signifying no content !
Here is the demo:
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/34532173/76248323-1e6f8500-6267-11ea-8fe6-cfd34fc4de87.gif)
PS: I can solve t